Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jhendrixMSFT, @chlowell, @richardpark-msft, @seankane-msft, @ealsur, @ausfeldt, @benbp, @Azure/azure-sdk-eng, @azure/azure-sdk-eng, @ArcturusZhang, @lirenhe

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @jhendrixMSFT
/sdk/                    @rickwinter @chlowell @richardpark-msft @seankane-msft

# Samples
/samples/                @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Core
/sdk/azcore/             @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/         @rickwinter @chlowell

# PRLabel: %Internal
/sdk/internal/           @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %KeyVault
/sdk/keyvault/           @rickwinter @jhendrixMSFT

# PRLabel: %Storage
/sdk/storage/            @rickwinter @jhendrixMSFT

# PRLabel: %Cosmos
/sdk/data/azcosmos/        @ealsur @ausfeldt 

# PRLabel: %EngSys
/sdk/template/           @benbp @Azure/azure-sdk-eng

###########
# Eng Sys
###########
/eng/                    @benbp @azure/azure-sdk-eng
/**/ci.yml               @benbp @azure/azure-sdk-eng
/**/tests.yml            @benbp @azure/azure-sdk-eng

#############
# SDK (track1 and track1.5)
#############

/profiles/               @ArcturusZhang @lirenhe
/services/               @ArcturusZhang @lirenhe
/storage/                @jhendrixMSFT
/version/                @ArcturusZhang @lirenhe

CodeGen from PR 15593 in Azure/azure-rest-api-specs Dev kubernetesconfiguration microsoft.kubernetes configuration 2021 09 01 (#15593)
  services/kubernetesconfiguration/mgmt/2021-03-01/kubernetesconfiguration/client.go
  services/preview/kubernetesconfiguration/mgmt/2019-11-01-preview/kubernetesconfiguration/CHANGELOG.md
  services/preview/kubernetesconfiguration/mgmt/2019-11-01-preview/kubernetesconfiguration/_meta.json
  services/preview/kubernetesconfiguration/mgmt/2019-11-01-preview/kubernetesconfiguration/operations.go
  services/preview/kubernetesconfiguration/mgmt/2019-11-01-preview/kubernetesconfiguration/sourcecontrolconfigurations.go
  services/preview/kubernetesconfiguration/mgmt/2020-07-01-preview/kubernetesconfiguration/CHANGELOG.md
  services/preview/kubernetesconfiguration/mgmt/2020-07-01-preview/kubernetesconfiguration/_meta.json
  services/preview/kubernetesconfiguration/mgmt/2020-07-01-preview/kubernetesconfiguration/sourcecontrolconfigurations.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/CHANGELOG.md
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/_meta.json
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/client.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/clusterextensiontype.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/clusterextensiontypes.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/enums.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/extensions.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/extensiontypeversions.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/kubernetesconfigurationapi/interfaces.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/locationextensiontypes.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/models.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/operations.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/operationstatus.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/sourcecontrolconfigurations.go
  services/preview/kubernetesconfiguration/mgmt/2021-05-01-preview/kubernetesconfiguration/version.go
Owners: @ArcturusZhang, @lirenhe

Rename PerCallOptions => PerCallPolicies
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/zc_client_options.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

adding PerTryPolicies option to the client
  sdk/data/aztables/service_client.go
  sdk/data/aztables/zc_client_options.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

Example for httpresponse error
  sdk/azcore/example_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

formatting
  sdk/data/aztables/proxy_test.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

Add type for credential authority hosts (#15574)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/aad_identity_client.go
  sdk/azidentity/aad_identity_client_test.go
  sdk/azidentity/authorization_code_credential.go
  sdk/azidentity/authorization_code_credential_test.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/bearer_token_policy_test.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
Owners: @rickwinter, @chlowell

Example for httpresponse error (#15598)
  sdk/azcore/example_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

replace variadic sources parameter with slice
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/default_azure_credential.go
Owners: @rickwinter, @chlowell

Add ChainedTokenCredentialOptions
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/default_azure_credential.go
Owners: @rickwinter, @chlowell

more requires on backup secret test
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/recordings/TestBackupSecret.json
Owners: @rickwinter, @jhendrixMSFT

changelog
  sdk/azidentity/CHANGELOG.md
Owners: @rickwinter, @chlowell

Update sdk/data/aztables/zc_client_options.go
  sdk/data/aztables/zc_client_options.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

Update sdk/data/aztables/zc_client_options.go
  sdk/data/aztables/zc_client_options.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

more docs and renames
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
Owners: @rickwinter, @jhendrixMSFT

updating changelog
  sdk/data/aztables/CHANGELOG.md
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

joels comments
  documentation/developer_setup.md
  documentation/eng_sys.md
  documentation/service_onboarding.md
Owners: @rickwinter, @jhendrixMSFT

[Tables] Fix ClientOptions struct (#15597)
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/zc_client_options.go
Owners: @rickwinter, @chlowell, @richardpark-msft, @seankane-msft

finished basic docs for each method
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/example_test.go
Owners: @rickwinter, @jhendrixMSFT

fixed BackupSecret
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/recordings/TestBackupSecret.json
Owners: @rickwinter, @jhendrixMSFT

deletion recovery const abbreviation
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/consts.go
  sdk/keyvault/azsecrets/models.go
Owners: @rickwinter, @jhendrixMSFT

Value -> Secrets
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/example_test.go
Owners: @rickwinter, @jhendrixMSFT

remove ResumeToken and reduce delays on tests
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
Owners: @rickwinter, @jhendrixMSFT

renaming name -> secretName
  sdk/keyvault/azsecrets/client.go
Owners: @rickwinter, @jhendrixMSFT

moving secretVersion to an optional param in Update call
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/internal/keyvaultclient_client.go
  sdk/keyvault/azsecrets/recordings/TestUpdateSecretProperties.json
Owners: @rickwinter, @jhendrixMSFT
