Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @jhendrixMSFT, @rickwinter, @chlowell, @richardpark-msft, @antkmsft, @ealsur, @kirankumarkolli, @ArcturusZhang, @lirenhe, @tadelesh, @mohsha-msft, @zezha-msft, @benbp, @weshaggard

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                    @jsquire @jhendrixMSFT @rickwinter

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
*                             @rickwinter @jhendrixMSFT
/sdk/                         @rickwinter @chlowell @richardpark-msft

# Samples
/samples/                     @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %Azure.Core
/sdk/azcore/                  @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/              @chlowell @jhendrixMSFT @rickwinter

# PRLabel: %Internal
/sdk/internal/                @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %App Configuration
/sdk/data/azappconfig/        @antkmsft @jhendrixMSFT

# PRLabel: %Cosmos
/sdk/data/azcosmos/           @ealsur @kirankumarkolli

# PRLabel: %Tables
/sdk/data/aztables/           @jhendrixMSFT

# PRLabel: %KeyVault
/sdk/keyvault/                @chlowell @jhendrixMSFT

# PRLabel: %Service Bus
/sdk/messaging/azservicebus   @richardpark-msft @jhendrixMSFT

# PRLabel: %Service Bus
/sdk/messaging/internal       @richardpark-msft @jhendrixMSFT

# PRLabel: %Mgmt
/sdk/resourcemanager/         @ArcturusZhang @lirenhe @tadelesh

# PRLabel: %Storage
/sdk/storage/                 @mohsha-msft @zezha-msft @jhendrixMSFT

###########
# Eng Sys
###########
/eng/                         @benbp @weshaggard
/**/ci.yml                    @benbp
/**/tests.yml                 @benbp

# PRLabel: %EngSys
/sdk/template/                @benbp @weshaggard

#############
# SDK (track1 and track1.5)
#############

# PRLabel: %Track1
/profiles/                    @ArcturusZhang @lirenhe

# PRLabel: %Track1
/services/                    @ArcturusZhang @lirenhe

# PRLabel: %Track1
/storage/                     @jhendrixMSFT

# PRLabel: %Track1
/version/                     @ArcturusZhang @lirenhe

Increment version for data/azappconfig releases (#18171)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/internal/generated/constants.go
Owners: @antkmsft, @jhendrixMSFT

Increment package version after release of appconfig/azappconfig
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/internal/generated/constants.go
Owners: @rickwinter, @chlowell, @richardpark-msft

doc: add mgmt guideline and refine quickstart (#17763)
  documentation/MIGRATION_GUIDE.md
  documentation/new-version-guideline.md
  documentation/new-version-quickstart.md
Owners: @rickwinter, @jhendrixMSFT

fix: isPreviewRelease varible set problem
  eng/tools/generator/cmd/v2/common/generation.go
Owners: @benbp, @weshaggard

fix: isPreviewRelease varible set problem (#18177)
  eng/tools/generator/cmd/v2/common/generation.go
Owners: @benbp, @weshaggard

upgrade to stable core to avoid dependency check error
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.mod
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.sum
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_accesspolicies_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_edgemodules_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_livepipelineoperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_livepipelines_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_locations_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinejoboperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinejobs_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinetopologies_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnectionsoperationresults_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnectionsoperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzeroperationresults_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzeroperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzers_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videos_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_accesspolicies_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_edgemodules_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_livepipelineoperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_livepipelines_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_locations_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_models.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_models_serde.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operationresults_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operations_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinejoboperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinejobs_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinetopologies_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnectionsoperationresults_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnectionsoperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_time_rfc3339.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_videoanalyzers_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_videos_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/keyvault/armkeyvault/1.1.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/keyvault/armkeyvault/CHANGELOG.md
  sdk/resourcemanager/keyvault/armkeyvault/autorest.md
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_keys_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_managedhsms_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_mhsmprivateendpointconnections_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_mhsmprivatelinkresources_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_secrets_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/ze_generated_example_vaults_client_test.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_constants.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_keys_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_managedhsms_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_mhsmprivateendpointconnections_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_mhsmprivatelinkresources_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_models.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_models_serde.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_operations_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_secrets_client.go
  sdk/resourcemanager/keyvault/armkeyvault/zz_generated_vaults_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/eventhub/armeventhub/1.1.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/eventhub/armeventhub/CHANGELOG.md
  sdk/resourcemanager/eventhub/armeventhub/autorest.md
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_applicationgroup_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_clusters_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_configuration_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_consumergroups_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_disasterrecoveryconfigs_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_eventhubs_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_namespaces_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_networksecurityperimeterconfiguration_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_networksecurityperimeterconfigurations_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/ze_generated_example_schemaregistry_client_test.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_applicationgroup_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_clusters_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_configuration_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_constants.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_consumergroups_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_disasterrecoveryconfigs_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_eventhubs_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_models.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_models_serde.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_namespaces_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_networksecurityperimeterconfiguration_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_operations_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_polymorphic_helpers.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_response_types.go
  sdk/resourcemanager/eventhub/armeventhub/zz_generated_schemaregistry_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/operationalinsights/armoperationalinsights/2.0.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/operationalinsights/armoperationalinsights/CHANGELOG.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/autorest.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_deletedworkspaces_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_queries_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_querypacks_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_tables_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/ze_generated_example_workspaces_client_test.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_constants.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_deletedworkspaces_client.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_models.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_models_serde.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_operations_client.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_queries_client.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_querypacks_client.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_response_types.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_tables_client.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/zz_generated_workspaces_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/servicebus/armservicebus/2.0.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/servicebus/armservicebus/CHANGELOG.md
  sdk/resourcemanager/servicebus/armservicebus/autorest.md
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_disasterrecoveryconfigs_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_migrationconfigs_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_namespaces_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_queues_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_rules_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_subscriptions_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/ze_generated_example_topics_client_test.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_constants.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_disasterrecoveryconfigs_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_migrationconfigs_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_models.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_models_serde.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_namespaces_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_operations_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_queues_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_rules_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_subscriptions_client.go
  sdk/resourcemanager/servicebus/armservicebus/zz_generated_topics_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/2.0.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/CHANGELOG.md
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/autorest.md
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_applicationgroups_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_applications_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_desktops_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_hostpools_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_msiximages_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_msixpackages_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_scalingplans_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_sessionhosts_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_startmenuitems_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_usersessions_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/ze_generated_example_workspaces_client_test.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_applicationgroups_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_applications_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_constants.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_desktops_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_hostpools_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_models.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_models_serde.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_msiximages_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_msixpackages_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_operations_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_response_types.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_scalingplans_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_sessionhosts_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_startmenuitems_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_usersessions_client.go
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/zz_generated_workspaces_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/healthcareapis/armhealthcareapis/1.1.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/healthcareapis/armhealthcareapis/CHANGELOG.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/autorest.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_dicomservices_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_fhirdestinations_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_fhirservices_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_iotconnectorfhirdestination_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_iotconnectors_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_operationresults_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_services_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_workspaceprivateendpointconnections_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_workspaceprivatelinkresources_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/ze_generated_example_workspaces_client_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_constants.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_dicomservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_fhirdestinations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_fhirservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_iotconnectorfhirdestination_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_iotconnectors_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_models.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_models_serde.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_operationresults_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_operations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_services_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_workspaceprivateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_workspaceprivatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/zz_generated_workspaces_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/hybridnetwork/armhybridnetwork/2.0.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/CHANGELOG.md
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/autorest.md
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_devices_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_networkfunctions_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_networkfunctionvendors_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_networkfunctionvendorskus_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_roleinstances_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_vendornetworkfunctions_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_vendors_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_vendorskupreview_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/ze_generated_example_vendorskus_client_test.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_constants.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_devices_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_models.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_models_serde.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_networkfunctions_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_networkfunctionvendors_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_networkfunctionvendorskus_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_operations_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_response_types.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_roleinstances_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_vendornetworkfunctions_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_vendors_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_vendorskupreview_client.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/zz_generated_vendorskus_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/iotcentral/armiotcentral/2.0.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/iotcentral/armiotcentral/CHANGELOG.md
  sdk/resourcemanager/iotcentral/armiotcentral/autorest.md
  sdk/resourcemanager/iotcentral/armiotcentral/ze_generated_example_apps_client_test.go
  sdk/resourcemanager/iotcentral/armiotcentral/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/iotcentral/armiotcentral/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/iotcentral/armiotcentral/ze_generated_example_privatelinks_client_test.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_apps_client.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_constants.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_models.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_models_serde.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_operations_client.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_privatelinks_client.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_response_types.go
  sdk/resourcemanager/iotcentral/armiotcentral/zz_generated_time_rfc3339.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/maintenance/armmaintenance/1.1.0-beta.1 generation from spec commit: 2f2b633d940230cbbd5bcf1339a2e1c48674e4a2
  sdk/resourcemanager/maintenance/armmaintenance/CHANGELOG.md
  sdk/resourcemanager/maintenance/armmaintenance/autorest.md
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_applyupdateforresourcegroup_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_applyupdates_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_configurationassignments_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_configurationassignmentswithinsubscription_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_maintenanceconfigurations_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_publicmaintenanceconfigurations_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/ze_generated_example_updates_client_test.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_applyupdates_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_configurationassignments_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_configurationassignmentswithinsubscription_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_configurations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_configurationsforresourcegroup_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_constants.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_models.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_models_serde.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_operations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_publicmaintenanceconfigurations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_response_types.go
  sdk/resourcemanager/maintenance/armmaintenance/zz_generated_updates_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

upgrade to stable core to avoid dependency check error (#18178)
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.mod
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.sum
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_accesspolicies_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_edgemodules_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_livepipelineoperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_livepipelines_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_locations_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinejoboperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinejobs_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_pipelinetopologies_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnections_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnectionsoperationresults_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privateendpointconnectionsoperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_privatelinkresources_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzeroperationresults_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzeroperationstatuses_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videoanalyzers_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/ze_generated_example_videos_client_test.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_accesspolicies_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_edgemodules_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_livepipelineoperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_livepipelines_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_locations_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_models.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_models_serde.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operationresults_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operations_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_operationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinejoboperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinejobs_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_pipelinetopologies_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnections_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnectionsoperationresults_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privateendpointconnectionsoperationstatuses_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_privatelinkresources_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_time_rfc3339.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_videoanalyzers_client.go
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/zz_generated_videos_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/orbital/armorbital/1.0.0 generation from spec commit: 08a74065e38665d8a9bb5f2653e92b2abd45bf99
  sdk/resourcemanager/orbital/armorbital/CHANGELOG.md
  sdk/resourcemanager/orbital/armorbital/autorest.md
  sdk/resourcemanager/orbital/armorbital/go.mod
  sdk/resourcemanager/orbital/armorbital/go.sum
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_availablegroundstations_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contactprofiles_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contacts_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_operationsresults_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_spacecrafts_client_test.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_availablegroundstations_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_constants.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_contactprofiles_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_contacts_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_date_type.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_models.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_models_serde.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_operations_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_operationsresults_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_response_types.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_spacecrafts_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_time_rfc3339.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

[Release] sdk/resourcemanager/orbital/armorbital/1.0.0 generation from spec commit: 08a74065e38665d8a9bb5f2653e92b2abd45bf99 (#18181)
  sdk/resourcemanager/orbital/armorbital/CHANGELOG.md
  sdk/resourcemanager/orbital/armorbital/autorest.md
  sdk/resourcemanager/orbital/armorbital/go.mod
  sdk/resourcemanager/orbital/armorbital/go.sum
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_availablegroundstations_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contactprofiles_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contacts_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_operationsresults_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_spacecrafts_client_test.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_availablegroundstations_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_constants.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_contactprofiles_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_contacts_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_date_type.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_models.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_models_serde.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_operations_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_operationsresults_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_response_types.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_spacecrafts_client.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_time_rfc3339.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

test: update recording file
  sdk/resourcemanager/keyvault/armkeyvault/testdata/recordings/TestKeysClient.json
  sdk/resourcemanager/keyvault/armkeyvault/testdata/recordings/TestSecretsClient.json
  sdk/resourcemanager/keyvault/armkeyvault/testdata/recordings/TestVaultsClient.json
Owners: @ArcturusZhang, @lirenhe, @tadelesh

fix: ignore deprecated package when dep check
  eng/scripts/Invoke-DependencyCheck.ps1
Owners: @benbp, @weshaggard

CodeGen from PR 19069 in Azure/azure-rest-api-specs Add Stable mgmt for Confidential Ledger (#19069)
  sdk/resourcemanager/confidentialledger/armconfidentialledger/CHANGELOG.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/autorest.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.mod
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.sum
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ze_generated_example_confidentialledger_client_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ze_generated_example_ledger_client_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/zz_generated_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/zz_generated_constants.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/zz_generated_ledger_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/zz_generated_operations_client.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

fix: ignore deprecated package when dep check (#18184)
  eng/scripts/Invoke-DependencyCheck.ps1
Owners: @benbp, @weshaggard

fix semver parse problem
  eng/tools/smoketests/cmd/models.go
  eng/tools/smoketests/cmd/root.go
  eng/tools/smoketests/go.mod
  eng/tools/smoketests/go.sum
Owners: @benbp, @weshaggard

fix semver parse problem (#18185)
  eng/tools/smoketests/cmd/models.go
  eng/tools/smoketests/cmd/root.go
  eng/tools/smoketests/go.mod
  eng/tools/smoketests/go.sum
Owners: @benbp, @weshaggard

Switch back to official gocov repo
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/MgmtTestLib.ps1
Owners: @benbp, @weshaggard

enable dependency check
  eng/pipelines/templates/steps/analyze.yml
Owners: @benbp, @weshaggard

bump latest Go 1.18
  azure-pipelines.yml
  eng/pipelines/templates/jobs/archetype-sdk-client-samples.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/mgmt-mock-test.yml
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

Testing cleaning branch script purpose
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @benbp, @weshaggard

fix misspelling
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/MgmtTestLib.ps1
Owners: @benbp, @weshaggard

expose getkey in crypto for simpler use
  sdk/keyvault/azkeys/crypto/crypto_client.go
Owners: @chlowell, @jhendrixMSFT
