Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jhendrixMSFT, @chlowell, @richardpark-msft, @seankane-msft, @ealsur, @ausfeldt, @ArcturusZhang, @lirenhe, @benbp, @weshaggard

go mod tidy
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Owners: @chlowell, @jhendrixMSFT, @rickwinter

Add user assigned managed identity example to docs (#16738)
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Owners: @chlowell, @jhendrixMSFT, @rickwinter

compute test case
  sdk/resourcemanager/compute/armcompute/availabilitysets_client_test.go
  sdk/resourcemanager/compute/armcompute/go.mod
  sdk/resourcemanager/compute/armcompute/go.sum
  sdk/resourcemanager/compute/armcompute/setup_test.go
  sdk/resourcemanager/compute/armcompute/utils_test.go
  sdk/resourcemanager/compute/armcompute/virtualmachines_client_test.go
  sdk/resourcemanager/compute/armcompute/virtualmachinescalesets_client_test.go
Owners: @ArcturusZhang, @lirenhe

build when generate test
  eng/scripts/automation/Invoke-MockTest.ps1
  eng/scripts/automation/init.sh
Owners: @benbp, @weshaggard

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/advisor/armadvisor/CHANGELOG.md
  sdk/resourcemanager/advisor/armadvisor/autorest.md
  sdk/resourcemanager/advisor/armadvisor/go.mod
  sdk/resourcemanager/advisor/armadvisor/go.sum
  sdk/resourcemanager/advisor/armadvisor/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/analysisservices/armanalysisservices/CHANGELOG.md
  sdk/resourcemanager/analysisservices/armanalysisservices/autorest.md
  sdk/resourcemanager/analysisservices/armanalysisservices/go.mod
  sdk/resourcemanager/analysisservices/armanalysisservices/go.sum
  sdk/resourcemanager/analysisservices/armanalysisservices/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/batch/armbatch/CHANGELOG.md
  sdk/resourcemanager/batch/armbatch/autorest.md
  sdk/resourcemanager/batch/armbatch/go.mod
  sdk/resourcemanager/batch/armbatch/go.sum
  sdk/resourcemanager/batch/armbatch/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/devtestlabs/armdevtestlabs/CHANGELOG.md
  sdk/resourcemanager/devtestlabs/armdevtestlabs/autorest.md
  sdk/resourcemanager/devtestlabs/armdevtestlabs/go.mod
  sdk/resourcemanager/devtestlabs/armdevtestlabs/go.sum
  sdk/resourcemanager/devtestlabs/armdevtestlabs/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/hdinsight/armhdinsight/CHANGELOG.md
  sdk/resourcemanager/hdinsight/armhdinsight/autorest.md
  sdk/resourcemanager/hdinsight/armhdinsight/go.mod
  sdk/resourcemanager/hdinsight/armhdinsight/go.sum
  sdk/resourcemanager/hdinsight/armhdinsight/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/mediaservices/armmediaservices/CHANGELOG.md
  sdk/resourcemanager/mediaservices/armmediaservices/autorest.md
  sdk/resourcemanager/mediaservices/armmediaservices/go.mod
  sdk/resourcemanager/mediaservices/armmediaservices/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/mysql/armmysql/CHANGELOG.md
  sdk/resourcemanager/mysql/armmysql/autorest.md
  sdk/resourcemanager/mysql/armmysql/go.mod
  sdk/resourcemanager/mysql/armmysql/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/mysql/armmysqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/autorest.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/go.mod
  sdk/resourcemanager/mysql/armmysqlflexibleservers/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/CHANGELOG.md
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/autorest.md
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/go.mod
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/scheduler/armscheduler/CHANGELOG.md
  sdk/resourcemanager/scheduler/armscheduler/autorest.md
  sdk/resourcemanager/scheduler/armscheduler/go.mod
  sdk/resourcemanager/scheduler/armscheduler/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/go.mod
  sdk/resourcemanager/search/armsearch/go.sum
Owners: @ArcturusZhang, @lirenhe

CodeGen from PR 16431 in Azure/azure-rest-api-specs Add track2 batch 4 mysql-->cognitiveservices (#16431)
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/CHANGELOG.md
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/autorest.md
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/go.mod
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/go.sum
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/zz_generated_constants.go
Owners: @ArcturusZhang, @lirenhe

update ci.yml to include dev-azblob trigger
  sdk/storage/azblob/ci.yml
Owners: @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @jhendrixMSFT
/sdk/                    @rickwinter @chlowell @richardpark-msft @seankane-msft

# Samples
/samples/                @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Core
/sdk/azcore/             @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/         @chlowell @jhendrixMSFT @rickwinter

# PRLabel: %Internal
/sdk/internal/           @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %KeyVault
/sdk/keyvault/           @seankane-msft @jhendrixMSFT

# PRLabel: %Storage
/sdk/storage/            @jhendrixMSFT @seankane-msft

# PRLabel: %Cosmos
/sdk/data/azcosmos/      @ealsur @ausfeldt 

# PRLabel: %Tables
/sdk/data/aztables/      @seankane-msft @jhendrixMSFT 

# PRLabel: %Service Bus
/sdk/messaging/azservicebus   @richardpark-msft @jhendrixMSFT 

# PRLabel: %Service Bus
/sdk/messaging/internal   @richardpark-msft @jhendrixMSFT 

# PRLabel: %Mgmt
/sdk/resourcemanager/    @ArcturusZhang @lirenhe


###########
# Eng Sys
###########
/eng/                    @benbp @weshaggard
/**/ci.yml               @benbp
/**/tests.yml            @benbp

# PRLabel: %EngSys
/sdk/template/           @benbp @weshaggard

#############
# SDK (track1 and track1.5)
#############

# PRLabel: %Track1
/profiles/               @ArcturusZhang @lirenhe

# PRLabel: %Track1
/services/               @ArcturusZhang @lirenhe

# PRLabel: %Track1
/storage/                @jhendrixMSFT

# PRLabel: %Track1
/version/                @ArcturusZhang @lirenhe
