Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jhendrixMSFT, @chlowell, @richardpark-msft, @antkmsft, @ealsur, @kirankumarkolli, @gracewilcox, @ArcturusZhang, @lirenhe, @tadelesh, @siminsavani-msft, @souravgupta-msft, @tasherif-msft, @gapra-msft, @vibhansa-msft, @benbp, @jsquire, @ronniegeraghty, @weshaggard

Refactor some public surface in azcore/tracing (#20944)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_trace_namespace.go
  sdk/azcore/arm/runtime/policy_trace_namespace_test.go
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/tracing/tracing.go
  sdk/azcore/tracing/tracing_test.go
  sdk/tracing/azotel/ci.yml
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/otel.go
  sdk/tracing/azotel/otel_test.go
Owners: @benbp, @weshaggard, @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Set telemetry schema on tracers
  sdk/tracing/azotel/go.sum
  sdk/tracing/azotel/otel.go
Owners: @rickwinter, @chlowell, @richardpark-msft

Rename constructor
  sdk/messaging/azeventgrid/client_custom.go
  sdk/messaging/azeventgrid/shared_test.go
Owners: @rickwinter, @chlowell, @richardpark-msft

Remove unneeded autorest clients directive, upgrade to .49 for bug fixes.
  sdk/messaging/azeventgrid/autorest.md
  sdk/messaging/azeventgrid/client.go
  sdk/messaging/azeventgrid/models.go
  sdk/messaging/azeventgrid/models_serde.go
Owners: @rickwinter, @chlowell, @richardpark-msft

Remove `eng` folder - there has to be another way to avoid rebuilding _everything_ and still testing the 'eng' folder.
  sdk/messaging/azeventgrid/ci.yml
Owners: @rickwinter, @chlowell, @richardpark-msft

Removed file.
  sdk/messaging/azeventgrid/constants.go
Owners: @rickwinter, @chlowell, @richardpark-msft

Sync eng/common directory with azure-sdk-tools for PR 6272 (#20957)
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Owners: @benbp, @weshaggard

replace version to v0.1.0
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/CHANGELOG.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/autorest.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/constants.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

Had some more experiments in play - want to keep the commented out but available in case I want to use them again.
  sdk/messaging/azeventgrid/autorest.md
  sdk/messaging/azeventgrid/build.go
  sdk/messaging/azeventgrid/client_test.go
  sdk/messaging/azeventgrid/shared_test.go
Owners: @rickwinter, @chlowell, @richardpark-msft

CodeGen from PR 24288 in Azure/azure-rest-api-specs Fix Swagger Lint issue Organization_Delete.json (#24288)
  sdk/resourcemanager/confluent/armconfluent/CHANGELOG.md
  sdk/resourcemanager/confluent/armconfluent/autorest.md
  sdk/resourcemanager/confluent/armconfluent/constants.go
  sdk/resourcemanager/confluent/armconfluent/go.mod
  sdk/resourcemanager/confluent/armconfluent/go.sum
  sdk/resourcemanager/confluent/armconfluent/marketplaceagreements_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/models.go
  sdk/resourcemanager/confluent/armconfluent/organization_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/organizationoperations_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/validations_client_example_test.go
Owners: @ArcturusZhang, @lirenhe, @tadelesh

Updating azcore to 1.6.0 (#20914)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Owners: @siminsavani-msft, @souravgupta-msft, @tasherif-msft, @jhendrixMSFT, @gapra-msft, @vibhansa-msft

remove unnecessary doc comment
  sdk/tracing/azotel/otel.go
Owners: @rickwinter, @chlowell, @richardpark-msft

change back to keybundle
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/response_types.go
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

improve testserde
  sdk/security/keyvault/azkeys/utils_test.go
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

[keyvault] azkeys renames (#20892)
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/response_types.go
  sdk/security/keyvault/azkeys/testdata/perf/get_key.go
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azkeys/version.go
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

azsecrets prep for release (#20962)
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/version.go
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Owners: @chlowell, @jhendrixMSFT, @rickwinter

Fix populating module name in telemetry policy
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Increment package version after release of messaging/azeventhubs
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Owners: @richardpark-msft, @jhendrixMSFT

Increment package version after release of messaging/azservicebus
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Owners: @richardpark-msft, @jhendrixMSFT

Increment package version after release of azidentity (#20966)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Owners: @chlowell, @jhendrixMSFT, @rickwinter

Fix populating module name in telemetry policy (#20967)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Fix populating module name in telemetry policy (#20967)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

update dependencies
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

Fix populating module name in telemetry policy (#20967) (#20971)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Prep for azcore v1.7.0-beta.2 release
  sdk/azcore/CHANGELOG.md
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

update perf tests too
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

Set telemetry schema on tracers (#20963)
  sdk/tracing/azotel/go.sum
  sdk/tracing/azotel/otel.go
Owners: @rickwinter, @chlowell, @richardpark-msft

Prep for azcore v1.7.0-beta.2 release (#20972)
  sdk/azcore/CHANGELOG.md
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

renames
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/example_test.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/response_types.go
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

update tests
  sdk/security/keyvault/azcertificates/assets.json
Owners: @chlowell, @jhendrixMSFT, @gracewilcox

move path to internal and create common
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/constants.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/path/client.go
  sdk/storage/azdatalake/internal/path/constants.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/service/client.go
Owners: @siminsavani-msft, @souravgupta-msft, @tasherif-msft, @jhendrixMSFT, @gapra-msft, @vibhansa-msft

moved access helpers to internal
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/shared/access_conditions.go
Owners: @siminsavani-msft, @souravgupta-msft, @tasherif-msft, @jhendrixMSFT, @gapra-msft, @vibhansa-msft

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft

Prep azotel for v0.1.0 release
  sdk/tracing/azotel/CHANGELOG.md
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Owners: @rickwinter, @chlowell, @richardpark-msft

make access conditions common
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/shared/access_conditions.go
  sdk/storage/azdatalake/lease/models.go
Owners: @siminsavani-msft, @souravgupta-msft, @tasherif-msft, @jhendrixMSFT, @gapra-msft, @vibhansa-msft

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
/**                           @rickwinter @jhendrixMSFT
/sdk/                         @rickwinter @chlowell @richardpark-msft

# Samples
/samples/                     @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %Azure.Core
/sdk/azcore/                  @rickwinter @chlowell @jhendrixMSFT @richardpark-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/              @chlowell @jhendrixMSFT @rickwinter

# PRLabel: %Internal
/sdk/internal/                @chlowell @jhendrixMSFT @richardpark-msft @rickwinter

# PRLabel: %App Configuration
/sdk/data/azappconfig/        @antkmsft @jhendrixMSFT @rickwinter

# PRLabel: %Cosmos
/sdk/data/azcosmos/           @ealsur @kirankumarkolli

# PRLabel: %Tables
/sdk/data/aztables/           @jhendrixMSFT

# PRLabel: %KeyVault
/sdk/security/keyvault/       @chlowell @jhendrixMSFT @gracewilcox

# PRLabel: %Service Bus
/sdk/messaging/azservicebus/  @richardpark-msft @jhendrixMSFT

# PRLabel: %Event Hubs
/sdk/messaging/azeventhubs/   @richardpark-msft @jhendrixMSFT

# PRLabel: %Monitor
/sdk/monitor/                 @gracewilcox @chlowell @jhendrixMSFT

# PRLabel: %Mgmt
/sdk/resourcemanager/         @ArcturusZhang @lirenhe @tadelesh

# PRLabel: %Storage
/sdk/storage/                 @siminsavani-msft @souravgupta-msft @tasherif-msft @jhendrixMSFT @gapra-msft @vibhansa-msft

################
# Automation
################

# Git Hub integration and bot rules
/.github/                    @benbp @jsquire @jhendrixMSFT @rickwinter @ronniegeraghty

###########
# Eng Sys
###########
/eng/                         @benbp @weshaggard

# PRLabel: %EngSys
/sdk/template/                @benbp @weshaggard
