Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @jhendrixMSFT, @chlowell, @richardpark-msft, @seankane-msft, @ealsur, @ausfeldt, @ArcturusZhang, @lirenhe, @benbp, @weshaggard

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @jhendrixMSFT
/sdk/                    @rickwinter @chlowell @richardpark-msft @seankane-msft

# Samples
/samples/                @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Core
/sdk/azcore/             @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/         @chlowell @jhendrixMSFT @rickwinter

# PRLabel: %Internal
/sdk/internal/           @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %KeyVault
/sdk/keyvault/           @seankane-msft @jhendrixMSFT

# PRLabel: %Storage
/sdk/storage/            @jhendrixMSFT @seankane-msft

# PRLabel: %Cosmos
/sdk/data/azcosmos/      @ealsur @ausfeldt 

# PRLabel: %Tables
/sdk/data/aztables/      @seankane-msft @jhendrixMSFT 

# PRLabel: %Service Bus
/sdk/messaging/azservicebus   @richardpark-msft @jhendrixMSFT 

# PRLabel: %Service Bus
/sdk/messaging/internal   @richardpark-msft @jhendrixMSFT 

# PRLabel: %Mgmt
/sdk/resourcemanager/    @ArcturusZhang @lirenhe


###########
# Eng Sys
###########
/eng/                    @benbp @weshaggard
/**/ci.yml               @benbp
/**/tests.yml            @benbp

# PRLabel: %EngSys
/sdk/template/           @benbp @weshaggard

#############
# SDK (track1 and track1.5)
#############

# PRLabel: %Track1
/profiles/               @ArcturusZhang @lirenhe

# PRLabel: %Track1
/services/               @ArcturusZhang @lirenhe

# PRLabel: %Track1
/storage/                @jhendrixMSFT

# PRLabel: %Track1
/version/                @ArcturusZhang @lirenhe

set env to init result
  eng/scripts/automation_init.sh
Owners: @benbp, @weshaggard

create init script
  eng/scripts/automation/init.sh
  eng/scripts/automation_init.sh
Owners: @benbp, @weshaggard

add pwsh prefix
  codegen_to_sdk_config.json
  eng/scripts/automation/generate.sh
  eng/scripts/automation/init.sh
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

init script
  eng/scripts/automation/init.sh
Owners: @benbp, @weshaggard

CodeGen from PR 17191 in Azure/azure-rest-api-specs Add batch tag for streamanalytics readme.go.md (#17191)
  services/preview/streamanalytics/mgmt/2020-03-01-preview/streamanalytics/CHANGELOG.md
  services/preview/streamanalytics/mgmt/2020-03-01-preview/streamanalytics/_meta.json
  services/preview/streamanalytics/mgmt/2020-03-01-preview/streamanalytics/functions.go
  services/preview/streamanalytics/mgmt/2020-03-01-preview/streamanalytics/subscriptions.go
  services/streamanalytics/mgmt/2016-03-01/streamanalytics/CHANGELOG.md
  services/streamanalytics/mgmt/2016-03-01/streamanalytics/enums.go
  services/streamanalytics/mgmt/2016-03-01/streamanalytics/models.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/CHANGELOG.md
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/_meta.json
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/client.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/clusters.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/enums.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/functions.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/inputs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/models.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/operations.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/outputs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/privateendpoints.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/streamanalyticsapi/interfaces.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/streamingjobs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/subscriptions.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/transformations.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/version.go
Owners: @ArcturusZhang, @lirenhe

use generator command
  codegen_to_sdk_config.json
  eng/scripts/automation/init.sh
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

use generate script
  codegen_to_sdk_config.json
  eng/scripts/automation/generate.sh
  eng/scripts/automation/init.sh
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

Generated from specification/monitor/resource-manager/readme.md tag package-2021-09 (commit hash: 81ab10cd9d46a85258b710c6150ec48021c6d202)
  profiles/preview/preview/monitor/mgmt/insights/insightsapi/models.go
  profiles/preview/preview/monitor/mgmt/insights/models.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/CHANGELOG.md
  services/preview/monitor/mgmt/2021-09-01-preview/insights/_meta.json
  services/preview/monitor/mgmt/2021-09-01-preview/insights/actiongroups.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/activitylogalerts.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/activitylogs.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/alertruleincidents.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/alertrules.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/autoscalesettings.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/baselines.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/client.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/datacollectionendpoints.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/datacollectionruleassociations.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/datacollectionrules.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/diagnosticsettings.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/diagnosticsettingscategory.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/enums.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/eventcategories.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/insightsapi/interfaces.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/logprofiles.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/metricalerts.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/metricalertsstatus.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/metricdefinitions.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/metricnamespaces.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/metrics.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/models.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/operations.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/privateendpointconnections.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/privatelinkresources.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/privatelinkscopedresources.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/privatelinkscopeoperationstatus.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/privatelinkscopes.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/scheduledqueryrules.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/tenantactivitylogs.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/version.go
  services/preview/monitor/mgmt/2021-09-01-preview/insights/vminsights.go
Owners: @ArcturusZhang, @lirenhe

Generated from specification/streamanalytics/resource-manager/readme.md tag package-pure-2020-03 (commit hash: 81ab10cd9d46a85258b710c6150ec48021c6d202)
  profiles/latest/streamanalytics/mgmt/streamanalytics/models.go
  profiles/latest/streamanalytics/mgmt/streamanalytics/streamanalyticsapi/models.go
  profiles/preview/streamanalytics/mgmt/streamanalytics/models.go
  profiles/preview/streamanalytics/mgmt/streamanalytics/streamanalyticsapi/models.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/CHANGELOG.md
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/_meta.json
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/client.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/clusters.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/enums.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/functions.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/inputs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/models.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/operations.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/outputs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/privateendpoints.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/streamanalyticsapi/interfaces.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/streamingjobs.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/subscriptions.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/transformations.go
  services/streamanalytics/mgmt/2020-03-01/streamanalytics/version.go
Owners: @ArcturusZhang, @lirenhe

Generated from specification/notificationhubs/resource-manager/readme.md tag package-2017-04 (commit hash: 81ab10cd9d46a85258b710c6150ec48021c6d202)
  profiles/latest/notificationhubs/mgmt/notificationhubs/models.go
  profiles/preview/notificationhubs/mgmt/notificationhubs/models.go
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/CHANGELOG.md
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/_meta.json
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/enums.go
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/models.go
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/namespaces.go
  services/notificationhubs/mgmt/2017-04-01/notificationhubs/notificationhubsapi/interfaces.go
Owners: @ArcturusZhang, @lirenhe

v61.0.0
  CHANGELOG.md
  version/version.go
Owners: @rickwinter, @jhendrixMSFT, @ArcturusZhang, @lirenhe

use generator command
  eng/scripts/automation/init.sh
Owners: @benbp, @weshaggard

use shell script for mock test
  codegen_to_sdk_config.json
  eng/scripts/automation/Invoke-MockTest.ps1
  eng/scripts/automation/mock-test.sh
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

check input paramter of script file
  eng/scripts/automation/Invoke-MockTest.ps1
  eng/scripts/automation/generate.sh
  eng/scripts/automation/init.sh
  eng/scripts/automation/mock-test.sh
Owners: @benbp, @weshaggard

uncomment o.Progress(progress) in getDownloadBlobOptions()
  sdk/storage/azblob/highlevel.go
Owners: @jhendrixMSFT, @seankane-msft

remove log
  eng/scripts/automation/Invoke-MockTest.ps1
  eng/scripts/automation/generate.sh
  eng/scripts/automation/init.sh
Owners: @benbp, @weshaggard

uncomment o.Progress(progress) in getDownloadBlobOptions() (#16727)
  sdk/storage/azblob/highlevel.go
Owners: @jhendrixMSFT, @seankane-msft

Updated azblob README sample code (#16721)
  sdk/storage/azblob/README.md
Owners: @jhendrixMSFT, @seankane-msft

updating recordings
  sdk/storage/azblob/testdata/recordings/TestBlobSetSequenceNumberActionTypeInvalid.json
  sdk/storage/azblob/testdata/recordings/TestBlobSetSequenceNumberIfMatchFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobSetSequenceNumberIfModifiedSinceFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobSetSequenceNumberIfUnmodifiedSinceFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobSetSequenceNumberSequenceNumberInvalid.json
  sdk/storage/azblob/zt_page_blob_client_test.go
Owners: @jhendrixMSFT, @seankane-msft

generated code for azcerts
  sdk/keyvault/azcertificates/autorest.md
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/go.mod
  sdk/keyvault/azcertificates/go.sum
  sdk/keyvault/azcertificates/internal/generated/connection.go
  sdk/keyvault/azcertificates/internal/generated/constants.go
  sdk/keyvault/azcertificates/internal/generated/hsmsecuritydomain_client.go
  sdk/keyvault/azcertificates/internal/generated/keyvaultclient_client.go
  sdk/keyvault/azcertificates/internal/generated/models.go
  sdk/keyvault/azcertificates/internal/generated/pagers.go
  sdk/keyvault/azcertificates/internal/generated/pollers.go
  sdk/keyvault/azcertificates/internal/generated/response_types.go
  sdk/keyvault/azcertificates/internal/generated/roleassignments_client.go
  sdk/keyvault/azcertificates/internal/generated/roledefinitions_client.go
  sdk/keyvault/azcertificates/internal/generated/time_unix.go
Owners: @seankane-msft, @jhendrixMSFT

Support AAD graph and Microsoft Graph service principal APIs
  eng/common/TestResources/New-TestResources.ps1
Owners: @benbp, @weshaggard

Consolidate service principal wrapper creation
  eng/common/TestResources/New-TestResources.ps1
Owners: @benbp, @weshaggard

add readme and doc.go files
  sdk/keyvault/azcertificates/README.md
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/doc.go
Owners: @seankane-msft, @jhendrixMSFT

reveerting back to DefaultAzCred
  sdk/keyvault/azkeys/example_test.go
Owners: @seankane-msft, @jhendrixMSFT

using streaming package from azcore
  sdk/keyvault/internal/challenge_policy.go
Owners: @seankane-msft, @jhendrixMSFT

Add spell check warnings (#16656)
  .gitignore
  .vscode/cspell.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @jhendrixMSFT, @benbp, @weshaggard

release ready for keyvault keys
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/internal/generated/constants.go
Owners: @seankane-msft, @jhendrixMSFT

Adding Smoketests to nightly runs (#16226)
  eng/config.json
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/Smoke_Tests_Nightly.ps1
  eng/scripts/Smoke_Tests_Release.ps1
  eng/tools/smoketests/cmd/models.go
  eng/tools/smoketests/cmd/root.go
  eng/tools/smoketests/go.mod
  eng/tools/smoketests/go.sum
  eng/tools/smoketests/main.go
Owners: @benbp, @weshaggard

prepare secrets for release
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/internal/constants.go
Owners: @seankane-msft, @jhendrixMSFT

preparing tables for release
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Owners: @seankane-msft, @jhendrixMSFT

Sync eng/common directory with azure-sdk-tools for PR 2464 (#16730)
  eng/common/TestResources/New-TestResources.ps1
Owners: @benbp, @weshaggard

Missing newline at EOF
  sdk/messaging/azservicebus/internal/stress/values.yaml
Owners: @richardpark-msft, @jhendrixMSFT

remove mock
  eng/scripts/automation/generate.sh
Owners: @benbp, @weshaggard

install autorest and typescript
  eng/scripts/automation/init.sh
Owners: @benbp, @weshaggard

updating smoke test daily
  eng/scripts/Smoke_Tests_Daily.ps1
  eng/scripts/Smoke_Tests_Release.ps1
Owners: @benbp, @weshaggard

updating all recordings
  sdk/storage/azblob/proxy_test.go
  sdk/storage/azblob/testdata/recordings/TestBlobClearPagesIfModifiedSinceTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobClearPagesIfNoneMatchTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobClearPagesIfSequenceNumberEqualTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobClearPagesInvalidRange.json
  sdk/storage/azblob/testdata/recordings/TestBlobCreatePageMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/TestBlobCreatePageMetadataInvalid.json
  sdk/storage/azblob/testdata/recordings/TestBlobCreatePageMetadataNonEmpty.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfMatchFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfMatchTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfModifiedSinceFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfModifiedSinceTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfNoneMatchFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfNoneMatchTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfUnmodifiedSinceFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeIfUnmodifiedSinceTrue.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangeInvalidRange.json
  sdk/storage/azblob/testdata/recordings/TestBlobDiffPageRangesNonExistentSnapshot.json
  sdk/storage/azblob/testdata/recordings/TestBlobStartCopyDestEmpty.json
  sdk/storage/azblob/testdata/recordings/TestBlobStartCopyDestIfModifiedSinceFalse.json
  sdk/storage/azblob/testdata/recordings/TestBlobStartCopySourceNonExistent.json
  sdk/storage/azblob/testdata/recordings/TestBlobStartCopySourcePrivate.json
  sdk/storage/azblob/testdata/recordings/TestUploadBlockBlobWithSpecialCharactersInTags.json
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
Owners: @jhendrixMSFT, @seankane-msft

Make EndpointToScope resilient to subdomains
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

Make EndpointToScope resilient to subdomains (#16737)
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

move shared stuff to another file
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
Owners: @chlowell, @jhendrixMSFT, @rickwinter

add a user assigned identity example
  sdk/azidentity/example_test.go
Owners: @chlowell, @jhendrixMSFT, @rickwinter
