Repository Azure/azure-sdk-for-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @jhendrixMSFT, @rickwinter, @chlowell, @richardpark-msft, @seankane-msft, @antkmsft, @ealsur, @ausfeldt, @ArcturusZhang, @lirenhe, @benbp, @weshaggard

ConfigurationSetting => Setting
  sdk/appconfiguration/azappconfiguration/client_api_add.go
  sdk/appconfiguration/azappconfiguration/client_api_delete.go
  sdk/appconfiguration/azappconfiguration/client_api_get.go
  sdk/appconfiguration/azappconfiguration/client_api_readonly.go
  sdk/appconfiguration/azappconfiguration/client_api_set.go
  sdk/appconfiguration/azappconfiguration/client_put.go
  sdk/appconfiguration/azappconfiguration/client_responses.go
  sdk/appconfiguration/azappconfiguration/setting.go
  sdk/appconfiguration/azappconfiguration/setting_test.go
Owners: @antkmsft, @seankane-msft, @jhendrixMSFT

use *http.Response out parameter
  sdk/azcore/runtime/examples_test.go
  sdk/azcore/runtime/policy_include_response.go
  sdk/azcore/runtime/policy_include_response_test.go
  sdk/azcore/runtime/policy_retry_test.go
  sdk/azcore/runtime/poller_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

SettingSelector: all public fields
  sdk/appconfiguration/azappconfiguration/client_api_add.go
  sdk/appconfiguration/azappconfiguration/client_api_delete.go
  sdk/appconfiguration/azappconfiguration/client_api_get.go
  sdk/appconfiguration/azappconfiguration/client_api_readonly.go
  sdk/appconfiguration/azappconfiguration/client_api_set.go
  sdk/appconfiguration/azappconfiguration/client_put.go
  sdk/appconfiguration/azappconfiguration/setting.go
  sdk/appconfiguration/azappconfiguration/setting_selector.go
  sdk/appconfiguration/azappconfiguration/setting_test.go
Owners: @antkmsft, @seankane-msft, @jhendrixMSFT

[Secrets] Improving consistency with other Tier-1 languages (#17141)
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/autorest.md
  sdk/keyvault/azsecrets/build.go
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/consts.go
  sdk/keyvault/azsecrets/internal/constants.go
  sdk/keyvault/azsecrets/internal/hsmsecuritydomain_client.go
  sdk/keyvault/azsecrets/internal/keyvault_client.go
  sdk/keyvault/azsecrets/internal/models.go
  sdk/keyvault/azsecrets/internal/pagers.go
  sdk/keyvault/azsecrets/internal/pollers.go
  sdk/keyvault/azsecrets/internal/response_types.go
  sdk/keyvault/azsecrets/internal/roleassignments_client.go
  sdk/keyvault/azsecrets/internal/roledefinitions_client.go
  sdk/keyvault/azsecrets/models.go
Owners: @seankane-msft, @jhendrixMSFT

azappconfiguration => azappconfig
  .vscode/cspell.json
  sdk/appconfiguration/azappconfig/autorest.md
  sdk/appconfiguration/azappconfig/ci.yml
  sdk/appconfiguration/azappconfig/client.go
  sdk/appconfiguration/azappconfig/client_api_add.go
  sdk/appconfiguration/azappconfig/client_api_delete.go
  sdk/appconfiguration/azappconfig/client_api_get.go
  sdk/appconfiguration/azappconfig/client_api_readonly.go
  sdk/appconfiguration/azappconfig/client_api_revisions.go
  sdk/appconfiguration/azappconfig/client_api_set.go
  sdk/appconfiguration/azappconfig/client_put.go
  sdk/appconfiguration/azappconfig/client_responses.go
  sdk/appconfiguration/azappconfig/internal/generated/azureappconfiguration_client.go
  sdk/appconfiguration/azappconfig/internal/generated/constants.go
  sdk/appconfiguration/azappconfig/internal/generated/models.go
  sdk/appconfiguration/azappconfig/internal/generated/pagers.go
  sdk/appconfiguration/azappconfig/internal/generated/response_types.go
  sdk/appconfiguration/azappconfig/internal/generated/time_rfc3339.go
  sdk/appconfiguration/azappconfig/policy_hmac_auth.go
  sdk/appconfiguration/azappconfig/policy_hmac_auth_parse_test.go
  sdk/appconfiguration/azappconfig/policy_sync_token.go
  sdk/appconfiguration/azappconfig/policy_sync_token_parse_test.go
  sdk/appconfiguration/azappconfig/setting.go
  sdk/appconfiguration/azappconfig/setting_selector.go
  sdk/appconfiguration/azappconfig/setting_selector_test.go
  sdk/appconfiguration/azappconfig/setting_test.go
Owners: @rickwinter, @jhendrixMSFT, @antkmsft, @seankane-msft, @benbp

Refine HTTP response captuing APIs (#17156)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/examples_test.go
  sdk/azcore/runtime/policy_include_response.go
  sdk/azcore/runtime/policy_include_response_test.go
  sdk/azcore/runtime/policy_retry_test.go
  sdk/azcore/runtime/poller_test.go
Owners: @rickwinter, @chlowell, @jhendrixMSFT, @richardpark-msft, @seankane-msft

don't hold the lock while iterating
  sdk/azidentity/chained_token_credential.go
Owners: @chlowell, @jhendrixMSFT, @rickwinter

Clients returned by value
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/crypto/crypto_client.go
  sdk/keyvault/azkeys/crypto/examples_test.go
  sdk/keyvault/azkeys/crypto/utils_test.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/utils_test.go
Owners: @seankane-msft, @jhendrixMSFT

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @AlexGhiondea @jsquire @jhendrixMSFT @rickwinter

#############
# SDK (track2)
############# 

# Catch all for non-code project files and unowned files | folders
*                             @rickwinter @jhendrixMSFT
/sdk/                         @rickwinter @chlowell @richardpark-msft @seankane-msft

# Samples
/samples/                     @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Core
/sdk/azcore/                  @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %Azure.Identity
/sdk/azidentity/              @chlowell @jhendrixMSFT @rickwinter

# PRLabel: %Internal
/sdk/internal/                @rickwinter @chlowell @jhendrixMSFT @richardpark-msft @seankane-msft

# PRLabel: %App Configuration
/sdk/appconfiguration/        @antkmsft @seankane-msft @jhendrixMSFT

# PRLabel: %Cosmos
/sdk/data/azcosmos/           @ealsur @ausfeldt 

# PRLabel: %Tables
/sdk/data/aztables/           @seankane-msft @jhendrixMSFT 

# PRLabel: %KeyVault
/sdk/keyvault/                @seankane-msft @jhendrixMSFT

# PRLabel: %Service Bus
/sdk/messaging/azservicebus   @richardpark-msft @jhendrixMSFT 

# PRLabel: %Service Bus
/sdk/messaging/internal       @richardpark-msft @jhendrixMSFT 

# PRLabel: %Mgmt
/sdk/resourcemanager/         @ArcturusZhang @lirenhe

# PRLabel: %Storage
/sdk/storage/                 @jhendrixMSFT @seankane-msft

###########
# Eng Sys
###########
/eng/                         @benbp @weshaggard
/**/ci.yml                    @benbp
/**/tests.yml                 @benbp

# PRLabel: %EngSys
/sdk/template/                @benbp @weshaggard

#############
# SDK (track1 and track1.5)
#############

# PRLabel: %Track1
/profiles/                    @ArcturusZhang @lirenhe

# PRLabel: %Track1
/services/                    @ArcturusZhang @lirenhe

# PRLabel: %Track1
/storage/                     @jhendrixMSFT

# PRLabel: %Track1
/version/                     @ArcturusZhang @lirenhe
