Repository Azure/azure-sdk-for-go, pull requests merged in 2021-09, with the labels that each got.

#15423 Updating azcore & azidentity changelog
  sdk/azcore/CHANGELOG.md
  sdk/azidentity/CHANGELOG.md
Labels: auto-merge

#15424 Cosmos DB - Refactor emulator tests as black box
  eng/pipelines/templates/steps/build-test.yml
  sdk/cosmos/azcosmos/cosmos_client_connection_test.go
  sdk/cosmos/azcosmos/cosmos_client_options_test.go
  sdk/cosmos/azcosmos/cosmos_container_properties_test.go
  sdk/cosmos/azcosmos/cosmos_container_request_options_test.go
  sdk/cosmos/azcosmos/cosmos_container_response_test.go
  sdk/cosmos/azcosmos/cosmos_database_properties_test.go
  sdk/cosmos/azcosmos/cosmos_database_request_options_test.go
  sdk/cosmos/azcosmos/cosmos_database_response_test.go
  sdk/cosmos/azcosmos/cosmos_item_request_options_test.go
  sdk/cosmos/azcosmos/cosmos_item_response_test.go
  sdk/cosmos/azcosmos/emulator_shared_key_credential_test.go
  sdk/cosmos/azcosmos/partition_key_test.go
  sdk/cosmos/azcosmos/resource_throttle_retry_policy_test.go
  sdk/cosmos/azcosmos/shared_key_credential_test.go
  sdk/cosmos/azcosmos/throughput_properties_test.go
  sdk/cosmos/azcosmos/throughput_request_options_test.go
  sdk/cosmos/azcosmos/throughput_response_test.go
  sdk/cosmos/azcosmos_emulator_tests/emulator_cosmos_container_test.go
  sdk/cosmos/azcosmos_emulator_tests/emulator_cosmos_database_test.go
  sdk/cosmos/azcosmos_emulator_tests/emulator_cosmos_item_test.go
  sdk/cosmos/azcosmos_emulator_tests/emulator_tests.go
  sdk/cosmos/azcosmos_emulator_tests/go.mod
  sdk/cosmos/azcosmos_emulator_tests/go.sum
  sdk/cosmos/ci.yml
Labels: Cosmos

#15427 Unexport AzureCLITokenProvider
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
Labels: Client, Azure.Identity

#15430 Sync eng/common directory with azure-sdk-tools for PR 1967
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: EngSys, Central-EngSys

#14748 [Go][Track2] Add support for connection string
  sdk/storage/azblob/shared_policy_shared_key_credential.go
  sdk/storage/azblob/zc_connection_string.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zz_generated_appendblob_client.go
  sdk/storage/azblob/zz_generated_blob_client.go
  sdk/storage/azblob/zz_generated_blockblob_client.go
  sdk/storage/azblob/zz_generated_connection.go
  sdk/storage/azblob/zz_generated_constants.go
  sdk/storage/azblob/zz_generated_container_client.go
  sdk/storage/azblob/zz_generated_directory_client.go
  sdk/storage/azblob/zz_generated_models.go
  sdk/storage/azblob/zz_generated_pageblob_client.go
  sdk/storage/azblob/zz_generated_pagers.go
  sdk/storage/azblob/zz_generated_response_types.go
  sdk/storage/azblob/zz_generated_service_client.go
  sdk/storage/azblob/zz_generated_time_rfc1123.go
  sdk/storage/azblob/zz_generated_time_rfc3339.go
  sdk/storage/azblob/zz_generated_xml_helper.go
Labels: Storage

#15376 Updated GO 1.17. and generated code (Autorest - v4.0.0-preview.26)
  sdk/storage/azblob/chunkwriting.go
  sdk/storage/azblob/ci.yml
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/highlevel.go
  sdk/storage/azblob/recordings/Test/TestNewContainerClientValidName-variables.yaml
  sdk/storage/azblob/shared_policy_shared_key_credential.go
  sdk/storage/azblob/shared_user_delegation_credential.go
  sdk/storage/azblob/zc_append_blob_client.go
  sdk/storage/azblob/zc_blob_client.go
  sdk/storage/azblob/zc_block_blob_client.go
  sdk/storage/azblob/zc_container_client.go
  sdk/storage/azblob/zc_lease_client.go
  sdk/storage/azblob/zc_page_blob_client.go
  sdk/storage/azblob/zc_response_error.go
  sdk/storage/azblob/zc_sas_account.go
  sdk/storage/azblob/zc_sas_query_params.go
  sdk/storage/azblob/zc_sas_service.go
  sdk/storage/azblob/zc_service_client.go
  sdk/storage/azblob/zc_storage_error.go
  sdk/storage/azblob/zc_validators.go
  sdk/storage/azblob/zm_lease_request_options.go
  sdk/storage/azblob/zm_page_blob_request_options.go
  sdk/storage/azblob/zm_service_request_options.go
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_chunkwriting_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_container_client_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_list_wrappers_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_retry_reader_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zz_generated_blob_client.go
  sdk/storage/azblob/zz_generated_blockblob_client.go
  sdk/storage/azblob/zz_generated_constants.go
  sdk/storage/azblob/zz_generated_container_client.go
  sdk/storage/azblob/zz_generated_models.go
  sdk/storage/azblob/zz_generated_pageblob_client.go
  sdk/storage/azblob/zz_generated_pagers.go
  sdk/storage/azblob/zz_generated_response_types.go
  sdk/storage/azblob/zz_generated_service_client.go
Labels: Storage

#15431 Sync eng/common directory with azure-sdk-tools for PR 1972
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#15449 Disabled live tests
  eng/config.json
  sdk/storage/azblob/zc_lease_client.go
  sdk/storage/azblob/zc_service_client.go
  sdk/storage/azblob/zc_storage_error.go
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_bytes_writer_test.go
  sdk/storage/azblob/zt_chunkwriting_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_container_client_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_ors_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_retry_reader_test.go
  sdk/storage/azblob/zt_section_writer_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zz_generated_blob_client.go
  sdk/storage/azblob/zz_generated_container_client.go
  sdk/storage/azblob/zz_generated_directory_client.go
  sdk/storage/azblob/zz_generated_service_client.go
  sdk/storage/azblob/zz_generated_xml_helper.go
Labels: Storage

#15440 Release armkeyvault v0.2.0
  sdk/keyvault/armkeyvault/CHANGELOG.md
  sdk/keyvault/armkeyvault/README.md
  sdk/keyvault/armkeyvault/_meta.json
  sdk/keyvault/armkeyvault/autorest.md
  sdk/keyvault/armkeyvault/build.go
  sdk/keyvault/armkeyvault/ci.yml
  sdk/keyvault/armkeyvault/example_secrets_test.go
  sdk/keyvault/armkeyvault/example_vaults_test.go
  sdk/keyvault/armkeyvault/go.mod
  sdk/keyvault/armkeyvault/go.sum
  sdk/keyvault/armkeyvault/go_mod_tidy_hack.go
  sdk/keyvault/armkeyvault/zz_generated_constants.go
  sdk/keyvault/armkeyvault/zz_generated_keys_client.go
  sdk/keyvault/armkeyvault/zz_generated_managedhsms_client.go
  sdk/keyvault/armkeyvault/zz_generated_mhsmprivateendpointconnections_client.go
  sdk/keyvault/armkeyvault/zz_generated_mhsmprivatelinkresources_client.go
  sdk/keyvault/armkeyvault/zz_generated_models.go
  sdk/keyvault/armkeyvault/zz_generated_operations_client.go
  sdk/keyvault/armkeyvault/zz_generated_pagers.go
  sdk/keyvault/armkeyvault/zz_generated_pollers.go
  sdk/keyvault/armkeyvault/zz_generated_privateendpointconnections_client.go
  sdk/keyvault/armkeyvault/zz_generated_privatelinkresources_client.go
  sdk/keyvault/armkeyvault/zz_generated_response_types.go
  sdk/keyvault/armkeyvault/zz_generated_secrets_client.go
  sdk/keyvault/armkeyvault/zz_generated_time_rfc3339.go
  sdk/keyvault/armkeyvault/zz_generated_time_unix.go
  sdk/keyvault/armkeyvault/zz_generated_vaults_client.go
Labels: KeyVault

#15459 [Tables] Add samples
  sdk/samples/aztables/README.md
  sdk/samples/aztables/go.mod
  sdk/samples/aztables/go.sum
  sdk/samples/aztables/sample_authentication.go
  sdk/samples/aztables/sample_batch.go
  sdk/samples/aztables/sample_create_client.go
  sdk/samples/aztables/sample_create_delete_table.go
  sdk/samples/aztables/sample_insert_delete_entities.go
  sdk/samples/aztables/sample_query_table.go
  sdk/samples/aztables/sample_query_tables.go
  sdk/samples/aztables/sample_update_entities.go
Labels: auto-merge

#15474 Release armstorage v0.2.0
  sdk/storage/armstorage/CHANGELOG.md
  sdk/storage/armstorage/README.md
  sdk/storage/armstorage/_meta.json
  sdk/storage/armstorage/autorest.md
  sdk/storage/armstorage/build.go
  sdk/storage/armstorage/ci.yml
  sdk/storage/armstorage/example_blobcontainers_test.go
  sdk/storage/armstorage/example_storageaccounts_test.go
  sdk/storage/armstorage/example_usage_test.go
  sdk/storage/armstorage/go.mod
  sdk/storage/armstorage/go.sum
  sdk/storage/armstorage/go_mod_tidy_hack.go
  sdk/storage/armstorage/zz_generated_blobcontainers_client.go
  sdk/storage/armstorage/zz_generated_blobinventorypolicies_client.go
  sdk/storage/armstorage/zz_generated_blobservices_client.go
  sdk/storage/armstorage/zz_generated_constants.go
  sdk/storage/armstorage/zz_generated_deletedaccounts_client.go
  sdk/storage/armstorage/zz_generated_encryptionscopes_client.go
  sdk/storage/armstorage/zz_generated_fileservices_client.go
  sdk/storage/armstorage/zz_generated_fileshares_client.go
  sdk/storage/armstorage/zz_generated_managementpolicies_client.go
  sdk/storage/armstorage/zz_generated_models.go
  sdk/storage/armstorage/zz_generated_objectreplicationpolicies_client.go
  sdk/storage/armstorage/zz_generated_operations_client.go
  sdk/storage/armstorage/zz_generated_pagers.go
  sdk/storage/armstorage/zz_generated_pollers.go
  sdk/storage/armstorage/zz_generated_privateendpointconnections_client.go
  sdk/storage/armstorage/zz_generated_privatelinkresources_client.go
  sdk/storage/armstorage/zz_generated_queue_client.go
  sdk/storage/armstorage/zz_generated_queueservices_client.go
  sdk/storage/armstorage/zz_generated_response_types.go
  sdk/storage/armstorage/zz_generated_skus_client.go
  sdk/storage/armstorage/zz_generated_storageaccounts_client.go
  sdk/storage/armstorage/zz_generated_table_client.go
  sdk/storage/armstorage/zz_generated_tableservices_client.go
  sdk/storage/armstorage/zz_generated_time_rfc3339.go
  sdk/storage/armstorage/zz_generated_usages_client.go
Labels: Storage

#15444 Release armcontainerregistry v0.2.0
  sdk/containerregistry/armcontainerregistry/CHANGELOG.md
  sdk/containerregistry/armcontainerregistry/README.md
  sdk/containerregistry/armcontainerregistry/_meta.json
  sdk/containerregistry/armcontainerregistry/autorest.md
  sdk/containerregistry/armcontainerregistry/build.go
  sdk/containerregistry/armcontainerregistry/ci.yml
  sdk/containerregistry/armcontainerregistry/go.mod
  sdk/containerregistry/armcontainerregistry/go.sum
  sdk/containerregistry/armcontainerregistry/go_mod_tidy_hack.go
  sdk/containerregistry/armcontainerregistry/zz_generated_agentpools_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_connectedregistries_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_constants.go
  sdk/containerregistry/armcontainerregistry/zz_generated_exportpipelines_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_importpipelines_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_models.go
  sdk/containerregistry/armcontainerregistry/zz_generated_operations_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_pagers.go
  sdk/containerregistry/armcontainerregistry/zz_generated_pipelineruns_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_pollers.go
  sdk/containerregistry/armcontainerregistry/zz_generated_polymorphic_helpers.go
  sdk/containerregistry/armcontainerregistry/zz_generated_privateendpointconnections_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_registries_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_replications_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_response_types.go
  sdk/containerregistry/armcontainerregistry/zz_generated_runs_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_scopemaps_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_taskruns_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_tasks_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_time_rfc3339.go
  sdk/containerregistry/armcontainerregistry/zz_generated_tokens_client.go
  sdk/containerregistry/armcontainerregistry/zz_generated_webhooks_client.go
Labels: Container Registry

#15445 Release armservicebus v0.2.0
  sdk/servicebus/armservicebus/CHANGELOG.md
  sdk/servicebus/armservicebus/README.md
  sdk/servicebus/armservicebus/autorest.md
  sdk/servicebus/armservicebus/build.go
  sdk/servicebus/armservicebus/go.mod
  sdk/servicebus/armservicebus/go.sum
  sdk/servicebus/armservicebus/go_mod_tidy_hack.go
  sdk/servicebus/armservicebus/zz_generated_constants.go
  sdk/servicebus/armservicebus/zz_generated_disasterrecoveryconfigs_client.go
  sdk/servicebus/armservicebus/zz_generated_eventhubs_client.go
  sdk/servicebus/armservicebus/zz_generated_migrationconfigs_client.go
  sdk/servicebus/armservicebus/zz_generated_models.go
  sdk/servicebus/armservicebus/zz_generated_namespaces_client.go
  sdk/servicebus/armservicebus/zz_generated_operations_client.go
  sdk/servicebus/armservicebus/zz_generated_pagers.go
  sdk/servicebus/armservicebus/zz_generated_pollers.go
  sdk/servicebus/armservicebus/zz_generated_premiummessagingregions_client.go
  sdk/servicebus/armservicebus/zz_generated_privateendpointconnections_client.go
  sdk/servicebus/armservicebus/zz_generated_privatelinkresources_client.go
  sdk/servicebus/armservicebus/zz_generated_queues_client.go
  sdk/servicebus/armservicebus/zz_generated_regions_client.go
  sdk/servicebus/armservicebus/zz_generated_response_types.go
  sdk/servicebus/armservicebus/zz_generated_rules_client.go
  sdk/servicebus/armservicebus/zz_generated_subscriptions_client.go
  sdk/servicebus/armservicebus/zz_generated_time_rfc3339.go
  sdk/servicebus/armservicebus/zz_generated_topics_client.go
Labels: Service Bus

#15464 Release armeventhub v0.2.0
  sdk/eventhub/armeventhub/CHANGELOG.md
  sdk/eventhub/armeventhub/README.md
  sdk/eventhub/armeventhub/autorest.md
  sdk/eventhub/armeventhub/build.go
  sdk/eventhub/armeventhub/go.mod
  sdk/eventhub/armeventhub/go.sum
  sdk/eventhub/armeventhub/go_mod_tidy_hack.go
  sdk/eventhub/armeventhub/zz_generated_clusters_client.go
  sdk/eventhub/armeventhub/zz_generated_configuration_client.go
  sdk/eventhub/armeventhub/zz_generated_constants.go
  sdk/eventhub/armeventhub/zz_generated_consumergroups_client.go
  sdk/eventhub/armeventhub/zz_generated_disasterrecoveryconfigs_client.go
  sdk/eventhub/armeventhub/zz_generated_eventhubs_client.go
  sdk/eventhub/armeventhub/zz_generated_models.go
  sdk/eventhub/armeventhub/zz_generated_namespaces_client.go
  sdk/eventhub/armeventhub/zz_generated_operations_client.go
  sdk/eventhub/armeventhub/zz_generated_pagers.go
  sdk/eventhub/armeventhub/zz_generated_pollers.go
  sdk/eventhub/armeventhub/zz_generated_privateendpointconnections_client.go
  sdk/eventhub/armeventhub/zz_generated_privatelinkresources_client.go
  sdk/eventhub/armeventhub/zz_generated_regions_client.go
  sdk/eventhub/armeventhub/zz_generated_response_types.go
  sdk/eventhub/armeventhub/zz_generated_time_rfc3339.go
Labels: Event Hubs

#15465 Release armcosmos v0.2.0
  sdk/cosmos/armcosmos/CHANGELOG.md
  sdk/cosmos/armcosmos/README.md
  sdk/cosmos/armcosmos/autorest.md
  sdk/cosmos/armcosmos/build.go
  sdk/cosmos/armcosmos/go.mod
  sdk/cosmos/armcosmos/go.sum
  sdk/cosmos/armcosmos/go_mod_tidy_hack.go
  sdk/cosmos/armcosmos/zz_generated_cassandraresources_client.go
  sdk/cosmos/armcosmos/zz_generated_collection_client.go
  sdk/cosmos/armcosmos/zz_generated_collectionpartition_client.go
  sdk/cosmos/armcosmos/zz_generated_collectionpartitionregion_client.go
  sdk/cosmos/armcosmos/zz_generated_collectionregion_client.go
  sdk/cosmos/armcosmos/zz_generated_constants.go
  sdk/cosmos/armcosmos/zz_generated_database_client.go
  sdk/cosmos/armcosmos/zz_generated_databaseaccountregion_client.go
  sdk/cosmos/armcosmos/zz_generated_databaseaccounts_client.go
  sdk/cosmos/armcosmos/zz_generated_gremlinresources_client.go
  sdk/cosmos/armcosmos/zz_generated_models.go
  sdk/cosmos/armcosmos/zz_generated_mongodbresources_client.go
  sdk/cosmos/armcosmos/zz_generated_notebookworkspaces_client.go
  sdk/cosmos/armcosmos/zz_generated_operations_client.go
  sdk/cosmos/armcosmos/zz_generated_pagers.go
  sdk/cosmos/armcosmos/zz_generated_partitionkeyrangeid_client.go
  sdk/cosmos/armcosmos/zz_generated_partitionkeyrangeidregion_client.go
  sdk/cosmos/armcosmos/zz_generated_percentile_client.go
  sdk/cosmos/armcosmos/zz_generated_percentilesourcetarget_client.go
  sdk/cosmos/armcosmos/zz_generated_percentiletarget_client.go
  sdk/cosmos/armcosmos/zz_generated_pollers.go
  sdk/cosmos/armcosmos/zz_generated_polymorphic_helpers.go
  sdk/cosmos/armcosmos/zz_generated_privateendpointconnections_client.go
  sdk/cosmos/armcosmos/zz_generated_privatelinkresources_client.go
  sdk/cosmos/armcosmos/zz_generated_response_types.go
  sdk/cosmos/armcosmos/zz_generated_restorabledatabaseaccounts_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablemongodbcollections_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablemongodbdatabases_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablemongodbresources_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablesqlcontainers_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablesqldatabases_client.go
  sdk/cosmos/armcosmos/zz_generated_restorablesqlresources_client.go
  sdk/cosmos/armcosmos/zz_generated_sqlresources_client.go
  sdk/cosmos/armcosmos/zz_generated_tableresources_client.go
  sdk/cosmos/armcosmos/zz_generated_time_rfc3339.go
Labels: Cosmos

#15469 Release armeventgrid v0.2.0
  sdk/eventgrid/armeventgrid/CHANGELOG.md
  sdk/eventgrid/armeventgrid/README.md
  sdk/eventgrid/armeventgrid/autorest.md
  sdk/eventgrid/armeventgrid/build.go
  sdk/eventgrid/armeventgrid/go.mod
  sdk/eventgrid/armeventgrid/go.sum
  sdk/eventgrid/armeventgrid/go_mod_tidy_hack.go
  sdk/eventgrid/armeventgrid/zz_generated_constants.go
  sdk/eventgrid/armeventgrid/zz_generated_domains_client.go
  sdk/eventgrid/armeventgrid/zz_generated_domaintopics_client.go
  sdk/eventgrid/armeventgrid/zz_generated_eventchannels_client.go
  sdk/eventgrid/armeventgrid/zz_generated_eventsubscriptions_client.go
  sdk/eventgrid/armeventgrid/zz_generated_extensiontopics_client.go
  sdk/eventgrid/armeventgrid/zz_generated_models.go
  sdk/eventgrid/armeventgrid/zz_generated_operations_client.go
  sdk/eventgrid/armeventgrid/zz_generated_pagers.go
  sdk/eventgrid/armeventgrid/zz_generated_partnernamespaces_client.go
  sdk/eventgrid/armeventgrid/zz_generated_partnerregistrations_client.go
  sdk/eventgrid/armeventgrid/zz_generated_partnertopiceventsubscriptions_client.go
  sdk/eventgrid/armeventgrid/zz_generated_partnertopics_client.go
  sdk/eventgrid/armeventgrid/zz_generated_pollers.go
  sdk/eventgrid/armeventgrid/zz_generated_polymorphic_helpers.go
  sdk/eventgrid/armeventgrid/zz_generated_privateendpointconnections_client.go
  sdk/eventgrid/armeventgrid/zz_generated_privatelinkresources_client.go
  sdk/eventgrid/armeventgrid/zz_generated_response_types.go
  sdk/eventgrid/armeventgrid/zz_generated_systemtopiceventsubscriptions_client.go
  sdk/eventgrid/armeventgrid/zz_generated_systemtopics_client.go
  sdk/eventgrid/armeventgrid/zz_generated_time_rfc3339.go
  sdk/eventgrid/armeventgrid/zz_generated_topics_client.go
  sdk/eventgrid/armeventgrid/zz_generated_topictypes_client.go
Labels: Event Grid

#15501 Sync eng/common directory with azure-sdk-tools for PR 1986
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#15506 Sync eng/common directory with azure-sdk-tools for PR 1982
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: EngSys, Central-EngSys

#15500 Update changelog for azidentity 0.11.0
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Client, Azure.Identity

#15509 Updated README.md
  sdk/storage/azblob/README.md
Labels: Storage

#15517 Sync eng/common directory with azure-sdk-tools for PR 1977
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#15523 Filter CI builds by service directory
  eng/pipelines/templates/steps/build-test.yml
Labels: EngSys, Central-EngSys

#15452 Remove rungas.sh script
  rungas.sh
Labels: Central-EngSys

#15514 Sync eng/common directory with azure-sdk-tools for PR 1995
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#15519 failing if go build/vet do not succeed
  eng/scripts/build.ps1
Labels: auto-merge

#15505 [Tables] Improve testing
  eng/config.json
  sdk/data/aztables/client.go
  sdk/data/aztables/client_test.go
  sdk/data/aztables/entity_test.go
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/recordings/TestBatchAdd/TestBatchAdd_cosmos.json
  sdk/data/aztables/recordings/TestBatchAdd/TestBatchAdd_storage.json
  sdk/data/aztables/recordings/TestBatchComplex/TestBatchComplex_cosmos.json
  sdk/data/aztables/recordings/TestBatchComplex/TestBatchComplex_storage.json
  sdk/data/aztables/recordings/TestBatchError/TestBatchError_cosmos.json
  sdk/data/aztables/recordings/TestBatchError/TestBatchError_storage.json
  sdk/data/aztables/recordings/TestBatchMixed/TestBatchMixed_cosmos.json
  sdk/data/aztables/recordings/TestBatchMixed/TestBatchMixed_storage.json
  sdk/data/aztables/recordings/TestDeleteEntityWithETag/TestDeleteEntityWithETag_cosmos.json
  sdk/data/aztables/recordings/TestDeleteEntityWithETag/TestDeleteEntityWithETag_storage.json
  sdk/data/aztables/recordings/TestEntityQuotes/TestEntityQuotes_cosmos.json
  sdk/data/aztables/recordings/TestEntityQuotes/TestEntityQuotes_storage.json
  sdk/data/aztables/recordings/TestEntityUnicode/TestEntityUnicode_cosmos.json
  sdk/data/aztables/recordings/TestEntityUnicode/TestEntityUnicode_storage.json
  sdk/data/aztables/recordings/TestGetStatistics.json
  sdk/data/aztables/recordings/TestInsertEntityTwice/TestInsertEntityTwice_cosmos.json
  sdk/data/aztables/recordings/TestInsertEntityTwice/TestInsertEntityTwice_storage.json
  sdk/data/aztables/recordings/TestMergeEntityDoesNotExist/TestMergeEntityDoesNotExist_cosmos.json
  sdk/data/aztables/recordings/TestMergeEntityDoesNotExist/TestMergeEntityDoesNotExist_storage.json
  sdk/data/aztables/sas_account_test.go
  sdk/data/aztables/sas_query_params.go
  sdk/data/aztables/sas_query_params_test.go
  sdk/data/aztables/service_client_test.go
  sdk/data/aztables/transaction_batch_test.go
  sdk/data/aztables/zt_table_recorded_tests.go
Labels: Tables

#15538 Cosmos DB - Lint errors
  sdk/cosmos/azcosmos/async_cache_test.go
  sdk/cosmos/azcosmos/cosmos_error_test.go
  sdk/cosmos/azcosmos/cosmos_paths_test.go
  sdk/cosmos/azcosmos/doc.go
  sdk/cosmos/azcosmos/resource_type.go
  sdk/cosmos/azcosmos/shared_key_credential.go
  sdk/cosmos/azcosmos/throughput_properties.go
  sdk/cosmos/azcosmos/throughput_response.go
Labels: Cosmos

#15480 [service-bus] Adding in batch receiving using the Receiver and manual credit APIs
  sdk/servicebus/azservicebus/client.go
  sdk/servicebus/azservicebus/errors.go
  sdk/servicebus/azservicebus/errors_test.go
  sdk/servicebus/azservicebus/go.mod
  sdk/servicebus/azservicebus/go.sum
  sdk/servicebus/azservicebus/internal/fakes.go
  sdk/servicebus/azservicebus/internal/main_test.go
  sdk/servicebus/azservicebus/internal/message_session.go
  sdk/servicebus/azservicebus/internal/namespace_test.go
  sdk/servicebus/azservicebus/internal/queue.go
  sdk/servicebus/azservicebus/internal/queue_examples_test.go
  sdk/servicebus/azservicebus/internal/receiver.go
  sdk/servicebus/azservicebus/internal/session.go
  sdk/servicebus/azservicebus/internal/session_test.go
  sdk/servicebus/azservicebus/internal/subscription.go
  sdk/servicebus/azservicebus/internal/test/test.go
  sdk/servicebus/azservicebus/internal/utils/sync.go
  sdk/servicebus/azservicebus/linkCommon.go
  sdk/servicebus/azservicebus/main_test.go
  sdk/servicebus/azservicebus/message.go
  sdk/servicebus/azservicebus/processor.go
  sdk/servicebus/azservicebus/processor_test.go
  sdk/servicebus/azservicebus/receiver.go
  sdk/servicebus/azservicebus/receiver_test.go
  sdk/servicebus/azservicebus/retry.go
  sdk/servicebus/azservicebus/sample.env
  sdk/servicebus/azservicebus/samples/processor/processor_sample.go
  sdk/servicebus/azservicebus/sender.go
  sdk/servicebus/azservicebus/stress/Dockerfile
  sdk/servicebus/azservicebus/stress/stress.go
Labels: Service Bus

#15544 Added doc.go and README.md
  sdk/storage/azblob/README.md
  sdk/storage/azblob/doc.go
  sdk/storage/azblob/highlevel.go
  sdk/storage/azblob/swagger/README.md
Labels: Storage

#15521 Sync eng/common directory with azure-sdk-tools for PR 1983
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#15539 Sync eng/common directory with azure-sdk-tools for PR 1946
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: EngSys, Central-EngSys

#15547 Sync eng/common directory with azure-sdk-tools for PR 2006
  eng/common/scripts/SemVer.ps1
Labels: EngSys, Central-EngSys

#15548 Sync eng/common directory with azure-sdk-tools for PR 1979
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#15456 Merge live and ci test stage templates
  eng/pipelines/prepare-pipelines.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/build-test.yml
  sdk/data/aztables/ci.yml
  sdk/data/aztables/test-resources.json
Labels: Central-EngSys

#15549 [azcore] adding client request id policy
  sdk/azcore/runtime/policy_request_id.go
  sdk/azcore/runtime/policy_request_id_test.go
Labels: Azure.Core

#15551 [Tables] fixing batch tests
  sdk/data/aztables/recordings/TestBatchAdd/TestBatchAdd_cosmos.json
  sdk/data/aztables/recordings/TestBatchAdd/TestBatchAdd_storage.json
  sdk/data/aztables/recordings/TestBatchComplex/TestBatchComplex_cosmos.json
  sdk/data/aztables/recordings/TestBatchComplex/TestBatchComplex_storage.json
  sdk/data/aztables/recordings/TestBatchError/TestBatchError_cosmos.json
  sdk/data/aztables/recordings/TestBatchError/TestBatchError_storage.json
  sdk/data/aztables/recordings/TestBatchMixed/TestBatchMixed_cosmos.json
  sdk/data/aztables/recordings/TestBatchMixed/TestBatchMixed_storage.json
  sdk/data/aztables/transaction_batch_test.go
Labels: Tables

#15559 Sync eng/common directory with azure-sdk-tools for PR 2008
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#15552 Sync eng/common directory with azure-sdk-tools for PR 2009
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
Labels: EngSys, Central-EngSys

#15567 Sync eng/common directory with azure-sdk-tools for PR 2016
  eng/common/pipelines/templates/steps/verify-changelog.yml
Labels: EngSys, Central-EngSys

#15561 [service-bus] Allow sending of message batches
  sdk/servicebus/azservicebus/client.go
  sdk/servicebus/azservicebus/example_sending_message_batch_test.go
  sdk/servicebus/azservicebus/go.mod
  sdk/servicebus/azservicebus/go.sum
  sdk/servicebus/azservicebus/internal/batch.go
  sdk/servicebus/azservicebus/internal/batch_test.go
  sdk/servicebus/azservicebus/internal/batching_example_test.go
  sdk/servicebus/azservicebus/internal/queue.go
  sdk/servicebus/azservicebus/internal/queue_test.go
  sdk/servicebus/azservicebus/internal/sender.go
  sdk/servicebus/azservicebus/internal/session.go
  sdk/servicebus/azservicebus/internal/session_test.go
  sdk/servicebus/azservicebus/internal/topic.go
  sdk/servicebus/azservicebus/message.go
  sdk/servicebus/azservicebus/messageBatch.go
  sdk/servicebus/azservicebus/messageBatch_test.go
  sdk/servicebus/azservicebus/message_test.go
  sdk/servicebus/azservicebus/processor.go
  sdk/servicebus/azservicebus/processor_test.go
  sdk/servicebus/azservicebus/receiver_test.go
  sdk/servicebus/azservicebus/sender.go
  sdk/servicebus/azservicebus/sender_test.go
Labels: Service Bus

#15565 Sync eng/common directory with azure-sdk-tools for PR 2011
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#15584 Sync eng/common directory with azure-sdk-tools for PR 2010
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#15592 [Tables] patch
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/ci.yml
  sdk/data/aztables/transactional_batch.go
Labels: Tables, auto-merge

#15593 Use correct live test secrets variable group ID in prepare pipelines
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys

#15590 Add version info to unblock EngSys
  sdk/synapse/azartifacts/version.go
Labels: Synapse

#15594 Add branch filters to ci.yml files
  sdk/agrifood/armagrifood/ci.yml
  sdk/apimanagement/armapimanagement/ci.yml
  sdk/authorization/armauthorization/ci.yml
  sdk/azcore/ci.yml
  sdk/azidentity/ci.yml
  sdk/compute/armcompute/ci.yml
  sdk/containerregistry/armcontainerregistry/ci.yml
  sdk/containerservice/armcontainerservice/ci.yml
  sdk/cosmos/armcosmos/ci.yml
  sdk/data/aztables/ci.yml
  sdk/eventgrid/armeventgrid/ci.yml
  sdk/eventhub/armeventhub/ci.yml
  sdk/internal/ci.yml
  sdk/keyvault/armkeyvault/ci.yml
  sdk/monitor/armmonitor/ci.yml
  sdk/network/armnetwork/ci.yml
  sdk/operationalinsights/armoperationalinsights/ci.yml
  sdk/postgresql/armpostgresql/ci.yml
  sdk/postgresql/armpostgresqlflexibleservers/ci.yml
  sdk/privatedns/armprivatedns/ci.yml
  sdk/redis/armredis/ci.yml
  sdk/resources/armresources/ci.yml
  sdk/samples/ci.yml
  sdk/servicebus/armservicebus/ci.yml
  sdk/sql/armsql/ci.yml
  sdk/storage/armstorage/ci.yml
  sdk/storage/azblob/ci.yml
  sdk/synapse/azartifacts/ci.yml
  sdk/web/armweb/ci.yml
  tools/apidiff/ci.yml
  tools/deprecate/ci.yml
  tools/generator/ci.yml
  tools/generator/template/rpName/packageName/ci.yml.tpl
  tools/indexer/ci.yml
  tools/internal/ci.yml
  tools/pkgchk/ci.yml
  tools/profileBuilder/ci.yml
Labels: Central-EngSys

#15574 Add type for credential authority hosts
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/aad_identity_client.go
  sdk/azidentity/aad_identity_client_test.go
  sdk/azidentity/authorization_code_credential.go
  sdk/azidentity/authorization_code_credential_test.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/bearer_token_policy_test.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
Labels: Client, Azure.Identity

#15597 [Tables] Fix ClientOptions struct
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/zc_client_options.go
Labels: Tables, auto-merge

#15591 Add ChainedTokenCredentialOptions
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/default_azure_credential.go
Labels: Client, Azure.Identity

#15606 Sync eng/common directory with azure-sdk-tools for PR 2025
  eng/common/scripts/Collect-ChangeLogs.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: EngSys, Central-EngSys

#15595 Remove samples ci.yml file
  sdk/samples/ci.yml
Labels: Central-EngSys

#15619 Remove credential exclusion switches from DefaultAzureCredentialOptions
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Labels: Client, Azure.Identity

#15604 NewClientCertificateCredential requires certificate bytes instead of path
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/testdata/certificate.pfx
  sdk/azidentity/testdata/certificate_encrypted_key.pfx
  sdk/azidentity/testdata/certificate_formatA.pem
Labels: Client, Azure.Identity

#15635 Sync eng/common directory with azure-sdk-tools for PR 2035
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#15640 Sync eng/common directory with azure-sdk-tools for PR 2031
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#15634 Remove ClientSecret and Port from browser credential options
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/aad_identity_client.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/interactive_browser_server.go
Labels: Client, Azure.Identity

#15620 Sync eng/common directory with azure-sdk-tools for PR 2027
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#15636 Sync eng/common directory with azure-sdk-tools for PR 2039
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#15660 Remove azidentity.AADAuthenticationFailedError
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/aad_identity_client.go
  sdk/azidentity/authorization_code_credential_test.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/version.go
Labels: Client, Azure.Identity

#15648 Remove azcore.Credential, add BearerTokenPolicy to azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/connection.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/credential.go
  sdk/azcore/policy_anonymous_credential.go
  sdk/azcore/policy_anonymous_credential_test.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Client, Azure.Core

#15669 Cosmos DB - Enabling emulator tests
  sdk/data/azcosmos/ci.yml
Labels: Cosmos

#15659 [Tables] release prep for aztables
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/zc_client_options.go
Labels: Client, Tables, auto-merge
