Repository Azure/azure-sdk-for-go, pull requests merged in 2021-10, with the labels that each got.

#15677 Remove NewAuthenticationPolicy from credentials
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/authorization_code_credential.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/bearer_token_policy.go
  sdk/azidentity/bearer_token_policy_test.go
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/username_password_credential.go
Labels: Client, Azure.Identity

#15685 Sync eng/common directory with azure-sdk-tools for PR 2060
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#15690 [service-bus] Additional recovery code
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/namespace.go
  sdk/messaging/azservicebus/internal/tracing.go
  sdk/messaging/azservicebus/internal/utils/stderrTracer.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/processor.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/stress/buildstress.bat
  sdk/messaging/azservicebus/stress/go-secret.yaml
  sdk/messaging/azservicebus/stress/job.yaml
  sdk/messaging/azservicebus/stress/stress.go
Labels: Service Bus

#15694 [Tables] fixing link
  eng/pipelines/templates/steps/build-test.yml
  sdk/data/aztables/README.md
Labels: Tables, auto-merge

#15637 Move NewManagedIdentityCredential's id parameter into ManagedIdentityCredentialOptions
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Client, Azure.Identity

#15689 [service-bus] Examples and polish for the first release of the Service Bus beta
  sdk/messaging/azservicebus/.gitignore
  sdk/messaging/azservicebus/CONTRIBUTING.md
  sdk/messaging/azservicebus/Makefile
  sdk/messaging/azservicebus/README.md
  sdk/messaging/azservicebus/changelog.md
  sdk/messaging/azservicebus/eng/azure-pipelines.yml
  sdk/messaging/azservicebus/eng/integration_tests.yml
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/example_processor_test.go
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/example_sender_test.go
  sdk/messaging/azservicebus/example_shared_test.go
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/namespace.go
  sdk/messaging/azservicebus/processor.go
  sdk/messaging/azservicebus/sample.env
Labels: Service Bus

#15706 Sync eng/common directory with azure-sdk-tools for PR 2071
  eng/common/testproxy/docker-start-proxy.ps1
Labels: EngSys, Central-EngSys

#15705 Refactor azcosmos client constructor
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_connection.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/shared_key_credential.go
Labels: Cosmos, Client

#15603 [KeyVault] azsecrets
  eng/config.json
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/autorest.md
  sdk/keyvault/azsecrets/ci.yml
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/consts.go
  sdk/keyvault/azsecrets/doc.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/internal/connection.go
  sdk/keyvault/azsecrets/internal/constants.go
  sdk/keyvault/azsecrets/internal/hsmsecuritydomain_client.go
  sdk/keyvault/azsecrets/internal/keyvaultclient_client.go
  sdk/keyvault/azsecrets/internal/models.go
  sdk/keyvault/azsecrets/internal/pagers.go
  sdk/keyvault/azsecrets/internal/pollers.go
  sdk/keyvault/azsecrets/internal/response_types.go
  sdk/keyvault/azsecrets/internal/roleassignments_client.go
  sdk/keyvault/azsecrets/internal/roledefinitions_client.go
  sdk/keyvault/azsecrets/internal/time_unix.go
  sdk/keyvault/azsecrets/models.go
  sdk/keyvault/azsecrets/recordings/TestBackupSecret.json
  sdk/keyvault/azsecrets/recordings/TestBeginRecoverDeletedSecret.json
  sdk/keyvault/azsecrets/recordings/TestDeleteSecret.json
  sdk/keyvault/azsecrets/recordings/TestListDeletedSecrets.json
  sdk/keyvault/azsecrets/recordings/TestListSecretVersions.json
  sdk/keyvault/azsecrets/recordings/TestListSecrets.json
  sdk/keyvault/azsecrets/recordings/TestPurgeDeletedSecret.json
  sdk/keyvault/azsecrets/recordings/TestSetGetSecret.json
  sdk/keyvault/azsecrets/recordings/TestUpdateSecretProperties.json
  sdk/keyvault/azsecrets/test-resources-post.ps1
  sdk/keyvault/azsecrets/test-resources.json
  sdk/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#15695 Sync eng/common directory with azure-sdk-tools for PR 2065
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#15709 Fixing changelog
  sdk/data/aztables/CHANGELOG.md
Labels: Tables, auto-merge

#15710 Update CHANGELOG.md
  sdk/keyvault/azsecrets/CHANGELOG.md
Labels: KeyVault

#15724 Update CODEOWNERS
  .github/CODEOWNERS
Labels: auto-merge

#15716 Sync eng/common directory with azure-sdk-tools for PR 2068
  eng/common/pipelines/templates/steps/devops-variables-clear.yml
  eng/common/pipelines/templates/steps/devops-variables-set.yml
Labels: EngSys, Central-EngSys

#15725 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/internal/constants.go
Labels: KeyVault, auto-merge

#15980 [azservicebus] Make ReceiveMessages overall timeout is controlled by ctx
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus, Client
