Repository Azure/azure-sdk-for-go, pull requests merged in 2022-04, with the labels that each got.

#17427 Sync eng/common directory with azure-sdk-tools for PR 2967
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#17428 Sync eng/common directory with azure-sdk-tools for PR 2966
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#17439 Remove empty changelog section
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#17445 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#17442 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: auto-merge

#17402 [KeyVault] Updating internal to go1.18
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/challenge_policy_test.go
  sdk/keyvault/internal/constants.go
  sdk/keyvault/internal/doc.go
  sdk/keyvault/internal/expiring_resource.go
  sdk/keyvault/internal/expiring_resource_test.go
  sdk/keyvault/internal/go.mod
  sdk/keyvault/internal/go.sum
  sdk/keyvault/internal/parse.go
  sdk/keyvault/internal/parse_test.go
Labels: KeyVault

#17446 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#17360 [Tables] GA Preparation
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/README.md
  sdk/data/aztables/autorest.md
  sdk/data/aztables/client.go
  sdk/data/aztables/client_test.go
  sdk/data/aztables/constants.go
  sdk/data/aztables/doc.go
  sdk/data/aztables/entity_test.go
  sdk/data/aztables/example_test.go
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/internal/constants.go
  sdk/data/aztables/internal/models.go
  sdk/data/aztables/internal/models_serde.go
  sdk/data/aztables/internal/response_types.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/models.go
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/sas_query_params.go
  sdk/data/aztables/sas_service.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/service_client_test.go
  sdk/data/aztables/shared_access_signature_test.go
  sdk/data/aztables/testdata/recordings/TestListTables/TestListTables_cosmos.json
  sdk/data/aztables/testdata/recordings/TestListTables/TestListTables_storage.json
  sdk/data/aztables/testdata/recordings/TestSetCors.json
  sdk/data/aztables/testdata/recordings/TestSetHoursMetrics.json
  sdk/data/aztables/testdata/recordings/TestSetLogging.json
  sdk/data/aztables/testdata/recordings/TestSetMinuteMetrics.json
  sdk/data/aztables/transaction_batch_test.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#17456 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#17453 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: auto-merge

#17397 [Keyvault] `azsecrets` GA readiness
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/build.go
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/consts.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/internal/constants.go
  sdk/keyvault/azsecrets/internal/keyvault_client.go
  sdk/keyvault/azsecrets/internal/pagers.go
  sdk/keyvault/azsecrets/models.go
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginDeleteSecretRehydrated.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginRecoverDeletedSecretRehydrated.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSecretTags.json
  sdk/keyvault/azsecrets/utils_test.go
Labels: KeyVault

#17462 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/internal/constants.go
Labels: KeyVault, auto-merge

#17465 [KeyVault] Removing blank sections
  sdk/keyvault/azcertificates/CHANGELOG.md
Labels: KeyVault

#17398 [Keyvault] `azkeys` GA preparation
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/autorest.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/constants.go
  sdk/keyvault/azkeys/constants_test.go
  sdk/keyvault/azkeys/crypto/constants.go
  sdk/keyvault/azkeys/crypto/crypto_client.go
  sdk/keyvault/azkeys/crypto/crypto_client_test.go
  sdk/keyvault/azkeys/crypto/examples_test.go
  sdk/keyvault/azkeys/crypto/models.go
  sdk/keyvault/azkeys/crypto/utils_test.go
  sdk/keyvault/azkeys/doc.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azkeys/internal/generated/constants.go
  sdk/keyvault/azkeys/internal/generated/keyvault_client.go
  sdk/keyvault/azkeys/internal/generated/models.go
  sdk/keyvault/azkeys/internal/generated/models_serde.go
  sdk/keyvault/azkeys/internal/generated/pagers.go
  sdk/keyvault/azkeys/internal/generated/response_types.go
  sdk/keyvault/azkeys/internal/generated/time_unix.go
  sdk/keyvault/azkeys/models.go
  sdk/keyvault/azkeys/platform-matrix.json
  sdk/keyvault/azkeys/testdata/recordings/TestBeginDeleteKeyRehydrate.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSATags.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyPropertiesImmutable/TestUpdateKeyPropertiesImmutable_NON-HSM.json
  sdk/keyvault/azkeys/utils_test.go
Labels: KeyVault

#17467 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/internal/generated/constants.go
Labels: KeyVault, auto-merge

#17463 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#17468 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/internal/generated/constants.go
Labels: KeyVault, auto-merge

#17475 Sync eng/common directory with azure-sdk-tools for PR 3092
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#17323 [Perf] adding perf tests back
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/main.go
  sdk/storage/azblob/testdata/perf/shared.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Labels: Storage

#17477 Replaced assert with require library.
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/zc_storage_error_test.go
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_bytes_writer_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_connection_string_test.go
  sdk/storage/azblob/zt_container_client_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_lease_client_test.go
  sdk/storage/azblob/zt_list_wrappers_test.go
  sdk/storage/azblob/zt_ors_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_retry_reader_test.go
  sdk/storage/azblob/zt_sas_query_params_test.go
  sdk/storage/azblob/zt_section_writer_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_shared_access_signature_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zt_url_parsing_test.go
Labels: Storage

#17496 Sync eng/common directory with azure-sdk-tools for PR 2963
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#17502 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: auto-merge

#17495 Rename PossibleGeoReplicationStatusTypeValues to match new type name
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/models.go
Labels: Client, Tables

#17521 Update keys README - fix formatting and repo links
  sdk/keyvault/azkeys/README.md
Labels: KeyVault

#17493 AppConfig: Fix HMAC auth for Germany West Central
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/policy_hmac_auth.go
Labels: Authentication, App Configuration

#17527 Sync eng/common directory with azure-sdk-tools for PR 3123
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#17526 Sync eng/common directory with azure-sdk-tools for PR 3124
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#17491 Prevent AzureCLICredential panic on unexpected error
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
Labels: Client, Azure.Identity

#17552 Test ClientCertificateCredential error cases
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/testdata/certificate-two-keys.pem
  sdk/azidentity/testdata/certificate-wrong-key.pem
Labels: Azure.Identity, test-enhancement

#17571 [Tables] improving testing for access policies
  sdk/data/aztables/access_policy_test.go
  sdk/data/aztables/client.go
  sdk/data/aztables/testdata/recordings/TestSetAccessPolicy.json
  sdk/data/aztables/testdata/recordings/TestSetEmptyAccessPolicy.json
  sdk/data/aztables/testdata/recordings/TestSetNullAccessPolicy.json
Labels: Tables

#17573 GetToken() returns an error when the caller specifies no scope
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity

#17401 Sync eng/common directory with azure-sdk-tools for PR 3000
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#17592 [Core] updating changelog for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#17593 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#17492 [KeyVault] Adding performance tests
  sdk/keyvault/azcertificates/testdata/perf/get_certificate.go
  sdk/keyvault/azcertificates/testdata/perf/go.mod
  sdk/keyvault/azcertificates/testdata/perf/go.sum
  sdk/keyvault/azcertificates/testdata/perf/main.go
  sdk/keyvault/azkeys/testdata/perf/decrypt.go
  sdk/keyvault/azkeys/testdata/perf/get_key.go
  sdk/keyvault/azkeys/testdata/perf/go.mod
  sdk/keyvault/azkeys/testdata/perf/go.sum
  sdk/keyvault/azkeys/testdata/perf/main.go
  sdk/keyvault/azkeys/testdata/perf/sign.go
  sdk/keyvault/azkeys/testdata/perf/unwrap.go
  sdk/keyvault/azsecrets/testdata/perf/get_secret.go
  sdk/keyvault/azsecrets/testdata/perf/go.mod
  sdk/keyvault/azsecrets/testdata/perf/go.sum
  sdk/keyvault/azsecrets/testdata/perf/list_secrets.go
  sdk/keyvault/azsecrets/testdata/perf/main.go
Labels: KeyVault, pillar-performance

#17577 Expose log constants via type-aliasing
  sdk/messaging/azservicebus/internal/log.go
  sdk/messaging/azservicebus/log.go
Labels: auto-merge

#17597 Sync eng/common directory with azure-sdk-tools for PR 3145
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#17574 Remove AuthorizationCodeCredential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/authorization_code_credential.go
  sdk/azidentity/authorization_code_credential_test.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#17614 Sync eng/common directory with azure-sdk-tools for PR 3153
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#17576 Rename LoginEndpoint to ActiveDirectoryAuthorityHost
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/cloud/cloud.go
  sdk/azcore/cloud/doc.go
  sdk/azcore/internal/shared/constants.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity, Azure.Core

#17647 Added Changelogs, Examples, and reformatting API
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/chunkwriting.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/doc.go
  sdk/storage/azblob/highlevel.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
  sdk/storage/azblob/transfer_manager.go
  sdk/storage/azblob/zm_client_util.go
  sdk/storage/azblob/zm_highlevel_util.go
  sdk/storage/azblob/zm_service_client_util.go
  sdk/storage/azblob/zt_chunkwriting_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#17656 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/zz_generated_constants.go
Labels: Storage, auto-merge

#17104 Add Functions managed identity test program
  sdk/samples/azidentity/manual-tests/managed-identity/functions/.funcignore
  sdk/samples/azidentity/manual-tests/managed-identity/functions/HttpTrigger1/function.json
  sdk/samples/azidentity/manual-tests/managed-identity/functions/README.md
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/functions/handler.go
  sdk/samples/azidentity/manual-tests/managed-identity/functions/host.json
  sdk/samples/azidentity/manual-tests/managed-identity/functions/local.settings.json
Labels: Azure.Identity, test-enhancement

#17640 Remove multi- and cross-tenant authentication API
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client_options.go
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/policy/policy.go
Labels: Azure.Core

#17659 Sync eng/common directory with azure-sdk-tools for PR 3160
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#17655 Add go cli native scanning for component governance
  azure-pipelines.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Central-EngSys

#17612 doc: update quickstart and migration guide
  documentation/MIGRATION_GUIDE.md
  documentation/new-version-quickstart.md
Labels: Docs, Mgmt

#17494 Add azidentity migration guide
  sdk/azidentity/MIGRATION.md
Labels: Docs, Azure.Identity

#17675 Increment version for appconfig/azappconfig releases
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/internal/generated/constants.go
Labels: auto-merge

#17678 Sync eng/common directory with azure-sdk-tools for PR 3169
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#17692 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: auto-merge

#17696 Sync eng/common directory with azure-sdk-tools for PR 3188
  eng/common/pipelines/templates/steps/publish-blobs.yml
Labels: EngSys, Central-EngSys

#17677 Renamed pager APIs per new guidelines
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/autorest.md
  sdk/keyvault/azcertificates/build.go
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/example_test.go
  sdk/keyvault/azcertificates/internal/generated/constants.go
  sdk/keyvault/azcertificates/internal/generated/keyvault_client.go
Labels: KeyVault

#17697 clean up docs
  sdk/keyvault/azcertificates/README.md
Labels: KeyVault

#17657 Cosmos DB: Add single partition query support
  .github/CODEOWNERS
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_headers.go
  sdk/data/azcosmos/cosmos_headers_policy.go
  sdk/data/azcosmos/cosmos_headers_policy_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/cosmos_query_request_options_test.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_query_response_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#17709 Removed dependency on TokenRequestOptions.TenantID
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/constants.go
  sdk/keyvault/internal/expiring_resource.go
  sdk/keyvault/internal/expiring_resource_test.go
Labels: KeyVault

#17710 prepare for release
  sdk/keyvault/internal/CHANGELOG.md
Labels: KeyVault

#17711 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#17733 Rename AzurePublicCloud -> AzurePublic
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/arm.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/pipeline_test.go
  sdk/azcore/cloud/cloud.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
Labels: Azure.Identity, Azure.Core

#17731 Sync eng/common directory with azure-sdk-tools for PR 3212
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  eng/pipelines/templates/steps/build-test.yml
Labels: EngSys, Central-EngSys

#17742 Cosmos DB: Add AAD authentication
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_policy_bearer_token.go
  sdk/data/azcosmos/cosmos_policy_bearer_token_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#17755 Sync eng/common directory with azure-sdk-tools for PR 3238
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  eng/pipelines/templates/steps/build-test.yml
Labels: EngSys, Central-EngSys

#17757 Sync eng/common directory with azure-sdk-tools for PR 3221
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#17756 Use absolute path to global.yml variables template
  azure-pipelines.yml
  eng/pipelines/templates/jobs/archetype-sdk-client-samples.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#17766 Sync eng/common directory with azure-sdk-tools for PR 3061
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#17772 Sync eng/common directory with azure-sdk-tools for PR 3250
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#17760 AppConfig: inline method parameters instead of using Setting struct
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/client.go
  sdk/appconfig/azappconfig/client_test.go
  sdk/appconfig/azappconfig/internal/generated/constants.go
Labels: App Configuration
