Repository Azure/azure-sdk-for-go, pull requests merged in 2022-01, with the labels that each got.

#16727 uncomment o.Progress(progress) in getDownloadBlobOptions()
  sdk/storage/azblob/highlevel.go
Labels: Storage, customer-reported

#16721 Updated azblob README sample code
  sdk/storage/azblob/README.md
Labels: Storage

#16689 [KeyVault] updating examples to use ClientSecretCredential, fix parsing keyID
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/crypto/crypto_client.go
  sdk/keyvault/azkeys/crypto/crypto_client_test.go
  sdk/keyvault/azkeys/crypto/utils_test.go
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azkeys/test-resources.json
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_Encrypt.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_EncryptDecrypt.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_SignVerify.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_WrapUnwrap.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateECKey/TestCreateECKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateECKey/TestCreateECKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSA/TestCreateKeyRSA_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSA/TestCreateKeyRSA_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateOCTKey/TestCreateOCTKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestDeleteKey/TestDeleteKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestDeleteKey/TestDeleteKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetDeletedKey/TestGetDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKey/TestGetKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKey/TestGetKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKeyRotationPolicy/TestGetKeyRotationPolicy_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetRandomBytes/TestGetRandomBytes_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/TestImportKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/TestImportKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/TestListDeletedKeys_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/TestListDeletedKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/TestListKeyVersions_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/TestListKeyVersions_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/TestListKeys_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/TestListKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/TestRecoverDeletedKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/TestRecoverDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestReleaseKey/TestReleaseKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRotateKey/TestRotateKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyRotationPolicy/TestUpdateKeyRotationPolicy_NON-HSM.json
  sdk/keyvault/azkeys/utils_test.go
  sdk/keyvault/internal/challenge_policy.go
Labels: KeyVault

#16730 Sync eng/common directory with azure-sdk-tools for PR 2464
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#16737 Make EndpointToScope resilient to subdomains
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Labels: ARM - Core

#16738 Add user assigned managed identity example to docs
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Docs, Azure.Identity

#16752 [KeyVault] fixing broken live test
  eng/config.json
  sdk/keyvault/azkeys/client_test.go
Labels: KeyVault

#16753 Sync eng/common directory with azure-sdk-tools for PR 2484
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#16555 Sync eng/common directory with azure-sdk-tools for PR 2416
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#16771 Add offline test for Azure Arc managed identity
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Client, Azure.Identity, test-enhancement

#16770 Rename armmanagedapplications ci.yml files to avoid pipeline name definition collisions
  sdk/resourcemanager/resources/armmanagedapplications/ci.resources.yml
  sdk/resourcemanager/solutions/armmanagedapplications/ci.solutions.yml
Labels: Central-EngSys

#16267 Refactor IMDS discovery to remove probing, stop caching failures
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/logging.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSClientIDLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSResourceIDLive.json
Labels: Azure.Identity

#16779 Sync eng/common directory with azure-sdk-tools for PR 2500
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#16794 [Core] Update Changelog.md
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core, auto-merge

#16798 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#16392 [azidentity] Making ChainedTokenCredential re-use the first successful credential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
Labels: Azure.Identity

#16777 Align authentication errors with azcore.ResponseError
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/errors.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/username_password_credential_test.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#16799 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#16731 [KeyVault] release ready for keyvault keys
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/autorest.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/constants.go
  sdk/keyvault/azkeys/constants_test.go
  sdk/keyvault/azkeys/crypto/crypto_client.go
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azkeys/internal/generated/connection.go
  sdk/keyvault/azkeys/internal/generated/constants.go
  sdk/keyvault/azkeys/internal/generated/hsmsecuritydomain_client.go
  sdk/keyvault/azkeys/internal/generated/keyvault_client.go
  sdk/keyvault/azkeys/internal/generated/models.go
  sdk/keyvault/azkeys/internal/generated/pagers.go
  sdk/keyvault/azkeys/internal/generated/pollers.go
  sdk/keyvault/azkeys/internal/generated/response_types.go
  sdk/keyvault/azkeys/internal/generated/roleassignments_client.go
  sdk/keyvault/azkeys/internal/generated/roledefinitions_client.go
  sdk/keyvault/azkeys/internal/generated/time_unix.go
  sdk/keyvault/azkeys/models.go
Labels: KeyVault

#16733 [Tables] preparing tables for release
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/autorest.md
  sdk/data/aztables/client.go
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/internal/connection.go
  sdk/data/aztables/internal/constants.go
  sdk/data/aztables/internal/models.go
  sdk/data/aztables/internal/response_types.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#16732 [KeyVault] prepare secrets for release
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/autorest.md
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/internal/connection.go
  sdk/keyvault/azsecrets/internal/constants.go
  sdk/keyvault/azsecrets/internal/hsmsecuritydomain_client.go
  sdk/keyvault/azsecrets/internal/keyvault_client.go
  sdk/keyvault/azsecrets/internal/models.go
  sdk/keyvault/azsecrets/internal/pagers.go
  sdk/keyvault/azsecrets/internal/pollers.go
  sdk/keyvault/azsecrets/internal/response_types.go
  sdk/keyvault/azsecrets/internal/roleassignments_client.go
  sdk/keyvault/azsecrets/internal/roledefinitions_client.go
  sdk/keyvault/azsecrets/models.go
Labels: KeyVault

#16784 Update azblob with the latest azcore
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/zc_blob_lease_client.go
  sdk/storage/azblob/zc_block_blob_client.go
  sdk/storage/azblob/zc_container_lease_client.go
  sdk/storage/azblob/zc_page_blob_client.go
  sdk/storage/azblob/zc_storage_error.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zz_generated_appendblob_client.go
  sdk/storage/azblob/zz_generated_blob_client.go
  sdk/storage/azblob/zz_generated_blockblob_client.go
  sdk/storage/azblob/zz_generated_connection.go
  sdk/storage/azblob/zz_generated_constants.go
  sdk/storage/azblob/zz_generated_container_client.go
  sdk/storage/azblob/zz_generated_directory_client.go
  sdk/storage/azblob/zz_generated_models.go
  sdk/storage/azblob/zz_generated_pageblob_client.go
  sdk/storage/azblob/zz_generated_pagers.go
  sdk/storage/azblob/zz_generated_service_client.go
Labels: Storage

#16804 Update CHANGELOG.md for release
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault

#16807 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: auto-merge

#16806 [KeyVaul] updating to latest internal for keyvault
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/testdata/recordings/TestBackupSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginRecoverDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestDeleteSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListDeletedSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecretVersions.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestPurgeDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSetGetSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestUpdateSecretProperties.json
Labels: KeyVault, auto-merge

#16808 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/internal/constants.go
Labels: KeyVault, auto-merge

#16810 [KeyVault] Keys - disabling broken tests
  eng/config.json
  sdk/keyvault/azkeys/client_test.go
Labels: KeyVault

#16818 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/internal/generated/constants.go
Labels: KeyVault, auto-merge

#16814 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#16827 Prepare for release of azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/README.md
  sdk/storage/azblob/chunkwriting.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/highlevel.go
  sdk/storage/azblob/zc_blob_lease_client.go
  sdk/storage/azblob/zc_block_blob_client.go
  sdk/storage/azblob/zc_container_client.go
  sdk/storage/azblob/zc_container_lease_client.go
  sdk/storage/azblob/zc_page_blob_client.go
  sdk/storage/azblob/zc_storage_error.go
  sdk/storage/azblob/zc_storage_error_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zz_generated_appendblob_client.go
  sdk/storage/azblob/zz_generated_blob_client.go
  sdk/storage/azblob/zz_generated_blockblob_client.go
  sdk/storage/azblob/zz_generated_connection.go
  sdk/storage/azblob/zz_generated_constants.go
  sdk/storage/azblob/zz_generated_container_client.go
  sdk/storage/azblob/zz_generated_directory_client.go
  sdk/storage/azblob/zz_generated_models.go
  sdk/storage/azblob/zz_generated_pageblob_client.go
  sdk/storage/azblob/zz_generated_pagers.go
  sdk/storage/azblob/zz_generated_service_client.go
Labels: Storage

#16840 Sync eng/common directory with azure-sdk-tools for PR 2554
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#16403 fix json model Path for Azure Data Lake Storage. Fix #16401
  services/storage/datalake/2019-10-31/storagedatalake/models.go
Labels: customer-reported

#16846 Sync eng/common directory with azure-sdk-tools for PR 2545
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#16847 Service Bus - unaligned 64-bit atomic operation when running on mips
  sdk/messaging/azservicebus/client.go
Labels: customer-reported

#16852 Add changelog entry
  sdk/messaging/azservicebus/CHANGELOG.md
Labels: auto-merge

#16878 Sync eng/common directory with azure-sdk-tools for PR 2592
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#16789 More resilient updating of ExpiringResource
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/expiring_resource.go
  sdk/azcore/internal/shared/expiring_resource_test.go
Labels: Azure.Core

#16876 Sync eng/common directory with azure-sdk-tools for PR 2585
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
Labels: EngSys, Central-EngSys

#16894 Sync eng/common directory with azure-sdk-tools for PR 2596
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: EngSys, Central-EngSys

#16895 Sync eng/common directory with azure-sdk-tools for PR 2578
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#16851 Changes for AZURE_CLIENT_SEND_CERTIFICATE_CHAIN
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/internal/mock/mock.go
Labels: Azure.Identity

#16905 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: auto-merge

#16910 Sync eng/common directory with azure-sdk-tools for PR 2581
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Labels: EngSys, Central-EngSys

#16904 Sync eng/common directory with azure-sdk-tools for PR 2599
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#16912 Update azidentity recordings
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_ConfidentialInvalidCodeLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_ConfidentialLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_PublicInvalidCodeLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_PublicLive.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_InvalidCertLive.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/PEM.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/PKCS12.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/SNI.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredential_InvalidSecretLive.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredential_Live.json
  sdk/azidentity/testdata/recordings/TestDeviceCodeCredential_Live.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_ClientSecretLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_InvalidClientSecretLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_InvalidPasswordLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_UserPasswordLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSClientIDLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSResourceIDLive.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredential_InvalidPasswordLive.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredential_Live.json
Labels: Azure.Identity

#16917 [KeyVault] Update recordings
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_EncryptDecrypt.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_SignVerify.json
  sdk/keyvault/azkeys/testdata/recordings/TestClient_WrapUnwrap.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateECKey/TestCreateECKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateECKey/TestCreateECKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSA/TestCreateKeyRSA_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSA/TestCreateKeyRSA_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSATags.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateOCTKey/TestCreateOCTKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestDeleteKey/TestDeleteKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestDeleteKey/TestDeleteKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetDeletedKey/TestGetDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKey/TestGetKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKey/TestGetKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetRandomBytes/TestGetRandomBytes_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/TestImportKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/TestImportKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/TestListDeletedKeys_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/TestListDeletedKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/TestListKeyVersions_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/TestListKeyVersions_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/TestListKeys_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/TestListKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/TestRecoverDeletedKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/TestRecoverDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestReleaseKey/TestReleaseKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_NON-HSM.json
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/testdata/recordings/TestBackupSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginRecoverDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestDeleteSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListDeletedSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecretVersions.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestPurgeDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSecretTags.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSetGetSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestUpdateSecretProperties.json
Labels: KeyVault

#16831 [azservicebus] Fixing several reliability/recovery bugs
  sdk/messaging/azservicebus/admin/admin_client.go
  sdk/messaging/azservicebus/admin/admin_client_queue.go
  sdk/messaging/azservicebus/admin/admin_client_subscription.go
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/errors.go
  sdk/messaging/azservicebus/errors_test.go
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/amqpInterfaces.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/atom/errors.go
  sdk/messaging/azservicebus/internal/atom/manager_common_test.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/log.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/namespace.go
  sdk/messaging/azservicebus/internal/namespace_test.go
  sdk/messaging/azservicebus/internal/retrier.go
  sdk/messaging/azservicebus/internal/retrier_test.go
  sdk/messaging/azservicebus/internal/rpc.go
  sdk/messaging/azservicebus/internal/sbauth/token_provider.go
  sdk/messaging/azservicebus/internal/stress/Chart.lock
  sdk/messaging/azservicebus/internal/stress/Chart.yaml
  sdk/messaging/azservicebus/internal/stress/Dockerfile
  sdk/messaging/azservicebus/internal/stress/shared/stats.go
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/shared/utils.go
  sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep
  sdk/messaging/azservicebus/internal/stress/templates/deploy-job.yaml
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment_sender.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_peeks.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/long_running_renew_lock.go
  sdk/messaging/azservicebus/internal/stress/tests/rapid_open_close.go
  sdk/messaging/azservicebus/internal/stress/tests/tests.go
  sdk/messaging/azservicebus/internal/stress/values.yaml
  sdk/messaging/azservicebus/internal/test/test_helpers.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
  sdk/messaging/azservicebus/liveTestHelpers_test.go
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/messageSettler_test.go
  sdk/messaging/azservicebus/message_test.go
  sdk/messaging/azservicebus/processor.go
  sdk/messaging/azservicebus/processor_test.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender.go
  sdk/messaging/azservicebus/sender_test.go
  sdk/messaging/azservicebus/session_receiver.go
  sdk/messaging/azservicebus/session_receiver_test.go
Labels: Service Bus

#16918 Sync eng/common directory with azure-sdk-tools for PR 2604
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: EngSys, Central-EngSys

#16922 Sync eng/common directory with azure-sdk-tools for PR 2617
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#16931 refactor
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/constants.go
  sdk/keyvault/azkeys/constants_test.go
  sdk/keyvault/azkeys/crypto/constants.go
  sdk/keyvault/azkeys/crypto/crypto_client_test.go
  sdk/keyvault/azkeys/crypto/examples_test.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/internal/generated/constants.go
  sdk/keyvault/azkeys/models.go
Labels: KeyVault

#16932 Avoid retries on terminal failures in challenge policy
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/go.mod
Labels: KeyVault

#16940 Sync eng/common directory with azure-sdk-tools for PR 2641
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#16949 Prepare internal changelog for release
  sdk/keyvault/internal/CHANGELOG.md
Labels: KeyVault

#16951 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge
