Repository Azure/azure-sdk-for-go, pull requests merged in 2022-11, with the labels that each got.

#19466 Sync eng/common directory with azure-sdk-tools for PR 4544
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19463 Sync eng/common directory with azure-sdk-tools for PR 4574
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19428 Improve azidentity test constants
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity, test-enhancement

#19472 Sync eng/common directory with azure-sdk-tools for PR 4591
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: EngSys, Central-EngSys

#19468 Sync eng/common directory with azure-sdk-tools for PR 4586
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: EngSys, Central-EngSys

#19476 Sync eng/common directory with azure-sdk-tools for PR 4603
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#19477 Prepare azcore v1.2.0 for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#19478 AppConfig: Make `OnlyIfChanged`/`OnlyIfUnchanged` to work
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/version.go
Labels: App Configuration

#19462 [azquery] sovereign cloud support
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/cloud_config.go
  sdk/monitor/azquery/constants.go
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/testdata/recordings/TestNewListMetricNamespacesPager_Success.json
  sdk/monitor/azquery/utils_test.go
Labels: Client, Monitor - Query

#19486 Unexport APIVersionPolicy and constructor
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/policy_api_version.go
  sdk/azcore/runtime/policy_api_version_test.go
Labels: Azure.Core

#19487 Sync eng/common directory with azure-sdk-tools for PR 4606
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19489 Consolidate API version policy options
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/policy_api_version.go
  sdk/azcore/runtime/policy_api_version_test.go
Labels: Azure.Core

#19490 [azquery] renaming
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/response_types.go
Labels: Client, Monitor - Query

#19498 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#19491 Add error return to Key Vault client constructors
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/README.md
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/custom_client.go
  sdk/keyvault/azcertificates/example_test.go
  sdk/keyvault/azcertificates/utils_test.go
  sdk/keyvault/azcertificates/version.go
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/custom_client.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/utils_test.go
  sdk/keyvault/azkeys/version.go
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/custom_client.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/utils_test.go
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#19502 Revert "move cloud content to inline initialization"
  sdk/azcore/arm/arm.go
  sdk/azcore/cloud/cloud.go
Labels: auto-merge

#19508 Prepare azidentity v1.2.0 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#19499 Sync eng/common directory with azure-sdk-tools for PR 4622
  eng/common/TestResources/clouds/AzureCloud.json
Labels: EngSys, Central-EngSys

#19514 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#19515 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#19513 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/version.go
Labels: KeyVault, auto-merge

#19501 Sync eng/common directory with azure-sdk-tools for PR 4629
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19516 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#19448 Add optional auth challenge handling to BearerTokenPolicy
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/policy/policy.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Client, Mgmt, Azure.Core

#19518 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: auto-merge

#19485 User Delegation SAS
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/examples_test.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/query_params_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
Labels: Storage

#19530 Updating check enforcer permissions to enable writing comments
  .github/workflows/event.yml
Labels: Central-EngSys

#19546 Update ClientAssertionCredential docs link
  sdk/azidentity/README.md
Labels: Docs, Azure.Identity

#19549 Sync eng/common directory with azure-sdk-tools for PR 4623
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#19550 Sync eng/common directory with azure-sdk-tools for PR 4666
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19551 Sync eng/common directory with azure-sdk-tools for PR 4631
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19547 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: auto-merge

#19545 Adding Cosmos Compute GW tests for id validation
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/emulator_cosmos_item_test.go
  sdk/data/azcosmos/emulator_tests.go
Labels: Cosmos

#19557 Set correct Key Vault scope when challenge verification disabled
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/challenge_policy_test.go
Labels: KeyVault, Client

#19556 Sync eng/common directory with azure-sdk-tools for PR 4687
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19567 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#18923 Added Permanent Delete API and Permanent Delete SAS
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/test-resources.json
  sdk/storage/azblob/testdata/recordings/Test/TestAppendBlockPermanentDelete.json
  sdk/storage/azblob/testdata/recordings/Test/TestAppendBlockPermanentDeleteWithoutPermission.json
  sdk/storage/azblob/testdata/recordings/Test/TestPageBlockPermanentDelete.json
  sdk/storage/azblob/testdata/recordings/Test/TestPageBlockPermanentDeleteWithoutPermission.json
  sdk/storage/azblob/testdata/recordings/Test/TestPermanentDelete.json
  sdk/storage/azblob/testdata/recordings/Test/TestPermanentDeleteWithoutPermission.json
Labels: Storage

#19568 Make azcertificates operation test more robust
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/testdata/recordings/TestOperationCRUD.json
Labels: KeyVault, test-enhancement

#19569 Sync eng/common directory with azure-sdk-tools for PR 4632
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Labels: EngSys, Central-EngSys

#19542 rename v67.0.1 to v67.1.0
  CHANGELOG.md
  version/version.go
Labels: Do Not Merge

#19565 Set Access Policy
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/testdata/recordings/Test/TestSetAccessPolicyWithNullId.json
Labels: Storage

#19574 Sync eng/common directory with azure-sdk-tools for PR 4701
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#19361 Version Level WORM Support
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/test-resources.json
  sdk/storage/azblob/testdata/recordings/Test/TestAppendDeleteImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestAppendSetImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestAppendSetLegalHold.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobPutBlockListWithImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestDeleteImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestPageDeleteImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestPageSetImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestPageSetLegalHold.json
  sdk/storage/azblob/testdata/recordings/Test/TestPutBlockListWithImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestSetImmutabilityPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestSetLegalHold.json
  sdk/storage/azblob/testdata/recordings/Test/TestUploadBlockWithImmutabilityPolicy.json
Labels: Storage

#19583 Sync eng/common directory with azure-sdk-tools for PR 4726
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19585 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#19555 Sync eng/common directory with azure-sdk-tools for PR 4628
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#19587 Sync eng/common directory with azure-sdk-tools for PR 4728
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#19591 Don't use unexported type in example code
  sdk/storage/azblob/service/examples_test.go
Labels: Storage

#19586 Jumbo blob tests
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/shared/transfer_manager.go
  sdk/storage/azblob/internal/testcommon/common.go
Labels: Storage

#19594 Sync eng/common directory with azure-sdk-tools for PR 4746
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#19430 [Release] sdk/resourcemanager/datafactory/armdatafactory/3.0.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: Approved Major Version

#19610 Prevent data races in internal/recording
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
Labels: test-enhancement

#19627 Fix invalid regex
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/build.go
Labels: Storage

#19629 Sync eng/common directory with azure-sdk-tools for PR 4713
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19633 Remove XMS prefix for ContentCRC64 response field
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
Labels: Storage

#19626 Remove set expiry from blob client
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/examples_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/appendblob/responses.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/examples_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/internal/exported/set_expiry.go
Labels: Storage
