Repository Azure/azure-sdk-for-go, pull requests merged in 2022-09, with the labels that each got.

#18997 Sync eng/common directory with azure-sdk-tools for PR 4041
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#18969 Prepare azcore v1.1.3 for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#18926 Azblob Tinyblob Examples
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/zt_examples_test.go
Labels: Storage

#19006 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#19001 Sync eng/common directory with azure-sdk-tools for PR 4042
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#19010 Move SAS-related functionality to the sas package
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/examples_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/internal/exported/access_conditions.go
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/query_params_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/url_parts.go
  sdk/storage/azblob/sas/url_parts_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/constants.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
Labels: Storage

#19059 Simplify blob list options
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/constants.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/models.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
Labels: Storage

#19061 Use azcore.ETag instead of string
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/autorest.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage

#19063 Added Metadata Disclaimer
  sdk/storage/azblob/README.md
Labels: Storage

#19065 Use HTTPRange for specifying a range of bytes
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/internal/exported/exported.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/examples_test.go
  sdk/storage/azblob/pageblob/models.go
Labels: Storage

#18981 Monitor Query
  eng/config.json
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/LICENSE.txt
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/build.go
  sdk/monitor/azquery/ci.yml
  sdk/monitor/azquery/constants.go
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/response_types.go
  sdk/monitor/azquery/test-resources.bicep
  sdk/monitor/azquery/testdata/recordings/TestBatch_PartialError.json
  sdk/monitor/azquery/testdata/recordings/TestBatch_QuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestNewListMetricDefinitionsPager_Success.json
  sdk/monitor/azquery/testdata/recordings/TestNewListMetricNamespacesPager_Success.json
  sdk/monitor/azquery/testdata/recordings/TestQueryResource_BasicQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_AdvancedQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_BasicQueryFailure.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_BasicQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_MultipleWorkspaces.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_PartialError.json
  sdk/monitor/azquery/time_rfc3339.go
  sdk/monitor/azquery/utils_test.go
  sdk/monitor/azquery/version.go
Labels: Monitor - Query

#19074 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: auto-merge

#19067 Fix various naming issues
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/internal/shared/batch_transfer.go
  sdk/storage/azblob/models.go
  sdk/storage/azblob/responses.go
Labels: Storage

#19091 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#19009 Add github actions based check enforcer
  .github/workflows/event.yml
Labels: Central-EngSys

#19096 Add helper for determining the blob error code
  sdk/storage/azblob/bloberror/error_codes.go
Labels: Storage

#19075 Clean up README
  sdk/storage/azblob/README.md
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/internal/generated/autorest.md
Labels: Storage

#19093 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#19095 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#19105 Initial migration guide for azblob
  sdk/storage/azblob/migrationguide.md
Labels: Storage

#19119 Allow more time for cert creation in live tests
  sdk/keyvault/azcertificates/client_test.go
Labels: KeyVault, Client, test-reliability

#19094 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/version.go
Labels: KeyVault, auto-merge

#19121 Sync eng/common directory with azure-sdk-tools for PR 4128
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#19122 Sync eng/common directory with azure-sdk-tools for PR 4098
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#19076 Increment version for monitor/azquery releases
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Labels: auto-merge

#19138 Fix incorrect block size due to integer division
  sdk/storage/azblob/blockblob/client.go
Labels: Storage

#19064 Added tests for leasing on Get and Set Blob Tags
  sdk/storage/azblob/blockblob/client_test.go
Labels: Storage

#19155 Relax key rotation policy matching in tests
  sdk/keyvault/azkeys/client_test.go
Labels: KeyVault, Client, test-reliability

#18968 ManagedIdentityCredential caches tokens
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#19123 [keyvault/internal] Add KeyVaultChallengePolicyOptions
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/challenge_policy_test.go
  sdk/keyvault/internal/constants.go
Labels: KeyVault, Client

#19168 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#19157 Add option to disable Key Vault challenge verification
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/custom_client.go
  sdk/keyvault/azcertificates/go.mod
  sdk/keyvault/azcertificates/go.sum
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/custom_client.go
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/custom_client.go
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
Labels: KeyVault, Client

#19171 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#19158 Sync eng/common directory with azure-sdk-tools for PR 4141
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#19170 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#19169 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/version.go
Labels: KeyVault, auto-merge

#19173 Clean up chunk writing tests
  sdk/storage/azblob/blockblob/chunkwriting_test.go
  sdk/storage/azblob/testdata/zt_chunkwriting_test.go
Labels: Storage

#16937 Fix deadlock when erroring writes are slow
  sdk/storage/azblob/blockblob/chunkwriting.go
  sdk/storage/azblob/blockblob/chunkwriting_test.go
Labels: Storage, customer-reported

#19159 Sync eng/common directory with azure-sdk-tools for PR 4169
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19136 Container soft delete
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/service/responses.go
Labels: Storage

#19188 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/internal/generated/constants.go
Labels: auto-merge

#19189 Sync eng/common directory with azure-sdk-tools for PR 4212
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19182 Fixing StorageError typo
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_constants.go
Labels: Storage

#19141 Adding UDK/UDC to service client
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/exported/user_delegation_credential.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/service/responses.go
Labels: Storage

#19199 Updating CHANGELOG.md for azblob 0.5.0 beta release
  sdk/storage/azblob/CHANGELOG.md
Labels: Storage

#19153 Update check enforcer yaml permissions and name
  .github/workflows/event.yml
Labels: Central-EngSys

#19219 Sync eng/common directory with azure-sdk-tools for PR 4240
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#19211 Hook up live tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/internal/testcommon/cpk.go
  sdk/storage/azblob/lease/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/test-resources.json
Labels: Storage

#19235 Updating date in CHANGELOG.md
  sdk/storage/azblob/CHANGELOG.md
Labels: Storage

#19236 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, auto-merge
