Repository Azure/azure-sdk-for-go, pull requests merged in 2022-05, with the labels that each got.

#17790 Sync eng/common directory with azure-sdk-tools for PR 3261
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#17746 Revise azidentity doc comments
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/doc.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/username_password_credential.go
Labels: Docs, Azure.Identity

#17787 App Config: Update README to recent API changes
  sdk/appconfig/azappconfig/README.md
  sdk/appconfig/azappconfig/setting_selector.go
Labels: Docs, App Configuration, auto-merge

#17799 Sync eng/common directory with azure-sdk-tools for PR 3269
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#17802 Update azkeys test-resources.json
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/test-resources.json
Labels: KeyVault

#17804 Warn on unsupported managed identity configuration
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#17818 Fix azcore/cloud/doc.go
  sdk/azcore/cloud/doc.go
Labels: Docs, Azure.Core

#17819 Sync eng/common directory with azure-sdk-tools for PR 3280
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#17824 Deprecate azartifacts
  sdk/synapse/azartifacts/go.mod
  sdk/synapse/azartifacts/version.go
Labels: Synapse

#17825 Delete azartifacts
  sdk/synapse/azartifacts/CHANGELOG.md
  sdk/synapse/azartifacts/LICENSE.txt
  sdk/synapse/azartifacts/README.md
  sdk/synapse/azartifacts/ci.yml
  sdk/synapse/azartifacts/go.mod
  sdk/synapse/azartifacts/go.sum
  sdk/synapse/azartifacts/go_mod_tidy_hack.go
  sdk/synapse/azartifacts/version.go
  sdk/synapse/azartifacts/zz_generated_bigdatapools_client.go
  sdk/synapse/azartifacts/zz_generated_connection.go
  sdk/synapse/azartifacts/zz_generated_constants.go
  sdk/synapse/azartifacts/zz_generated_dataflow_client.go
  sdk/synapse/azartifacts/zz_generated_dataflowdebugsession_client.go
  sdk/synapse/azartifacts/zz_generated_dataset_client.go
  sdk/synapse/azartifacts/zz_generated_integrationruntimes_client.go
  sdk/synapse/azartifacts/zz_generated_library_client.go
  sdk/synapse/azartifacts/zz_generated_linkedservice_client.go
  sdk/synapse/azartifacts/zz_generated_models.go
  sdk/synapse/azartifacts/zz_generated_notebook_client.go
  sdk/synapse/azartifacts/zz_generated_pagers.go
  sdk/synapse/azartifacts/zz_generated_pipeline_client.go
  sdk/synapse/azartifacts/zz_generated_pipelinerun_client.go
  sdk/synapse/azartifacts/zz_generated_pollers.go
  sdk/synapse/azartifacts/zz_generated_polymorphic_helpers.go
  sdk/synapse/azartifacts/zz_generated_response_types.go
  sdk/synapse/azartifacts/zz_generated_sparkjobdefinition_client.go
  sdk/synapse/azartifacts/zz_generated_sqlpools_client.go
  sdk/synapse/azartifacts/zz_generated_sqlscript_client.go
  sdk/synapse/azartifacts/zz_generated_time_rfc3339.go
  sdk/synapse/azartifacts/zz_generated_trigger_client.go
  sdk/synapse/azartifacts/zz_generated_triggerrun_client.go
  sdk/synapse/azartifacts/zz_generated_workspace_client.go
  sdk/synapse/azartifacts/zz_generated_workspacegitrepomanagement_client.go
Labels: Synapse

#17838 Credentials return AccessToken by value
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
Labels: Azure.Identity

#17855 Update README with pager changes
  sdk/data/aztables/README.md
Labels: Tables

#17857 Place application specified policies after client default policies
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/pipeline_test.go
Labels: Azure.Core

#17869 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: auto-merge

#17861 Update README.md
  sdk/keyvault/internal/README.md
Labels: KeyVault

#17860 Remove azcore version info from default User-Agent
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_telemetry.go
  sdk/azcore/runtime/policy_telemetry_test.go
Labels: Azure.Core

#17856 Update changelog for AppConfig release
  sdk/appconfig/azappconfig/CHANGELOG.md
Labels: App Configuration

#17874 Increment version for appconfig/azappconfig releases
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/internal/generated/constants.go
Labels: auto-merge

#17795 Cosmos DB - Adds TransactionalBatch support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_headers.go
  sdk/data/azcosmos/cosmos_transactional_batch.go
  sdk/data/azcosmos/cosmos_transactional_batch_options.go
  sdk/data/azcosmos/cosmos_transactional_batch_options_test.go
  sdk/data/azcosmos/cosmos_transactional_batch_response.go
  sdk/data/azcosmos/cosmos_transactional_batch_response_test.go
  sdk/data/azcosmos/cosmos_transactional_batch_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_cosmos_batch_test.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/operation_type.go
Labels: Cosmos

#17890 Add retries to flaky azkeys test
  sdk/keyvault/azkeys/client_test.go
Labels: KeyVault, Client, test-reliability

#17891 Sync eng/common directory with azure-sdk-tools for PR 3320
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#17909 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: auto-merge

#17887 Sync eng/common directory with azure-sdk-tools for PR 3323
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#17912 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#17910 Prepare azidentity for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/errors.go
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/live_test.go
  sdk/azidentity/logging.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_ConfidentialInvalidCodeLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_ConfidentialLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_PublicInvalidCodeLive.json
  sdk/azidentity/testdata/recordings/TestAuthorizationCodeCredential_PublicLive.json
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#17914 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#17913 Prep keyvault/internal for release
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/challenge_policy_test.go
  sdk/keyvault/internal/constants.go
  sdk/keyvault/internal/expiring_resource.go
  sdk/keyvault/internal/expiring_resource_test.go
  sdk/keyvault/internal/go.mod
  sdk/keyvault/internal/go.sum
Labels: KeyVault

#17917 Increment version for keyvault/internal releases
  sdk/keyvault/internal/CHANGELOG.md
  sdk/keyvault/internal/constants.go
Labels: KeyVault, auto-merge

#17924 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: auto-merge

#17925 Increment version for messaging/internal releases
  sdk/messaging/internal/CHANGELOG.md
  sdk/messaging/internal/version.go
Labels: auto-merge

#17923 Prep key vault modules for release
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/go.mod
  sdk/keyvault/azcertificates/go.sum
  sdk/keyvault/azcertificates/internal/generated/constants.go
  sdk/keyvault/azcertificates/internal/generated/keyvault_client.go
  sdk/keyvault/azcertificates/utils_test.go
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/build.go
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/crypto/utils_test.go
  sdk/keyvault/azkeys/go.mod
  sdk/keyvault/azkeys/go.sum
  sdk/keyvault/azkeys/internal/generated/keyvault_client.go
  sdk/keyvault/azkeys/utils_test.go
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/go.mod
  sdk/keyvault/azsecrets/go.sum
  sdk/keyvault/azsecrets/utils_test.go
Labels: KeyVault

#17929 Increment version for appconfig/azappconfig releases
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/internal/generated/constants.go
Labels: auto-merge

#17930 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/internal/constants.go
Labels: KeyVault, auto-merge

#17931 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/internal/generated/constants.go
Labels: KeyVault, auto-merge

#17926 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: auto-merge

#17927 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#17932 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/internal/generated/constants.go
Labels: KeyVault, auto-merge

#17933 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/zz_generated_constants.go
Labels: Storage, auto-merge

#17940 Cosmos DB - Refactor AAD policy
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_policy_bearer_token.go
  sdk/data/azcosmos/cosmos_policy_bearer_token_test.go
Labels: Cosmos

#17941 Sync eng/common directory with azure-sdk-tools for PR 3341
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#17961 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: auto-merge

#17983 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: auto-merge

#17982 Update azkeys and azsecrets pager constructors
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/example_test.go
Labels: KeyVault, Client

#17987 Revise azsecrets readme and doc comments
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/client.go
Labels: Docs, KeyVault, Client

#17984 Use generic runtime.Poller[T] for LROs
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/example_test.go
  sdk/keyvault/azcertificates/internal/generated/constants.go
  sdk/keyvault/azcertificates/internal/generated/custom_client.go
  sdk/keyvault/azcertificates/internal/generated/keyvault_client.go
  sdk/keyvault/azcertificates/models.go
  sdk/keyvault/azcertificates/pollers.go
  sdk/keyvault/azcertificates/testdata/recordings/TestCRUDOperations.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BackupCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginCreateCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginCreateCertificateRehydrated.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginDeleteCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginDeleteCertificateRehydrated.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginRecoverDeletedCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_BeginRecoverDeletedCertificateRehydrated.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_CancelCertificateOperation.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_ContactsCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_GetCertificateOperation.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_ImportCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_IssuerCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_ListCertificateVersions.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_ListCertificates.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_ListDeletedCertificates.json
  sdk/keyvault/azcertificates/testdata/recordings/TestClient_RestoreCertificateBackup.json
  sdk/keyvault/azcertificates/testdata/recordings/TestPolicy.json
  sdk/keyvault/azcertificates/utils_test.go
Labels: KeyVault

#18076 Use runtime.Poller[T] for LROs
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/internal/generated/constants.go
  sdk/keyvault/azkeys/internal/generated/keyvault_client.go
  sdk/keyvault/azkeys/pollers.go
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestBackupKey/TestBackupKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestBeginDeleteKeyRehydrate.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateECKey/TestCreateECKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSA/TestCreateKeyRSA_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateKeyRSATags.json
  sdk/keyvault/azkeys/testdata/recordings/TestCreateOCTKey/TestCreateOCTKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestDeleteKey/TestDeleteKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetDeletedKey/TestGetDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKey/TestGetKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetKeyRotationPolicy/TestGetKeyRotationPolicy_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/TestImportKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/TestListDeletedKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/TestListKeyVersions_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/TestListKeys_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/TestRecoverDeletedKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestReleaseKey/TestReleaseKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRotateKey/TestRotateKey_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyProperties/TestUpdateKeyProperties_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyPropertiesImmutable/TestUpdateKeyPropertiesImmutable_NON-HSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestUpdateKeyRotationPolicy/TestUpdateKeyRotationPolicy_NON-HSM.json
  sdk/keyvault/azkeys/utils_test.go
Labels: KeyVault

#18169 azsecrets uses runtime.Poller[T] for LROs
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/README.md
  sdk/keyvault/azsecrets/autorest.md
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/internal/generated/constants.go
  sdk/keyvault/azsecrets/internal/generated/custom_client.go
  sdk/keyvault/azsecrets/internal/generated/keyvault_client.go
  sdk/keyvault/azsecrets/internal/generated/models.go
  sdk/keyvault/azsecrets/internal/generated/models_serde.go
  sdk/keyvault/azsecrets/internal/generated/response_types.go
  sdk/keyvault/azsecrets/internal/generated/time_unix.go
  sdk/keyvault/azsecrets/internal/pagers.go
  sdk/keyvault/azsecrets/models.go
  sdk/keyvault/azsecrets/pollers.go
  sdk/keyvault/azsecrets/testdata/recordings/TestBackupSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginDeleteSecretRehydrated.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginRecoverDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestBeginRecoverDeletedSecretRehydrated.json
  sdk/keyvault/azsecrets/testdata/recordings/TestDeleteSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListDeletedSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecretVersions.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestPurgeDeletedSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSecretTags.json
  sdk/keyvault/azsecrets/testdata/recordings/TestSetGetSecret.json
  sdk/keyvault/azsecrets/testdata/recordings/TestUpdateSecretProperties.json
  sdk/keyvault/azsecrets/utils_test.go
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#18171 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/internal/generated/constants.go
Labels: auto-merge

#18172 Delete old azappconfig
  .github/CODEOWNERS
  sdk/appconfig/azappconfig/CHANGELOG.md
  sdk/appconfig/azappconfig/LICENSE.txt
  sdk/appconfig/azappconfig/README.md
  sdk/appconfig/azappconfig/autorest.md
  sdk/appconfig/azappconfig/build.go
  sdk/appconfig/azappconfig/ci.old.yml
  sdk/appconfig/azappconfig/client.go
  sdk/appconfig/azappconfig/client_test.go
  sdk/appconfig/azappconfig/doc.go
  sdk/appconfig/azappconfig/go.mod
  sdk/appconfig/azappconfig/go.sum
  sdk/appconfig/azappconfig/internal/generated/azureappconfiguration_client.go
  sdk/appconfig/azappconfig/internal/generated/constants.go
  sdk/appconfig/azappconfig/internal/generated/models.go
  sdk/appconfig/azappconfig/internal/generated/models_serde.go
  sdk/appconfig/azappconfig/internal/generated/response_types.go
  sdk/appconfig/azappconfig/internal/generated/time_rfc3339.go
  sdk/appconfig/azappconfig/policy_hmac_auth.go
  sdk/appconfig/azappconfig/policy_hmac_auth_parse_test.go
  sdk/appconfig/azappconfig/policy_sync_token.go
  sdk/appconfig/azappconfig/policy_sync_token_parse_test.go
  sdk/appconfig/azappconfig/setting.go
  sdk/appconfig/azappconfig/setting_selector.go
  sdk/appconfig/azappconfig/test-resources.json
Labels: auto-merge

#18193 Remove locale in link
  documentation/new-version-quickstart.md
Labels: auto-merge

#18211 Sync eng/common directory with azure-sdk-tools for PR 3342
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#18248 Sync eng/common directory with azure-sdk-tools for PR 3362
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#18170 Rename azkeys.ReleaseKeyOptions.Enc to .Algorithm
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/models.go
Labels: KeyVault, Client

#18251 Sync eng/common directory with azure-sdk-tools for PR 3378
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#18258 Revise azsecrets model fields
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/client_test.go
  sdk/keyvault/azsecrets/example_test.go
  sdk/keyvault/azsecrets/models.go
Labels: KeyVault, Client
