Repository Azure/azure-sdk-for-go, pull requests merged in 2022-12, with the labels that each got.

#19652 Sync eng/common directory with azure-sdk-tools for PR 4856
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: EngSys, Central-EngSys

#19658 Fix uploads larger than 256MB
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/shared/batch_transfer.go
Labels: Storage

#19645 Prevent ExpiryType from being publicly implementable
  sdk/storage/azblob/internal/exported/set_expiry.go
Labels: Storage

#19659 Export some missing types
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/container/constants.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/lease/constants.go
  sdk/storage/azblob/models.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/models.go
Labels: Storage

#19661 Remove dead code in managed_identity_credentials.go
  sdk/azidentity/managed_identity_credential.go
Labels: customer-reported

#19635 Use memory mapped files for streaming uploads
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/chunkwriting.go
  sdk/storage/azblob/blockblob/chunkwriting_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/mmf_unix.go
  sdk/storage/azblob/blockblob/mmf_windows.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/internal/shared/transfer_manager.go
  sdk/storage/azblob/internal/shared/transfer_manager_test.go
Labels: Storage

#19672 CHANGELOG.md for 0.6.0
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#19674 Fix live test after MMF change
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
Labels: Storage

#19679 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, auto-merge

#19678 Sync eng/common directory with azure-sdk-tools for PR 4813
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#19685 Fix build break on Darwin OS
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/mmf_unix.go
Labels: Storage

#19687 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, auto-merge

#19503 Add WorkloadIdentityCredential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/azidentity/logging.go
  sdk/azidentity/version.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#19691 Prepare azidentity v1.3.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#19692 Sync eng/common directory with azure-sdk-tools for PR 4930
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#19694 [Event Hubs] Example fix
  sdk/messaging/azeventhubs/example_producing_events_test.go
Labels: Event Hubs

#19628 Cosmos DB - Add PatchItem support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_patch_operations.go
  sdk/data/azcosmos/cosmos_patch_operations_test.go
  sdk/data/azcosmos/cosmos_transactional_batch.go
  sdk/data/azcosmos/cosmos_transactional_batch_test.go
  sdk/data/azcosmos/emulator_cosmos_batch_test.go
  sdk/data/azcosmos/emulator_cosmos_item_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/operation_type.go
Labels: Cosmos

#19702 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#19706 Sync eng/common directory with azure-sdk-tools for PR 4944
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#19705 Sync eng/common directory with azure-sdk-tools for PR 4514
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#19714 Sync eng/common directory with azure-sdk-tools for PR 4988
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#19719 Sync eng/common directory with azure-sdk-tools for PR 4998
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#19716 Sync eng/common directory with azure-sdk-tools for PR 4880
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: EngSys, Central-EngSys

#19720 Update prepare-pipelines flags
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys

#19723 Sync eng/common directory with azure-sdk-tools for PR 4985
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#19729 Generate Code for AzQueue
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_response_types.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc1123.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc3339.go
  sdk/storage/azqueue/internal/generated/zz_xml_helper.go
Labels: Storage
