Repository Azure/azure-sdk-for-go, pull requests merged in 2022-08, with the labels that each got.

#18765 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#18781 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#18798 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#18806 Deploy live test MHSMs to higher capacity region
  sdk/keyvault/azkeys/test-resources.json
Labels: KeyVault, Client, test-reliability

#18820 Dev azblob 2
  sdk/storage/azblob/README.md
  sdk/storage/azblob/blob/lease_client.go
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/doc.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_factory_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_lease_client_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_shared_access_signature_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#18812 Prepare azcore 1.1.2 for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#18825 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#18797 Update Key Vault documentation
  sdk/keyvault/azcertificates/README.md
  sdk/keyvault/azkeys/README.md
  sdk/keyvault/azkeys/autorest.md
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/models.go
  sdk/keyvault/azsecrets/README.md
Labels: Docs, KeyVault, Client

#18796 Add options type for Key Vault clients
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/custom_client.go
  sdk/keyvault/azcertificates/utils_test.go
  sdk/keyvault/azcertificates/version.go
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/custom_client.go
  sdk/keyvault/azkeys/utils_test.go
  sdk/keyvault/azkeys/version.go
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/custom_client.go
  sdk/keyvault/azsecrets/utils_test.go
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#18826 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#18830 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#18829 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#18833 CHANGELOG File for release 0.5.0
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/doc.go
Labels: Storage

#18842 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#18846 Test cleanup
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_container_client_test.go
  sdk/storage/azblob/zt_factory_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#18858 Export types needed by BlobURLParts
  sdk/storage/azblob/common.go
Labels: Storage

#18860 Remove duplicate definition of client options
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/exported/clients_utils.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Labels: Storage

#18852 Upload/Download APIs in the tinyblob client
  sdk/storage/azblob/README.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/doc.go
  sdk/storage/azblob/enums.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/models.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/responses.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#18861 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: auto-merge

#18864 Move lease clients to lease package
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/lease_client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/lease_client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/lease/blob_client.go
  sdk/storage/azblob/lease/container_client.go
  sdk/storage/azblob/lease/models.go
  sdk/storage/azblob/lease/response_types.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/zt_lease_client_test.go
Labels: Storage

#18871 Rename enums.go to constants.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/enums.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/blockblob/enum.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/container/constants.go
  sdk/storage/azblob/container/enums.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/pageblob/constants.go
  sdk/storage/azblob/pageblob/enums.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/constants.go
  sdk/storage/azblob/service/enums.go
Labels: Storage

#18872 Separate client options per client type
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/exported/clients_utils.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Labels: Storage

#18832 Support certificate chains in SNI auth
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/environment_credential_test.go
Labels: Azure.Identity

#18878 Export constants required by other exported types
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/autorest.md
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/pageblob/constants.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/constants.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
Labels: Storage

#18827 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: auto-merge

#18828 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/version.go
Labels: KeyVault, auto-merge

#18887 APIView Review Comment Fixes
  sdk/storage/azblob/README.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/chunkwriting.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/constants.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/doc.go
  sdk/storage/azblob/internal/exported/blob_url.go
  sdk/storage/azblob/internal/exported/sas_query_params.go
  sdk/storage/azblob/internal/exported/service_sas.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/lease/responses.go
  sdk/storage/azblob/models.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/responses.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/constants.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_chunkwriting_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_factory_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_sas_query_params_test.go
  sdk/storage/azblob/zt_service_client_test.go
  sdk/storage/azblob/zt_shared_access_signature_test.go
  sdk/storage/azblob/zt_test.go
  sdk/storage/azblob/zt_url_parsing_test.go
Labels: Storage

#18896 Split buffer and file download options into their own types
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
Labels: Storage

#18897 Clean up RetryReader
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_examples_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#18903 Begin moving tests to their applicable packages
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/blob_url_test.go
  sdk/storage/azblob/internal/exported/sas_query_params_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/internal/testcommon/cpk.go
  sdk/storage/azblob/lease/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_append_blob_client_test.go
  sdk/storage/azblob/zt_blob_client_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_blob_versioning_test.go
  sdk/storage/azblob/zt_block_blob_client_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
  sdk/storage/azblob/zt_factory_test.go
  sdk/storage/azblob/zt_highlevel_test.go
  sdk/storage/azblob/zt_page_blob_client_test.go
  sdk/storage/azblob/zt_sas_query_params_test.go
  sdk/storage/azblob/zt_shared_access_signature_test.go
  sdk/storage/azblob/zt_test.go
Labels: Storage

#18934 Update CODEOWNERS
  .github/CODEOWNERS
Labels: auto-merge

#18939 Move more tests to their respective sub-packages
  eng/config.json
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azblob/blob/utils_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/shared/bytes_writer_test.go
  sdk/storage/azblob/internal/shared/section_writer_test.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/testdata/recordings/Test/TestBlobListWrapper.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobListWrapperListingError.json
  sdk/storage/azblob/testdata/zt_blob_versioning_test.go
  sdk/storage/azblob/testdata/zt_chunkwriting_test.go
  sdk/storage/azblob/zt_bytes_writer_test.go
  sdk/storage/azblob/zt_connection_string_test.go
  sdk/storage/azblob/zt_list_wrappers_test.go
  sdk/storage/azblob/zt_ors_test.go
  sdk/storage/azblob/zt_retry_reader_test.go
  sdk/storage/azblob/zt_sas_blob_snapshot_test.go
  sdk/storage/azblob/zt_section_writer_test.go
  sdk/storage/azblob/zt_shared_access_signature_test.go
Labels: Storage

#18948 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: auto-merge

#18955 Sync eng/common directory with azure-sdk-tools for PR 3874
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#18904 Generate test report on test failures
  eng/scripts/run_tests.ps1
Labels: auto-merge

#18973 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: auto-merge

#18988 Move tests to their respective packages
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/zt_access_policy_test.go
  sdk/storage/azblob/zt_blob_tags_test.go
  sdk/storage/azblob/zt_client_provided_key_test.go
Labels: Storage

#18995 Refactor root tests to use root client
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/zt_test.go
Labels: Storage
