Repository Azure/azure-sdk-for-go, pull requests merged in 2023-11, with the labels that each got.

#21836 Sync eng/common directory with azure-sdk-tools for PR 7193
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#21861 Update dependencies in template package
  sdk/template/aztemplate/go.mod
  sdk/template/aztemplate/go.sum
Labels: Azure.Core

#21866 add unwrap test scenario to NonRetriable
  sdk/internal/errorinfo/errorinfo_test.go
Labels: Internal

#21862 Update package dependencies
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#21867 Update fakes dependencies
  sdk/samples/fakes/go.mod
  sdk/samples/fakes/go.sum
Labels: Azure.Core

#21870 Release non-retriable error wrapper. v1.5.0
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#21863 Deny context values from flowing across disjoint requests
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Labels: Azure.Core

#21865 Consolidate tracing options within pipeline options
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_trace_namespace.go
  sdk/azcore/core.go
  sdk/azcore/core_test.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/pipeline.go
Labels: Azure.Core

#21871 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#21872 Update to latest internal module
  sdk/azcore/fake/fake.go
  sdk/azcore/fake/internal/exported/fake.go
  sdk/azcore/fake/server/server.go
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
  sdk/azcore/runtime/poller_test.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#21851 Support Azure ML managed identity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/assets.json
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#21883 Replace regex match with rune comparison
  sdk/azidentity/azidentity.go
Labels: Azure.Identity

#21875 sdk/resourcemanager/webpubsub/armwebpubsub live test
  sdk/resourcemanager/webpubsub/armwebpubsub/assets.json
  sdk/resourcemanager/webpubsub/armwebpubsub/go.mod
  sdk/resourcemanager/webpubsub/armwebpubsub/go.sum
  sdk/resourcemanager/webpubsub/armwebpubsub/webpubsub_live_test.go
Labels: Mgmt

#21893 Rename clientName param to moduleName
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/arm/client_test.go
  sdk/azcore/core.go
  sdk/azcore/core_test.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
  sdk/azcore/tracing/tracing.go
Labels: Azure.Core

#21894 Strip off package name for telemetry policy
  sdk/azcore/runtime/policy_telemetry.go
  sdk/azcore/runtime/policy_telemetry_test.go
Labels: Azure.Core

#21879 Prep azcore for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21895 Revert "[azeventhubs] Fixing issue with checkpoint/ownership blob casing that would affect compatibility (#21805)"
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_migration_test.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/eh/stress/scenarios-matrix.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/stress.go
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/checkpoints_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/metrics.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/processor_test.go
Labels: Service Bus, Event Hubs

#21898 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21899 [azeventhubs] Relinquish ownership of partitions when the Processor is shut down
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_unit_test.go
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/inmemory_checkpoint_store_test.go
  sdk/messaging/azeventhubs/processor.go
  sdk/messaging/azeventhubs/processor_load_balancer.go
  sdk/messaging/azeventhubs/processor_load_balancers_test.go
  sdk/messaging/azeventhubs/processor_test.go
Labels: Event Hubs

#21476 Update to use latest github.com/google/go-github API
  eng/tools/generator/cmd/issue/issueCmd.go
  eng/tools/generator/cmd/issue/link/commitLink.go
  eng/tools/generator/cmd/issue/link/pullRequestLink.go
  eng/tools/generator/cmd/issue/query/login.go
  eng/tools/generator/cmd/issue/query/query.go
  eng/tools/generator/cmd/issue/request/request.go
  eng/tools/generator/cmd/issue/request/request_test.go
  eng/tools/generator/config/validate/remoteValidator.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Labels: customer-reported, Community Contribution

#21889 sdk/resourcemanager/containerservicefleet/armcontainerservicefleet live test
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/assets.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_live_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.mod
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.sum
Labels: Mgmt

#21885 Add tracing spans to azidentity credentials
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/version.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#21884 Prepare azidentity v1.5.0-beta.2 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#21902 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21904 [azeventhubs] Fixing TBD in the changelog
  sdk/messaging/azeventhubs/CHANGELOG.md
Labels: Event Hubs

#21505 [azservicebus] Test china cloud with regional affinity pool
  sdk/messaging/azservicebus/ci.yml
Labels: Service Bus, Central-EngSys

#21908 Sync eng/common directory with azure-sdk-tools for PR 7251
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#21914 add internal snapshot support for app config
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/internal/appconfiguration_ext.json
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_response_types.go
Labels: App Configuration

#21910 [KeyVault] Support for API version 7.5-preview.1
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/assets.json
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#21890 CRC64 not optional in UploadRangeFromURL
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
Labels: Storage

#21917 Update to latest code generator
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_options.go
  sdk/data/azappconfig/internal/generated/zz_response_types.go
  sdk/data/azappconfig/internal/generated/zz_time_rfc3339.go
Labels: App Configuration

#21919 Add spans to azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21918 Updates to aztables
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/autorest.md
  sdk/data/aztables/client.go
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/internal/zz_models_serde.go
  sdk/data/aztables/internal/zz_time_rfc1123.go
  sdk/data/aztables/internal/zz_time_rfc3339.go
  sdk/data/aztables/recording_helpers_test.go
  sdk/data/aztables/sas_service_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/data/aztables/transactional_batch.go
  sdk/data/aztables/zc_client_options.go
Labels: Tables

#21906 Update azkeys to latest version of azcore
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/custom_client.go
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#21907 Enable spans for azcertificates and azsecrets
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/options.go
  sdk/security/keyvault/azcertificates/response_types.go
  sdk/security/keyvault/azcertificates/time_unix.go
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/custom_client.go
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/models_serde.go
  sdk/security/keyvault/azsecrets/options.go
  sdk/security/keyvault/azsecrets/response_types.go
  sdk/security/keyvault/azsecrets/time_unix.go
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#21909 Enable spans for azadmin
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/options.go
  sdk/security/keyvault/azadmin/backup/response_types.go
  sdk/security/keyvault/azadmin/backup/time_unix.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/constants.go
  sdk/security/keyvault/azadmin/rbac/custom_client.go
  sdk/security/keyvault/azadmin/rbac/models.go
  sdk/security/keyvault/azadmin/rbac/models_serde.go
  sdk/security/keyvault/azadmin/rbac/options.go
  sdk/security/keyvault/azadmin/rbac/response_types.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/constants.go
  sdk/security/keyvault/azadmin/settings/custom_client.go
  sdk/security/keyvault/azadmin/settings/models.go
  sdk/security/keyvault/azadmin/settings/models_serde.go
  sdk/security/keyvault/azadmin/settings/options.go
  sdk/security/keyvault/azadmin/settings/response_types.go
Labels: KeyVault

#21913 Sync eng/common directory with azure-sdk-tools for PR 7255
  eng/common/testproxy/onboarding/README.md
Labels: EngSys, Central-EngSys

#21921 Fix regex to update all span names
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
Labels: KeyVault

#21922 [keyvault] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
Labels: KeyVault, Client

#21933 Sync eng/common directory with azure-sdk-tools for PR 7266
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#21935 [azadmin] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
Labels: KeyVault

#21905 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#21936 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#21937 Make remove pointers for slice elements
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/zz_models.go
Labels: App Configuration

#21938 Sync eng/common directory with azure-sdk-tools for PR 7268
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#21964 Sync eng/common directory with azure-sdk-tools for PR 7262
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#21972 Updated azcore and azidentity to latest available versions
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Labels: Storage

#21963 azblob: Added support for getSASURL from specialized clients
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage

#21967 Include metadata keys with empty values
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/generated/zz_time_rfc1123.go
  sdk/storage/azblob/internal/generated/zz_time_rfc3339.go
  sdk/storage/azblob/internal/generated/zz_xml_helper.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage

#21975 Sync eng/common directory with azure-sdk-tools for PR 7276
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#21978 Prep aztables for release
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Labels: Tables

#21923 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#21925 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#21979 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Labels: Tables

#21897 Fix keyvault test recording options. Update docs
  documentation/developer_setup.md
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: Central-EngSys

#21980 Sync .github/workflows directory with azure-sdk-tools for PR 7284
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#21981 Changelog update for azfile release v1.1.1
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage, AzFile

#21983 Corrected release date in changelog
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage

#21965 [azquery] regenerate and clean up
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/constants.go
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/options.go
  sdk/monitor/azquery/response_types.go
  sdk/monitor/azquery/time_rfc3339.go
  sdk/monitor/azquery/utils_test.go
Labels: Monitor

#21986 Add tracing spans to azquery
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/version.go
Labels: Monitor

#21987 Add tracing spans to azingest
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/autorest.md
  sdk/monitor/azingest/build.go
  sdk/monitor/azingest/client.go
  sdk/monitor/azingest/custom_client.go
  sdk/monitor/azingest/go.mod
  sdk/monitor/azingest/go.sum
  sdk/monitor/azingest/options.go
  sdk/monitor/azingest/response_types.go
  sdk/monitor/azingest/version.go
Labels: Monitor

#21989 Skip live SNI authentication tests
  sdk/azidentity/client_certificate_credential_test.go
Labels: Azure.Identity

#21984 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21876 Add `OperationNotAllowedOnRootBlob` & `ImmutabilityPolicyDeleteOnLockedPolicy` to blob errors
  sdk/storage/azblob/bloberror/error_codes.go
Labels: Storage, customer-reported, Community Contribution, AzBlob

#21463 add sdk/resourcemanager/maps/armmaps live test
  sdk/resourcemanager/maps/armmaps/assets.json
  sdk/resourcemanager/maps/armmaps/go.mod
  sdk/resourcemanager/maps/armmaps/go.sum
  sdk/resourcemanager/maps/armmaps/maps_live_test.go
Labels: Mgmt

#21996 [azquery] add metrics batch feature
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/assets.json
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/metricsbatch_client.go
  sdk/monitor/azquery/metricsbatch_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/options.go
  sdk/monitor/azquery/response_types.go
  sdk/monitor/azquery/utils_test.go
  sdk/monitor/azquery/version.go
Labels: Monitor

#21997 Increment version for monitor/azquery releases
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Labels: Monitor

#21930 update sdk/resourcemanager/internal
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/assets.json
  sdk/resourcemanager/internal/go.mod
  sdk/resourcemanager/internal/go.sum
  sdk/resourcemanager/internal/testutil/helper.go
  sdk/resourcemanager/internal/testutil/helper_test.go
  sdk/resourcemanager/internal/testutil/recording.go
  sdk/resourcemanager/internal/testutil/recording_test.go
  sdk/resourcemanager/internal/version.go
Labels: Mgmt

#21999 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: Mgmt

#22021 Replace interface{} with any
  sdk/data/aztables/README.md
  sdk/data/aztables/client.go
  sdk/data/aztables/client_test.go
  sdk/data/aztables/doc.go
  sdk/data/aztables/entity.go
  sdk/data/aztables/entity_test.go
  sdk/data/aztables/errors.go
  sdk/data/aztables/example_test.go
  sdk/data/aztables/recording_helpers_test.go
  sdk/data/aztables/testdata/perf/insert_entity.go
  sdk/data/aztables/transaction_batch_test.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#22020 Sync eng/common directory with azure-sdk-tools for PR 7310
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22022 Sync eng/common directory with azure-sdk-tools for PR 7324
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#22023 Update links to docs
  sdk/data/aztables/README.md
  sdk/data/aztables/client.go
  sdk/data/aztables/entity.go
  sdk/data/aztables/error_codes.go
  sdk/data/aztables/example_test.go
  sdk/data/aztables/sas_account.go
  sdk/data/aztables/sas_query_params.go
  sdk/data/aztables/sas_service.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/shared_policy_shared_key_credential.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#22037 Sync eng/common directory with azure-sdk-tools for PR 7322
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#22026 azblob: Remove blob tags
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
Labels: Storage, AzBlob

#22036 Fix incorrect downloaded file size when size of the file is not a multiple of the block size
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
Labels: Storage, AzBlob

#21993 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.5.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Stable

#21945 [Release] sdk/resourcemanager/integrationspaces/armintegrationspaces/0.1.0
  sdk/resourcemanager/integrationspaces/armintegrationspaces/CHANGELOG.md
  sdk/resourcemanager/integrationspaces/armintegrationspaces/LICENSE.txt
  sdk/resourcemanager/integrationspaces/armintegrationspaces/README.md
  sdk/resourcemanager/integrationspaces/armintegrationspaces/applicationresources_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/applicationresources_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/applications_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/applications_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/autorest.md
  sdk/resourcemanager/integrationspaces/armintegrationspaces/build.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/businessprocesses_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/businessprocesses_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/businessprocessversions_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/businessprocessversions_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/ci.yml
  sdk/resourcemanager/integrationspaces/armintegrationspaces/client_factory.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/constants.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/applicationresources_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/applications_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/businessprocesses_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/businessprocessversions_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/infrastructureresources_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/internal.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/operations_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/server_factory.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/spaces_server.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/fake/time_rfc3339.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/go.mod
  sdk/resourcemanager/integrationspaces/armintegrationspaces/go.sum
  sdk/resourcemanager/integrationspaces/armintegrationspaces/infrastructureresources_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/infrastructureresources_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/models.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/models_serde.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/operations_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/operations_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/options.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/response_types.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/spaces_client.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/spaces_client_example_test.go
  sdk/resourcemanager/integrationspaces/armintegrationspaces/time_rfc3339.go
Labels: FirstBeta

#22009 [Release] sdk/resourcemanager/containerregistry/armcontainerregistry/1.3.0-beta.1
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/archives_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/archives_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/archiveversions_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/archiveversions_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/exportpipelines_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/exportpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/archives_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/archiveversions_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/connectedregistries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/exportpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/importpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/pipelineruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/server_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/importpipelines_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/importpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/models_serde.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/options.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/pipelineruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/pipelineruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/response_types.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client_example_test.go
Labels: Mgmt, Beta

#21950 [Release] sdk/resourcemanager/networkanalytics/armnetworkanalytics/0.1.0
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/CHANGELOG.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/LICENSE.txt
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/README.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/autorest.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/build.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/ci.yml
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/client_factory.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/constants.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproducts_client.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproducts_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproductscatalogs_client.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproductscatalogs_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/datatypes_client.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/datatypes_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/dataproducts_server.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/dataproductscatalogs_server.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/datatypes_server.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/internal.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/operations_server.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/server_factory.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/fake/time_rfc3339.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/go.mod
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/go.sum
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/models.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/models_serde.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/operations_client.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/operations_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/options.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/response_types.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/time_rfc3339.go
Labels: FirstBeta

#22010 [Release] sdk/resourcemanager/hybridcompute/armhybridcompute/2.0.0-beta.1
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/agentversion_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/agentversion_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/build.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/client_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/agentversion_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/extensionmetadata_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/hybrididentitymetadata_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenseprofiles_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenses_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machineextensions_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machines_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/management_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/networkprofile_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/operations_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/privateendpointconnections_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/privatelinkresources_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/privatelinkscopes_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/server_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.mod
  sdk/resourcemanager/hybridcompute/armhybridcompute/hybrididentitymetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/hybrididentitymetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/options.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/response_types.go
Labels: Mgmt, Beta

#22051 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.6.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, Stable

#22000 STG 82 swagger update, azcore, azidentity dependancy updates
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_response_types.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
Labels: Storage, AzDatalake

#21998 [azeventgrid] Updating to the latest swagger. Changes doc'd in the CHANGELOG
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/assets.json
  sdk/messaging/azeventgrid/autorest.md
  sdk/messaging/azeventgrid/client.go
  sdk/messaging/azeventgrid/client_custom.go
  sdk/messaging/azeventgrid/client_test.go
  sdk/messaging/azeventgrid/constants.go
  sdk/messaging/azeventgrid/custom_models.go
  sdk/messaging/azeventgrid/example_publish_and_receive_test.go
  sdk/messaging/azeventgrid/example_test.go
  sdk/messaging/azeventgrid/go.mod
  sdk/messaging/azeventgrid/go.sum
  sdk/messaging/azeventgrid/internal/version.go
  sdk/messaging/azeventgrid/main_test.go
  sdk/messaging/azeventgrid/models.go
  sdk/messaging/azeventgrid/models_serde.go
  sdk/messaging/azeventgrid/options.go
  sdk/messaging/azeventgrid/response_types.go
  sdk/messaging/azeventgrid/shared_test.go
Labels: Event Grid

#22072 Sync eng/common directory with azure-sdk-tools for PR 7369
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys
