Repository Azure/azure-sdk-for-go, pull requests merged in 2023-06, with the labels that each got.

#20925 sdk/resourcemanager/databricks/armdatabricks live test
  sdk/resourcemanager/databricks/armdatabricks/assets.json
  sdk/resourcemanager/databricks/armdatabricks/databricks_live_test.go
  sdk/resourcemanager/databricks/armdatabricks/go.mod
  sdk/resourcemanager/databricks/armdatabricks/go.sum
  sdk/resourcemanager/databricks/armdatabricks/vnetpeering_live_test.go
Labels: Mgmt

#20812 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity, auto-merge

#20927 Update Key Vault logging examples
  sdk/security/keyvault/azadmin/README.md
  sdk/security/keyvault/azcertificates/README.md
  sdk/security/keyvault/azkeys/README.md
  sdk/security/keyvault/azsecrets/README.md
Labels: KeyVault

#20929 Sync eng/common directory with azure-sdk-tools for PR 6273
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: EngSys, Central-EngSys

#20938 sdk/resourcemanager/notificationhubs/armnotificationhubs live test
  sdk/resourcemanager/notificationhubs/armnotificationhubs/assets.json
  sdk/resourcemanager/notificationhubs/armnotificationhubs/go.mod
  sdk/resourcemanager/notificationhubs/armnotificationhubs/go.sum
  sdk/resourcemanager/notificationhubs/armnotificationhubs/notificationhubs_live_test.go
Labels: Mgmt

#20930 Add AIX to build constraints
  sdk/storage/azblob/blockblob/mmf_unix.go
Labels: Storage

#20943 Sync .github/workflows directory with azure-sdk-tools for PR 6280
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#20900 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core, auto-merge

#20932 [azservicebus] Some cleanup in prep for release
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/liveTestHelpers_test.go
  sdk/messaging/azservicebus/sender_test.go
Labels: Service Bus

#20928 Enable CAE by default in azidentity beta
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#20946 Use t.Setenv for setting/unsetting test-specific env vars
  sdk/azidentity/azidentity_test.go
Labels: Azure.Identity

#20941 Replace pow util function with bit operation
  sdk/azcore/runtime/policy_retry.go
Labels: customer-reported, Azure.Core, Community Contribution

#20960 [keyvault] azadmin prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault, Client

#20961 Prep azcore v1.6.1 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline_test.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/runtime/policy_retry.go
  sdk/azcore/runtime/policy_retry_test.go
Labels: Azure.Core

#20944 Refactor some public surface in azcore/tracing
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_trace_namespace.go
  sdk/azcore/arm/runtime/policy_trace_namespace_test.go
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/tracing/tracing.go
  sdk/azcore/tracing/tracing_test.go
  sdk/tracing/azotel/ci.yml
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/otel.go
  sdk/tracing/azotel/otel_test.go
Labels: Azure.Core

#20957 Sync eng/common directory with azure-sdk-tools for PR 6272
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#20892 [keyvault] azkeys renames
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/response_types.go
  sdk/security/keyvault/azkeys/testdata/perf/get_key.go
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault, Client

#20962 [keyvault] azsecrets prep for release
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#20966 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#20967 Fix populating module name in telemetry policy
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Labels: Azure.Core

#20971 Fix populating module name in telemetry policy (#20967)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/client.go
  sdk/azcore/core.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Labels: Azure.Core

#20972 Prep for azcore v1.7.0-beta.2 release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#20975 [keyvault] update azcore
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
Labels: KeyVault, Client

#20969 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#20968 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#20976 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#20983 Sync eng/common directory with azure-sdk-tools for PR 6304
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#20991 [keyvault] prep-for-release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
Labels: KeyVault, Client

#20992 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#20993 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#20994 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#20996 Sync eng/common directory with azure-sdk-tools for PR 6305
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#20757 AzDatalake APIView
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/constants.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/constants.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/access_policy.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azdatalake/internal/exported/set_expiry.go
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/path_client.go
  sdk/storage/azdatalake/internal/generated/service_client.go
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_response_types.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/client.go
  sdk/storage/azdatalake/internal/path/constants.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/shared/access_conditions.go
  sdk/storage/azdatalake/internal/shared/bytes_writer.go
  sdk/storage/azdatalake/internal/shared/challenge_policy.go
  sdk/storage/azdatalake/internal/shared/section_writer.go
  sdk/storage/azdatalake/internal/shared/shared.go
  sdk/storage/azdatalake/lease/constants.go
  sdk/storage/azdatalake/lease/filesystem_client.go
  sdk/storage/azdatalake/lease/models.go
  sdk/storage/azdatalake/lease/path_client.go
  sdk/storage/azdatalake/lease/responses.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/models.go
  sdk/storage/azdatalake/service/responses.go
Labels: Storage, AzDatalake

#21014 Sync eng/common directory with azure-sdk-tools for PR 6333
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#21018 Add managed identity timeout to troubleshooting guide
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/default_azure_credential.go
Labels: Docs, Azure.Identity

#20871 azfile: upgrade to STG 87
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/log_events.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/file_client.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/share_client.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/log.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/constants.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/constants.go
Labels: Storage, AzFile

#20724 Regenerating AzBlob to STG 85/86
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/generated/appendblob_client.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/block_blob_client.go
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/generated/models.go
  sdk/storage/azblob/internal/generated/pageblob_client.go
  sdk/storage/azblob/internal/generated/service_client.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage, AzBlob

#21025 sdk/resourcemanager/batch/armbatch live test
  sdk/resourcemanager/batch/armbatch/assets.json
  sdk/resourcemanager/batch/armbatch/batchmanagement_live_test.go
  sdk/resourcemanager/batch/armbatch/go.mod
  sdk/resourcemanager/batch/armbatch/go.sum
Labels: Mgmt

#21020 sdk/resourcemanager/managementgroups/armmanagementgroups live test
  sdk/resourcemanager/managementgroups/armmanagementgroups/assets.json
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.sum
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_live_test.go
Labels: Mgmt

#21016 sdk/resourcemanager/relay/armrelay live test
  sdk/resourcemanager/relay/armrelay/assets.json
  sdk/resourcemanager/relay/armrelay/go.mod
  sdk/resourcemanager/relay/armrelay/go.sum
  sdk/resourcemanager/relay/armrelay/hybridconnections_live_test.go
  sdk/resourcemanager/relay/armrelay/namespaces_live_test.go
  sdk/resourcemanager/relay/armrelay/operations_live_test.go
  sdk/resourcemanager/relay/armrelay/wcfrelays_live_test.go
Labels: Mgmt

#20999 sdk/resourcemanager/search/armsearch live test
  sdk/resourcemanager/search/armsearch/assets.json
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/go.mod
  sdk/resourcemanager/search/armsearch/go.sum
  sdk/resourcemanager/search/armsearch/search_live_test.go
Labels: Mgmt

#21022 azfile: Adding migration guide
  sdk/storage/azfile/migrationguide.md
Labels: Storage, AzFile

#21026 Sync eng/common directory with azure-sdk-tools for PR 6300
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#21019 [Datalake] SAS Support
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azdatalake/internal/exported/user_delegation_credential.go
  sdk/storage/azdatalake/sas/account.go
  sdk/storage/azdatalake/sas/account_test.go
  sdk/storage/azdatalake/sas/query_params.go
  sdk/storage/azdatalake/sas/query_params_test.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/sas/service_test.go
  sdk/storage/azdatalake/sas/url_parts.go
  sdk/storage/azdatalake/sas/url_parts_test.go
Labels: Storage, AzDatalake

#21027 Adding in the CloudEvent type
  sdk/azcore/CHANGELOG.md
  sdk/azcore/messaging/cloud_event.go
  sdk/azcore/messaging/cloud_event_test.go
  sdk/azcore/messaging/example_usingcloudevent_test.go
  sdk/azcore/messaging/testdata/cloudevent_binary_with_extensions.json
  sdk/azcore/messaging/testdata/cloudevent_required_only.json
Labels: Azure.Core

#20954 [Release] sdk/resourcemanager/recoveryservices/armrecoveryservices/1.4.0
  sdk/resourcemanager/recoveryservices/armrecoveryservices/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
  sdk/resourcemanager/recoveryservices/armrecoveryservices/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client_example_test.go
Labels: Mgmt, Stable

#20952 [Release] sdk/resourcemanager/selfhelp/armselfhelp/1.0.0
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/assets.json
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/go.mod
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
Labels: Mgmt, FirstGA

#21012 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/0.1.0
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/LICENSE.txt
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/README.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/build.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/ci.yml
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.mod
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.sum
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/response_types.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: FirstBeta

#21001 [Release] sdk/resourcemanager/redis/armredis/2.3.0
  sdk/resourcemanager/redis/armredis/CHANGELOG.md
  sdk/resourcemanager/redis/armredis/assets.json
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client.go
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client_example_test.go
  sdk/resourcemanager/redis/armredis/autorest.md
  sdk/resourcemanager/redis/armredis/client.go
  sdk/resourcemanager/redis/armredis/client_example_test.go
  sdk/resourcemanager/redis/armredis/constants.go
  sdk/resourcemanager/redis/armredis/firewallrules_client.go
  sdk/resourcemanager/redis/armredis/firewallrules_client_example_test.go
  sdk/resourcemanager/redis/armredis/linkedserver_client.go
  sdk/resourcemanager/redis/armredis/linkedserver_client_example_test.go
  sdk/resourcemanager/redis/armredis/models.go
  sdk/resourcemanager/redis/armredis/models_serde.go
  sdk/resourcemanager/redis/armredis/operations_client.go
  sdk/resourcemanager/redis/armredis/operations_client_example_test.go
  sdk/resourcemanager/redis/armredis/patchschedules_client.go
  sdk/resourcemanager/redis/armredis/patchschedules_client_example_test.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client_example_test.go
Labels: Mgmt, Stable

#20949 [Release] sdk/resourcemanager/trafficmanager/armtrafficmanager/1.2.0
  sdk/resourcemanager/trafficmanager/armtrafficmanager/CHANGELOG.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/autorest.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/client_factory.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/constants.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/endpoints_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/endpoints_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/geographichierarchies_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/geographichierarchies_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/go.mod
  sdk/resourcemanager/trafficmanager/armtrafficmanager/go.sum
  sdk/resourcemanager/trafficmanager/armtrafficmanager/heatmap_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/heatmap_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/models.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/models_serde.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/profiles_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/profiles_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/response_types.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/usermetricskeys_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/usermetricskeys_client_example_test.go
Labels: Mgmt, Stable

#20951 [Release] sdk/resourcemanager/graphservices/armgraphservices/1.0.0
  sdk/resourcemanager/graphservices/armgraphservices/CHANGELOG.md
  sdk/resourcemanager/graphservices/armgraphservices/account_client.go
  sdk/resourcemanager/graphservices/armgraphservices/account_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/accounts_client.go
  sdk/resourcemanager/graphservices/armgraphservices/accounts_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/autorest.md
  sdk/resourcemanager/graphservices/armgraphservices/client_factory.go
  sdk/resourcemanager/graphservices/armgraphservices/constants.go
  sdk/resourcemanager/graphservices/armgraphservices/go.mod
  sdk/resourcemanager/graphservices/armgraphservices/go.sum
  sdk/resourcemanager/graphservices/armgraphservices/models.go
  sdk/resourcemanager/graphservices/armgraphservices/operations_client.go
  sdk/resourcemanager/graphservices/armgraphservices/operations_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/response_types.go
Labels: Mgmt, BreakingChange, FirstGA

#20950 [Release] sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/1.2.0-beta.1
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/CHANGELOG.md
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/autorest.md
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/build.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/constants.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/dpscertificate_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/dpscertificate_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/go.mod
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/go.sum
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/iotdpsresource_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/iotdpsresource_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/models.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/models_serde.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/operations_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/operations_client_example_test.go
Labels: Mgmt, Beta

#20953 [Release] sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/0.1.0
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/CHANGELOG.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/LICENSE.txt
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/README.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/assets.json
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/autorest.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/build.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/ci.yml
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/client_factory.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/constants.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/go.mod
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/go.sum
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models_serde.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/postgresqlhsc_live_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/readreplica_live_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/response_types.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21003 [Release] sdk/resourcemanager/dataprotection/armdataprotection/2.2.0
  sdk/resourcemanager/dataprotection/armdataprotection/CHANGELOG.md
  sdk/resourcemanager/dataprotection/armdataprotection/autorest.md
  sdk/resourcemanager/dataprotection/armdataprotection/backupinstances_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backuppolicies_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaultoperationresults_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaults_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/client_factory.go
  sdk/resourcemanager/dataprotection/armdataprotection/constants.go
  sdk/resourcemanager/dataprotection/armdataprotection/deletedbackupinstances_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/dppresourceguardproxy_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/dppresourceguardproxy_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobs_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobsoperationresult_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/go.mod
  sdk/resourcemanager/dataprotection/armdataprotection/go.sum
  sdk/resourcemanager/dataprotection/armdataprotection/jobs_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/models.go
  sdk/resourcemanager/dataprotection/armdataprotection/models_serde.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationresult_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operations_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatus_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusbackupvaultcontext_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusresourcegroupcontext_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/recoverypoints_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/resourceguards_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/response_types.go
  sdk/resourcemanager/dataprotection/armdataprotection/restorabletimeranges_client_example_test.go
Labels: Mgmt, Stable

#21002 [Release] sdk/resourcemanager/storagecache/armstoragecache/3.2.0
  sdk/resourcemanager/storagecache/armstoragecache/CHANGELOG.md
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client.go
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/autorest.md
  sdk/resourcemanager/storagecache/armstoragecache/caches_client.go
  sdk/resourcemanager/storagecache/armstoragecache/caches_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/client_factory.go
  sdk/resourcemanager/storagecache/armstoragecache/constants.go
  sdk/resourcemanager/storagecache/armstoragecache/go.mod
  sdk/resourcemanager/storagecache/armstoragecache/go.sum
  sdk/resourcemanager/storagecache/armstoragecache/management_client.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/models.go
  sdk/resourcemanager/storagecache/armstoragecache/models_serde.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/response_types.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client_example_test.go
Labels: Mgmt, Stable

#21000 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.1.0-beta.2
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, Beta

#21039 sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql live test
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/postgresqlhsc_live_test.go
Labels: Mgmt

#20617 OpenAI client
  eng/config.json
  sdk/cognitiveservices/azopenai/CHANGELOG.md
  sdk/cognitiveservices/azopenai/LICENSE.txt
  sdk/cognitiveservices/azopenai/README.md
  sdk/cognitiveservices/azopenai/assets.json
  sdk/cognitiveservices/azopenai/autorest.md
  sdk/cognitiveservices/azopenai/build.go
  sdk/cognitiveservices/azopenai/ci.yml
  sdk/cognitiveservices/azopenai/client.go
  sdk/cognitiveservices/azopenai/client_shared_test.go
  sdk/cognitiveservices/azopenai/client_test.go
  sdk/cognitiveservices/azopenai/constants.go
  sdk/cognitiveservices/azopenai/custom_client.go
  sdk/cognitiveservices/azopenai/custom_client_test.go
  sdk/cognitiveservices/azopenai/custom_models.go
  sdk/cognitiveservices/azopenai/event_reader.go
  sdk/cognitiveservices/azopenai/examples_client_test.go
  sdk/cognitiveservices/azopenai/go.mod
  sdk/cognitiveservices/azopenai/go.sum
  sdk/cognitiveservices/azopenai/models.go
  sdk/cognitiveservices/azopenai/models_serde.go
  sdk/cognitiveservices/azopenai/policy_apikey.go
  sdk/cognitiveservices/azopenai/policy_apikey_test.go
  sdk/cognitiveservices/azopenai/response_types.go
  sdk/cognitiveservices/azopenai/version.go
Labels: Client, Open AI

#21032 [Feature STG 85/86] Cold Tier
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage

#21041 Deprecated sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/CHANGELOG.md
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/autorest.md
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/constants.go
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/go.mod
Labels: Mgmt

#21045 [Release] sdk/resourcemanager/storagecache/armstoragecache/3.2.1
  sdk/resourcemanager/storagecache/armstoragecache/CHANGELOG.md
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/autorest.md
  sdk/resourcemanager/storagecache/armstoragecache/caches_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/constants.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client_example_test.go
Labels: Mgmt

#20682 Enable Codeql in Analyze job for Go pipelines
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Central-EngSys

#21028 [azeventgrid] Use the common azcore/messaging/CloudEvent model
  sdk/messaging/azeventgrid/assets.json
  sdk/messaging/azeventgrid/autorest.md
  sdk/messaging/azeventgrid/build.go
  sdk/messaging/azeventgrid/ci.yml
  sdk/messaging/azeventgrid/client.go
  sdk/messaging/azeventgrid/client_custom.go
  sdk/messaging/azeventgrid/client_test.go
  sdk/messaging/azeventgrid/go.mod
  sdk/messaging/azeventgrid/go.sum
  sdk/messaging/azeventgrid/models.go
  sdk/messaging/azeventgrid/models_serde.go
  sdk/messaging/azeventgrid/response_types.go
  sdk/messaging/azeventgrid/shared_test.go
  sdk/messaging/azeventgrid/test-resources.bicep
  sdk/messaging/azeventgrid/time_rfc3339.go
Labels: Azure.Core

#20978 [keyvault] azcertificates renames
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/example_test.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/response_types.go
Labels: KeyVault, Client

#21050 Sync eng/common directory with azure-sdk-tools for PR 6392
  eng/common/pipelines/templates/steps/create-pull-request.yml
Labels: EngSys, Central-EngSys

#21034 [Datalake] Client Constructors
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/constants.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/path_client.go
  sdk/storage/azdatalake/internal/generated/service_client.go
  sdk/storage/azdatalake/internal/path/client.go
  sdk/storage/azdatalake/internal/path/constants.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/shared/shared.go
  sdk/storage/azdatalake/service/client.go
Labels: Storage

#21065 Add support for shallow cloning azcore.Client instances
  sdk/azcore/CHANGELOG.md
  sdk/azcore/core.go
  sdk/azcore/core_test.go
Labels: Azure.Core

#21070 [Release] sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/0.1.0
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/CHANGELOG.md
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/LICENSE.txt
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/README.md
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/accesscontrollists_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/accesscontrollists_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/autorest.md
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/build.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ci.yml
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/client_factory.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/constants.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/externalnetworks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/externalnetworks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/go.mod
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/go.sum
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internalnetworks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internalnetworks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipcommunities_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipcommunities_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipextendedcommunities_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipextendedcommunities_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipprefixes_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipprefixes_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l2isolationdomains_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l2isolationdomains_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l3isolationdomains_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l3isolationdomains_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/models.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/models_serde.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdevices_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdevices_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdeviceskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdeviceskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabriccontrollers_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabriccontrollers_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabrics_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabrics_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabricskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabricskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkinterfaces_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkinterfaces_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkracks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkracks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkrackskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkrackskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktonetworkinterconnects_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktonetworkinterconnects_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/operations_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/operations_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/response_types.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/routepolicies_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/routepolicies_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21076 chore: pkg imported more than once
  sdk/messaging/azeventhubs/internal/cbs.go
  sdk/messaging/azeventhubs/internal/links.go
  sdk/messaging/azeventhubs/internal/links_recover.go
  sdk/messaging/azeventhubs/producer_client.go
Labels: Event Hubs, customer-reported, Community Contribution

#21069 chore: fmt modify
  eng/tools/generator/autorest/generation.go
  eng/tools/generator/autorest/model/changelog.go
  eng/tools/generator/cmd/v2/common/changelogProcessor_test.go
Labels: customer-reported, Community Contribution

#21064 chore: slice replace loop
  eng/tools/internal/report/packages.go
Labels: customer-reported, Community Contribution

#21072 [azopenai] Adding in streaming for ChatCompletions, like we have for Completions.
  sdk/cognitiveservices/azopenai/assets.json
  sdk/cognitiveservices/azopenai/client_chat_completions_test.go
  sdk/cognitiveservices/azopenai/client_completions_test.go
  sdk/cognitiveservices/azopenai/client_embeddings_test.go
  sdk/cognitiveservices/azopenai/client_shared_test.go
  sdk/cognitiveservices/azopenai/client_test.go
  sdk/cognitiveservices/azopenai/custom_client.go
  sdk/cognitiveservices/azopenai/custom_client_test.go
  sdk/cognitiveservices/azopenai/custom_models.go
  sdk/cognitiveservices/azopenai/sample.env
Labels: Client, Open AI

#21071 [keyvault] update ID type
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/models.go
Labels: KeyVault, Client

#21077 Sync eng/common directory with azure-sdk-tools for PR 6434
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21084 Sync eng/common directory with azure-sdk-tools for PR 6440
  eng/common/scripts/get-codeowners.lib.ps1
Labels: EngSys, Central-EngSys

#21085 Sync .github/workflows directory with azure-sdk-tools for PR 6440
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys
