Repository Azure/azure-sdk-for-go, pull requests merged in 2023-01, with the labels that each got.

#19735 Add DefaultAzureCredential constructor error message test
  sdk/azidentity/default_azure_credential_test.go
Labels: Azure.Identity, test-enhancement

#19615 Add OnBehalfOfCredential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
Labels: Azure.Identity

#19734 AzureCLICredential respects application deadlines
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
Labels: Azure.Identity

#19746 Sync eng/common directory with azure-sdk-tools for PR 5005
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#19752 Updating changelogs for release next week
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azservicebus/CHANGELOG.md
Labels: Service Bus, Event Hubs

#19760 Sync eng/common directory with azure-sdk-tools for PR 5054
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#19683 [azeventhubs] Fixing issues with connection and link robustness for Event Hubs
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/doc.go
  sdk/messaging/azeventhubs/consumer_client_internal_test.go
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/doc.go
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/internal/amqpInterfaces.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azeventhubs/internal/cbs.go
  sdk/messaging/azeventhubs/internal/cbs_test.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/eh.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/internal/errors_test.go
  sdk/messaging/azeventhubs/internal/links.go
  sdk/messaging/azeventhubs/internal/links_unit_test.go
  sdk/messaging/azeventhubs/internal/mock/mock_amqp.go
  sdk/messaging/azeventhubs/internal/mock/mock_generate.go
  sdk/messaging/azeventhubs/internal/mock/mock_helpers.go
  sdk/messaging/azeventhubs/internal/mock/mock_namespace.go
  sdk/messaging/azeventhubs/internal/mock/mock_token.go
  sdk/messaging/azeventhubs/internal/mock/mock_token_credential.go
  sdk/messaging/azeventhubs/internal/mock/testdata/copyright.txt
  sdk/messaging/azeventhubs/internal/namespace.go
  sdk/messaging/azeventhubs/internal/namespace_test.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
  sdk/messaging/azeventhubs/internal/utils/retrier.go
  sdk/messaging/azeventhubs/internal/utils/retrier_test.go
  sdk/messaging/azeventhubs/mgmt.go
  sdk/messaging/azeventhubs/partition_client.go
  sdk/messaging/azeventhubs/test-resources.json
Labels: Event Hubs, Client

#19742 Adding tests for FilterBlobs and fixing encoding issue
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage

#19761 AzureCLICredential reports token expiration time in UTC
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
Labels: Azure.Identity

#19309 Support ARM cross-tenant authentication
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/shared/constants.go
Labels: Client, Mgmt, Azure.Core

#19754 Request.SetBody() allows overwriting with an empty body
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/exported/request_test.go
Labels: Azure.Core

#19759 Prepare azcore v1.3.0 for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#19767 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#19733 Export credentialUnavailableError constructor
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/errors.go
Labels: Azure.Identity

#19772 Sync eng/common directory with azure-sdk-tools for PR 5059
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#19774 Sync eng/common directory with azure-sdk-tools for PR 5040
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#19769 Cosmos DB - Add support for querying databases and containers
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_request_options.go
  sdk/data/azcosmos/cosmos_container_request_options_test.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_database_request_options.go
  sdk/data/azcosmos/cosmos_database_request_options_test.go
  sdk/data/azcosmos/cosmos_database_test.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_query_response_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_database_test.go
  sdk/data/azcosmos/example_test.go
Labels: Cosmos

#19768 Prepare azidentity v1.3.0-beta.2 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#19776 Sync eng/common directory with azure-sdk-tools for PR 5085
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#19778 Sync eng/common directory with azure-sdk-tools for PR 5095
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#19780 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: auto-merge

#19777 Update RedirectURL documentation
  sdk/azidentity/interactive_browser_credential.go
Labels: Docs, Azure.Identity

#19732 [Feature] Queue Service Client + Key Credential Authentication
  sdk/storage/azqueue/client.go
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/exported/shared_key_credential.go
  sdk/storage/azqueue/internal/exported/version.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/service_client.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/shared/shared.go
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/responses.go
Labels: Storage, AzQueue

#19782 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: auto-merge

#19783 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#19784 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#19786 [azeventhubs] Adding in prefetch value for the Processor, updating stress tests
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azeventhubs/internal/eh/stress/scenarios-matrix.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/templates/deploy-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/processor_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/processor.go
Labels: Event Hubs, Client

#19795 Append blob Unit Tests
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/examples_test.go
  sdk/storage/azblob/testdata/recordings/Test/TestSealWithAccessConditions.json
Labels: Storage, test-enhancement, AzBlob

#19771 Monitor Query UX Study Feedback
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/testdata/recordings/TestNewListDefinitionsPager_Failure.json
  sdk/monitor/azquery/testdata/recordings/TestNewListDefinitionsPager_Success.json
  sdk/monitor/azquery/testdata/recordings/TestNewListNamespacesPager_Failure.json
  sdk/monitor/azquery/testdata/recordings/TestNewListNamespacesPager_Success.json
  sdk/monitor/azquery/testdata/recordings/TestQueryBatch_AdvancedQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryBatch_BasicQueryFailure.json
  sdk/monitor/azquery/testdata/recordings/TestQueryBatch_PartialError.json
  sdk/monitor/azquery/testdata/recordings/TestQueryBatch_QuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryResource_BasicQueryFailure.json
  sdk/monitor/azquery/testdata/recordings/TestQueryResource_BasicQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_AdvancedQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_BasicQueryFailure.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_BasicQuerySuccess.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_MultipleWorkspaces.json
  sdk/monitor/azquery/testdata/recordings/TestQueryWorkspace_PartialError.json
  sdk/monitor/azquery/version.go
Labels: Docs, Client, Monitor - Query

#19802 Sync eng/common directory with azure-sdk-tools for PR 5121
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#19800 [azappconfig] Handle setting content type in AddSetting and SetSetting (#19797)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
Labels: customer-reported

#19803 Increment version for monitor/azquery releases
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Labels: auto-merge

#19813 Sync eng/common directory with azure-sdk-tools for PR 5113
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#19815 Sync eng/common directory with azure-sdk-tools for PR 5134
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#19748 Add logs to dump calculate block size and count during upload
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/examples_test.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/log.go
Labels: Storage, AzBlob

#19835 Enable CI for azqueue
  sdk/storage/azqueue/ci.yml
Labels: Storage

#19837 Update to latest code generator for azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/build.go
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_response_types.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc1123.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc3339.go
  sdk/storage/azqueue/internal/generated/zz_xml_helper.go
Labels: Storage

#19828 Export missing types
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/service/responses.go
Labels: Storage, AzBlob

#19836 [Blob] Fix API signatures and tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/lease/blob_client.go
  sdk/storage/azblob/lease/client_test.go
  sdk/storage/azblob/lease/container_client.go
  sdk/storage/azblob/lease/examples_test.go
  sdk/storage/azblob/lease/models.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/examples_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/testdata/recordings/Test/TestAppendBlock.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerChangeLease.json
  sdk/storage/azblob/testdata/recordings/Test/TestORSSource.json
  sdk/storage/azblob/testdata/recordings/Test/TestSetNullAccessPolicy.json
  sdk/storage/azblob/testdata/recordings/Test/TestUploadBlobWithMD5WithCPK.json
Labels: Storage, AzBlob

#19834 Update autorest version to Preview.45
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/examples_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blob/utils_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/examples_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/sas/examples_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/testdata/recordings/Test/TestBlobCreateAppendMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobCreateAppendMetadataInvalid.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobCreatePageMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobCreatePageMetadataInvalid.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobPutBlobMetadataInvalid.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobSetMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobSetMetadataInvalidField.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobSetMetadataNil.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobSnapshotMetadataInvalid.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobStartCopyDestIfMatchFalse.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobStartCopyMetadata.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobStartCopyMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/Test/TestBlobStartCopyMetadataInvalidField.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerCreateEmptyMetadata.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerCreateEmptyName.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerCreateInvalidName.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerCreateNameCollision.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerCreateNilMetadata.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerSetMetadataEmpty.json
  sdk/storage/azblob/testdata/recordings/Test/TestContainerSetMetadataInvalidField.json
  sdk/storage/azblob/testdata/recordings/Test/TestGetSetBlobMetadataWithCPK.json
  sdk/storage/azblob/testdata/recordings/Test/TestGetSetBlobMetadataWithCPKScope.json
Labels: Storage, AzBlob

#19757 Code generation for Azure Storage Files
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/LICENSE.txt
  sdk/storage/azfile/ci.yml
  sdk/storage/azfile/doc.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/build.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
  sdk/storage/azfile/internal/generated/zz_xml_helper.go
Labels: Storage, AzFile

#19858 GA CHANGELOG
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#19781 Added SAS missing permissions tests and fixed parsing logic
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/account_test.go
  sdk/storage/azblob/sas/query_params_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
  sdk/storage/azblob/sas/url_parts_test.go
Labels: Storage, AzBlob

#19863 Removed proposedLeaseID from the option bag for ChangeLease method
  sdk/storage/azblob/lease/models.go
Labels: Storage

#19859 Replace internal IMDS timeout with public API workaround
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/example_credential_unavailable_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Docs, Azure.Identity

#19867 Remove CHECKENFORCER file
  eng/CHECKENFORCER
Labels: Central-EngSys

#19865 Azblob doc cleanup
  sdk/storage/azblob/appendblob/responses.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/constants.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/constants.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/constants.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
Labels: Storage, AzBlob

#19847 Sync eng/common directory with azure-sdk-tools for PR 5169
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#19866 Fixing documentation for GetSASURL and Creating ErrorType
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/bloberror/error_codes.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#19869 Added basic default values for version parameter and cors rule + tests
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/models.go
Labels: Storage, AzBlob

#19856 Increase timeout for azkeys live tests
  sdk/keyvault/azkeys/ci.yml
Labels: KeyVault, test-reliability

#19447 Refactor KeyVaultChallengePolicy
  sdk/keyvault/internal/challenge_policy.go
  sdk/keyvault/internal/challenge_policy_test.go
  sdk/keyvault/internal/go.mod
  sdk/keyvault/internal/go.sum
Labels: KeyVault, Client

#19598 Add LoginHint option for InteractiveBrowserCredential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
Labels: Azure.Identity

#19876 Update keyvault/internal changelog
  sdk/keyvault/internal/CHANGELOG.md
Labels: Docs, KeyVault, Client

#19878 Patch azidentity to upgrade MSAL requirement
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/version.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/CHANGELOG.md
  sdk/resourcemanager/loadtestservice/armloadtestservice/LICENSE.txt
  sdk/resourcemanager/loadtestservice/armloadtestservice/README.md
  sdk/resourcemanager/loadtestservice/armloadtestservice/autorest.md
  sdk/resourcemanager/loadtestservice/armloadtestservice/build.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/ci.yml
  sdk/resourcemanager/loadtestservice/armloadtestservice/constants.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/go.mod
  sdk/resourcemanager/loadtestservice/armloadtestservice/go.sum
  sdk/resourcemanager/loadtestservice/armloadtestservice/loadtests_client.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/loadtests_client_example_test.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/models.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/models_serde.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/operations_client.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/operations_client_example_test.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/quotas_client.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/quotas_client_example_test.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/response_types.go
  sdk/resourcemanager/loadtestservice/armloadtestservice/time_rfc3339.go
Labels: Azure.Identity

#19884 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#19877 Sync eng/common directory with azure-sdk-tools for PR 5224
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#19882 APIView Comments for azblob GA
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blob/utils_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/internal/testcommon/cpk.go
  sdk/storage/azblob/models.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/models.go
Labels: Storage, AzBlob

#19885 Sync eng/common directory with azure-sdk-tools for PR 5231
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#19899 Support ARM cross-tenant authentication
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#19904 Sync eng/common directory with azure-sdk-tools for PR 5272
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Labels: EngSys, Central-EngSys
