Repository Azure/azure-sdk-for-go, pull requests merged in 2023-12, with the labels that each got.

#22102 Restore scheme/host when recording HTTP(S)
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
  sdk/internal/recording/testdata/recordings/TestRecording/TestGenerateAlphaNumericID.json
Labels: Internal

#22111 Refactor 4bc279bfefcf94d2049aee9801efd418a12e0314
  sdk/internal/recording/recording.go
  sdk/internal/recording/testdata/recordings/TestRecording/TestGenerateAlphaNumericID.json
Labels: Internal

#22113 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22112 Sync eng/common directory with azure-sdk-tools for PR 7385
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22109 azblob: Return io.ErrUnexpectedEOF as error in UploadStream
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/chunkwriting.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/shared/shared.go
Labels: Storage, AzBlob

#22117 storage: Doc fix
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/internal/exported/exported.go
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/exported.go
Labels: Storage, Docs

#22121 Add more retry after headers to check during retries
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/internal/shared/shared_test.go
Labels: Azure.Core

#22122 Prep azcore for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22124 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22128 azblob: Updating dependencies
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage, AzBlob

#21679 Add version naming and deprecation link
  documentation/MIGRATION_GUIDE.md
Labels: customer-reported, Community Contribution

#22132 fix mgmt README.md module link
  sdk/resourcemanager/apimanagement/armapimanagement/README.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/README.md
  sdk/resourcemanager/appcontainers/armappcontainers/README.md
  sdk/resourcemanager/appplatform/armappplatform/README.md
  sdk/resourcemanager/authorization/armauthorization/README.md
  sdk/resourcemanager/azurestackhci/armazurestackhci/README.md
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/README.md
  sdk/resourcemanager/batch/armbatch/README.md
  sdk/resourcemanager/billingbenefits/armbillingbenefits/README.md
  sdk/resourcemanager/cdn/armcdn/README.md
  sdk/resourcemanager/communication/armcommunication/README.md
  sdk/resourcemanager/compute/armcompute/README.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/cosmos/armcosmos/README.md
  sdk/resourcemanager/costmanagement/armcostmanagement/README.md
  sdk/resourcemanager/databox/armdatabox/README.md
  sdk/resourcemanager/datafactory/armdatafactory/README.md
  sdk/resourcemanager/dataprotection/armdataprotection/README.md
  sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/README.md
  sdk/resourcemanager/dynatrace/armdynatrace/README.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/README.md
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/README.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/README.md
  sdk/resourcemanager/kusto/armkusto/README.md
  sdk/resourcemanager/machinelearning/armmachinelearning/README.md
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/README.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/README.md
  sdk/resourcemanager/netapp/armnetapp/README.md
  sdk/resourcemanager/network/armnetwork/README.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/README.md
  sdk/resourcemanager/nginx/armnginx/README.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/README.md
  sdk/resourcemanager/orbital/armorbital/README.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/README.md
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/README.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/README.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/README.md
  sdk/resourcemanager/redis/armredis/README.md
  sdk/resourcemanager/reservations/armreservations/README.md
  sdk/resourcemanager/resources/armdeploymentscripts/README.md
  sdk/resourcemanager/selfhelp/armselfhelp/README.md
  sdk/resourcemanager/solutions/armmanagedapplications/README.md
  sdk/resourcemanager/sql/armsql/README.md
  sdk/resourcemanager/storagecache/armstoragecache/README.md
  sdk/resourcemanager/storagemover/armstoragemover/README.md
  sdk/resourcemanager/support/armsupport/README.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/README.md
Labels: Mgmt

#22142 Update comment
  sdk/storage/azblob/internal/exported/blob_batch.go
Labels: Storage

#22100 [Cosmos] Add Global Endpoint Manager
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_paths.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/shared_key_credential.go
  sdk/data/azcosmos/shared_key_credential_test.go
Labels: Cosmos

#22134 azfile: STG 91 code generation
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Labels: Storage, AzFile

#22108 List system containers
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/service/client_test.go
Labels: Storage, AzDatalake

#22148 Prevent panic in exported.Payload
  sdk/internal/CHANGELOG.md
  sdk/internal/exported/exported.go
  sdk/internal/exported/exported_test.go
Labels: Internal

#22118 Add Snapshot support for SDK
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/keyvaluefilter.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/snapshot.go
  sdk/data/azappconfig/utils_test.go
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21680 Add notice for version 1 deprecation
  README.md
Labels: customer-reported, Community Contribution

#22137 azblob: STG 91 code generation
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
Labels: Storage, AzBlob

#22145 azfile: Upload range from URL using OAuth tests
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
Labels: Storage, AzFile

#22077 [Release] sdk/resourcemanager/selfhelp/armselfhelp/2.0.0-beta.3
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/models_serde.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/options.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client_example_test.go
Labels: BreakingChange, Beta

#22079 [Release] sdk/resourcemanager/servicefabric/armservicefabric/2.0.0
  sdk/resourcemanager/servicefabric/armservicefabric/CHANGELOG.md
  sdk/resourcemanager/servicefabric/armservicefabric/applications_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applications_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypes_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypes_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypeversions_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypeversions_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/autorest.md
  sdk/resourcemanager/servicefabric/armservicefabric/clusters_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusters_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusterversions_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/constants.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applications_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applicationtypes_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applicationtypeversions_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/clusters_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/clusterversions_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/operations_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/services_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/go.mod
  sdk/resourcemanager/servicefabric/armservicefabric/models.go
  sdk/resourcemanager/servicefabric/armservicefabric/operations_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/options.go
  sdk/resourcemanager/servicefabric/armservicefabric/response_types.go
  sdk/resourcemanager/servicefabric/armservicefabric/servicefabric_live_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/services_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/services_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22104 [Release] sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/4.0.0-beta.4
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/administrators_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/autorest.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/backups_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailability_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailabilitywithlocation_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/configurations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/constants.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/databases_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/fake/serverthreatprotectionsettings_server.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/firewallrules_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/flexibleserver_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/getprivatednszonesuffix_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/locationbasedcapabilities_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/logfiles_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/ltrbackupoperations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/migrations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/operations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/postgresqlmanagement_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/privatelinkresources_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/quotausages_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/replicas_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servercapabilities_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servers_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/serverthreatprotectionsettings_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/serverthreatprotectionsettings_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/virtualendpoints_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/virtualnetworksubnetusage_client_example_test.go
Labels: Beta

#22076 [Release] sdk/resourcemanager/healthcareapis/armhealthcareapis/2.0.0
  sdk/resourcemanager/healthcareapis/armhealthcareapis/CHANGELOG.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/autorest.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/client_factory.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/constants.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/dicomservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/dicomservices_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/dicomservices_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/fhirdestinations_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/fhirservices_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/iotconnectorfhirdestination_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/iotconnectors_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/operationresults_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/operations_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/privateendpointconnections_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/privatelinkresources_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/services_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/workspaceprivateendpointconnections_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/workspaceprivatelinkresources_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/workspaces_server.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirdestinations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirdestinations_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirservices_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/go.mod
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectorfhirdestination_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectorfhirdestination_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectors_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectors_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models_serde.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operationresults_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operationresults_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operations_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privatelinkresources_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/services_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/services_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivatelinkresources_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaces_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaces_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22075 [Release] sdk/resourcemanager/deviceupdate/armdeviceupdate/1.3.0
  sdk/resourcemanager/deviceupdate/armdeviceupdate/CHANGELOG.md
  sdk/resourcemanager/deviceupdate/armdeviceupdate/accounts_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/accounts_client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/autorest.md
  sdk/resourcemanager/deviceupdate/armdeviceupdate/client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/constants.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/instances_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/instances_client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/models.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/models_serde.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/operations_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/operations_client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privateendpointconnectionproxies_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privateendpointconnectionproxies_client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privateendpointconnections_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privatelinkresources_client.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/privatelinkresources_client_example_test.go
Labels: Stable

#22078 [Release] sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/2.2.0
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/CHANGELOG.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/autorest.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/constants.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/fake/triggers_server.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/fake/virtualmachineimagetemplates_server.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models_serde.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client_example_test.go
Labels: Stable

#22103 [Release] sdk/resourcemanager/batch/armbatch/2.2.0
  sdk/resourcemanager/batch/armbatch/CHANGELOG.md
  sdk/resourcemanager/batch/armbatch/account_client.go
  sdk/resourcemanager/batch/armbatch/account_client_example_test.go
  sdk/resourcemanager/batch/armbatch/application_client.go
  sdk/resourcemanager/batch/armbatch/application_client_example_test.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client_example_test.go
  sdk/resourcemanager/batch/armbatch/autorest.md
  sdk/resourcemanager/batch/armbatch/certificate_client.go
  sdk/resourcemanager/batch/armbatch/certificate_client_example_test.go
  sdk/resourcemanager/batch/armbatch/constants.go
  sdk/resourcemanager/batch/armbatch/location_client.go
  sdk/resourcemanager/batch/armbatch/location_client_example_test.go
  sdk/resourcemanager/batch/armbatch/models.go
  sdk/resourcemanager/batch/armbatch/models_serde.go
  sdk/resourcemanager/batch/armbatch/operations_client.go
  sdk/resourcemanager/batch/armbatch/operations_client_example_test.go
  sdk/resourcemanager/batch/armbatch/pool_client.go
  sdk/resourcemanager/batch/armbatch/pool_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client_example_test.go
Labels: Stable

#22162 fix sdk/resourcemanager/connectedvmware/armconnectedvmware README
  sdk/resourcemanager/connectedvmware/armconnectedvmware/CHANGELOG.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/README.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/autorest.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/constants.go
Labels: Mgmt

#22163 azfile: Add support for AAD audience
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#22159 Datalake CPK
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
Labels: Storage

#22143 sdk/resourcemanager/attestation/armattestation live test
  sdk/resourcemanager/attestation/armattestation/assets.json
  sdk/resourcemanager/attestation/armattestation/attestation_live_test.go
  sdk/resourcemanager/attestation/armattestation/go.mod
  sdk/resourcemanager/attestation/armattestation/go.sum
Labels: Mgmt

#22123 sdk/resourcemanager/iotcentral/armiotcentral live test
  sdk/resourcemanager/iotcentral/armiotcentral/assets.json
  sdk/resourcemanager/iotcentral/armiotcentral/go.mod
  sdk/resourcemanager/iotcentral/armiotcentral/go.sum
  sdk/resourcemanager/iotcentral/armiotcentral/iotcentral_live_test.go
Labels: Mgmt

#22115 sdk/resourcemanager/labservices/armlabservices live test
  sdk/resourcemanager/labservices/armlabservices/assets.json
  sdk/resourcemanager/labservices/armlabservices/go.mod
  sdk/resourcemanager/labservices/armlabservices/go.sum
  sdk/resourcemanager/labservices/armlabservices/images_live_test.go
  sdk/resourcemanager/labservices/armlabservices/labplans_live_test.go
  sdk/resourcemanager/labservices/armlabservices/labs_live_test.go
  sdk/resourcemanager/labservices/armlabservices/operation_live_test.go
  sdk/resourcemanager/labservices/armlabservices/schedules_live_test.go
  sdk/resourcemanager/labservices/armlabservices/users_live_test.go
  sdk/resourcemanager/labservices/armlabservices/virtualmachines_live_test.go
Labels: Mgmt

#22095 sdk/resourcemanager/changeanalysis/armchangeanalysis live test
  sdk/resourcemanager/changeanalysis/armchangeanalysis/assets.json
  sdk/resourcemanager/changeanalysis/armchangeanalysis/changeanalysis_live_test.go
  sdk/resourcemanager/changeanalysis/armchangeanalysis/go.mod
  sdk/resourcemanager/changeanalysis/armchangeanalysis/go.sum
Labels: Mgmt

#22094 sdk/resourcemanager/msi/armmsi live test
  sdk/resourcemanager/msi/armmsi/assets.json
  sdk/resourcemanager/msi/armmsi/go.mod
  sdk/resourcemanager/msi/armmsi/go.sum
  sdk/resourcemanager/msi/armmsi/managedidentity_live_test.go
Labels: Mgmt

#22091 sdk/resourcemanager/dnsresolver/armdnsresolver live test
  sdk/resourcemanager/dnsresolver/armdnsresolver/assets.json
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsforwardingruleset_live_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsresolver_live_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/go.mod
  sdk/resourcemanager/dnsresolver/armdnsresolver/go.sum
Labels: Mgmt

#22089 sdk/resourcemanager/dns/armdns live test
  sdk/resourcemanager/dns/armdns/assets.json
  sdk/resourcemanager/dns/armdns/dns_live_test.go
  sdk/resourcemanager/dns/armdns/go.mod
  sdk/resourcemanager/dns/armdns/go.sum
Labels: Mgmt

#22082 sdk/resourcemanager/quota/armquota live test
  sdk/resourcemanager/quota/armquota/assets.json
  sdk/resourcemanager/quota/armquota/go.mod
  sdk/resourcemanager/quota/armquota/go.sum
  sdk/resourcemanager/quota/armquota/quota_live_test.go
Labels: Mgmt

#22070 sdk/resourcemanager/chaos/armchaos live test
  sdk/resourcemanager/chaos/armchaos/assets.json
  sdk/resourcemanager/chaos/armchaos/capabilities_live_test.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_live_test.go
  sdk/resourcemanager/chaos/armchaos/experiments_live_test.go
  sdk/resourcemanager/chaos/armchaos/go.mod
  sdk/resourcemanager/chaos/armchaos/go.sum
  sdk/resourcemanager/chaos/armchaos/operations_live_test.go
  sdk/resourcemanager/chaos/armchaos/targets_live_test.go
  sdk/resourcemanager/chaos/armchaos/targettypes_live_test.go
Labels: Mgmt

#22106 sdk/resourcemanager/loadtesting/armloadtesting live test
  sdk/resourcemanager/loadtesting/armloadtesting/assets.json
  sdk/resourcemanager/loadtesting/armloadtesting/go.mod
  sdk/resourcemanager/loadtesting/armloadtesting/go.sum
  sdk/resourcemanager/loadtesting/armloadtesting/loadtestservice_live_test.go
Labels: Mgmt

#22169 azblob: Add support for AAD audience
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#22170 [AzDatalake] Set Expiry
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/file/client_test.go
Labels: Storage, AzDatalake

#22180 azblob: Readme update for STG91
  sdk/storage/azblob/README.md
Labels: Storage

#22177 create new sub directory
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/internal/testcommon/common.go
Labels: Storage

#22178 [AzDatalake] Blob swagger update to latest 2021-12-02
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_response_types.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
Labels: Storage

#22181 azfile: Readme and code generator update
  sdk/storage/azfile/README.md
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
  sdk/storage/azfile/internal/generated/zz_xml_helper.go
Labels: Storage
