Repository Azure/azure-sdk-for-go, pull requests merged in 2023-10, with the labels that each got.

#21630 Persistent caching on Linux
  sdk/azidentity/cache/cache.go
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/cache/internal/aescbc/aescbc.go
  sdk/azidentity/cache/internal/aescbc/aescbc_test.go
  sdk/azidentity/cache/internal/jwe/jwe.go
  sdk/azidentity/cache/internal/jwe/jwe_test.go
  sdk/azidentity/cache/linux.go
  sdk/azidentity/cache/linux_test.go
  sdk/azidentity/cache/version.go
  sdk/azidentity/go.work.sum
Labels: Azure.Identity

#21607 Add user authentication example
  sdk/azidentity/example_user_auth_test.go
Labels: Docs, Azure.Identity

#21656 Add pipeline for azidentity/cache
  sdk/azidentity/cache/ci.yml
Labels: Azure.Identity

#21633 [azeventgrid] Unskip tests now that the fix has been deployed.
  sdk/messaging/azeventgrid/client_test.go
Labels: Event Grid

#21669 Sync eng/common directory with azure-sdk-tools for PR 7040
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#21678 Add AuthenticationRecord to publicClientOptions
  sdk/azidentity/assets.json
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity

#21287 Use subscription configuration variables for openai live tests
  sdk/ai/azopenai/ci.yml
  sdk/ai/azopenai/test-resources.bicep
Labels: Central-EngSys

#21593 Fix SetImmutabilityPolicyOptions.format() NPE
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
Labels: Storage, customer-reported, Community Contribution, AzBlob

#21695 Fix MIT license comment
  sdk/azcore/messaging/cloud_event.go
  sdk/azcore/messaging/cloud_event_test.go
  sdk/azcore/messaging/example_usingcloudevent_test.go
Labels: Azure.Core

#21696 Add breaking changes to release notes
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#21698 azcore v1.9.0-beta.1 release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21700 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21702 Sync .github/workflows directory with azure-sdk-tools for PR 7071
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#21716 Sync eng/common directory with azure-sdk-tools for PR 7072
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#21715 Add fakes and tracing to armstorage
  sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  sdk/resourcemanager/storage/armstorage/README.md
  sdk/resourcemanager/storage/armstorage/accounts_client.go
  sdk/resourcemanager/storage/armstorage/autorest.md
  sdk/resourcemanager/storage/armstorage/blobcontainers_client.go
  sdk/resourcemanager/storage/armstorage/blobinventorypolicies_client.go
  sdk/resourcemanager/storage/armstorage/blobservices_client.go
  sdk/resourcemanager/storage/armstorage/constants.go
  sdk/resourcemanager/storage/armstorage/deletedaccounts_client.go
  sdk/resourcemanager/storage/armstorage/encryptionscopes_client.go
  sdk/resourcemanager/storage/armstorage/fake/accounts_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobcontainers_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobinventorypolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/deletedaccounts_server.go
  sdk/resourcemanager/storage/armstorage/fake/encryptionscopes_server.go
  sdk/resourcemanager/storage/armstorage/fake/fileservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/fileshares_server.go
  sdk/resourcemanager/storage/armstorage/fake/internal.go
  sdk/resourcemanager/storage/armstorage/fake/localusers_server.go
  sdk/resourcemanager/storage/armstorage/fake/managementpolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/objectreplicationpolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/operations_server.go
  sdk/resourcemanager/storage/armstorage/fake/privateendpointconnections_server.go
  sdk/resourcemanager/storage/armstorage/fake/privatelinkresources_server.go
  sdk/resourcemanager/storage/armstorage/fake/queue_server.go
  sdk/resourcemanager/storage/armstorage/fake/queueservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/skus_server.go
  sdk/resourcemanager/storage/armstorage/fake/table_server.go
  sdk/resourcemanager/storage/armstorage/fake/tableservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/time_rfc3339.go
  sdk/resourcemanager/storage/armstorage/fake/usages_server.go
  sdk/resourcemanager/storage/armstorage/fake_example_test.go
  sdk/resourcemanager/storage/armstorage/fileservices_client.go
  sdk/resourcemanager/storage/armstorage/fileshares_client.go
  sdk/resourcemanager/storage/armstorage/go.mod
  sdk/resourcemanager/storage/armstorage/go.sum
  sdk/resourcemanager/storage/armstorage/localusers_client.go
  sdk/resourcemanager/storage/armstorage/managementpolicies_client.go
  sdk/resourcemanager/storage/armstorage/objectreplicationpolicies_client.go
  sdk/resourcemanager/storage/armstorage/operations_client.go
  sdk/resourcemanager/storage/armstorage/privateendpointconnections_client.go
  sdk/resourcemanager/storage/armstorage/privatelinkresources_client.go
  sdk/resourcemanager/storage/armstorage/queue_client.go
  sdk/resourcemanager/storage/armstorage/queueservices_client.go
  sdk/resourcemanager/storage/armstorage/skus_client.go
  sdk/resourcemanager/storage/armstorage/table_client.go
  sdk/resourcemanager/storage/armstorage/tableservices_client.go
  sdk/resourcemanager/storage/armstorage/usages_client.go
Labels: Mgmt

#21709 Add fakes and tracing to armcontainerservice
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
Labels: Mgmt

#21681 Fix azidentity/cache CI
  eng/config.json
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/LICENSE.txt
  sdk/azidentity/cache/README.md
  sdk/azidentity/cache/linux.go
  sdk/azidentity/cache/linux_test.go
  sdk/azidentity/cache/mock_test.go
  sdk/azidentity/cache/windows_test.go
Labels: Azure.Identity

#21701 Prepare azidentity v1.4.0 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/version.go
Labels: Azure.Identity

#21567 Use KeyCredential and SAS Credential types from azcore
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/client_custom.go
  sdk/messaging/azeventgrid/example_publish_and_receive_test.go
  sdk/messaging/azeventgrid/example_test.go
  sdk/messaging/azeventgrid/go.mod
  sdk/messaging/azeventgrid/go.sum
  sdk/messaging/azeventgrid/publisher/client_custom.go
  sdk/messaging/azeventgrid/publisher/client_test.go
  sdk/messaging/azeventgrid/publisher/example_newclient_test.go
  sdk/messaging/azeventgrid/publisher/example_publish_topic_test.go
  sdk/messaging/azeventgrid/shared_test.go
Labels: Event Grid

#21725 [azeventgrid] Updated for release for EventGrid
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/internal/version.go
Labels: Event Grid

#21714 Update armsubscriptions with latest azcore beta
  sdk/resourcemanager/resources/armsubscriptions/CHANGELOG.md
  sdk/resourcemanager/resources/armsubscriptions/autorest.md
  sdk/resourcemanager/resources/armsubscriptions/constants.go
  sdk/resourcemanager/resources/armsubscriptions/go.mod
  sdk/resourcemanager/resources/armsubscriptions/go.sum
Labels: Mgmt

#21713 Update armresources with latest azcore beta
  sdk/resourcemanager/resources/armresources/CHANGELOG.md
  sdk/resourcemanager/resources/armresources/autorest.md
  sdk/resourcemanager/resources/armresources/constants.go
  sdk/resourcemanager/resources/armresources/go.mod
  sdk/resourcemanager/resources/armresources/go.sum
Labels: Mgmt

#21712 Update armresourcegraph with latest azcore beta
  sdk/resourcemanager/resourcegraph/armresourcegraph/CHANGELOG.md
  sdk/resourcemanager/resourcegraph/armresourcegraph/autorest.md
  sdk/resourcemanager/resourcegraph/armresourcegraph/constants.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/go.mod
  sdk/resourcemanager/resourcegraph/armresourcegraph/go.sum
Labels: Mgmt

#21711 Update armmonitor with latest azcore beta
  sdk/resourcemanager/monitor/armmonitor/CHANGELOG.md
  sdk/resourcemanager/monitor/armmonitor/autorest.md
  sdk/resourcemanager/monitor/armmonitor/constants.go
  sdk/resourcemanager/monitor/armmonitor/go.mod
  sdk/resourcemanager/monitor/armmonitor/go.sum
Labels: Mgmt

#21710 Update armmarketplaceordering with latest azcore beta
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/CHANGELOG.md
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/autorest.md
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/constants.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/go.mod
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/go.sum
Labels: Mgmt

#21708 Update armcontainerregistry with latest azcore beta
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.sum
Labels: Mgmt

#21730 Prepare azidentity v1.5.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21731 [azeventgrid] Use CE instead of EG (otherwise we're generating a SAS based on a separate topic)
  sdk/messaging/azeventgrid/publisher/client_test.go
Labels: Event Grid

#21733 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#21719 [azservicebus]: Fixing the stress tests to take care of some debt
  sdk/messaging/azservicebus/internal/stress/Dockerfile
  sdk/messaging/azservicebus/internal/stress/scenarios-matrix.yaml
  sdk/messaging/azservicebus/internal/stress/shared/metric_names.go
  sdk/messaging/azservicebus/internal/stress/shared/stats.go
  sdk/messaging/azservicebus/internal/stress/shared/streaming_batch.go
  sdk/messaging/azservicebus/internal/stress/shared/streaming_batch_test.go
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/shared/tracking_receiver.go
  sdk/messaging/azservicebus/internal/stress/shared/tracking_sender.go
  sdk/messaging/azservicebus/internal/stress/shared/utils.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment_sender.go
  sdk/messaging/azservicebus/internal/stress/tests/empty_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_peeks.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/idle_fast_reconnect.go
  sdk/messaging/azservicebus/internal/stress/tests/infinite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/long_running_renew_lock.go
  sdk/messaging/azservicebus/internal/stress/tests/metric_names.go
  sdk/messaging/azservicebus/internal/stress/tests/mostly_idle_receiver.go
  sdk/messaging/azservicebus/internal/stress/tests/rapid_open_close.go
  sdk/messaging/azservicebus/internal/stress/tests/receive_cancellation.go
  sdk/messaging/azservicebus/internal/stress/tests/send_and_receive_drain.go
Labels: Service Bus

#21734 Prepare azidentity/cache v0.2.0 for release
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#21736 Sync .github/workflows directory with azure-sdk-tools for PR 7098
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#21732 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21677 Defensively trim suffix and prefix of | to prevent invalid attributes
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/internal/exported/smb_property.go
Labels: Storage, AzFile

#21739 Updating changelog for azfile STG 87 GA, azblob STG87-90 GA
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21741 Increment version for azidentity/cache releases
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#21689 [azingest] add sovereign support
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/README.md
  sdk/monitor/azingest/cloud_config.go
  sdk/monitor/azingest/custom_client.go
  sdk/monitor/azingest/utils_test.go
Labels: Monitor, Client

#21254 Enable spans in azkeys
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#21746 [azingest] fix typo
  sdk/monitor/azingest/README.md
Labels: Monitor

#21717 Sync eng/common directory with azure-sdk-tools for PR 7067
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#21749 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#21748 Increment version for monitor/azingest releases
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/version.go
Labels: Monitor

#21738 Document azidentity token caching
  sdk/azidentity/README.md
  sdk/azidentity/TOKEN_CACHING.MD
Labels: Azure.Identity

#21747 Prepare azappconfig for v1.0.0 release
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/README.md
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21752 Modified ARM template to built-in Files RBAC role
  sdk/storage/azfile/test-resources.json
Labels: Storage

#21745 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#21755 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21750 Sync eng/common directory with azure-sdk-tools for PR 7106
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#21753 Blob Batch API fix when / is present in blob path
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/exported/blob_batch.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#21723 Sync eng/common directory with azure-sdk-tools for PR 7075
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#21776 Don't canonicalize HTTP headers when logging
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_logging.go
  sdk/azcore/runtime/policy_logging_test.go
Labels: Azure.Core

#21756 Sync eng/common directory with azure-sdk-tools for PR 7113
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#21782 Replace AAD references in azidentity module
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/MIGRATION.md
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/cache/mock_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/mock_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#21281 Release internal 1.4.0
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
  sdk/internal/version.go
Labels: Central-EngSys, Internal

#21786 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#21787 [azeventgrid] updating release date
  sdk/messaging/azeventgrid/CHANGELOG.md
Labels: Event Grid

#21788 Increment version for messaging/azeventgrid releases
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/internal/version.go
Labels: Event Grid

#21789 Remove dead code from azcore
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
Labels: Azure.Core

#21744 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21800 Include error message in traces when transport fails
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_trace_namespace.go
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Labels: Azure.Core

#21802 Plumb TestRunTime parameter through job generation template
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys

#21803 Remove usage of APIs in httpguts
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/exported/pipeline.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#21804 Consolidate some duplicate code in Pager[T].NextPage
  sdk/azcore/runtime/pager.go
Labels: Azure.Core

#21811 Sync eng/common directory with azure-sdk-tools for PR 7171
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#21468 Enable health checks for HTTP/2 connections
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/runtime/transport_default_http_client.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#21816 [Release] sdk/resourcemanager/databricks/armdatabricks/1.0.0
  sdk/resourcemanager/databricks/armdatabricks/CHANGELOG.md
  sdk/resourcemanager/databricks/armdatabricks/accessconnectors_client.go
  sdk/resourcemanager/databricks/armdatabricks/accessconnectors_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/assets.json
  sdk/resourcemanager/databricks/armdatabricks/autorest.md
  sdk/resourcemanager/databricks/armdatabricks/build.go
  sdk/resourcemanager/databricks/armdatabricks/client_factory.go
  sdk/resourcemanager/databricks/armdatabricks/constants.go
  sdk/resourcemanager/databricks/armdatabricks/go.mod
  sdk/resourcemanager/databricks/armdatabricks/go.sum
  sdk/resourcemanager/databricks/armdatabricks/models.go
  sdk/resourcemanager/databricks/armdatabricks/models_serde.go
  sdk/resourcemanager/databricks/armdatabricks/operations_client.go
  sdk/resourcemanager/databricks/armdatabricks/operations_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/options.go
  sdk/resourcemanager/databricks/armdatabricks/outboundnetworkdependenciesendpoints_client.go
  sdk/resourcemanager/databricks/armdatabricks/outboundnetworkdependenciesendpoints_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/privateendpointconnections_client.go
  sdk/resourcemanager/databricks/armdatabricks/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/privatelinkresources_client.go
  sdk/resourcemanager/databricks/armdatabricks/privatelinkresources_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/response_types.go
  sdk/resourcemanager/databricks/armdatabricks/time_rfc3339.go
  sdk/resourcemanager/databricks/armdatabricks/vnetpeering_client.go
  sdk/resourcemanager/databricks/armdatabricks/vnetpeering_client_example_test.go
  sdk/resourcemanager/databricks/armdatabricks/workspaces_client.go
  sdk/resourcemanager/databricks/armdatabricks/workspaces_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA

#21810 fix: handle nil request case
  sdk/azidentity/errors.go
  sdk/azidentity/errors_test.go
Labels: Azure.Identity

#21805 [azeventhubs] Fixing issue with checkpoint/ownership blob casing that would affect compatibility
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_migration_test.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/eh/stress/Dockerfile
  sdk/messaging/azeventhubs/internal/eh/stress/scenarios-matrix.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/stress.go
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/checkpoints_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/metrics.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/processor_test.go
  sdk/messaging/azservicebus/internal/stress/Dockerfile
Labels: Service Bus, Event Hubs

#21657 [Release] sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/4.0.0-beta.2
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/administrators_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/administrators_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/autorest.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/backups_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/backups_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailability_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailability_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailabilitywithlocation_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailabilitywithlocation_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/client_factory.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/configurations_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/configurations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/constants.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/databases_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/databases_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/firewallrules_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/firewallrules_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/flexibleserver_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/flexibleserver_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/getprivatednszonesuffix_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/getprivatednszonesuffix_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.mod
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.sum
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/locationbasedcapabilities_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/locationbasedcapabilities_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/logfiles_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/logfiles_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/ltrbackupoperations_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/ltrbackupoperations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/migrations_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/migrations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/models.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/models_serde.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/operations_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/operations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/options.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/postgresqlmanagement_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/postgresqlmanagement_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/replicas_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/replicas_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/response_types.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servercapabilities_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servercapabilities_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servers_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servers_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/time_rfc3339.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/virtualnetworksubnetusage_client.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/virtualnetworksubnetusage_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21659 [Release] sdk/resourcemanager/storagemover/armstoragemover/2.0.0
  sdk/resourcemanager/storagemover/armstoragemover/CHANGELOG.md
  sdk/resourcemanager/storagemover/armstoragemover/agents_client.go
  sdk/resourcemanager/storagemover/armstoragemover/agents_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/autorest.md
  sdk/resourcemanager/storagemover/armstoragemover/client_factory.go
  sdk/resourcemanager/storagemover/armstoragemover/constants.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/go.mod
  sdk/resourcemanager/storagemover/armstoragemover/go.sum
  sdk/resourcemanager/storagemover/armstoragemover/interfaces.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/models.go
  sdk/resourcemanager/storagemover/armstoragemover/models_serde.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/options.go
  sdk/resourcemanager/storagemover/armstoragemover/polymorphic_helpers.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/response_types.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21660 [Release] sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/0.1.0
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/CHANGELOG.md
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/LICENSE.txt
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/README.md
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/autorest.md
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/azuresiterecoverymanagementserviceapi_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/azuresiterecoverymanagementserviceapi_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/build.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/ci.yml
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/client_factory.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/constants.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/dra_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/dra_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/draoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/draoperationstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/emailconfiguration_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/emailconfiguration_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/event_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/event_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/fabric_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/fabric_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/fabricoperationsstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/fabricoperationsstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/go.mod
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/go.sum
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/interfaces.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/models.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/models_serde.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/operations_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/operations_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/options.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/policy_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/policy_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/policyoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/policyoperationstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/polymorphic_helpers.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/protecteditem_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/protecteditem_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/protecteditemoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/protecteditemoperationstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/recoverypoints_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/recoverypoints_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/replicationextension_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/replicationextension_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/replicationextensionoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/replicationextensionoperationstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/response_types.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/time_rfc3339.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/vault_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/vault_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/vaultoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/vaultoperationstatus_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/workflow_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/workflow_client_example_test.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/workflowoperationstatus_client.go
  sdk/resourcemanager/recoveryservicesdatareplication/armrecoveryservicesdatareplication/workflowoperationstatus_client_example_test.go
Labels: Mgmt, FirstBeta

#21661 [Release] sdk/resourcemanager/resourcemover/armresourcemover/1.2.0
  sdk/resourcemanager/resourcemover/armresourcemover/CHANGELOG.md
  sdk/resourcemanager/resourcemover/armresourcemover/autorest.md
  sdk/resourcemanager/resourcemover/armresourcemover/build.go
  sdk/resourcemanager/resourcemover/armresourcemover/client_factory.go
  sdk/resourcemanager/resourcemover/armresourcemover/constants.go
  sdk/resourcemanager/resourcemover/armresourcemover/go.mod
  sdk/resourcemanager/resourcemover/armresourcemover/go.sum
  sdk/resourcemanager/resourcemover/armresourcemover/interfaces.go
  sdk/resourcemanager/resourcemover/armresourcemover/models.go
  sdk/resourcemanager/resourcemover/armresourcemover/models_serde.go
  sdk/resourcemanager/resourcemover/armresourcemover/movecollections_client.go
  sdk/resourcemanager/resourcemover/armresourcemover/movecollections_client_example_test.go
  sdk/resourcemanager/resourcemover/armresourcemover/moveresources_client.go
  sdk/resourcemanager/resourcemover/armresourcemover/moveresources_client_example_test.go
  sdk/resourcemanager/resourcemover/armresourcemover/operationsdiscovery_client.go
  sdk/resourcemanager/resourcemover/armresourcemover/operationsdiscovery_client_example_test.go
  sdk/resourcemanager/resourcemover/armresourcemover/options.go
  sdk/resourcemanager/resourcemover/armresourcemover/polymorphic_helpers.go
  sdk/resourcemanager/resourcemover/armresourcemover/response_types.go
  sdk/resourcemanager/resourcemover/armresourcemover/time_rfc3339.go
  sdk/resourcemanager/resourcemover/armresourcemover/unresolveddependencies_client.go
  sdk/resourcemanager/resourcemover/armresourcemover/unresolveddependencies_client_example_test.go
Labels: Mgmt, Stable

#21663 [Release] sdk/resourcemanager/connectedvmware/armconnectedvmware/1.0.0
  sdk/resourcemanager/connectedvmware/armconnectedvmware/CHANGELOG.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/autorest.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/client_factory.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/clusters_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/clusters_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/constants.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/datastores_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/datastores_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/go.mod
  sdk/resourcemanager/connectedvmware/armconnectedvmware/go.sum
  sdk/resourcemanager/connectedvmware/armconnectedvmware/guestagents_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/hosts_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/hosts_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/hybrididentitymetadata_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/hybrididentitymetadata_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/interfaces.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/inventoryitems_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/inventoryitems_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/machineextensions_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/machineextensions_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/models.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/models_serde.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/operations_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/operations_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/options.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/polymorphic_helpers.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/resourcepools_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/resourcepools_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/response_types.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/time_rfc3339.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vcenters_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vcenters_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachineinstances_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachineinstances_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachines_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachines_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachinetemplates_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualmachinetemplates_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualnetworks_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/virtualnetworks_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vminstanceguestagents_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vminstanceguestagents_client_example_test.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vminstancehybrididentitymetadata_client.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/vminstancehybrididentitymetadata_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA

#21665 [Release] sdk/resourcemanager/elasticsan/armelasticsan/0.4.0
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/client_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/go.mod
  sdk/resourcemanager/elasticsan/armelasticsan/go.sum
  sdk/resourcemanager/elasticsan/armelasticsan/models.go
  sdk/resourcemanager/elasticsan/armelasticsan/models_serde.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/options.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/response_types.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/time_rfc3339.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21666 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/0.3.0
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/response_types.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: Mgmt, Beta

#21667 [Release] sdk/resourcemanager/selfhelp/armselfhelp/2.0.0-beta.1
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/assets.json
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/client_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/go.mod
  sdk/resourcemanager/selfhelp/armselfhelp/go.sum
  sdk/resourcemanager/selfhelp/armselfhelp/help_live_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/models_serde.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/options.go
  sdk/resourcemanager/selfhelp/armselfhelp/response_types.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/time_rfc3339.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21683 [Release] sdk/resourcemanager/redhatopenshift/armredhatopenshift/1.4.0
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/CHANGELOG.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/autorest.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/build.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/constants.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/go.mod
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/go.sum
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models_serde.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client_example_test.go
Labels: Mgmt, Stable

#21718 [Release] sdk/resourcemanager/datadog/armdatadog/1.2.0
  sdk/resourcemanager/datadog/armdatadog/CHANGELOG.md
  sdk/resourcemanager/datadog/armdatadog/autorest.md
  sdk/resourcemanager/datadog/armdatadog/build.go
  sdk/resourcemanager/datadog/armdatadog/client_factory.go
  sdk/resourcemanager/datadog/armdatadog/constants.go
  sdk/resourcemanager/datadog/armdatadog/creationsupported_client.go
  sdk/resourcemanager/datadog/armdatadog/creationsupported_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/go.mod
  sdk/resourcemanager/datadog/armdatadog/go.sum
  sdk/resourcemanager/datadog/armdatadog/marketplaceagreements_client.go
  sdk/resourcemanager/datadog/armdatadog/marketplaceagreements_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/models.go
  sdk/resourcemanager/datadog/armdatadog/models_serde.go
  sdk/resourcemanager/datadog/armdatadog/monitoredsubscriptions_client.go
  sdk/resourcemanager/datadog/armdatadog/monitoredsubscriptions_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/monitors_client.go
  sdk/resourcemanager/datadog/armdatadog/monitors_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/operations_client.go
  sdk/resourcemanager/datadog/armdatadog/operations_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/options.go
  sdk/resourcemanager/datadog/armdatadog/response_types.go
  sdk/resourcemanager/datadog/armdatadog/singlesignonconfigurations_client.go
  sdk/resourcemanager/datadog/armdatadog/singlesignonconfigurations_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/tagrules_client.go
  sdk/resourcemanager/datadog/armdatadog/tagrules_client_example_test.go
  sdk/resourcemanager/datadog/armdatadog/time_rfc3339.go
Labels: Mgmt, Stable

#21763 [Release] sdk/resourcemanager/devcenter/armdevcenter/1.1.0-beta.1
  sdk/resourcemanager/devcenter/armdevcenter/CHANGELOG.md
  sdk/resourcemanager/devcenter/armdevcenter/assets.json
  sdk/resourcemanager/devcenter/armdevcenter/attachednetworks_client.go
  sdk/resourcemanager/devcenter/armdevcenter/attachednetworks_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/autorest.md
  sdk/resourcemanager/devcenter/armdevcenter/catalogdevboxdefinitions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogdevboxdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogs_client.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogs_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/checknameavailability_client.go
  sdk/resourcemanager/devcenter/armdevcenter/checknameavailability_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/client_factory.go
  sdk/resourcemanager/devcenter/armdevcenter/constants.go
  sdk/resourcemanager/devcenter/armdevcenter/customizationtasks_client.go
  sdk/resourcemanager/devcenter/armdevcenter/customizationtasks_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/devboxdefinitions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/devboxdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/devcenters_client.go
  sdk/resourcemanager/devcenter/armdevcenter/devcenters_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/environmentdefinitions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/environmentdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/environmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/environmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/galleries_client.go
  sdk/resourcemanager/devcenter/armdevcenter/galleries_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/go.mod
  sdk/resourcemanager/devcenter/armdevcenter/go.sum
  sdk/resourcemanager/devcenter/armdevcenter/images_client.go
  sdk/resourcemanager/devcenter/armdevcenter/images_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/imageversions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/imageversions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/models.go
  sdk/resourcemanager/devcenter/armdevcenter/models_serde.go
  sdk/resourcemanager/devcenter/armdevcenter/networkconnections_client.go
  sdk/resourcemanager/devcenter/armdevcenter/networkconnections_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operations_client.go
  sdk/resourcemanager/devcenter/armdevcenter/operations_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operationstatuses_client.go
  sdk/resourcemanager/devcenter/armdevcenter/operationstatuses_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/options.go
  sdk/resourcemanager/devcenter/armdevcenter/pools_client.go
  sdk/resourcemanager/devcenter/armdevcenter/pools_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectallowedenvironmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projectallowedenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectenvironmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projectenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projects_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projects_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/response_types.go
  sdk/resourcemanager/devcenter/armdevcenter/schedules_client.go
  sdk/resourcemanager/devcenter/armdevcenter/schedules_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/skus_client.go
  sdk/resourcemanager/devcenter/armdevcenter/skus_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/time_rfc3339.go
  sdk/resourcemanager/devcenter/armdevcenter/usages_client.go
  sdk/resourcemanager/devcenter/armdevcenter/usages_client_example_test.go
Labels: Mgmt, Beta

#21765 [Release] sdk/resourcemanager/resourcehealth/armresourcehealth/1.3.0-beta.1
  sdk/resourcemanager/resourcehealth/armresourcehealth/CHANGELOG.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/autorest.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/client_factory.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/constants.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/emergingissues_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/emergingissues_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.mod
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.sum
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/metadata_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/metadata_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/models.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/models_serde.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/operations_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/operations_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/options.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/response_types.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/time_rfc3339.go
Labels: Mgmt, Beta

#21766 [Release] sdk/resourcemanager/resources/armpolicy/0.8.0
  sdk/resourcemanager/resources/armpolicy/CHANGELOG.md
  sdk/resourcemanager/resources/armpolicy/assignments_client.go
  sdk/resourcemanager/resources/armpolicy/assignments_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/autorest.md
  sdk/resourcemanager/resources/armpolicy/build.go
  sdk/resourcemanager/resources/armpolicy/client_factory.go
  sdk/resourcemanager/resources/armpolicy/constants.go
  sdk/resourcemanager/resources/armpolicy/datapolicymanifests_client.go
  sdk/resourcemanager/resources/armpolicy/datapolicymanifests_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/definitions_client.go
  sdk/resourcemanager/resources/armpolicy/definitions_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/exemptions_client.go
  sdk/resourcemanager/resources/armpolicy/exemptions_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/go.mod
  sdk/resourcemanager/resources/armpolicy/go.sum
  sdk/resourcemanager/resources/armpolicy/models.go
  sdk/resourcemanager/resources/armpolicy/models_serde.go
  sdk/resourcemanager/resources/armpolicy/options.go
  sdk/resourcemanager/resources/armpolicy/response_types.go
  sdk/resourcemanager/resources/armpolicy/setdefinitions_client.go
  sdk/resourcemanager/resources/armpolicy/setdefinitions_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/time_rfc3339.go
  sdk/resourcemanager/resources/armpolicy/variables_client.go
  sdk/resourcemanager/resources/armpolicy/variables_client_example_test.go
  sdk/resourcemanager/resources/armpolicy/variablevalues_client.go
  sdk/resourcemanager/resources/armpolicy/variablevalues_client_example_test.go
Labels: Mgmt, Beta

#21768 [Release] sdk/resourcemanager/kusto/armkusto/2.1.0
  sdk/resourcemanager/kusto/armkusto/CHANGELOG.md
  sdk/resourcemanager/kusto/armkusto/assets.json
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client.go
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/autorest.md
  sdk/resourcemanager/kusto/armkusto/client_factory.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/clusters_client.go
  sdk/resourcemanager/kusto/armkusto/clusters_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/constants.go
  sdk/resourcemanager/kusto/armkusto/database_client.go
  sdk/resourcemanager/kusto/armkusto/database_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databases_client.go
  sdk/resourcemanager/kusto/armkusto/databases_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/go.mod
  sdk/resourcemanager/kusto/armkusto/go.sum
  sdk/resourcemanager/kusto/armkusto/interfaces.go
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client.go
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/models.go
  sdk/resourcemanager/kusto/armkusto/models_serde.go
  sdk/resourcemanager/kusto/armkusto/operations_client.go
  sdk/resourcemanager/kusto/armkusto/operations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/options.go
  sdk/resourcemanager/kusto/armkusto/polymorphic_helpers.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/response_types.go
  sdk/resourcemanager/kusto/armkusto/sandboxcustomimages_client.go
  sdk/resourcemanager/kusto/armkusto/sandboxcustomimages_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/scripts_client.go
  sdk/resourcemanager/kusto/armkusto/scripts_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/skus_client.go
  sdk/resourcemanager/kusto/armkusto/skus_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/time_rfc3339.go
Labels: Mgmt, Stable

#21771 [Release] sdk/resourcemanager/webpubsub/armwebpubsub/1.2.0-beta.2
  sdk/resourcemanager/webpubsub/armwebpubsub/CHANGELOG.md
  sdk/resourcemanager/webpubsub/armwebpubsub/autorest.md
  sdk/resourcemanager/webpubsub/armwebpubsub/build.go
  sdk/resourcemanager/webpubsub/armwebpubsub/client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/client_factory.go
  sdk/resourcemanager/webpubsub/armwebpubsub/constants.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customcertificates_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customcertificates_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customdomains_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customdomains_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/go.mod
  sdk/resourcemanager/webpubsub/armwebpubsub/go.sum
  sdk/resourcemanager/webpubsub/armwebpubsub/hubs_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/hubs_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/interfaces.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models_serde.go
  sdk/resourcemanager/webpubsub/armwebpubsub/operations_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/operations_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/options.go
  sdk/resourcemanager/webpubsub/armwebpubsub/polymorphic_helpers.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privateendpointconnections_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privatelinkresources_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/replicas_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/replicas_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/response_types.go
  sdk/resourcemanager/webpubsub/armwebpubsub/sharedprivatelinkresources_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/time_rfc3339.go
  sdk/resourcemanager/webpubsub/armwebpubsub/usages_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/usages_client_example_test.go
Labels: Mgmt, Beta

#21772 [Release] sdk/resourcemanager/signalr/armsignalr/1.2.0-beta.2
  sdk/resourcemanager/signalr/armsignalr/CHANGELOG.md
  sdk/resourcemanager/signalr/armsignalr/assets.json
  sdk/resourcemanager/signalr/armsignalr/autorest.md
  sdk/resourcemanager/signalr/armsignalr/build.go
  sdk/resourcemanager/signalr/armsignalr/client.go
  sdk/resourcemanager/signalr/armsignalr/client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/constants.go
  sdk/resourcemanager/signalr/armsignalr/customcertificates_client.go
  sdk/resourcemanager/signalr/armsignalr/customcertificates_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/customdomains_client.go
  sdk/resourcemanager/signalr/armsignalr/customdomains_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/models.go
  sdk/resourcemanager/signalr/armsignalr/models_serde.go
  sdk/resourcemanager/signalr/armsignalr/operations_client.go
  sdk/resourcemanager/signalr/armsignalr/operations_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/privateendpointconnections_client.go
  sdk/resourcemanager/signalr/armsignalr/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/privatelinkresources_client.go
  sdk/resourcemanager/signalr/armsignalr/privatelinkresources_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/replicas_client.go
  sdk/resourcemanager/signalr/armsignalr/replicas_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/sharedprivatelinkresources_client.go
  sdk/resourcemanager/signalr/armsignalr/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/usages_client.go
  sdk/resourcemanager/signalr/armsignalr/usages_client_example_test.go
Labels: Mgmt, Beta

#21658 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.4.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, Stable

#21769 [Release] sdk/resourcemanager/search/armsearch/1.2.0
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/adminkeys_client.go
  sdk/resourcemanager/search/armsearch/adminkeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/assets.json
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/build.go
  sdk/resourcemanager/search/armsearch/client_factory.go
  sdk/resourcemanager/search/armsearch/constants.go
  sdk/resourcemanager/search/armsearch/go.mod
  sdk/resourcemanager/search/armsearch/go.sum
  sdk/resourcemanager/search/armsearch/management_client.go
  sdk/resourcemanager/search/armsearch/management_client_example_test.go
  sdk/resourcemanager/search/armsearch/models.go
  sdk/resourcemanager/search/armsearch/models_serde.go
  sdk/resourcemanager/search/armsearch/operations_client.go
  sdk/resourcemanager/search/armsearch/operations_client_example_test.go
  sdk/resourcemanager/search/armsearch/options.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/querykeys_client.go
  sdk/resourcemanager/search/armsearch/querykeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/response_types.go
  sdk/resourcemanager/search/armsearch/services_client.go
  sdk/resourcemanager/search/armsearch/services_client_example_test.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/usages_client.go
  sdk/resourcemanager/search/armsearch/usages_client_example_test.go
Labels: Mgmt, Stable

#21764 [Release] sdk/resourcemanager/keyvault/armkeyvault/1.3.0
  sdk/resourcemanager/keyvault/armkeyvault/CHANGELOG.md
  sdk/resourcemanager/keyvault/armkeyvault/assets.json
  sdk/resourcemanager/keyvault/armkeyvault/autorest.md
  sdk/resourcemanager/keyvault/armkeyvault/build.go
  sdk/resourcemanager/keyvault/armkeyvault/client_factory.go
  sdk/resourcemanager/keyvault/armkeyvault/constants.go
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
  sdk/resourcemanager/keyvault/armkeyvault/go.sum
  sdk/resourcemanager/keyvault/armkeyvault/keys_client.go
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsmkeys_client.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsmkeys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsms_client.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsms_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivateendpointconnections_client.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivatelinkresources_client.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmregions_client.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmregions_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/models.go
  sdk/resourcemanager/keyvault/armkeyvault/models_serde.go
  sdk/resourcemanager/keyvault/armkeyvault/operations_client.go
  sdk/resourcemanager/keyvault/armkeyvault/operations_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/options.go
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client.go
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/privatelinkresources_client.go
  sdk/resourcemanager/keyvault/armkeyvault/privatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/response_types.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/time_rfc3339.go
  sdk/resourcemanager/keyvault/armkeyvault/time_unix.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
Labels: Mgmt, Stable

#21827 Sync eng/common directory with azure-sdk-tools for PR 7185
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#21828 Update docs for ClientOptions type
  sdk/azcore/core.go
  sdk/azcore/policy/policy.go
Labels: Azure.Core

#21819 [azservicebus] Update some of the areas where we mention the DefaultAzureCredential
  sdk/messaging/azeventhubs/example_consumerclient_test.go
  sdk/messaging/azeventhubs/example_producerclient_test.go
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/migrationguide.md
Labels: Service Bus, Event Hubs

#21770 [Release] sdk/resourcemanager/netapp/armnetapp/5.0.0
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client.go
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/autorest.md
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backups_client.go
  sdk/resourcemanager/netapp/armnetapp/backups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/client_factory.go
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/go.mod
  sdk/resourcemanager/netapp/armnetapp/go.sum
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/operations_client.go
  sdk/resourcemanager/netapp/armnetapp/operations_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/options.go
  sdk/resourcemanager/netapp/armnetapp/pools_client.go
  sdk/resourcemanager/netapp/armnetapp/pools_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resource_client.go
  sdk/resourcemanager/netapp/armnetapp/resource_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/response_types.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/time_rfc3339.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21792 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#21806 Optional fields which were mandatory earlier creating failure with older service version
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/smb_property.go
Labels: Storage

#21834 [azservicebus] Updating to include link to the message browsing documentation.
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/sender.go
  sdk/messaging/azservicebus/session_receiver.go
Labels: Service Bus

#21832 Require TLS protected endpoints for key and SAS authentication
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
  sdk/azcore/runtime/policy_key_credential.go
  sdk/azcore/runtime/policy_key_credential_test.go
  sdk/azcore/runtime/policy_sas_credential.go
  sdk/azcore/runtime/policy_sas_credential_test.go
Labels: Azure.Core

#21835 Don't panic on a nil credential value
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
  sdk/azcore/runtime/policy_key_credential.go
  sdk/azcore/runtime/policy_key_credential_test.go
  sdk/azcore/runtime/policy_sas_credential.go
  sdk/azcore/runtime/policy_sas_credential_test.go
Labels: Azure.Core

#21839 Prevent panic in ResponseError.Error()
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/response_error.go
  sdk/azcore/internal/exported/response_error_test.go
Labels: Azure.Core

#21833 Sync eng/common directory with azure-sdk-tools for PR 7181
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#21844 Sync eng/common directory with azure-sdk-tools for PR 7191
  eng/common/scripts/copy-from-blobstorage.ps1
Labels: EngSys, Central-EngSys

#21846 Sync eng/common directory with azure-sdk-tools for PR 7200
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#21849 Don't omit trailing error response for fake pages
  sdk/azcore/CHANGELOG.md
  sdk/azcore/fake/fake.go
  sdk/azcore/fake/fake_test.go
  sdk/azcore/fake/internal/exported/fake.go
  sdk/azcore/fake/internal/exported/fake_test.go
Labels: Azure.Core

#21852 Add doc section on fakes
  sdk/azcore/doc.go
Labels: Azure.Core

#21853 Sync eng/common directory with azure-sdk-tools for PR 5947
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#21854 Update packages to latest core
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/utils_test.go
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Labels: KeyVault, Service Bus, Event Hubs

#21845 Add Non Retriable Error Wrapper for all SDK's
  sdk/internal/errorinfo/errorinfo.go
  sdk/internal/errorinfo/errorinfo_test.go
Labels: Internal

#21857 Update keyvault recording path and proxy docs
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/internal/recording/README.md
  sdk/security/keyvault/azcertificates/ci.yml
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azkeys/ci.yml
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azsecrets/ci.yml
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: Central-EngSys
