Repository Azure/azure-sdk-for-go, pull requests merged in 2023-08, with the labels that each got.

#21297 [AzDatalake] Lease Clients Implementation
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/lease/client.go
  sdk/storage/azdatalake/lease/client_test.go
  sdk/storage/azdatalake/lease/models.go
  sdk/storage/azdatalake/lease/path_client.go
  sdk/storage/azdatalake/service/client.go
Labels: Storage, AzDatalake

#21295 Sync eng/common directory with azure-sdk-tools for PR 6611
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/onboarding/README.me
Labels: EngSys, Central-EngSys

#21302 Improve example for runtime.WithCaptureResponse
  sdk/azcore/runtime/examples_test.go
Labels: Azure.Core

#21316 [keyvault] internal module prep for release
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Labels: KeyVault, Client

#21322 Sync eng/common directory with azure-sdk-tools for PR 6670
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21294 Encryption Scope SAS
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/service.go
Labels: Storage, AzBlob

#21331 Prepare azidentity v1.4.0-beta.3 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#21326 azfile: Additional header support
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/copy_file_smb_options.go
Labels: Storage, AzFile

#21332 Test Encryption Scope support for Sync Blob Copy (SyncCopyFromUrl)
  sdk/storage/azblob/blockblob/client_test.go
Labels: Storage

#21337 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21344 Sync eng/common directory with azure-sdk-tools for PR 6739
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#21330 azfile: Add encryption scope in account SAS
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/lease/client_test.go
  sdk/storage/azfile/sas/account.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/query_params_test.go
  sdk/storage/azfile/service/client_test.go
Labels: Storage, AzFile

#21336 azfile: Premium File Shares - Updated for new bandwidth limits
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#21342 Test List Blobs Fix for Invalid XML Characters
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/generated/models.go
Labels: Storage

#21345 Increase azidentity test coverage
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#21351 Include response body in IMDS 400 error message
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
Labels: Azure.Identity

#21362 Add TokenRequestOptions.EnableCAE
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/exported.go
Labels: Azure.Core

#21369 [keyvault] azadmin fix tests
  sdk/security/keyvault/azadmin/settings/client_test.go
Labels: KeyVault, Client

#21353 Fix typo in doc comment for the TokenFilePath field in workload_identity
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#21370 [keyvault internal] prep for release
  sdk/security/keyvault/internal/CHANGELOG.md
Labels: KeyVault, Client

#21367 ARM auth policy opts in to CAE
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
Labels: Azure.Core

#21371 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21372 Minor updates to changelog
  sdk/storage/azblob/CHANGELOG.md
Labels: Storage

#21375 Increment version for security/keyvault/internal releases
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
Labels: KeyVault

#21355 azfile: Trailing dot support
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client_test.go
Labels: Storage, AzFile

#21360 azfile: Support for invalid XML characters
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/internal/generated/models.go
Labels: Storage, AzFile

#21377 Update CODEOWNERS file for Monitor
  .github/CODEOWNERS
Labels: Monitor - Query

#21378 Refactor handling of setting file expiry policy
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/internal/exported/set_expiry.go
Labels: Storage

#21382 Upgrade azidentity v1.3.0 dependencies
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/mock_test.go
  sdk/azidentity/version.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#21383 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity, auto-merge

#21381 azblob: Upgrade to STG 85-86
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/bloberror/error_codes.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/generated/appendblob_client.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/block_blob_client.go
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/generated/models.go
  sdk/storage/azblob/internal/generated/pageblob_client.go
  sdk/storage/azblob/internal/generated/service_client.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage

#21379 Upgrade azidentity dependencies
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/mock_test.go
Labels: Azure.Identity

#21385 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21347 [storage][azblob]Content validation test for DownloadFile/DownloadBuffer functions
  sdk/storage/azblob/blob/client_test.go
Labels: Storage, AzBlob

#21259 [storage][azblob]DownloadFile: Download large files serially
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/chunkwriting.go
  sdk/storage/azblob/blockblob/chunkwriting_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/shared/batch_transfer.go
  sdk/storage/azblob/internal/shared/buffer_manager.go
  sdk/storage/azblob/internal/shared/mmf_unix.go
  sdk/storage/azblob/internal/shared/mmf_windows.go
Labels: Storage, AzBlob

#21388 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#21376 [keyvault] upgraded dependencies
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/example_test.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
Labels: KeyVault, Client

#21393 sdk/resourcemanager/kusto/armkusto live test
  sdk/resourcemanager/kusto/armkusto/assets.json
  sdk/resourcemanager/kusto/armkusto/go.mod
  sdk/resourcemanager/kusto/armkusto/go.sum
  sdk/resourcemanager/kusto/armkusto/kusto_live_test.go
Labels: Mgmt

#21008 Add doc links to fakes example
  sdk/resourcemanager/compute/armcompute/README.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/network/armnetwork/README.md
  sdk/resourcemanager/resources/armresources/README.md
  sdk/resourcemanager/resources/armsubscriptions/README.md
  sdk/resourcemanager/storage/armstorage/README.md
Labels: Mgmt

#21395 Updated cosmos_container.go: PatchItem function to respect enableContentResponseOnWrite
  sdk/data/azcosmos/cosmos_container.go
Labels: Cosmos, customer-reported, Community Contribution

#21397 Cosmos DB: Changelog for 0.3.6 bugfix release
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos

#21398 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos

#21251 Suppress nested SDK method spans
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Labels: Azure.Core

#21401 [keyvault] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azsecrets/CHANGELOG.md
Labels: KeyVault, Client

#21390 azfile: API View feedback + examples
  sdk/storage/azfile/README.md
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/examples_test.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/directory/responses.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/service/constants.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/examples_test.go
Labels: Storage, AzFile

#21384 Regenerating AzBlob to STG 87-90
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
Labels: Storage, AzBlob

#21406 Customer APIs should not be in the runtime package
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/policy/examples_test.go
  sdk/azcore/policy/policy.go
  sdk/azcore/policy/policy_test.go
  sdk/azcore/runtime/examples_test.go
  sdk/azcore/runtime/policy_http_header.go
  sdk/azcore/runtime/policy_include_response.go
  sdk/azcore/runtime/policy_include_response_test.go
  sdk/azcore/runtime/policy_retry.go
Labels: Azure.Core

#21315 Remove dead code in NewDefaultAzureCredential error handling
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Labels: Azure.Identity

#21296 Validate and encode query parameters
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
Labels: Azure.Core

#21400 Sync eng/common directory with azure-sdk-tools for PR 6817
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21333 Implement stable CAE design
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
  sdk/azidentity/public_client.go
  sdk/azidentity/syncer.go
  sdk/azidentity/syncer_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#21416 Add links to monitor/azingest README
  sdk/monitor/azingest/README.md
Labels: Monitor

#21410 [keyvault] fix doc comments
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/response_types.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
Labels: KeyVault, Client

#21420 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#21308 [Release] sdk/resourcemanager/chaos/armchaos/0.7.0
  sdk/resourcemanager/chaos/armchaos/CHANGELOG.md
  sdk/resourcemanager/chaos/armchaos/autorest.md
  sdk/resourcemanager/chaos/armchaos/capabilities_client.go
  sdk/resourcemanager/chaos/armchaos/capabilities_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_client.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/client_factory.go
  sdk/resourcemanager/chaos/armchaos/constants.go
  sdk/resourcemanager/chaos/armchaos/experiments_client.go
  sdk/resourcemanager/chaos/armchaos/experiments_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/go.mod
  sdk/resourcemanager/chaos/armchaos/go.sum
  sdk/resourcemanager/chaos/armchaos/interfaces.go
  sdk/resourcemanager/chaos/armchaos/models.go
  sdk/resourcemanager/chaos/armchaos/models_serde.go
  sdk/resourcemanager/chaos/armchaos/operations_client.go
  sdk/resourcemanager/chaos/armchaos/options.go
  sdk/resourcemanager/chaos/armchaos/polymorphic_helpers.go
  sdk/resourcemanager/chaos/armchaos/response_types.go
  sdk/resourcemanager/chaos/armchaos/targets_client.go
  sdk/resourcemanager/chaos/armchaos/targets_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/targettypes_client.go
  sdk/resourcemanager/chaos/armchaos/targettypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/time_rfc3339.go
Labels: Mgmt, BreakingChange, Beta

#21306 [Release] sdk/resourcemanager/apicenter/armapicenter/0.1.0
  sdk/resourcemanager/apicenter/armapicenter/CHANGELOG.md
  sdk/resourcemanager/apicenter/armapicenter/LICENSE.txt
  sdk/resourcemanager/apicenter/armapicenter/README.md
  sdk/resourcemanager/apicenter/armapicenter/autorest.md
  sdk/resourcemanager/apicenter/armapicenter/build.go
  sdk/resourcemanager/apicenter/armapicenter/ci.yml
  sdk/resourcemanager/apicenter/armapicenter/client_factory.go
  sdk/resourcemanager/apicenter/armapicenter/constants.go
  sdk/resourcemanager/apicenter/armapicenter/go.mod
  sdk/resourcemanager/apicenter/armapicenter/go.sum
  sdk/resourcemanager/apicenter/armapicenter/models.go
  sdk/resourcemanager/apicenter/armapicenter/models_serde.go
  sdk/resourcemanager/apicenter/armapicenter/operations_client.go
  sdk/resourcemanager/apicenter/armapicenter/operations_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/options.go
  sdk/resourcemanager/apicenter/armapicenter/response_types.go
  sdk/resourcemanager/apicenter/armapicenter/services_client.go
  sdk/resourcemanager/apicenter/armapicenter/services_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21311 [Release] sdk/resourcemanager/redhatopenshift/armredhatopenshift/1.3.0
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/CHANGELOG.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/autorest.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/client_factory.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/constants.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/go.mod
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/go.sum
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models_serde.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/options.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/response_types.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/time_rfc3339.go
Labels: Mgmt, Stable

#21334 [Release] sdk/resourcemanager/maps/armmaps/1.0.0
  sdk/resourcemanager/maps/armmaps/CHANGELOG.md
  sdk/resourcemanager/maps/armmaps/accounts_client.go
  sdk/resourcemanager/maps/armmaps/accounts_client_example_test.go
  sdk/resourcemanager/maps/armmaps/autorest.md
  sdk/resourcemanager/maps/armmaps/client.go
  sdk/resourcemanager/maps/armmaps/client_example_test.go
  sdk/resourcemanager/maps/armmaps/client_factory.go
  sdk/resourcemanager/maps/armmaps/constants.go
  sdk/resourcemanager/maps/armmaps/creators_client.go
  sdk/resourcemanager/maps/armmaps/creators_client_example_test.go
  sdk/resourcemanager/maps/armmaps/go.mod
  sdk/resourcemanager/maps/armmaps/go.sum
  sdk/resourcemanager/maps/armmaps/models.go
  sdk/resourcemanager/maps/armmaps/models_serde.go
  sdk/resourcemanager/maps/armmaps/options.go
  sdk/resourcemanager/maps/armmaps/response_types.go
  sdk/resourcemanager/maps/armmaps/time_rfc3339.go
Labels: Mgmt, BreakingChange, FirstGA

#21338 [Release] sdk/resourcemanager/avs/armavs/1.3.0
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/addons_client.go
  sdk/resourcemanager/avs/armavs/addons_client_example_test.go
  sdk/resourcemanager/avs/armavs/authorizations_client.go
  sdk/resourcemanager/avs/armavs/authorizations_client_example_test.go
  sdk/resourcemanager/avs/armavs/autorest.md
  sdk/resourcemanager/avs/armavs/build.go
  sdk/resourcemanager/avs/armavs/client_factory.go
  sdk/resourcemanager/avs/armavs/cloudlinks_client.go
  sdk/resourcemanager/avs/armavs/cloudlinks_client_example_test.go
  sdk/resourcemanager/avs/armavs/clusters_client.go
  sdk/resourcemanager/avs/armavs/clusters_client_example_test.go
  sdk/resourcemanager/avs/armavs/constants.go
  sdk/resourcemanager/avs/armavs/datastores_client.go
  sdk/resourcemanager/avs/armavs/datastores_client_example_test.go
  sdk/resourcemanager/avs/armavs/globalreachconnections_client.go
  sdk/resourcemanager/avs/armavs/globalreachconnections_client_example_test.go
  sdk/resourcemanager/avs/armavs/go.mod
  sdk/resourcemanager/avs/armavs/go.sum
  sdk/resourcemanager/avs/armavs/hcxenterprisesites_client.go
  sdk/resourcemanager/avs/armavs/hcxenterprisesites_client_example_test.go
  sdk/resourcemanager/avs/armavs/interfaces.go
  sdk/resourcemanager/avs/armavs/locations_client.go
  sdk/resourcemanager/avs/armavs/locations_client_example_test.go
  sdk/resourcemanager/avs/armavs/models.go
  sdk/resourcemanager/avs/armavs/models_serde.go
  sdk/resourcemanager/avs/armavs/operations_client.go
  sdk/resourcemanager/avs/armavs/operations_client_example_test.go
  sdk/resourcemanager/avs/armavs/options.go
  sdk/resourcemanager/avs/armavs/placementpolicies_client.go
  sdk/resourcemanager/avs/armavs/placementpolicies_client_example_test.go
  sdk/resourcemanager/avs/armavs/polymorphic_helpers.go
  sdk/resourcemanager/avs/armavs/privateclouds_client.go
  sdk/resourcemanager/avs/armavs/privateclouds_client_example_test.go
  sdk/resourcemanager/avs/armavs/response_types.go
  sdk/resourcemanager/avs/armavs/scriptcmdlets_client.go
  sdk/resourcemanager/avs/armavs/scriptcmdlets_client_example_test.go
  sdk/resourcemanager/avs/armavs/scriptexecutions_client.go
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/avs/armavs/scriptpackages_client.go
  sdk/resourcemanager/avs/armavs/scriptpackages_client_example_test.go
  sdk/resourcemanager/avs/armavs/time_rfc3339.go
  sdk/resourcemanager/avs/armavs/virtualmachines_client.go
  sdk/resourcemanager/avs/armavs/virtualmachines_client_example_test.go
  sdk/resourcemanager/avs/armavs/workloadnetworks_client.go
  sdk/resourcemanager/avs/armavs/workloadnetworks_client_example_test.go
Labels: Mgmt, Stable

#21423 [keyvault] update date
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azkeys/CHANGELOG.md
Labels: KeyVault, Client

#21391 Sync eng/common directory with azure-sdk-tools for PR 6782
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#21407 Fixed issue where customers could not capture response of directory and file GetProperties calls
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/shared/policy_include_blob_response.go
  sdk/storage/azdatalake/service/client.go
Labels: Storage

#21409 Update AzBlob Service Version to 2023-08-03
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
Labels: Storage, AzBlob

#21425 [azkeys] change managed hsm region
  sdk/security/keyvault/azkeys/test-resources.json
Labels: KeyVault, Client

#21427 [azadmin] change managed hsm region
  sdk/security/keyvault/azadmin/test-resources.json
Labels: KeyVault, Client

#21430 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#21428 Sync eng/common directory with azure-sdk-tools for PR 6632
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#21419 Sync eng/common directory with azure-sdk-tools for PR 6823
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#21422 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.2.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, Stable

#21318 [Release] sdk/resourcemanager/appcontainers/armappcontainers/2.0.0
  sdk/resourcemanager/appcontainers/armappcontainers/CHANGELOG.md
  sdk/resourcemanager/appcontainers/armappcontainers/autorest.md
  sdk/resourcemanager/appcontainers/armappcontainers/availableworkloadprofiles_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/availableworkloadprofiles_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/billingmeters_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/billingmeters_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/certificates_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/certificates_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/client_factory.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironments_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironments_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentscertificates_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentscertificates_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentsdaprcomponents_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentsdaprcomponents_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentsstorages_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/connectedenvironmentsstorages_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/constants.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerapps_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerapps_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsapi_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsapi_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsauthconfigs_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsauthconfigs_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsdiagnostics_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsdiagnostics_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsrevisionreplicas_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsrevisionreplicas_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsrevisions_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappsrevisions_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappssourcecontrols_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/containerappssourcecontrols_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/daprcomponents_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/daprcomponents_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/go.mod
  sdk/resourcemanager/appcontainers/armappcontainers/go.sum
  sdk/resourcemanager/appcontainers/armappcontainers/jobs_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/jobs_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/jobsexecutions_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/jobsexecutions_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedcertificates_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedcertificates_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentdiagnostics_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentdiagnostics_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironments_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironments_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentsdiagnostics_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentsdiagnostics_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentsstorages_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/managedenvironmentsstorages_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/models.go
  sdk/resourcemanager/appcontainers/armappcontainers/models_serde.go
  sdk/resourcemanager/appcontainers/armappcontainers/namespaces_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/namespaces_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/operations_client.go
  sdk/resourcemanager/appcontainers/armappcontainers/operations_client_example_test.go
  sdk/resourcemanager/appcontainers/armappcontainers/options.go
  sdk/resourcemanager/appcontainers/armappcontainers/response_types.go
  sdk/resourcemanager/appcontainers/armappcontainers/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21340 [Release] sdk/resourcemanager/resources/armdeploymentstacks/v0.1.0
  sdk/resourcemanager/resources/armdeploymentstacks/CHANGELOG.md
  sdk/resourcemanager/resources/armdeploymentstacks/LICENSE.txt
  sdk/resourcemanager/resources/armdeploymentstacks/README.md
  sdk/resourcemanager/resources/armdeploymentstacks/autorest.md
  sdk/resourcemanager/resources/armdeploymentstacks/build.go
  sdk/resourcemanager/resources/armdeploymentstacks/ci.yml
  sdk/resourcemanager/resources/armdeploymentstacks/client.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_example_test.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_factory.go
  sdk/resourcemanager/resources/armdeploymentstacks/constants.go
  sdk/resourcemanager/resources/armdeploymentstacks/go.mod
  sdk/resourcemanager/resources/armdeploymentstacks/go.sum
  sdk/resourcemanager/resources/armdeploymentstacks/models.go
  sdk/resourcemanager/resources/armdeploymentstacks/models_serde.go
  sdk/resourcemanager/resources/armdeploymentstacks/options.go
  sdk/resourcemanager/resources/armdeploymentstacks/response_types.go
  sdk/resourcemanager/resources/armdeploymentstacks/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21434 update armapimanagement live test
  sdk/resourcemanager/apimanagement/armapimanagement/apimapis_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimapiversionsets_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimauthorizationservers_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimcaches_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimdeployment_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimgateways_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimgroups_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimidentityprovider_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimnamedvalues_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimnotifications_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimopenidconnectproviders_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimpolicies_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimportalrevisions_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimportalsettings_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimprivatelink_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimproducts_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimreports_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimschema_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimsubscriptions_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimtags_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimtenant_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimusers_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/assets.json
  sdk/resourcemanager/apimanagement/armapimanagement/go.mod
  sdk/resourcemanager/apimanagement/armapimanagement/go.sum
Labels: Mgmt

#21359 [Release] sdk/resourcemanager/dynatrace/armdynatrace/2.0.0
  sdk/resourcemanager/dynatrace/armdynatrace/CHANGELOG.md
  sdk/resourcemanager/dynatrace/armdynatrace/autorest.md
  sdk/resourcemanager/dynatrace/armdynatrace/client_factory.go
  sdk/resourcemanager/dynatrace/armdynatrace/constants.go
  sdk/resourcemanager/dynatrace/armdynatrace/go.mod
  sdk/resourcemanager/dynatrace/armdynatrace/go.sum
  sdk/resourcemanager/dynatrace/armdynatrace/models.go
  sdk/resourcemanager/dynatrace/armdynatrace/models_serde.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitors_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitors_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/operations_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/operations_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/options.go
  sdk/resourcemanager/dynatrace/armdynatrace/response_types.go
  sdk/resourcemanager/dynatrace/armdynatrace/singlesignon_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/singlesignon_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/tagrules_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/tagrules_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21403 [Release] sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/v0.1.0
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/CHANGELOG.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/LICENSE.txt
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/README.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/autorest.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterpoolversions_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterpoolversions_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterversions_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterversions_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/build.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/ci.yml
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/client_factory.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterjobs_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterjobs_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpools_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpools_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusters_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusters_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/constants.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/go.mod
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/go.sum
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/interfaces.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/locations_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/locations_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/models.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/models_serde.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/operations_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/operations_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/options.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/polymorphic_helpers.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/response_types.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21413 azfile: API View feedback
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#21440 [azadmin] release date
  sdk/security/keyvault/azadmin/CHANGELOG.md
Labels: KeyVault, Client

#21442 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#21354 [Release] sdk/resourcemanager/resourceconnector/armresourceconnector/1.0.0
  sdk/resourcemanager/resourceconnector/armresourceconnector/CHANGELOG.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client_example_test.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/autorest.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/client_factory.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/constants.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.mod
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.sum
  sdk/resourcemanager/resourceconnector/armresourceconnector/models.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/models_serde.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/options.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/response_types.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/time_rfc3339.go
Labels: Mgmt, BreakingChange, FirstGA

#21310 [Release] sdk/resourcemanager/networkcloud/armnetworkcloud/1.0.0
  sdk/resourcemanager/networkcloud/armnetworkcloud/CHANGELOG.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/agentpools_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/agentpools_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/autorest.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/client_factory.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/constants.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.mod
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.sum
  sdk/resourcemanager/networkcloud/armnetworkcloud/kubernetesclusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/kubernetesclusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models_serde.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/options.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/response_types.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/time_rfc3339.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA

#21441 ArchieveStatus - RehydratePendingToCold
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/client_test.go
Labels: Storage, AzBlob

#21446 Sync eng/common directory with azure-sdk-tools for PR 6853
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#21278 Do not refer to global CHANGELOG.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: customer-reported, Community Contribution

#21443 azfile: Update azcore and azidentity versions
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Labels: Storage

#21429 [keyvault] change managed hsms to run weekly
  sdk/security/keyvault/azadmin/ci.yml
  sdk/security/keyvault/azkeys/ci.security.yml
Labels: KeyVault, Client

#21448 Plumb EnvVars to subscription config builder to find duplicates
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#21432 Handle Docker Desktop 403 response from IMDS endpoint
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
Labels: Azure.Identity

#21457 Sync eng/common directory with azure-sdk-tools for PR 6867
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
Labels: EngSys, Central-EngSys

#21452 azfile: STG 87
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/README.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/examples_test.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/directory/responses.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/internal/exported/copy_file_smb_options.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/file_client.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/share_client.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/lease/client_test.go
  sdk/storage/azfile/sas/account.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/query_params_test.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/sas/service_test.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/service/constants.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/examples_test.go
  sdk/storage/azfile/test-resources.json
Labels: Storage, AzFile

#21454 Updating AzBlob to STG 87-90
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_response_types.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
Labels: Storage, AzBlob

#21460 Use the published azcore@v1.8.0-beta.2, which removes json.RawMessage in favor of []byte.
  sdk/messaging/azeventgrid/go.mod
  sdk/messaging/azeventgrid/go.sum
Labels: Event Grid

#21461 Remove duplicate identity test variables
  sdk/azidentity/ci.yml
  sdk/azidentity/test-resources.bicep
Labels: Azure.Identity, Central-EngSys

#21459 Monitor Ingestion Troubleshooting Guide
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/README.md
  sdk/monitor/azingest/TROUBLESHOOTING.md
Labels: Docs, Client, Monitor - Ingestion

#21475 [azingest] add troubleshooting link to readme
  sdk/monitor/azingest/README.md
Labels: Docs, Client, Monitor - Ingestion
