Repository Azure/azure-sdk-for-go, pull requests merged in 2023-07, with the labels that each got.

#21088 azfile: OAuth support
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/test-resources.json
Labels: Storage, AzFile

#21067 [AzDatalake] Filesystem Client Implementation + Test Framework
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/constants.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/access_conditions.go
  sdk/storage/azdatalake/internal/exported/path.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/lease/filesystem_client.go
  sdk/storage/azdatalake/lease/models.go
  sdk/storage/azdatalake/lease/path_client.go
  sdk/storage/azdatalake/service/client.go
Labels: Storage, AzDatalake

#21097 sdk/resourcemanager/search/armsearch fix require link
  sdk/resourcemanager/search/armsearch/autorest.md
Labels: Mgmt

#21049 Use otel tracerProvider interface instead of specific type
  sdk/tracing/azotel/CHANGELOG.md
  sdk/tracing/azotel/otel.go
Labels: customer-reported, Community Contribution

#21099 Update test to ensure pipelines are equal
  sdk/azcore/core_test.go
Labels: Azure.Core

#21100 Update DefaultAzureCredentialOptions docs
  sdk/azidentity/default_azure_credential.go
Labels: Docs, Azure.Identity

#21033 [Checksum Work] BlockBlob Client: Transactional/Source Content Validation
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/bloberror/error_codes.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/generated/models.go
Labels: Storage, AzBlob

#21096 Feedback + Service Client
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/constants.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/log_events.go
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/shared/challenge_policy.go
  sdk/storage/azdatalake/internal/shared/shared.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/log.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azdatalake/service/models.go
  sdk/storage/azdatalake/service/responses.go
Labels: Storage

#21105 Sync eng/common directory with azure-sdk-tools for PR 6465
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21115 [azeventgrid] Updates prior to release
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/README.md
  sdk/messaging/azeventgrid/autorest.md
  sdk/messaging/azeventgrid/client.go
  sdk/messaging/azeventgrid/client_test.go
  sdk/messaging/azeventgrid/example_publish_and_receive_test.go
  sdk/messaging/azeventgrid/example_test.go
  sdk/messaging/azeventgrid/models.go
  sdk/messaging/azeventgrid/models_serde.go
  sdk/messaging/azeventgrid/options.go
  sdk/messaging/azeventgrid/response_types.go
  sdk/messaging/azeventgrid/sample.env
  sdk/messaging/azeventgrid/shared_test.go
  sdk/messaging/azeventgrid/time_rfc3339.go
  sdk/messaging/azeventhubs/README.md
Labels: Event Hubs

#21130 Sync eng/common directory with azure-sdk-tools for PR 6468
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#21140 azfile: Updating changelog for GA
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21123 DefaultAzureCredential TenantID applies to workload identity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Labels: Azure.Identity

#21098 Add support for shallow cloning azcore.Client instances (#21065)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/core.go
  sdk/azcore/core_test.go
Labels: Azure.Core

#21149 Prep for azcore v1.7.0 release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#21150 Prepare for azcore 1.8.0-beta.1 release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21153 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21147 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21119 Add DragonFlyBSD in azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/mmf_unix.go
Labels: Storage, customer-reported, Community Contribution, AzFile

#21156 sdk/resourcemanager/botservice/armbotservice live test
  sdk/resourcemanager/botservice/armbotservice/assets.json
  sdk/resourcemanager/botservice/armbotservice/botservice_live_test.go
  sdk/resourcemanager/botservice/armbotservice/go.mod
  sdk/resourcemanager/botservice/armbotservice/go.sum
Labels: Mgmt

#21159 AzBlob v1.1.0 Changelog
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#21163 Sync .github/workflows directory with azure-sdk-tools for PR 6507
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#21165 [azadmin] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault, Client

#21162 Simplify GetToken synchronization
  sdk/azidentity/syncer.go
Labels: Azure.Identity

#21164 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#21174 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21169 [azopenai] Updating to the 2023-07-01 API surface
  sdk/cognitiveservices/azopenai/assets.json
  sdk/cognitiveservices/azopenai/autorest.md
  sdk/cognitiveservices/azopenai/client.go
  sdk/cognitiveservices/azopenai/client_chat_completions_test.go
  sdk/cognitiveservices/azopenai/client_completions_test.go
  sdk/cognitiveservices/azopenai/client_embeddings_test.go
  sdk/cognitiveservices/azopenai/client_functions_test.go
  sdk/cognitiveservices/azopenai/client_rai_test.go
  sdk/cognitiveservices/azopenai/client_shared_test.go
  sdk/cognitiveservices/azopenai/client_test.go
  sdk/cognitiveservices/azopenai/constants.go
  sdk/cognitiveservices/azopenai/custom_client.go
  sdk/cognitiveservices/azopenai/custom_client_functions.go
  sdk/cognitiveservices/azopenai/custom_client_image_test.go
  sdk/cognitiveservices/azopenai/custom_client_test.go
  sdk/cognitiveservices/azopenai/custom_models.go
  sdk/cognitiveservices/azopenai/custom_models_test.go
  sdk/cognitiveservices/azopenai/event_reader.go
  sdk/cognitiveservices/azopenai/event_reader_test.go
  sdk/cognitiveservices/azopenai/go.mod
  sdk/cognitiveservices/azopenai/go.sum
  sdk/cognitiveservices/azopenai/models.go
  sdk/cognitiveservices/azopenai/models_serde.go
  sdk/cognitiveservices/azopenai/testdata/content_filter_response_error.json
  sdk/cognitiveservices/azopenai/testdata/tsp-location.yaml
Labels: Client, OpenAI

#21180 Sync eng/common directory with azure-sdk-tools for PR 6521
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#21170 sdk/resourcemanager/advisor/armadvisor live test
  sdk/resourcemanager/advisor/armadvisor/advisor_live_test.go
  sdk/resourcemanager/advisor/armadvisor/assets.json
  sdk/resourcemanager/advisor/armadvisor/go.mod
  sdk/resourcemanager/advisor/armadvisor/go.sum
Labels: Mgmt

#21108 [Release] sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/1.0.0
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/CHANGELOG.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/autorest.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/constants.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewalls_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewalls_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewallstatus_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewallstatus_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/globalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/globalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/go.mod
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/go.sum
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrulestacks_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrulestacks_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/operations_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/operations_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/postrules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/postrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prerules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prerules_client_example_test.go
Labels: Mgmt, FirstGA, Stable

#21181 sdk/resourcemanager/analysisservices/armanalysisservices live test
  sdk/resourcemanager/analysisservices/armanalysisservices/analysisservices_live_test.go
  sdk/resourcemanager/analysisservices/armanalysisservices/assets.json
  sdk/resourcemanager/analysisservices/armanalysisservices/go.mod
  sdk/resourcemanager/analysisservices/armanalysisservices/go.sum
Labels: Mgmt

#21178 Disable CP1 for regional STS test
  sdk/azidentity/client_certificate_credential_test.go
Labels: Azure.Identity

#21155 [monitor] azingest
  eng/config.json
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/LICENSE.txt
  sdk/monitor/azingest/README.md
  sdk/monitor/azingest/assets.json
  sdk/monitor/azingest/autorest.md
  sdk/monitor/azingest/build.go
  sdk/monitor/azingest/ci.yml
  sdk/monitor/azingest/client.go
  sdk/monitor/azingest/client_test.go
  sdk/monitor/azingest/custom_client.go
  sdk/monitor/azingest/example_test.go
  sdk/monitor/azingest/go.mod
  sdk/monitor/azingest/go.sum
  sdk/monitor/azingest/models.go
  sdk/monitor/azingest/response_types.go
  sdk/monitor/azingest/test-resources.bicep
  sdk/monitor/azingest/utils_test.go
  sdk/monitor/azingest/version.go
Labels: Client, Monitor - Ingestion

#21186 [azsecrets] prep for release
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#21187 [azcertificates] prep-for-release
  sdk/security/keyvault/azcertificates/CHANGELOG.md
Labels: KeyVault, Client

#21128 Copy Blob from URL/Put Blob from URL copy source tags
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/blockblob/models.go
Labels: Storage

#21104 List Blobs Versioning/Prefix/Delimiter support
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/container/client_test.go
Labels: Storage

#21185 [azkeys] prep for release
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault, Client

#21191 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#21190 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#21189 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#21194 Prep armmonitor for release
  sdk/resourcemanager/monitor/armmonitor/CHANGELOG.md
  sdk/resourcemanager/monitor/armmonitor/autorest.md
  sdk/resourcemanager/monitor/armmonitor/constants.go
  sdk/resourcemanager/monitor/armmonitor/go.mod
  sdk/resourcemanager/monitor/armmonitor/go.sum
Labels: Mgmt

#21198 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#21202 [azingest] update release date
  sdk/monitor/azingest/CHANGELOG.md
Labels: Client, Monitor - Ingestion

#21199 Sync eng/common directory with azure-sdk-tools for PR 6530
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#21203 Prep latest armcompute beta for release
  sdk/resourcemanager/compute/armcompute/CHANGELOG.md
  sdk/resourcemanager/compute/armcompute/autorest.md
  sdk/resourcemanager/compute/armcompute/build.go
  sdk/resourcemanager/compute/armcompute/client_factory.go
  sdk/resourcemanager/compute/armcompute/constants.go
  sdk/resourcemanager/compute/armcompute/fake/availabilitysets_server.go
  sdk/resourcemanager/compute/armcompute/fake/capacityreservationgroups_server.go
  sdk/resourcemanager/compute/armcompute/fake/capacityreservations_server.go
  sdk/resourcemanager/compute/armcompute/fake/cloudserviceoperatingsystems_server.go
  sdk/resourcemanager/compute/armcompute/fake/cloudserviceroleinstances_server.go
  sdk/resourcemanager/compute/armcompute/fake/cloudserviceroles_server.go
  sdk/resourcemanager/compute/armcompute/fake/cloudservices_server.go
  sdk/resourcemanager/compute/armcompute/fake/cloudservicesupdatedomain_server.go
  sdk/resourcemanager/compute/armcompute/fake/communitygalleries_server.go
  sdk/resourcemanager/compute/armcompute/fake/communitygalleryimages_server.go
  sdk/resourcemanager/compute/armcompute/fake/communitygalleryimageversions_server.go
  sdk/resourcemanager/compute/armcompute/fake/dedicatedhostgroups_server.go
  sdk/resourcemanager/compute/armcompute/fake/dedicatedhosts_server.go
  sdk/resourcemanager/compute/armcompute/fake/diskaccesses_server.go
  sdk/resourcemanager/compute/armcompute/fake/diskencryptionsets_server.go
  sdk/resourcemanager/compute/armcompute/fake/diskrestorepoint_server.go
  sdk/resourcemanager/compute/armcompute/fake/disks_server.go
  sdk/resourcemanager/compute/armcompute/fake/galleries_server.go
  sdk/resourcemanager/compute/armcompute/fake/galleryapplications_server.go
  sdk/resourcemanager/compute/armcompute/fake/galleryapplicationversions_server.go
  sdk/resourcemanager/compute/armcompute/fake/galleryimages_server.go
  sdk/resourcemanager/compute/armcompute/fake/galleryimageversions_server.go
  sdk/resourcemanager/compute/armcompute/fake/gallerysharingprofile_server.go
  sdk/resourcemanager/compute/armcompute/fake/images_server.go
  sdk/resourcemanager/compute/armcompute/fake/internal.go
  sdk/resourcemanager/compute/armcompute/fake/loganalytics_server.go
  sdk/resourcemanager/compute/armcompute/fake/operations_server.go
  sdk/resourcemanager/compute/armcompute/fake/proximityplacementgroups_server.go
  sdk/resourcemanager/compute/armcompute/fake/resourceskus_server.go
  sdk/resourcemanager/compute/armcompute/fake/restorepointcollections_server.go
  sdk/resourcemanager/compute/armcompute/fake/restorepoints_server.go
  sdk/resourcemanager/compute/armcompute/fake/sharedgalleries_server.go
  sdk/resourcemanager/compute/armcompute/fake/sharedgalleryimages_server.go
  sdk/resourcemanager/compute/armcompute/fake/sharedgalleryimageversions_server.go
  sdk/resourcemanager/compute/armcompute/fake/snapshots_server.go
  sdk/resourcemanager/compute/armcompute/fake/sshpublickeys_server.go
  sdk/resourcemanager/compute/armcompute/fake/usage_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachineextensionimages_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachineextensions_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachineimages_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachineimagesedgezone_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachineruncommands_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachines_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesetextensions_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesetrollingupgrades_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesets_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesetvmextensions_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesetvmruncommands_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinescalesetvms_server.go
  sdk/resourcemanager/compute/armcompute/fake/virtualmachinesizes_server.go
  sdk/resourcemanager/compute/armcompute/go.mod
  sdk/resourcemanager/compute/armcompute/go.sum
  sdk/resourcemanager/compute/armcompute/models.go
  sdk/resourcemanager/compute/armcompute/options.go
  sdk/resourcemanager/compute/armcompute/response_types.go
Labels: Mgmt

#21204 Prep armcontainerregistry beta for release
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/build.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/agentpools_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/cacherules_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/connectedregistries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/credentialsets_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/exportpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/importpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/internal.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/operations_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/pipelineruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/registries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/replications_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/runs_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/scopemaps_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/taskruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/tasks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/tokens_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/webhooks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.sum
  sdk/resourcemanager/containerregistry/armcontainerregistry/interfaces.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/options.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/response_types.go
Labels: Mgmt

#21205 Prep latest armcontainerservice beta for release
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/build.go
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
Labels: Mgmt

#21206 Prep latest armmarketplaceordering beta for release
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/CHANGELOG.md
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/autorest.md
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/build.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/constants.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/fake/internal.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/fake/marketplaceagreements_server.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/fake/operations_server.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/go.mod
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/go.sum
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/models.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/options.go
  sdk/resourcemanager/marketplaceordering/armmarketplaceordering/response_types.go
Labels: Mgmt

#21207 Prep latest armmonitor beta for release
  sdk/resourcemanager/monitor/armmonitor/CHANGELOG.md
  sdk/resourcemanager/monitor/armmonitor/build.go
  sdk/resourcemanager/monitor/armmonitor/client_factory.go
  sdk/resourcemanager/monitor/armmonitor/fake/actiongroups_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/activitylogalerts_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/activitylogs_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/alertruleincidents_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/alertrules_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/autoscalesettings_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/azuremonitorworkspaces_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/baselines_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/datacollectionendpoints_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/datacollectionruleassociations_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/datacollectionrules_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/diagnosticsettings_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/diagnosticsettingscategory_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/eventcategories_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/internal.go
  sdk/resourcemanager/monitor/armmonitor/fake/logprofiles_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/metricalerts_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/metricalertsstatus_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/metricdefinitions_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/metricnamespaces_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/metrics_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/operations_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/operationsformonitor_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/predictivemetric_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/privateendpointconnections_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/privatelinkresources_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/privatelinkscopedresources_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/privatelinkscopeoperationstatus_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/privatelinkscopes_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/scheduledqueryrules_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/tenantactiongroups_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/tenantactivitylogs_server.go
  sdk/resourcemanager/monitor/armmonitor/fake/vminsights_server.go
  sdk/resourcemanager/monitor/armmonitor/interfaces.go
  sdk/resourcemanager/monitor/armmonitor/models.go
  sdk/resourcemanager/monitor/armmonitor/options.go
  sdk/resourcemanager/monitor/armmonitor/response_types.go
Labels: Mgmt

#21210 Prep latest armresourcegraph beta for release
  sdk/resourcemanager/resourcegraph/armresourcegraph/CHANGELOG.md
  sdk/resourcemanager/resourcegraph/armresourcegraph/autorest.md
  sdk/resourcemanager/resourcegraph/armresourcegraph/build.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/constants.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/fake/internal.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/fake/operations_server.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/fake/server.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/go.mod
  sdk/resourcemanager/resourcegraph/armresourcegraph/go.sum
  sdk/resourcemanager/resourcegraph/armresourcegraph/interfaces.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/models.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/options.go
  sdk/resourcemanager/resourcegraph/armresourcegraph/response_types.go
Labels: Mgmt

#21211 Prep latest armresources beta for release
  sdk/resourcemanager/resources/armresources/CHANGELOG.md
  sdk/resourcemanager/resources/armresources/autorest.md
  sdk/resourcemanager/resources/armresources/build.go
  sdk/resourcemanager/resources/armresources/client_factory.go
  sdk/resourcemanager/resources/armresources/constants.go
  sdk/resourcemanager/resources/armresources/fake/deploymentoperations_server.go
  sdk/resourcemanager/resources/armresources/fake/deployments_server.go
  sdk/resourcemanager/resources/armresources/fake/internal.go
  sdk/resourcemanager/resources/armresources/fake/operations_server.go
  sdk/resourcemanager/resources/armresources/fake/providerresourcetypes_server.go
  sdk/resourcemanager/resources/armresources/fake/providers_server.go
  sdk/resourcemanager/resources/armresources/fake/resourcegroups_server.go
  sdk/resourcemanager/resources/armresources/fake/server.go
  sdk/resourcemanager/resources/armresources/fake/tags_server.go
  sdk/resourcemanager/resources/armresources/go.mod
  sdk/resourcemanager/resources/armresources/go.sum
  sdk/resourcemanager/resources/armresources/models.go
  sdk/resourcemanager/resources/armresources/options.go
  sdk/resourcemanager/resources/armresources/response_types.go
Labels: Mgmt

#21212 Prep latest armsubscriptions beta for release
  sdk/resourcemanager/resources/armsubscriptions/CHANGELOG.md
  sdk/resourcemanager/resources/armsubscriptions/autorest.md
  sdk/resourcemanager/resources/armsubscriptions/build.go
  sdk/resourcemanager/resources/armsubscriptions/client_factory.go
  sdk/resourcemanager/resources/armsubscriptions/constants.go
  sdk/resourcemanager/resources/armsubscriptions/fake/internal.go
  sdk/resourcemanager/resources/armsubscriptions/fake/operations_server.go
  sdk/resourcemanager/resources/armsubscriptions/fake/server.go
  sdk/resourcemanager/resources/armsubscriptions/fake/subscription_server.go
  sdk/resourcemanager/resources/armsubscriptions/fake/tenants_server.go
  sdk/resourcemanager/resources/armsubscriptions/go.mod
  sdk/resourcemanager/resources/armsubscriptions/go.sum
  sdk/resourcemanager/resources/armsubscriptions/models.go
  sdk/resourcemanager/resources/armsubscriptions/options.go
  sdk/resourcemanager/resources/armsubscriptions/response_types.go
Labels: Mgmt

#21213 Prep latest armstorage beta for release
  sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  sdk/resourcemanager/storage/armstorage/autorest.md
  sdk/resourcemanager/storage/armstorage/build.go
  sdk/resourcemanager/storage/armstorage/client_factory.go
  sdk/resourcemanager/storage/armstorage/constants.go
  sdk/resourcemanager/storage/armstorage/fake/accounts_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobcontainers_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobinventorypolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/blobservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/deletedaccounts_server.go
  sdk/resourcemanager/storage/armstorage/fake/encryptionscopes_server.go
  sdk/resourcemanager/storage/armstorage/fake/fileservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/fileshares_server.go
  sdk/resourcemanager/storage/armstorage/fake/internal.go
  sdk/resourcemanager/storage/armstorage/fake/localusers_server.go
  sdk/resourcemanager/storage/armstorage/fake/managementpolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/objectreplicationpolicies_server.go
  sdk/resourcemanager/storage/armstorage/fake/operations_server.go
  sdk/resourcemanager/storage/armstorage/fake/privateendpointconnections_server.go
  sdk/resourcemanager/storage/armstorage/fake/privatelinkresources_server.go
  sdk/resourcemanager/storage/armstorage/fake/queue_server.go
  sdk/resourcemanager/storage/armstorage/fake/queueservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/skus_server.go
  sdk/resourcemanager/storage/armstorage/fake/table_server.go
  sdk/resourcemanager/storage/armstorage/fake/tableservices_server.go
  sdk/resourcemanager/storage/armstorage/fake/usages_server.go
  sdk/resourcemanager/storage/armstorage/go.mod
  sdk/resourcemanager/storage/armstorage/go.sum
  sdk/resourcemanager/storage/armstorage/models.go
  sdk/resourcemanager/storage/armstorage/options.go
  sdk/resourcemanager/storage/armstorage/response_types.go
Labels: Mgmt

#21137 [Release] sdk/resourcemanager/networkcloud/armnetworkcloud/0.2.0
  sdk/resourcemanager/networkcloud/armnetworkcloud/CHANGELOG.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/agentpools_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/agentpools_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/autorest.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/client_factory.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/constants.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/defaultcninetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/defaultcninetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.mod
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.sum
  sdk/resourcemanager/networkcloud/armnetworkcloud/hybridaksclusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/hybridaksclusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/kubernetesclusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/kubernetesclusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models_serde.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/response_types.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21141 [AzDatalake] File Client Support
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/access_conditions.go
  sdk/storage/azdatalake/internal/exported/set_expiry.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/service/client_test.go
Labels: Storage

#21217 Formalize contract for fakes sanitizing request URLs
  sdk/azcore/CHANGELOG.md
  sdk/azcore/fake/internal/exported/fake.go
  sdk/azcore/fake/internal/exported/fake_test.go
  sdk/azcore/fake/server/server.go
  sdk/azcore/fake/server/server_test.go
  sdk/azcore/internal/pollers/fake/fake.go
  sdk/azcore/internal/pollers/fake/fake_test.go
Labels: Azure.Core

#21219 AzureCLICredential and OnBehalfOfCredential return errors immediately on failure
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/mock_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
  sdk/azidentity/syncer.go
  sdk/azidentity/syncer_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#21196 Adding PossibleBlobCopySourceTagsValues() Method for CopySourceTags
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/constants.go
  sdk/storage/azblob/container/client_test.go
Labels: Storage, AzBlob

#21220 Sync eng/common directory with azure-sdk-tools for PR 6538
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#21221 Sync eng/common directory with azure-sdk-tools for PR 6544
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#21216 azfile: sync with main
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/log_events.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/file_client.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/share_client.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/log.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/service/constants.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/test-resources.json
Labels: Storage

#21227 azfile: Directory and file rename
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/directory/responses.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/testcommon/common.go
Labels: Storage

#21232 Escape single-quote characters in partition and row keys
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/assets.json
  sdk/data/aztables/autorest.md
  sdk/data/aztables/client.go
  sdk/data/aztables/client_test.go
  sdk/data/aztables/entity.go
  sdk/data/aztables/entity_test.go
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/zt_table_recorded_tests.go
Labels: Tables

#21237 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/constants.go
Labels: Tables

#21235 azidentity test cleanup
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/mock_test.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#21231 azfile: Update azcore to 1.7.0
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/log_events.go
  sdk/storage/azfile/log.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/share/client.go
Labels: Storage, AzFile

#21114 [Release] sdk/resourcemanager/hdinsight/armhdinsight/1.2.0-beta.1
  sdk/resourcemanager/hdinsight/armhdinsight/CHANGELOG.md
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/autorest.md
  sdk/resourcemanager/hdinsight/armhdinsight/client_factory.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/constants.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/go.mod
  sdk/resourcemanager/hdinsight/armhdinsight/go.sum
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/models.go
  sdk/resourcemanager/hdinsight/armhdinsight/models_serde.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client_example_test.go
Labels: Mgmt, Beta

#21121 [Release] sdk/resourcemanager/netapp/armnetapp/4.1.0
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client.go
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/autorest.md
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backups_client.go
  sdk/resourcemanager/netapp/armnetapp/backups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/go.mod
  sdk/resourcemanager/netapp/armnetapp/go.sum
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/operations_client.go
  sdk/resourcemanager/netapp/armnetapp/operations_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/pools_client.go
  sdk/resourcemanager/netapp/armnetapp/pools_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resource_client.go
  sdk/resourcemanager/netapp/armnetapp/resource_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/response_types.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Labels: Mgmt, Stable

#21113 [Release] sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/0.1.0
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/CHANGELOG.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/LICENSE.txt
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/README.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/autorest.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/build.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/ci.yml
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/client_factory.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/constants.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmware_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmware_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/go.mod
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/go.sum
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/models.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/models_serde.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/operations_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/operations_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/response_types.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/time_rfc3339.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/workspaces_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/workspaces_client_example_test.go
Labels: Mgmt, FirstBeta

#21134 [Release] sdk/resourcemanager/dataprotection/armdataprotection/2.3.0
  sdk/resourcemanager/dataprotection/armdataprotection/CHANGELOG.md
  sdk/resourcemanager/dataprotection/armdataprotection/autorest.md
  sdk/resourcemanager/dataprotection/armdataprotection/backupinstances_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupinstances_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backuppolicies_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/backuppolicies_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaultoperationresults_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaultoperationresults_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaults_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/backupvaults_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/client.go
  sdk/resourcemanager/dataprotection/armdataprotection/client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/constants.go
  sdk/resourcemanager/dataprotection/armdataprotection/deletedbackupinstances_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/deletedbackupinstances_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/dppresourceguardproxy_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/dppresourceguardproxy_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobs_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobs_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobsoperationresult_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/exportjobsoperationresult_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/jobs_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/jobs_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/models.go
  sdk/resourcemanager/dataprotection/armdataprotection/models_serde.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationresult_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationresult_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operations_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/operations_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatus_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatus_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusbackupvaultcontext_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusbackupvaultcontext_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusresourcegroupcontext_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/operationstatusresourcegroupcontext_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/polymorphic_helpers.go
  sdk/resourcemanager/dataprotection/armdataprotection/recoverypoints_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/recoverypoints_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/resourceguards_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/resourceguards_client_example_test.go
  sdk/resourcemanager/dataprotection/armdataprotection/restorabletimeranges_client.go
  sdk/resourcemanager/dataprotection/armdataprotection/restorabletimeranges_client_example_test.go
Labels: Mgmt, Stable

#21139 [Release] sdk/resourcemanager/webpubsub/armwebpubsub/1.2.0-beta.1
  sdk/resourcemanager/webpubsub/armwebpubsub/CHANGELOG.md
  sdk/resourcemanager/webpubsub/armwebpubsub/autorest.md
  sdk/resourcemanager/webpubsub/armwebpubsub/client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/client_factory.go
  sdk/resourcemanager/webpubsub/armwebpubsub/constants.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customcertificates_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customcertificates_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customdomains_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/customdomains_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/go.mod
  sdk/resourcemanager/webpubsub/armwebpubsub/go.sum
  sdk/resourcemanager/webpubsub/armwebpubsub/hubs_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/hubs_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models_serde.go
  sdk/resourcemanager/webpubsub/armwebpubsub/operations_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/operations_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privateendpointconnections_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privatelinkresources_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/replicas_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/replicas_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/response_types.go
  sdk/resourcemanager/webpubsub/armwebpubsub/sharedprivatelinkresources_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/webpubsub/armwebpubsub/usages_client.go
  sdk/resourcemanager/webpubsub/armwebpubsub/usages_client_example_test.go
Labels: Mgmt, Beta

#21243 List System Containers
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/models.go
Labels: Storage, AzBlob

#21248 Regenerate azkeys with the latest code generator
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/options.go
  sdk/security/keyvault/azkeys/response_types.go
  sdk/security/keyvault/azkeys/time_unix.go
Labels: KeyVault

#21238 Update aztables to use latest code generator
  sdk/data/aztables/autorest.md
  sdk/data/aztables/build.go
  sdk/data/aztables/client.go
  sdk/data/aztables/connection_string_test.go
  sdk/data/aztables/internal/connection.go
  sdk/data/aztables/internal/models_serde.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/internal/zz_constants.go
  sdk/data/aztables/internal/zz_models.go
  sdk/data/aztables/internal/zz_models_serde.go
  sdk/data/aztables/internal/zz_options.go
  sdk/data/aztables/internal/zz_response_types.go
  sdk/data/aztables/internal/zz_service_client.go
  sdk/data/aztables/internal/zz_table_client.go
  sdk/data/aztables/internal/zz_time_rfc1123.go
  sdk/data/aztables/internal/zz_time_rfc3339.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#21252 Revert breaking change to Span.End()
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/tracing/tracing.go
  sdk/azcore/tracing/tracing_test.go
Labels: Azure.Core

#21197 Filter Tags API on Container
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#21246 Sync eng/common directory with azure-sdk-tools for PR 6557
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#21253 Sync eng/common directory with azure-sdk-tools for PR 6543
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: EngSys, Central-EngSys

#21109 [Release] sdk/resourcemanager/sphere/armsphere/0.1.0
  sdk/resourcemanager/sphere/armsphere/CHANGELOG.md
  sdk/resourcemanager/sphere/armsphere/LICENSE.txt
  sdk/resourcemanager/sphere/armsphere/README.md
  sdk/resourcemanager/sphere/armsphere/autorest.md
  sdk/resourcemanager/sphere/armsphere/build.go
  sdk/resourcemanager/sphere/armsphere/catalogs_client.go
  sdk/resourcemanager/sphere/armsphere/catalogs_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/certificates_client.go
  sdk/resourcemanager/sphere/armsphere/certificates_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/ci.yml
  sdk/resourcemanager/sphere/armsphere/client_factory.go
  sdk/resourcemanager/sphere/armsphere/constants.go
  sdk/resourcemanager/sphere/armsphere/deployments_client.go
  sdk/resourcemanager/sphere/armsphere/deployments_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/devicegroups_client.go
  sdk/resourcemanager/sphere/armsphere/devicegroups_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/devices_client.go
  sdk/resourcemanager/sphere/armsphere/devices_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/go.mod
  sdk/resourcemanager/sphere/armsphere/go.sum
  sdk/resourcemanager/sphere/armsphere/images_client.go
  sdk/resourcemanager/sphere/armsphere/images_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/models.go
  sdk/resourcemanager/sphere/armsphere/models_serde.go
  sdk/resourcemanager/sphere/armsphere/operations_client.go
  sdk/resourcemanager/sphere/armsphere/operations_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/products_client.go
  sdk/resourcemanager/sphere/armsphere/products_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/response_types.go
  sdk/resourcemanager/sphere/armsphere/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21135 [Release] sdk/resourcemanager/elasticsan/armelasticsan/0.3.0
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/client_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/go.mod
  sdk/resourcemanager/elasticsan/armelasticsan/go.sum
  sdk/resourcemanager/elasticsan/armelasticsan/models.go
  sdk/resourcemanager/elasticsan/armelasticsan/models_serde.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/response_types.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21171 [Release] sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/1.0.0
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/CHANGELOG.md
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/accesscontrollists_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/accesscontrollists_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/autorest.md
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/client_factory.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/constants.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/externalnetworks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/externalnetworks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internalnetworks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internalnetworks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internetgatewayrules_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internetgatewayrules_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internetgateways_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/internetgateways_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipcommunities_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipcommunities_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipextendedcommunities_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipextendedcommunities_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipprefixes_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/ipprefixes_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l2isolationdomains_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l2isolationdomains_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l3isolationdomains_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/l3isolationdomains_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/models.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/models_serde.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/neighborgroups_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/neighborgroups_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdevices_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdevices_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdeviceskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkdeviceskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabriccontrollers_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabriccontrollers_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabrics_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabrics_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabricskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkfabricskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkinterfaces_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkinterfaces_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkpacketbrokers_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkpacketbrokers_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkracks_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkracks_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkrackskus_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networkrackskus_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktaprules_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktaprules_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktaps_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktaps_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktonetworkinterconnects_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/networktonetworkinterconnects_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/operations_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/operations_client_example_test.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/response_types.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/routepolicies_client.go
  sdk/resourcemanager/managednetworkfabric/armmanagednetworkfabric/routepolicies_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA

#21133 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.1.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Stable

#21138 [Release] sdk/resourcemanager/storagemover/armstoragemover/2.0.0-beta.1
  sdk/resourcemanager/storagemover/armstoragemover/CHANGELOG.md
  sdk/resourcemanager/storagemover/armstoragemover/agents_client.go
  sdk/resourcemanager/storagemover/armstoragemover/agents_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/autorest.md
  sdk/resourcemanager/storagemover/armstoragemover/constants.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/go.mod
  sdk/resourcemanager/storagemover/armstoragemover/go.sum
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/models.go
  sdk/resourcemanager/storagemover/armstoragemover/models_serde.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/polymorphic_helpers.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21107 [Release] sdk/resourcemanager/kusto/armkusto/2.0.0
  sdk/resourcemanager/kusto/armkusto/CHANGELOG.md
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client.go
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/autorest.md
  sdk/resourcemanager/kusto/armkusto/client_factory.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/clusters_client.go
  sdk/resourcemanager/kusto/armkusto/clusters_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/constants.go
  sdk/resourcemanager/kusto/armkusto/database_client.go
  sdk/resourcemanager/kusto/armkusto/database_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databases_client.go
  sdk/resourcemanager/kusto/armkusto/databases_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/go.mod
  sdk/resourcemanager/kusto/armkusto/go.sum
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client.go
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/models.go
  sdk/resourcemanager/kusto/armkusto/models_serde.go
  sdk/resourcemanager/kusto/armkusto/operations_client.go
  sdk/resourcemanager/kusto/armkusto/operations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/response_types.go
  sdk/resourcemanager/kusto/armkusto/scripts_client.go
  sdk/resourcemanager/kusto/armkusto/scripts_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/skus_client.go
  sdk/resourcemanager/kusto/armkusto/skus_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21111 [Release] sdk/resourcemanager/batch/armbatch/2.0.0
  sdk/resourcemanager/batch/armbatch/CHANGELOG.md
  sdk/resourcemanager/batch/armbatch/account_client.go
  sdk/resourcemanager/batch/armbatch/account_client_example_test.go
  sdk/resourcemanager/batch/armbatch/application_client.go
  sdk/resourcemanager/batch/armbatch/application_client_example_test.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client_example_test.go
  sdk/resourcemanager/batch/armbatch/autorest.md
  sdk/resourcemanager/batch/armbatch/certificate_client.go
  sdk/resourcemanager/batch/armbatch/certificate_client_example_test.go
  sdk/resourcemanager/batch/armbatch/constants.go
  sdk/resourcemanager/batch/armbatch/go.mod
  sdk/resourcemanager/batch/armbatch/go.sum
  sdk/resourcemanager/batch/armbatch/location_client.go
  sdk/resourcemanager/batch/armbatch/location_client_example_test.go
  sdk/resourcemanager/batch/armbatch/models.go
  sdk/resourcemanager/batch/armbatch/models_serde.go
  sdk/resourcemanager/batch/armbatch/operations_client.go
  sdk/resourcemanager/batch/armbatch/operations_client_example_test.go
  sdk/resourcemanager/batch/armbatch/pool_client.go
  sdk/resourcemanager/batch/armbatch/pool_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21136 [Release] sdk/resourcemanager/mobilenetwork/armmobilenetwork/3.0.0
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/CHANGELOG.md
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/attacheddatanetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/attacheddatanetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/autorest.md
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/client_factory.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/constants.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/datanetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/datanetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/diagnosticspackages_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/diagnosticspackages_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/go.mod
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/go.sum
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/mobilenetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/mobilenetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/models.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/models_serde.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/operations_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/operations_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/options.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcaptures_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcaptures_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplanes_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplanes_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplaneversions_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplaneversions_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcoredataplanes_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcoredataplanes_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/response_types.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/services_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/services_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simgroups_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simgroups_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simpolicies_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simpolicies_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sims_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sims_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sites_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sites_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/slices_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/slices_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21241 azqueue: SAS creation fix when stored access policy is used
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/sas/service.go
  sdk/storage/azqueue/sas/service_test.go
Labels: Storage

#21240 azfile: SAS creation fix when stored access policy is used
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/sas/service_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#21230 [azblob][sas] Fix SignWithSharedKey if stored access policy is used @stotz89
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
Labels: Storage, customer-reported, Community Contribution

#21269 Update legacy azopenai yaml to add cognitiveservices suffix directive
  sdk/cognitiveservices/azopenai/ci.cognitiveservices.yml
Labels: Central-EngSys

#21277 [internal] Extend telemetry test regexp
  sdk/internal/telemetry/telemetry_test.go
Labels: customer-reported, Community Contribution, Internal

#21168 Auto-install and run standalone test proxy server per test package
  .gitignore
  documentation/developer_setup.md
  sdk/internal/CHANGELOG.md
  sdk/internal/perf/recording_test.go
  sdk/internal/recording/README.md
  sdk/internal/recording/matchers.go
  sdk/internal/recording/matchers_test.go
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
  sdk/internal/recording/sanitizer_test.go
  sdk/internal/recording/server.go
  sdk/internal/recording/server_test.go
  sdk/internal/recording/testdata/recordings/TestRecording/TestBackwardSlashPath.json
  sdk/internal/recording/testdata/recordings/TestRecording/TestGenerateAlphaNumericID.json
  sdk/internal/recording/testdata/recordings/TestRecording/TestModeNotSetStartStop.json
  sdk/internal/recording/testdata/recordings/TestRecording/TestSetBodilessMatcherNilTest.json
  sdk/internal/recording/testdata/recordings/TestRecording/TestStartStop.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestBodyKeySanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestBodyRegexSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestContinuationSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestGeneralRegexSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestHeaderRegexSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestOAuthResponseSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestRemoveHeaderSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestResetSanitizers.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestSingleTestSanitizer/TestRecordingSanitizer/TestSingleTestSanitizer-0.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestSingleTestSanitizer/TestRecordingSanitizer/TestSingleTestSanitizer-1.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestUriSanitizer.json
  sdk/internal/recording/testdata/recordings/TestRecordingSanitizer/TestUriSubscriptionIdSanitizer.json
  sdk/internal/recording/testdata/recordings/TestSetBodilessMatcher.json
  sdk/internal/recording/testdata/recordings/TestSetDefaultMatcher.json
Labels: Central-EngSys

#21261 [AzDatalake] File Client Upload/Download Support
  sdk/storage/azdatalake/file/chunkwriting.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/mmf_unix.go
  sdk/storage/azdatalake/file/mmf_windows.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azdatalake/internal/generated/models.go
  sdk/storage/azdatalake/internal/path/constants.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/shared/batch_transfer.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/sas/service.go
Labels: Storage

#21274 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.2.0-beta.1
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/time_rfc3339.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
Labels: Mgmt

#21258 Clean up constants in aztables
  sdk/data/aztables/autorest.md
  sdk/data/aztables/client.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/internal/zz_constants.go
  sdk/data/aztables/internal/zz_service_client.go
  sdk/data/aztables/internal/zz_table_client.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/data/aztables/testdata/perf/insert_entity.go
  sdk/data/aztables/testdata/perf/list_entities.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#21288 Make recording.proxyManualStartEnv private
  sdk/internal/perf/recording_test.go
  sdk/internal/recording/matchers_test.go
  sdk/internal/recording/recording_test.go
  sdk/internal/recording/server.go
  sdk/internal/recording/server_test.go
Labels: Central-EngSys, Internal

#21200 Sync eng/common directory with azure-sdk-tools for PR 6518
  eng/common/testproxy/onboarding/README.me
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21283 [AzDatalake] Directory Client Implementation
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/internal/testcommon/common.go
Labels: Storage
