Repository Azure/azure-sdk-for-go, pull requests merged in 2023-09, with the labels that each got.

#21437 sdk/resourcemanager/mobilenetwork/armmobilenetwork live test
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/assets.json
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/attacheddatanetwork_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/datanetwork_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/go.mod
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/go.sum
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/mobilenetwork_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/operation_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplane_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcoredataplane_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/service_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sim_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simgroup_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simpolicy_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/site_live_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/slice_live_test.go
Labels: Mgmt

#21474 Rename "send_and_receive drain.go" to remove space
  sdk/messaging/azservicebus/internal/stress/tests/send_and_receive_drain.go
Labels: Service Bus, customer-reported, Community Contribution

#21473 sdk/resourcemanager/mariadb/armmariadb live test
  sdk/resourcemanager/mariadb/armmariadb/assets.json
  sdk/resourcemanager/mariadb/armmariadb/go.mod
  sdk/resourcemanager/mariadb/armmariadb/go.sum
  sdk/resourcemanager/mariadb/armmariadb/mariadb_live_test.go
  sdk/resourcemanager/mariadb/armmariadb/performancerecommendations_live_test.go
  sdk/resourcemanager/mariadb/armmariadb/privateendpointconnections_live_test.go
  sdk/resourcemanager/mariadb/armmariadb/serversecurityalertpolicies_live_test.go
Labels: Mgmt

#21458 add sdk/resourcemanager/dynatrace/armdynatrace live test
  sdk/resourcemanager/dynatrace/armdynatrace/assets.json
  sdk/resourcemanager/dynatrace/armdynatrace/dynatrace_live_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/go.mod
  sdk/resourcemanager/dynatrace/armdynatrace/go.sum
Labels: Mgmt

#21490 add sdk/resourcemanager/signalr/armsignalr live test
  sdk/resourcemanager/signalr/armsignalr/assets.json
  sdk/resourcemanager/signalr/armsignalr/go.mod
  sdk/resourcemanager/signalr/armsignalr/go.sum
  sdk/resourcemanager/signalr/armsignalr/signalr_live_test.go
Labels: Mgmt

#21472 [azservicebus] Add a helper function to get a Message from a ReceivedMessage
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/message_test.go
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus

#21494 Cleaning up CHANGELOG.md and README.md
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/README.md
Labels: Storage, AzBlob

#21500 sdk/resourcemanager/appconfiguration/armappconfiguration live test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
Labels: Mgmt

#21496 [azservicebus] Fixing issue where the body was populated incorrectly, making it empty on retries since it can't be rewound.
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/atom/entity_manager_test.go
Labels: Service Bus

#21470 Fix error checks in tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/lease/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/testdata/zt_blob_versioning_test.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/lease/client_test.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/internal/testcommon/clients_auth.go
  sdk/storage/azqueue/internal/testcommon/common.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client_test.go
Labels: Storage

#21477 Use mariner go image tag for service bus stress
  sdk/messaging/azeventhubs/internal/eh/stress/Dockerfile
  sdk/messaging/azservicebus/internal/stress/Dockerfile
Labels: Service Bus, Event Hubs, Central-EngSys, Stress

#21506 Prep azcore v1.7.2 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21465 [azservicebus] Update to the latest go-amqp
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Labels: Service Bus

#21508 Prep azcore for v1.8.0-beta.3 release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#21516 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#21499 Sync eng/common directory with azure-sdk-tools for PR 6903
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#21518 Update azappconfig to a more recent code generator
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/internal/appconfiguration_ext.json
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/build.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_response_types.go
  sdk/data/azappconfig/internal/generated/zz_time_rfc3339.go
Labels: App Configuration

#21524 Prepare azidentity v1.4.0-beta.5 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#21523 Set confidential client region at construction
  sdk/azidentity/confidential_client.go
Labels: Azure.Identity

#21519 [azcertificates] prep-for-release
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: Docs, KeyVault

#21526 Some refactoring of azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/setting.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21522 armstorageimportexport - clean up client constructors
  sdk/resourcemanager/storageimportexport/armstorageimportexport/CHANGELOG.md
  sdk/resourcemanager/storageimportexport/armstorageimportexport/autorest.md
  sdk/resourcemanager/storageimportexport/armstorageimportexport/bitlockerkeys_client.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/bitlockerkeys_client_example_test.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/client_factory.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/constants.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/jobs_client.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/jobs_client_example_test.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/locations_client.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/locations_client_example_test.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/models.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/models_serde.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/operations_client.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/operations_client_example_test.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/options.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/response_types.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/time_rfc3339.go
Labels: Mgmt

#21541 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#21542 azfile: STG 87 preview
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Labels: Storage

#21544 [azeventgrid] Prep for release
  sdk/messaging/azeventgrid/CHANGELOG.md
Labels: Event Grid

#21546 Increment version for messaging/azeventgrid releases
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/internal/version.go
Labels: Event Grid

#21547 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#21549 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#21540 Convert client test to use recordings
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/test-resources.json
  sdk/data/azappconfig/utils_test.go
Labels: App Configuration

#21538 Some azappconfig cleanup
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
Labels: App Configuration

#21480 [Release] sdk/resourcemanager/iothub/armiothub/1.2.0-beta.2
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/assets.json
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client_factory.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/options.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/response_types.go
  sdk/resourcemanager/iothub/armiothub/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/time_rfc3339.go
Labels: Mgmt, BreakingChange, Beta

#21482 [Release] sdk/resourcemanager/recoveryservices/armrecoveryservices/1.5.0
  sdk/resourcemanager/recoveryservices/armrecoveryservices/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
  sdk/resourcemanager/recoveryservices/armrecoveryservices/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client_factory.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.mod
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.sum
  sdk/resourcemanager/recoveryservices/armrecoveryservices/interfaces.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/options.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/polymorphic_helpers.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/response_types.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/time_rfc3339.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client_example_test.go
Labels: Mgmt, Stable

#21512 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/0.2.0
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.mod
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.sum
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/response_types.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#21545 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#21552 Sync eng/common directory with azure-sdk-tools for PR 6895
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsPackageMonikers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#21563 Fix string-to-sign when path contains URL-encoded values
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/policy_hmac_auth.go
Labels: App Configuration

#21553 Add KeyCredential and SASCredential types
  sdk/azcore/CHANGELOG.md
  sdk/azcore/core.go
  sdk/azcore/core_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/exported/exported_test.go
  sdk/azcore/runtime/policy_key_credential.go
  sdk/azcore/runtime/policy_key_credential_test.go
  sdk/azcore/runtime/policy_sas_credential.go
  sdk/azcore/runtime/polilcy_sas_credential_test.go
Labels: Azure.Core

#21566 Sync eng/common directory with azure-sdk-tools for PR 6982
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#21565 Updating Module Version + Changelog
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, AzBlob

#21568 Sync eng/common directory with azure-sdk-tools for PR 6985
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#21575 Clean up azdatalake pending version number
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#21579 Move the HMAC auth policy to an internal package
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/internal/auth/policy_hmac_auth.go
  sdk/data/azappconfig/internal/auth/policy_hmac_auth_parse_test.go
Labels: App Configuration

#21583 Deprecated sdk/resourcemanager/servicefabricmesh/armservicefabricmesh
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/CHANGELOG.md
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/README.md
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/autorest.md
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/constants.go
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/go.mod
Labels: Mgmt

#21580 Don't recreate body after reading
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/internal/auth/policy_hmac_auth.go
Labels: App Configuration

#21586 Return specific errors when parsing connection strings
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/internal/auth/policy_hmac_auth.go
  sdk/data/azappconfig/internal/auth/policy_hmac_auth_test.go
Labels: App Configuration

#21535 [Release] sdk/resourcemanager/signalr/armsignalr/1.2.0-beta.1
  sdk/resourcemanager/signalr/armsignalr/CHANGELOG.md
  sdk/resourcemanager/signalr/armsignalr/assets.json
  sdk/resourcemanager/signalr/armsignalr/autorest.md
  sdk/resourcemanager/signalr/armsignalr/client.go
  sdk/resourcemanager/signalr/armsignalr/client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/client_factory.go
  sdk/resourcemanager/signalr/armsignalr/constants.go
  sdk/resourcemanager/signalr/armsignalr/customcertificates_client.go
  sdk/resourcemanager/signalr/armsignalr/customcertificates_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/customdomains_client.go
  sdk/resourcemanager/signalr/armsignalr/customdomains_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/go.mod
  sdk/resourcemanager/signalr/armsignalr/go.sum
  sdk/resourcemanager/signalr/armsignalr/models.go
  sdk/resourcemanager/signalr/armsignalr/models_serde.go
  sdk/resourcemanager/signalr/armsignalr/operations_client.go
  sdk/resourcemanager/signalr/armsignalr/operations_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/options.go
  sdk/resourcemanager/signalr/armsignalr/privateendpointconnections_client.go
  sdk/resourcemanager/signalr/armsignalr/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/privatelinkresources_client.go
  sdk/resourcemanager/signalr/armsignalr/privatelinkresources_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/replicas_client.go
  sdk/resourcemanager/signalr/armsignalr/replicas_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/response_types.go
  sdk/resourcemanager/signalr/armsignalr/sharedprivatelinkresources_client.go
  sdk/resourcemanager/signalr/armsignalr/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/signalr/armsignalr/time_rfc3339.go
  sdk/resourcemanager/signalr/armsignalr/usages_client.go
  sdk/resourcemanager/signalr/armsignalr/usages_client_example_test.go
Labels: Mgmt, Beta

#21485 [Release] sdk/resourcemanager/iothub/armiothub/1.2.0
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/assets.json
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
Labels: Mgmt, Stable

#21591 [Release] sdk/resourcemanager/communication/armcommunication/2.1.0-beta.1
  sdk/resourcemanager/communication/armcommunication/CHANGELOG.md
  sdk/resourcemanager/communication/armcommunication/autorest.md
  sdk/resourcemanager/communication/armcommunication/client_factory.go
  sdk/resourcemanager/communication/armcommunication/constants.go
  sdk/resourcemanager/communication/armcommunication/domains_client.go
  sdk/resourcemanager/communication/armcommunication/domains_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/go.mod
  sdk/resourcemanager/communication/armcommunication/go.sum
  sdk/resourcemanager/communication/armcommunication/models.go
  sdk/resourcemanager/communication/armcommunication/models_serde.go
  sdk/resourcemanager/communication/armcommunication/operations_client.go
  sdk/resourcemanager/communication/armcommunication/operations_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/options.go
  sdk/resourcemanager/communication/armcommunication/response_types.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/services_client.go
  sdk/resourcemanager/communication/armcommunication/services_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/time_rfc3339.go
Labels: Mgmt, Beta

#21487 [Release] sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/2.1.0
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/extensions_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/extensions_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigoperationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigoperationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigurations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigurations_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operations_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/options.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/response_types.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/sourcecontrolconfigurations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/sourcecontrolconfigurations_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/time_rfc3339.go
Labels: Mgmt, Stable

#21462 [Release] sdk/resourcemanager/solutions/armmanagedapplications/2.0.0
  sdk/resourcemanager/solutions/armmanagedapplications/CHANGELOG.md
  sdk/resourcemanager/solutions/armmanagedapplications/application_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/application_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/autorest.md
  sdk/resourcemanager/solutions/armmanagedapplications/client_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/constants.go
  sdk/resourcemanager/solutions/armmanagedapplications/go.mod
  sdk/resourcemanager/solutions/armmanagedapplications/go.sum
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/models.go
  sdk/resourcemanager/solutions/armmanagedapplications/models_serde.go
  sdk/resourcemanager/solutions/armmanagedapplications/options.go
  sdk/resourcemanager/solutions/armmanagedapplications/response_types.go
  sdk/resourcemanager/solutions/armmanagedapplications/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21594 Rewrite if-else chain as switch
  sdk/azidentity/errors.go
Labels: Azure.Identity

#21589 Refactor handling of sync tokens
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/internal/exported/sync_token.go
  sdk/data/azappconfig/internal/exported/sync_token_test.go
  sdk/data/azappconfig/internal/synctoken/cache.go
  sdk/data/azappconfig/internal/synctoken/cache_test.go
  sdk/data/azappconfig/internal/synctoken/policy.go
  sdk/data/azappconfig/internal/synctoken/policy_test.go
  sdk/data/azappconfig/policy_sync_token.go
  sdk/data/azappconfig/policy_sync_token_parse_test.go
  sdk/data/azappconfig/policy_sync_token_test.go
  sdk/data/azappconfig/response_types.go
Labels: App Configuration

#21596 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: App Configuration

#21600 Check for Sync-Token before updating the cache
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/internal/synctoken/policy.go
  sdk/data/azappconfig/internal/synctoken/policy_test.go
Labels: App Configuration

#21520 [Release] sdk/resourcemanager/redis/armredis/3.0.0
  sdk/resourcemanager/redis/armredis/CHANGELOG.md
  sdk/resourcemanager/redis/armredis/accesspolicy_client.go
  sdk/resourcemanager/redis/armredis/accesspolicy_client_example_test.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client.go
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client_example_test.go
  sdk/resourcemanager/redis/armredis/autorest.md
  sdk/resourcemanager/redis/armredis/client.go
  sdk/resourcemanager/redis/armredis/client_example_test.go
  sdk/resourcemanager/redis/armredis/client_factory.go
  sdk/resourcemanager/redis/armredis/constants.go
  sdk/resourcemanager/redis/armredis/firewallrules_client.go
  sdk/resourcemanager/redis/armredis/firewallrules_client_example_test.go
  sdk/resourcemanager/redis/armredis/go.mod
  sdk/resourcemanager/redis/armredis/go.sum
  sdk/resourcemanager/redis/armredis/linkedserver_client.go
  sdk/resourcemanager/redis/armredis/linkedserver_client_example_test.go
  sdk/resourcemanager/redis/armredis/models.go
  sdk/resourcemanager/redis/armredis/models_serde.go
  sdk/resourcemanager/redis/armredis/operations_client.go
  sdk/resourcemanager/redis/armredis/operations_client_example_test.go
  sdk/resourcemanager/redis/armredis/options.go
  sdk/resourcemanager/redis/armredis/patchschedules_client.go
  sdk/resourcemanager/redis/armredis/patchschedules_client_example_test.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redis/armredis/response_types.go
  sdk/resourcemanager/redis/armredis/time_rfc3339.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#21603 fix sdk/resourcemanager/redis/armredis live test import
  sdk/resourcemanager/redis/armredis/assets.json
  sdk/resourcemanager/redis/armredis/go.mod
  sdk/resourcemanager/redis/armredis/go.sum
  sdk/resourcemanager/redis/armredis/redis_live_test.go
Labels: Mgmt

#21488 [Release] sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/1.0.0
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/CHANGELOG.md
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/autorest.md
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/client_factory.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/constants.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/endpoints_client.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/endpoints_client_example_test.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/go.mod
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/go.sum
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/models.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/models_serde.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/operations_client.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/operations_client_example_test.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/options.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/response_types.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/serviceconfigurations_client.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/serviceconfigurations_client_example_test.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/time_rfc3339.go
Labels: Mgmt, FirstGA

#21483 [Release] sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/1.0.0
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/CHANGELOG.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/autorest.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/client_factory.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/constants.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/go.mod
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/go.sum
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models_serde.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/options.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/response_types.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/time_rfc3339.go
Labels: Mgmt, FirstGA

#21606 Add another error code to the list of unregistered RP errors
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
Labels: Azure.Core

#21245 User authentication API
  sdk/azidentity/assets.json
  sdk/azidentity/authentication_record.go
  sdk/azidentity/authentication_record_test.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity

#21244 Persistent caching on macOS and Windows
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/cache/cache.go
  sdk/azidentity/cache/darwin.go
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/cache/version.go
  sdk/azidentity/cache/windows.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/example_cache_test.go
  sdk/azidentity/go.work
  sdk/azidentity/go.work.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/internal/exported.go
  sdk/azidentity/internal/internal.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity

#21610 Sync eng/common directory with azure-sdk-tools for PR 7002
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#21611 Sync eng/common directory with azure-sdk-tools for PR 6919
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/Get-BuildSourceDescription.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/Update-GeneratedSdks.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#21621 Update azcore dependencies
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
Labels: Azure.Core

#21622 Use identity subscription config and pre script for live test variables
  sdk/azidentity/ci.yml
  sdk/azidentity/test-resources-pre.ps1
Labels: Azure.Identity, Central-EngSys

#21624 [azservicebus,azeventhubs] Updating stress framework
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.yaml
  sdk/messaging/azservicebus/internal/stress/Chart.lock
  sdk/messaging/azservicebus/internal/stress/Chart.yaml
Labels: Service Bus, Event Hubs

#21618 Sync eng/common directory with azure-sdk-tools for PR 7013
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#21626 [Release] sdk/resourcemanager/playwrighttesting/armplaywrighttesting/0.1.0
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/CHANGELOG.md
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/LICENSE.txt
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/README.md
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/accounts_client.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/accounts_client_example_test.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/autorest.md
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/build.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/ci.yml
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/client_factory.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/constants.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/go.mod
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/go.sum
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/models.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/models_serde.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/operations_client.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/operations_client_example_test.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/options.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/quotas_client.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/quotas_client_example_test.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/response_types.go
  sdk/resourcemanager/playwrighttesting/armplaywrighttesting/time_rfc3339.go
Labels: Mgmt, FirstBeta

#21576 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#21617 [AzDatalake] Fix Path Renames with SAS
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
Labels: Storage, AzDatalake

#21628 Add retriable status codes for IMDS managed identity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#21632 [azservicebus] Adding in `(Queue|Topic|Subscription)Name` fields.
  sdk/messaging/azservicebus/admin/admin_client_queue.go
  sdk/messaging/azservicebus/admin/admin_client_subscription.go
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
Labels: Service Bus
