Repository Azure/azure-sdk-for-go, pull requests merged in 2023-04, with the labels that each got.

#20532 [Release] sdk/resourcemanager/communication/armcommunication/2.0.0
  sdk/resourcemanager/communication/armcommunication/CHANGELOG.md
  sdk/resourcemanager/communication/armcommunication/autorest.md
  sdk/resourcemanager/communication/armcommunication/constants.go
  sdk/resourcemanager/communication/armcommunication/domains_client.go
  sdk/resourcemanager/communication/armcommunication/domains_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/operations_client.go
  sdk/resourcemanager/communication/armcommunication/operations_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/services_client.go
  sdk/resourcemanager/communication/armcommunication/services_client_example_test.go
Labels: stable

#20551 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: auto-merge

#20542 Added support for get account info in blob and container clients
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage

#20556 [keyvault] refactor restore poller in azadmin
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/utils_poller.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
Labels: KeyVault, Client

#20550 Transaction Validation - Blob Client
  sdk/storage/azblob/blob/client_test.go
Labels: Storage

#20562 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#20557 Added support for copy source authorization to append block from url
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/internal/testcommon/common.go
Labels: Storage

#20554 Fixed issue in challenge policy to prevent multiple requests from being sent in the happy case.
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
Labels: Storage

#20563 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#20569 Fix azcore changelog entry
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#20558 PutBlobFromURL/UploadBlobFromURL API
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/responses.go
Labels: Storage

#20573 Remove arm/ClientOptions.AuxiliaryTenants
  sdk/azcore/arm/policy/policy.go
Labels: Azure.Core

#20574 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#20583 Revise azidentity docs
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity.go
Labels: Docs, Azure.Identity

#20584 Prepare azidentity v1.3.0-beta.5 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#20580 Enable GitHub Event Processor for Go
  .github/event-processor.config
  .github/fabricbot.json
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#20570 [monitor] query resource
  eng/config.json
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/TROUBLESHOOTING.md
  sdk/monitor/azquery/assets.json
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/response_types.go
  sdk/monitor/azquery/time_rfc3339.go
  sdk/monitor/azquery/version.go
Labels: Client, Monitor - Query

#20600 Sync eng/common directory with azure-sdk-tools for PR 5951
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#20582 Recorded more storage tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage

#20608 Increment version for monitor/azquery releases
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Labels: auto-merge

#20633 [keyvault] update partial errors
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/autorest.md
  sdk/keyvault/azcertificates/custom_client.go
  sdk/keyvault/azcertificates/models.go
  sdk/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
Labels: KeyVault, Client

#20619 Release refresh all package 1681353603
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/autorest.md
  sdk/resourcemanager/avs/armavs/constants.go
  sdk/resourcemanager/avs/armavs/models.go
  sdk/resourcemanager/avs/armavs/models_serde.go
  sdk/resourcemanager/azurearcdata/armazurearcdata/CHANGELOG.md
  sdk/resourcemanager/azurearcdata/armazurearcdata/autorest.md
  sdk/resourcemanager/azurearcdata/armazurearcdata/constants.go
  sdk/resourcemanager/azurearcdata/armazurearcdata/models.go
  sdk/resourcemanager/azurearcdata/armazurearcdata/models_serde.go
  sdk/resourcemanager/azurestackhci/armazurestackhci/CHANGELOG.md
  sdk/resourcemanager/azurestackhci/armazurestackhci/autorest.md
  sdk/resourcemanager/azurestackhci/armazurestackhci/constants.go
  sdk/resourcemanager/azurestackhci/armazurestackhci/models.go
  sdk/resourcemanager/azurestackhci/armazurestackhci/models_serde.go
  sdk/resourcemanager/batch/armbatch/CHANGELOG.md
  sdk/resourcemanager/batch/armbatch/autorest.md
  sdk/resourcemanager/batch/armbatch/constants.go
  sdk/resourcemanager/batch/armbatch/models.go
  sdk/resourcemanager/batch/armbatch/models_serde.go
  sdk/resourcemanager/blueprint/armblueprint/CHANGELOG.md
  sdk/resourcemanager/blueprint/armblueprint/autorest.md
  sdk/resourcemanager/blueprint/armblueprint/constants.go
  sdk/resourcemanager/blueprint/armblueprint/models.go
  sdk/resourcemanager/blueprint/armblueprint/models_serde.go
  sdk/resourcemanager/botservice/armbotservice/CHANGELOG.md
  sdk/resourcemanager/botservice/armbotservice/autorest.md
  sdk/resourcemanager/botservice/armbotservice/constants.go
  sdk/resourcemanager/botservice/armbotservice/models.go
  sdk/resourcemanager/botservice/armbotservice/models_serde.go
  sdk/resourcemanager/cdn/armcdn/CHANGELOG.md
  sdk/resourcemanager/cdn/armcdn/autorest.md
  sdk/resourcemanager/cdn/armcdn/constants.go
  sdk/resourcemanager/cdn/armcdn/models.go
  sdk/resourcemanager/cdn/armcdn/models_serde.go
  sdk/resourcemanager/changeanalysis/armchangeanalysis/CHANGELOG.md
  sdk/resourcemanager/changeanalysis/armchangeanalysis/autorest.md
  sdk/resourcemanager/changeanalysis/armchangeanalysis/constants.go
  sdk/resourcemanager/changeanalysis/armchangeanalysis/models.go
  sdk/resourcemanager/changeanalysis/armchangeanalysis/models_serde.go
  sdk/resourcemanager/chaos/armchaos/CHANGELOG.md
  sdk/resourcemanager/chaos/armchaos/autorest.md
  sdk/resourcemanager/chaos/armchaos/constants.go
  sdk/resourcemanager/chaos/armchaos/models.go
  sdk/resourcemanager/chaos/armchaos/models_serde.go
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/CHANGELOG.md
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/autorest.md
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/constants.go
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/models.go
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/models_serde.go
Labels: Mgmt

#20620 Release refresh all package 1681354366
  sdk/resourcemanager/agrifood/armagrifood/CHANGELOG.md
  sdk/resourcemanager/agrifood/armagrifood/autorest.md
  sdk/resourcemanager/agrifood/armagrifood/constants.go
  sdk/resourcemanager/agrifood/armagrifood/models.go
  sdk/resourcemanager/agrifood/armagrifood/models_serde.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/CHANGELOG.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/autorest.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/constants.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models_serde.go
  sdk/resourcemanager/analysisservices/armanalysisservices/CHANGELOG.md
  sdk/resourcemanager/analysisservices/armanalysisservices/autorest.md
  sdk/resourcemanager/analysisservices/armanalysisservices/constants.go
  sdk/resourcemanager/analysisservices/armanalysisservices/models.go
  sdk/resourcemanager/analysisservices/armanalysisservices/models_serde.go
  sdk/resourcemanager/apimanagement/armapimanagement/CHANGELOG.md
  sdk/resourcemanager/apimanagement/armapimanagement/assets.json
  sdk/resourcemanager/apimanagement/armapimanagement/autorest.md
  sdk/resourcemanager/apimanagement/armapimanagement/constants.go
  sdk/resourcemanager/apimanagement/armapimanagement/models.go
  sdk/resourcemanager/apimanagement/armapimanagement/models_serde.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/CHANGELOG.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/autorest.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/constants.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models_serde.go
  sdk/resourcemanager/applicationinsights/armapplicationinsights/CHANGELOG.md
  sdk/resourcemanager/applicationinsights/armapplicationinsights/autorest.md
  sdk/resourcemanager/applicationinsights/armapplicationinsights/constants.go
  sdk/resourcemanager/applicationinsights/armapplicationinsights/models.go
  sdk/resourcemanager/applicationinsights/armapplicationinsights/models_serde.go
  sdk/resourcemanager/appservice/armappservice/CHANGELOG.md
  sdk/resourcemanager/appservice/armappservice/autorest.md
  sdk/resourcemanager/appservice/armappservice/constants.go
  sdk/resourcemanager/appservice/armappservice/models.go
  sdk/resourcemanager/appservice/armappservice/models_serde.go
  sdk/resourcemanager/authorization/armauthorization/CHANGELOG.md
  sdk/resourcemanager/authorization/armauthorization/autorest.md
  sdk/resourcemanager/authorization/armauthorization/constants.go
  sdk/resourcemanager/authorization/armauthorization/models.go
  sdk/resourcemanager/authorization/armauthorization/models_serde.go
  sdk/resourcemanager/automanage/armautomanage/CHANGELOG.md
  sdk/resourcemanager/automanage/armautomanage/autorest.md
  sdk/resourcemanager/automanage/armautomanage/constants.go
  sdk/resourcemanager/automanage/armautomanage/models.go
  sdk/resourcemanager/automanage/armautomanage/models_serde.go
Labels: Mgmt

#20621 Release refresh all package 1681356241
  sdk/resourcemanager/communication/armcommunication/CHANGELOG.md
  sdk/resourcemanager/communication/armcommunication/autorest.md
  sdk/resourcemanager/communication/armcommunication/constants.go
  sdk/resourcemanager/communication/armcommunication/models.go
  sdk/resourcemanager/communication/armcommunication/models_serde.go
  sdk/resourcemanager/compute/armcompute/CHANGELOG.md
  sdk/resourcemanager/compute/armcompute/autorest.md
  sdk/resourcemanager/compute/armcompute/constants.go
  sdk/resourcemanager/compute/armcompute/models.go
  sdk/resourcemanager/compute/armcompute/models_serde.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/CHANGELOG.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/autorest.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/constants.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models_serde.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/CHANGELOG.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/autorest.md
  sdk/resourcemanager/connectedvmware/armconnectedvmware/constants.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/models.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/models_serde.go
  sdk/resourcemanager/costmanagement/armcostmanagement/CHANGELOG.md
  sdk/resourcemanager/costmanagement/armcostmanagement/autorest.md
  sdk/resourcemanager/costmanagement/armcostmanagement/constants.go
  sdk/resourcemanager/costmanagement/armcostmanagement/models.go
  sdk/resourcemanager/costmanagement/armcostmanagement/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/databox/armdatabox/CHANGELOG.md
  sdk/resourcemanager/databox/armdatabox/autorest.md
  sdk/resourcemanager/databox/armdatabox/constants.go
  sdk/resourcemanager/databox/armdatabox/models.go
  sdk/resourcemanager/databox/armdatabox/models_serde.go
  sdk/resourcemanager/databricks/armdatabricks/CHANGELOG.md
  sdk/resourcemanager/databricks/armdatabricks/autorest.md
  sdk/resourcemanager/databricks/armdatabricks/constants.go
  sdk/resourcemanager/databricks/armdatabricks/models.go
  sdk/resourcemanager/databricks/armdatabricks/models_serde.go
  sdk/resourcemanager/datadog/armdatadog/CHANGELOG.md
  sdk/resourcemanager/datadog/armdatadog/autorest.md
  sdk/resourcemanager/datadog/armdatadog/constants.go
  sdk/resourcemanager/datadog/armdatadog/models.go
  sdk/resourcemanager/datadog/armdatadog/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
Labels: Mgmt

#20622 Release refresh all package 1681356262
  sdk/resourcemanager/datalake-analytics/armdatalakeanalytics/CHANGELOG.md
  sdk/resourcemanager/datalake-analytics/armdatalakeanalytics/autorest.md
  sdk/resourcemanager/datalake-analytics/armdatalakeanalytics/constants.go
  sdk/resourcemanager/datalake-analytics/armdatalakeanalytics/models.go
  sdk/resourcemanager/datalake-analytics/armdatalakeanalytics/models_serde.go
  sdk/resourcemanager/dataprotection/armdataprotection/CHANGELOG.md
  sdk/resourcemanager/dataprotection/armdataprotection/autorest.md
  sdk/resourcemanager/dataprotection/armdataprotection/constants.go
  sdk/resourcemanager/dataprotection/armdataprotection/models.go
  sdk/resourcemanager/dataprotection/armdataprotection/models_serde.go
  sdk/resourcemanager/delegatednetwork/armdelegatednetwork/CHANGELOG.md
  sdk/resourcemanager/delegatednetwork/armdelegatednetwork/autorest.md
  sdk/resourcemanager/delegatednetwork/armdelegatednetwork/constants.go
  sdk/resourcemanager/delegatednetwork/armdelegatednetwork/models.go
  sdk/resourcemanager/delegatednetwork/armdelegatednetwork/models_serde.go
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/CHANGELOG.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/autorest.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/constants.go
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/models.go
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/models_serde.go
  sdk/resourcemanager/devcenter/armdevcenter/CHANGELOG.md
  sdk/resourcemanager/devcenter/armdevcenter/autorest.md
  sdk/resourcemanager/devcenter/armdevcenter/constants.go
  sdk/resourcemanager/devcenter/armdevcenter/models.go
  sdk/resourcemanager/devcenter/armdevcenter/models_serde.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/CHANGELOG.md
  sdk/resourcemanager/deviceupdate/armdeviceupdate/autorest.md
  sdk/resourcemanager/deviceupdate/armdeviceupdate/constants.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/models.go
  sdk/resourcemanager/deviceupdate/armdeviceupdate/models_serde.go
  sdk/resourcemanager/devtestlabs/armdevtestlabs/CHANGELOG.md
  sdk/resourcemanager/devtestlabs/armdevtestlabs/autorest.md
  sdk/resourcemanager/devtestlabs/armdevtestlabs/constants.go
  sdk/resourcemanager/devtestlabs/armdevtestlabs/models.go
  sdk/resourcemanager/devtestlabs/armdevtestlabs/models_serde.go
  sdk/resourcemanager/edgeorder/armedgeorder/CHANGELOG.md
  sdk/resourcemanager/edgeorder/armedgeorder/autorest.md
  sdk/resourcemanager/edgeorder/armedgeorder/constants.go
  sdk/resourcemanager/edgeorder/armedgeorder/models.go
  sdk/resourcemanager/edgeorder/armedgeorder/models_serde.go
  sdk/resourcemanager/edgeorderpartner/armedgeorderpartner/CHANGELOG.md
  sdk/resourcemanager/edgeorderpartner/armedgeorderpartner/autorest.md
  sdk/resourcemanager/edgeorderpartner/armedgeorderpartner/constants.go
  sdk/resourcemanager/edgeorderpartner/armedgeorderpartner/models.go
  sdk/resourcemanager/edgeorderpartner/armedgeorderpartner/models_serde.go
  sdk/resourcemanager/eventgrid/armeventgrid/CHANGELOG.md
  sdk/resourcemanager/eventgrid/armeventgrid/autorest.md
  sdk/resourcemanager/eventgrid/armeventgrid/constants.go
  sdk/resourcemanager/eventgrid/armeventgrid/models.go
  sdk/resourcemanager/eventgrid/armeventgrid/models_serde.go
Labels: Mgmt

#20623 Release refresh all package 1681364055
  sdk/resourcemanager/eventhub/armeventhub/CHANGELOG.md
  sdk/resourcemanager/eventhub/armeventhub/autorest.md
  sdk/resourcemanager/eventhub/armeventhub/constants.go
  sdk/resourcemanager/eventhub/armeventhub/models.go
  sdk/resourcemanager/eventhub/armeventhub/models_serde.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/CHANGELOG.md
  sdk/resourcemanager/extendedlocation/armextendedlocation/autorest.md
  sdk/resourcemanager/extendedlocation/armextendedlocation/constants.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/models.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/models_serde.go
  sdk/resourcemanager/fluidrelay/armfluidrelay/CHANGELOG.md
  sdk/resourcemanager/fluidrelay/armfluidrelay/autorest.md
  sdk/resourcemanager/fluidrelay/armfluidrelay/constants.go
  sdk/resourcemanager/fluidrelay/armfluidrelay/models.go
  sdk/resourcemanager/fluidrelay/armfluidrelay/models_serde.go
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/CHANGELOG.md
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/autorest.md
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/constants.go
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/models.go
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/models_serde.go
  sdk/resourcemanager/hdinsight/armhdinsight/CHANGELOG.md
  sdk/resourcemanager/hdinsight/armhdinsight/autorest.md
  sdk/resourcemanager/hdinsight/armhdinsight/constants.go
  sdk/resourcemanager/hdinsight/armhdinsight/models.go
  sdk/resourcemanager/hdinsight/armhdinsight/models_serde.go
  sdk/resourcemanager/healthbot/armhealthbot/CHANGELOG.md
  sdk/resourcemanager/healthbot/armhealthbot/autorest.md
  sdk/resourcemanager/healthbot/armhealthbot/constants.go
  sdk/resourcemanager/healthbot/armhealthbot/models.go
  sdk/resourcemanager/healthbot/armhealthbot/models_serde.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/CHANGELOG.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/autorest.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/constants.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/CHANGELOG.md
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/autorest.md
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/constants.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/models.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/models_serde.go
  sdk/resourcemanager/hybriddatamanager/armhybriddatamanager/CHANGELOG.md
  sdk/resourcemanager/hybriddatamanager/armhybriddatamanager/autorest.md
  sdk/resourcemanager/hybriddatamanager/armhybriddatamanager/constants.go
  sdk/resourcemanager/hybriddatamanager/armhybriddatamanager/models.go
  sdk/resourcemanager/hybriddatamanager/armhybriddatamanager/models_serde.go
Labels: Mgmt

#20624 Release refresh all package 1681364069
  sdk/resourcemanager/hybridkubernetes/armhybridkubernetes/CHANGELOG.md
  sdk/resourcemanager/hybridkubernetes/armhybridkubernetes/autorest.md
  sdk/resourcemanager/hybridkubernetes/armhybridkubernetes/constants.go
  sdk/resourcemanager/hybridkubernetes/armhybridkubernetes/models.go
  sdk/resourcemanager/hybridkubernetes/armhybridkubernetes/models_serde.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/CHANGELOG.md
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/autorest.md
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/constants.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/models.go
  sdk/resourcemanager/hybridnetwork/armhybridnetwork/models_serde.go
  sdk/resourcemanager/iotcentral/armiotcentral/CHANGELOG.md
  sdk/resourcemanager/iotcentral/armiotcentral/autorest.md
  sdk/resourcemanager/iotcentral/armiotcentral/constants.go
  sdk/resourcemanager/iotcentral/armiotcentral/models.go
  sdk/resourcemanager/iotcentral/armiotcentral/models_serde.go
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iotsecurity/armiotsecurity/CHANGELOG.md
  sdk/resourcemanager/iotsecurity/armiotsecurity/autorest.md
  sdk/resourcemanager/iotsecurity/armiotsecurity/constants.go
  sdk/resourcemanager/iotsecurity/armiotsecurity/models.go
  sdk/resourcemanager/iotsecurity/armiotsecurity/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models_serde.go
  sdk/resourcemanager/kusto/armkusto/CHANGELOG.md
  sdk/resourcemanager/kusto/armkusto/autorest.md
  sdk/resourcemanager/kusto/armkusto/constants.go
  sdk/resourcemanager/kusto/armkusto/models.go
  sdk/resourcemanager/kusto/armkusto/models_serde.go
  sdk/resourcemanager/labservices/armlabservices/CHANGELOG.md
  sdk/resourcemanager/labservices/armlabservices/autorest.md
  sdk/resourcemanager/labservices/armlabservices/constants.go
  sdk/resourcemanager/labservices/armlabservices/models.go
  sdk/resourcemanager/labservices/armlabservices/models_serde.go
  sdk/resourcemanager/logic/armlogic/CHANGELOG.md
  sdk/resourcemanager/logic/armlogic/autorest.md
  sdk/resourcemanager/logic/armlogic/constants.go
  sdk/resourcemanager/logic/armlogic/models.go
  sdk/resourcemanager/logic/armlogic/models_serde.go
  sdk/resourcemanager/logz/armlogz/CHANGELOG.md
  sdk/resourcemanager/logz/armlogz/autorest.md
  sdk/resourcemanager/logz/armlogz/constants.go
  sdk/resourcemanager/logz/armlogz/models.go
  sdk/resourcemanager/logz/armlogz/models_serde.go
Labels: Mgmt

#20626 Release refresh all package 1681365853
  sdk/resourcemanager/mysql/armmysql/CHANGELOG.md
  sdk/resourcemanager/mysql/armmysql/autorest.md
  sdk/resourcemanager/mysql/armmysql/constants.go
  sdk/resourcemanager/mysql/armmysql/models.go
  sdk/resourcemanager/mysql/armmysql/models_serde.go
  sdk/resourcemanager/mysql/armmysqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/autorest.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/constants.go
  sdk/resourcemanager/mysql/armmysqlflexibleservers/models.go
  sdk/resourcemanager/mysql/armmysqlflexibleservers/models_serde.go
  sdk/resourcemanager/network/armnetwork/CHANGELOG.md
  sdk/resourcemanager/network/armnetwork/autorest.md
  sdk/resourcemanager/network/armnetwork/constants.go
  sdk/resourcemanager/network/armnetwork/models.go
  sdk/resourcemanager/network/armnetwork/models_serde.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/CHANGELOG.md
  sdk/resourcemanager/notificationhubs/armnotificationhubs/autorest.md
  sdk/resourcemanager/notificationhubs/armnotificationhubs/constants.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/models.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/models_serde.go
  sdk/resourcemanager/oep/armoep/CHANGELOG.md
  sdk/resourcemanager/oep/armoep/autorest.md
  sdk/resourcemanager/oep/armoep/constants.go
  sdk/resourcemanager/oep/armoep/models.go
  sdk/resourcemanager/oep/armoep/models_serde.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/CHANGELOG.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/autorest.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/constants.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/models.go
  sdk/resourcemanager/operationalinsights/armoperationalinsights/models_serde.go
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/CHANGELOG.md
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/autorest.md
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/constants.go
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/models.go
  sdk/resourcemanager/operationsmanagement/armoperationsmanagement/models_serde.go
  sdk/resourcemanager/orbital/armorbital/CHANGELOG.md
  sdk/resourcemanager/orbital/armorbital/autorest.md
  sdk/resourcemanager/orbital/armorbital/constants.go
  sdk/resourcemanager/orbital/armorbital/models.go
  sdk/resourcemanager/orbital/armorbital/models_serde.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/CHANGELOG.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/autorest.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/constants.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models_serde.go
  sdk/resourcemanager/postgresql/armpostgresql/CHANGELOG.md
  sdk/resourcemanager/postgresql/armpostgresql/autorest.md
  sdk/resourcemanager/postgresql/armpostgresql/constants.go
  sdk/resourcemanager/postgresql/armpostgresql/models.go
  sdk/resourcemanager/postgresql/armpostgresql/models_serde.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/autorest.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/constants.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/models.go
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/CHANGELOG.md
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/autorest.md
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/constants.go
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/models.go
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/models_serde.go
Labels: Mgmt

#20627 Release refresh all package 1681367621
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/CHANGELOG.md
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/autorest.md
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/constants.go
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/models.go
  sdk/resourcemanager/powerbiprivatelinks/armpowerbiprivatelinks/models_serde.go
  sdk/resourcemanager/powerplatform/armpowerplatform/CHANGELOG.md
  sdk/resourcemanager/powerplatform/armpowerplatform/autorest.md
  sdk/resourcemanager/powerplatform/armpowerplatform/constants.go
  sdk/resourcemanager/powerplatform/armpowerplatform/models.go
  sdk/resourcemanager/powerplatform/armpowerplatform/models_serde.go
  sdk/resourcemanager/providerhub/armproviderhub/CHANGELOG.md
  sdk/resourcemanager/providerhub/armproviderhub/autorest.md
  sdk/resourcemanager/providerhub/armproviderhub/constants.go
  sdk/resourcemanager/providerhub/armproviderhub/models.go
  sdk/resourcemanager/providerhub/armproviderhub/models_serde.go
  sdk/resourcemanager/quantum/armquantum/CHANGELOG.md
  sdk/resourcemanager/quantum/armquantum/autorest.md
  sdk/resourcemanager/quantum/armquantum/constants.go
  sdk/resourcemanager/quantum/armquantum/models.go
  sdk/resourcemanager/quantum/armquantum/models_serde.go
  sdk/resourcemanager/quota/armquota/CHANGELOG.md
  sdk/resourcemanager/quota/armquota/autorest.md
  sdk/resourcemanager/quota/armquota/constants.go
  sdk/resourcemanager/quota/armquota/models.go
  sdk/resourcemanager/quota/armquota/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicesbackup/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/models_serde.go
  sdk/resourcemanager/redis/armredis/CHANGELOG.md
  sdk/resourcemanager/redis/armredis/autorest.md
  sdk/resourcemanager/redis/armredis/constants.go
  sdk/resourcemanager/redis/armredis/models.go
  sdk/resourcemanager/redis/armredis/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/relay/armrelay/CHANGELOG.md
  sdk/resourcemanager/relay/armrelay/autorest.md
  sdk/resourcemanager/relay/armrelay/constants.go
  sdk/resourcemanager/relay/armrelay/models.go
  sdk/resourcemanager/relay/armrelay/models_serde.go
  sdk/resourcemanager/reservations/armreservations/CHANGELOG.md
  sdk/resourcemanager/reservations/armreservations/autorest.md
  sdk/resourcemanager/reservations/armreservations/constants.go
  sdk/resourcemanager/reservations/armreservations/models.go
  sdk/resourcemanager/reservations/armreservations/models_serde.go
Labels: Mgmt

#20629 Release refresh all package 1681369819
  sdk/resourcemanager/synapse/armsynapse/CHANGELOG.md
  sdk/resourcemanager/synapse/armsynapse/autorest.md
  sdk/resourcemanager/synapse/armsynapse/constants.go
  sdk/resourcemanager/synapse/armsynapse/models.go
  sdk/resourcemanager/synapse/armsynapse/models_serde.go
  sdk/resourcemanager/testbase/armtestbase/CHANGELOG.md
  sdk/resourcemanager/testbase/armtestbase/autorest.md
  sdk/resourcemanager/testbase/armtestbase/constants.go
  sdk/resourcemanager/testbase/armtestbase/models.go
  sdk/resourcemanager/testbase/armtestbase/models_serde.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/CHANGELOG.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/autorest.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/constants.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models_serde.go
  sdk/resourcemanager/voiceservices/armvoiceservices/CHANGELOG.md
  sdk/resourcemanager/voiceservices/armvoiceservices/autorest.md
  sdk/resourcemanager/voiceservices/armvoiceservices/constants.go
  sdk/resourcemanager/voiceservices/armvoiceservices/models.go
  sdk/resourcemanager/voiceservices/armvoiceservices/models_serde.go
  sdk/resourcemanager/webpubsub/armwebpubsub/CHANGELOG.md
  sdk/resourcemanager/webpubsub/armwebpubsub/autorest.md
  sdk/resourcemanager/webpubsub/armwebpubsub/constants.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models.go
  sdk/resourcemanager/webpubsub/armwebpubsub/models_serde.go
Labels: Mgmt

#20630 Release refresh all package 1681369745
  sdk/resourcemanager/servicenetworking/armservicenetworking/CHANGELOG.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/autorest.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/constants.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models_serde.go
  sdk/resourcemanager/signalr/armsignalr/CHANGELOG.md
  sdk/resourcemanager/signalr/armsignalr/autorest.md
  sdk/resourcemanager/signalr/armsignalr/constants.go
  sdk/resourcemanager/signalr/armsignalr/models.go
  sdk/resourcemanager/signalr/armsignalr/models_serde.go
  sdk/resourcemanager/solutions/armmanagedapplications/CHANGELOG.md
  sdk/resourcemanager/solutions/armmanagedapplications/autorest.md
  sdk/resourcemanager/solutions/armmanagedapplications/constants.go
  sdk/resourcemanager/solutions/armmanagedapplications/models.go
  sdk/resourcemanager/solutions/armmanagedapplications/models_serde.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/CHANGELOG.md
  sdk/resourcemanager/storageimportexport/armstorageimportexport/autorest.md
  sdk/resourcemanager/storageimportexport/armstorageimportexport/constants.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/models.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/models_serde.go
  sdk/resourcemanager/storagemover/armstoragemover/CHANGELOG.md
  sdk/resourcemanager/storagemover/armstoragemover/autorest.md
  sdk/resourcemanager/storagemover/armstoragemover/constants.go
  sdk/resourcemanager/storagemover/armstoragemover/models.go
  sdk/resourcemanager/storagemover/armstoragemover/models_serde.go
  sdk/resourcemanager/storagepool/armstoragepool/CHANGELOG.md
  sdk/resourcemanager/storagepool/armstoragepool/autorest.md
  sdk/resourcemanager/storagepool/armstoragepool/constants.go
  sdk/resourcemanager/storagepool/armstoragepool/models.go
  sdk/resourcemanager/storagepool/armstoragepool/models_serde.go
  sdk/resourcemanager/storagesync/armstoragesync/CHANGELOG.md
  sdk/resourcemanager/storagesync/armstoragesync/autorest.md
  sdk/resourcemanager/storagesync/armstoragesync/constants.go
  sdk/resourcemanager/storagesync/armstoragesync/models.go
  sdk/resourcemanager/storagesync/armstoragesync/models_serde.go
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/CHANGELOG.md
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/autorest.md
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/constants.go
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/models.go
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/models_serde.go
  sdk/resourcemanager/storsimple8000series/armstorsimple8000series/CHANGELOG.md
  sdk/resourcemanager/storsimple8000series/armstorsimple8000series/autorest.md
  sdk/resourcemanager/storsimple8000series/armstorsimple8000series/constants.go
  sdk/resourcemanager/storsimple8000series/armstorsimple8000series/models.go
  sdk/resourcemanager/storsimple8000series/armstorsimple8000series/models_serde.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/CHANGELOG.md
  sdk/resourcemanager/streamanalytics/armstreamanalytics/autorest.md
  sdk/resourcemanager/streamanalytics/armstreamanalytics/constants.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/models.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/models_serde.go
Labels: Mgmt

#20646 release sdk/resourcemanager/automation/armautomation/v0.8.1
  sdk/resourcemanager/automation/armautomation/CHANGELOG.md
  sdk/resourcemanager/automation/armautomation/autorest.md
  sdk/resourcemanager/automation/armautomation/constants.go
  sdk/resourcemanager/automation/armautomation/models.go
  sdk/resourcemanager/automation/armautomation/models_serde.go
Labels: Mgmt

#20615 OAuth based tests for blob batch
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#20636 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault, auto-merge

#20637 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#20638 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#20640 Increment version for keyvault/azcertificates releases
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/version.go
Labels: KeyVault, auto-merge

#20641 Increment version for keyvault/azkeys releases
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/version.go
Labels: KeyVault, auto-merge

#20639 Increment version for keyvault/azsecrets releases
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/version.go
Labels: KeyVault, auto-merge

#20650 [Release] sdk/resourcemanager/containerinstance/armcontainerinstance/v2.2.1
  sdk/resourcemanager/containerinstance/armcontainerinstance/CHANGELOG.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/autorest.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/constants.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models_serde.go
Labels: Mgmt

#20649 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#20652 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#20656 Cosmos DB: Fixes value queries
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_query_response_test.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
Labels: Cosmos

#20658 Fix issue where tags header is passed if map is empty
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
Labels: Storage

#20667 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#20605 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity, auto-merge

#20672 Added tags permission for container SAS
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
Labels: Storage

#20673 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#20675 Upgrade to MSAL v1.0.0
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Regional.json
Labels: Azure.Identity

#20677 Renamed tags to tag to be consistent with BlobSasPermission
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
Labels: Storage

#20674 Rename DisableInstanceDiscovery
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#20680 Move azidentity recordings to assets repo
  sdk/azidentity/assets.json
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/testdata/recordings/TestClientCertificateCredentialADFS_Live.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_InvalidCertLive.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/PEM.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/PKCS12.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/SNI.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestClientCertificateCredential_Regional.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredentialADFS_Live.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredential_InvalidSecretLive.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestClientSecretCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestDeviceCodeCredentialADFS_Live.json
  sdk/azidentity/testdata/recordings/TestDeviceCodeCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestDeviceCodeCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestDeviceCodeCredential_Live/optional_tenant.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredentialADFS_ClientSecretLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredentialADFS_UserPasswordLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_ClientSecretLive/default_options.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_ClientSecretLive/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_InvalidClientSecretLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_InvalidPasswordLive.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_UserPasswordLive/default_options.json
  sdk/azidentity/testdata/recordings/TestEnvironmentCredential_UserPasswordLive/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSClientIDLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSLive.json
  sdk/azidentity/testdata/recordings/TestManagedIdentityCredential_IMDSResourceIDLive.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredentialADFS_Live.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredential_InvalidPasswordLive.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestUsernamePasswordCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/instance_discovery_disabled.json
Labels: Azure.Identity, test-enhancement

#20564 [azservicebus] Removing code that handled session/link cancellation
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/amqplinks_unit_test.go
  sdk/messaging/azservicebus/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azservicebus/internal/amqpwrap/amqpwrap_test.go
  sdk/messaging/azservicebus/internal/amqpwrap/mock_amqp_test.go
  sdk/messaging/azservicebus/internal/cbs.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/go-amqp/conn.go
  sdk/messaging/azservicebus/internal/go-amqp/internal/frames/frames.go
  sdk/messaging/azservicebus/internal/go-amqp/link.go
  sdk/messaging/azservicebus/internal/go-amqp/message.go
  sdk/messaging/azservicebus/internal/go-amqp/receiver.go
  sdk/messaging/azservicebus/internal/go-amqp/sasl.go
  sdk/messaging/azservicebus/internal/go-amqp/sender.go
  sdk/messaging/azservicebus/internal/go-amqp/session.go
  sdk/messaging/azservicebus/internal/mock/emulation/events.go
  sdk/messaging/azservicebus/internal/mock/emulation/mock_data_receiver.go
  sdk/messaging/azservicebus/internal/mock/emulation/mock_data_sender.go
  sdk/messaging/azservicebus/internal/mock/emulation/mock_data_session.go
  sdk/messaging/azservicebus/internal/mock/mock_amqp.go
  sdk/messaging/azservicebus/internal/namespace_test.go
  sdk/messaging/azservicebus/internal/rpc.go
  sdk/messaging/azservicebus/internal/rpc_sb.go
  sdk/messaging/azservicebus/internal/rpc_test.go
  sdk/messaging/azservicebus/internal/stress/.gitignore
  sdk/messaging/azservicebus/internal/stress/Chart.yaml
  sdk/messaging/azservicebus/internal/stress/Dockerfile
  sdk/messaging/azservicebus/internal/stress/deploy.ps1
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/templates/stress-test-job.yaml
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment_sender.go
  sdk/messaging/azservicebus/internal/stress/tests/empty_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_peeks.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/idle_fast_reconnect.go
  sdk/messaging/azservicebus/internal/stress/tests/infinite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/long_running_renew_lock.go
  sdk/messaging/azservicebus/internal/stress/tests/mostly_idle_receiver.go
  sdk/messaging/azservicebus/internal/stress/tests/rapid_open_close.go
  sdk/messaging/azservicebus/internal/stress/tests/receive_cancellation.go
  sdk/messaging/azservicebus/internal/stress/tests/send_and_receive drain.go
  sdk/messaging/azservicebus/internal/test/test_helpers.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/receiver_unit_test.go
Labels: Service Bus

#20681 [keyvault] update docs
  sdk/security/keyvault/azadmin/README.md
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/example_test.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/rbac/example_test.go
  sdk/security/keyvault/azcertificates/README.md
  sdk/security/keyvault/azkeys/README.md
  sdk/security/keyvault/azsecrets/README.md
Labels: KeyVault, Client

#20359 [Release] sdk/resourcemanager/workloads/armworkloads/1.0.0
  sdk/resourcemanager/workloads/armworkloads/CHANGELOG.md
  sdk/resourcemanager/workloads/armworkloads/README.md
  sdk/resourcemanager/workloads/armworkloads/autorest.md
  sdk/resourcemanager/workloads/armworkloads/client.go
  sdk/resourcemanager/workloads/armworkloads/client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/client_factory.go
  sdk/resourcemanager/workloads/armworkloads/constants.go
  sdk/resourcemanager/workloads/armworkloads/go.mod
  sdk/resourcemanager/workloads/armworkloads/go.sum
  sdk/resourcemanager/workloads/armworkloads/models.go
  sdk/resourcemanager/workloads/armworkloads/models_serde.go
  sdk/resourcemanager/workloads/armworkloads/monitors_client.go
  sdk/resourcemanager/workloads/armworkloads/monitors_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/operations_client.go
  sdk/resourcemanager/workloads/armworkloads/operations_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/providerinstances_client.go
  sdk/resourcemanager/workloads/armworkloads/providerinstances_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/sapapplicationserverinstances_client.go
  sdk/resourcemanager/workloads/armworkloads/sapapplicationserverinstances_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/sapcentralinstances_client.go
  sdk/resourcemanager/workloads/armworkloads/sapcentralinstances_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/sapdatabaseinstances_client.go
  sdk/resourcemanager/workloads/armworkloads/sapdatabaseinstances_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/saplandscapemonitor_client.go
  sdk/resourcemanager/workloads/armworkloads/saplandscapemonitor_client_example_test.go
  sdk/resourcemanager/workloads/armworkloads/sapvirtualinstances_client.go
  sdk/resourcemanager/workloads/armworkloads/sapvirtualinstances_client_example_test.go
Labels: FirstGA

#20590 [Release] sdk/resourcemanager/resourceconnector/armresourceconnector/0.4.0
  sdk/resourcemanager/resourceconnector/armresourceconnector/CHANGELOG.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client_example_test.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/autorest.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/build.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/constants.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/models.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/models_serde.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/response_types.go
Labels: BreakingChange, Beta

#20597 [Release] sdk/resourcemanager/iothub/armiothub/1.2.0-beta.1
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
Labels: Beta

#20655 Restore multitenant and ARM cross-tenant authentication API
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/syncer.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity, Azure.Core

#20595 [Release] sdk/resourcemanager/confidentialledger/armconfidentialledger/1.2.0-beta.1
  sdk/resourcemanager/confidentialledger/armconfidentialledger/CHANGELOG.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/autorest.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/build.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_factory.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/constants.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models_serde.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/response_types.go
Labels: Beta

#20588 [Release] sdk/resourcemanager/containerinstance/armcontainerinstance/2.3.0-beta.1
  sdk/resourcemanager/containerinstance/armcontainerinstance/CHANGELOG.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/autorest.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/constants.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containergroups_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containergroups_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containers_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containers_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/location_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/location_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models_serde.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/operations_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/operations_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/subnetserviceassociationlink_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/subnetserviceassociationlink_client_example_test.go
Labels: Beta

#20585 [Release] sdk/resourcemanager/eventhub/armeventhub/1.2.0-beta.1
  sdk/resourcemanager/eventhub/armeventhub/CHANGELOG.md
  sdk/resourcemanager/eventhub/armeventhub/applicationgroup_client.go
  sdk/resourcemanager/eventhub/armeventhub/applicationgroup_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/assets.json
  sdk/resourcemanager/eventhub/armeventhub/autorest.md
  sdk/resourcemanager/eventhub/armeventhub/client_factory.go
  sdk/resourcemanager/eventhub/armeventhub/clusters_client.go
  sdk/resourcemanager/eventhub/armeventhub/clusters_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/configuration_client.go
  sdk/resourcemanager/eventhub/armeventhub/configuration_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/constants.go
  sdk/resourcemanager/eventhub/armeventhub/consumergroups_client.go
  sdk/resourcemanager/eventhub/armeventhub/consumergroups_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_client.go
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/eventhubs_client.go
  sdk/resourcemanager/eventhub/armeventhub/eventhubs_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/models.go
  sdk/resourcemanager/eventhub/armeventhub/models_serde.go
  sdk/resourcemanager/eventhub/armeventhub/namespaces_client.go
  sdk/resourcemanager/eventhub/armeventhub/namespaces_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfiguration_client.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfiguration_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/operations_client.go
  sdk/resourcemanager/eventhub/armeventhub/operations_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/polymorphic_helpers.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_client.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/privatelinkresources_client.go
  sdk/resourcemanager/eventhub/armeventhub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/response_types.go
  sdk/resourcemanager/eventhub/armeventhub/schemaregistry_client.go
  sdk/resourcemanager/eventhub/armeventhub/schemaregistry_client_example_test.go
Labels: Beta

#20668 [Release] sdk/resourcemanager/containerinstance/armcontainerinstance/2.3.0
  sdk/resourcemanager/containerinstance/armcontainerinstance/CHANGELOG.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/autorest.md
  sdk/resourcemanager/containerinstance/armcontainerinstance/constants.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containergroups_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containergroups_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containers_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/containers_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/location_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/location_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/models_serde.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/operations_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/operations_client_example_test.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/subnetserviceassociationlink_client.go
  sdk/resourcemanager/containerinstance/armcontainerinstance/subnetserviceassociationlink_client_example_test.go
Labels: Mgmt, Stable

#20631 azfile: File upload methods
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/chunkwriting.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/mmf_linux.go
  sdk/storage/azfile/file/mmf_windows.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/shared/batch_transfer.go
  sdk/storage/azfile/internal/shared/shared.go
Labels: Storage, AzFile

#20689 Update github event processor to 1.0.0-dev.20230422.1
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#20616 PageBlob Client: Source Content Validation
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage, AzBlob

#20692 azfile: Set coverage goal
  eng/config.json
Labels: Storage, AzFile

#20670 azfile: File download methods
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/mmf_linux.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/file/retry_reader.go
  sdk/storage/azfile/internal/shared/bytes_writer.go
  sdk/storage/azfile/internal/shared/bytes_writer_test.go
  sdk/storage/azfile/internal/shared/section_writer.go
  sdk/storage/azfile/internal/shared/section_writer_test.go
  sdk/storage/azfile/internal/shared/shared_test.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#20698 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#20587 [Release] sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/2.0.0
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/CHANGELOG.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/autorest.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/client_factory.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/constants.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/go.mod
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models_serde.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/polymorphic_helpers.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/response_types.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#20589 [Release] sdk/resourcemanager/appconfiguration/armappconfiguration/2.0.0
  sdk/resourcemanager/appconfiguration/armappconfiguration/CHANGELOG.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/autorest.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/client_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/constants.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models_serde.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/response_types.go
Labels: BreakingChange, Approved Major Version, Stable

#20603 [Release] sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/3.0.0
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/administrators_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/autorest.md
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/backups_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailability_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailabilitywithlocation_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/configurations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/constants.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/databases_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/firewallrules_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/getprivatednszonesuffix_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.mod
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/locationbasedcapabilities_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/models.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/operations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/replicas_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/servers_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/virtualnetworksubnetusage_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#20703 Preparing 0.3.5 release changelog
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos, auto-merge

#20676 Directory Client Samples
  sdk/storage/azfile/directory/examples_test.go
Labels: Storage, AzFile

#20704 Adding automation date
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos

#20648 AppendBlob Client: Transactional/Source Content Validation
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
Labels: Storage, AzBlob

#20702 azfile: Live pipeline setup
  sdk/storage/azfile/ci.yml
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/test-resources.json
Labels: Storage, AzFile

#20716 Cosmos DB: Enable merge support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_headers.go
  sdk/data/azcosmos/sdk_capabilities.go
Labels: Cosmos, auto-merge
