Repository Azure/azure-sdk-for-go, pull requests merged in 2023-05, with the labels that each got.

#20712 Sync eng/common directory with azure-sdk-tools for PR 6063
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#20721 [azservicebus] Return ErrMessageTooLarge if a message is too big to send
  sdk/messaging/azservicebus/internal/go-amqp/sender.go
  sdk/messaging/azservicebus/message_batch.go
  sdk/messaging/azservicebus/sender.go
  sdk/messaging/azservicebus/sender_test.go
Labels: Service Bus

#20726 [azservicebus/azeventhubs] Redirect stderr and stdout to tee
  sdk/messaging/azeventhubs/internal/eh/stress/deploy.ps1
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azservicebus/internal/stress/deploy.ps1
  sdk/messaging/azservicebus/internal/stress/templates/stress-test-job.yaml
Labels: Service Bus, Event Hubs

#20696 AzFile File Client Samples
  sdk/storage/azfile/file/examples_test.go
Labels: Storage, AzFile

#20714 azfile: Adding readme and changelog
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/README.md
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/doc.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/mmf_windows.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/log_events.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/lease/models.go
  sdk/storage/azfile/log.go
  sdk/storage/azfile/share/models.go
Labels: Storage, AzFile

#20730 Update changelog with latest features
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#20732 Sync eng/common directory with azure-sdk-tools for PR 6086
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#20727 [azeventhubs] Fixing checkpoint store race condition
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
Labels: Event Hubs

#20736 Fix azidentity troubleshooting guide section link
  sdk/azidentity/TROUBLESHOOTING.md
Labels: Docs, Azure.Identity

#20437 [Release] sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/0.1.0
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/CHANGELOG.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/LICENSE.txt
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/README.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/autorest.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/build.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/ci.yml
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/client_factory.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/constants.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewalls_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewalls_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewallstatus_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewallstatus_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/globalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/globalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/go.mod
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/go.sum
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrulestacks_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrulestacks_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/models.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/models_serde.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/operations_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/operations_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/postrules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/postrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistglobalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistlocalrulestack_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prerules_client.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prerules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/response_types.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/time_rfc3339.go
Labels: Do Not Merge, FirstBeta

#20685 add sdk/resourcemanager/postgresql/armpostgresql live test
  sdk/resourcemanager/postgresql/armpostgresql/assets.json
  sdk/resourcemanager/postgresql/armpostgresql/postgresql_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/privateendpointconnections_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serversecurityalertpolicies_live_test.go
Labels: Mgmt

#20686 add sdk/resourcemanager/eventhub/armeventhub live test
  sdk/resourcemanager/eventhub/armeventhub/assets.json
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/eventhub_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_live_test.go
Labels: Mgmt

#20705 add sdk/resourcemanager/cosmos/armcosmos live test
  sdk/resourcemanager/cosmos/armcosmos/assets.json
  sdk/resourcemanager/cosmos/armcosmos/cassandraresources_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/databaseaccounts_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/go.mod
  sdk/resourcemanager/cosmos/armcosmos/go.sum
  sdk/resourcemanager/cosmos/armcosmos/gremlinresources_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/mongodbresources_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/operations_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/privateendpointconnection_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/services_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/sqlresources_live_test.go
  sdk/resourcemanager/cosmos/armcosmos/tableresources_live_test.go
Labels: Mgmt

#20729 azfile: Service and share clients examples
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/lease/examples_test.go
  sdk/storage/azfile/service/examples_test.go
  sdk/storage/azfile/share/examples_test.go
Labels: Storage, AzFile

#20740 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core, auto-merge

#20737 [azeventhubs] Improperly resetting etag in the checkpoint store
  sdk/messaging/azeventhubs/inmemory_checkpoint_store_test.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/processor_load_balancer.go
Labels: Event Hubs

#20743 Sync eng/common directory with azure-sdk-tools for PR 6061
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#20744 [azeventhubs] Latest start position can also be inclusive (ie, get the latest message).
  sdk/messaging/azeventhubs/consumer_client_unit_test.go
  sdk/messaging/azeventhubs/partition_client.go
  sdk/messaging/azeventhubs/processor_unit_test.go
Labels: Event Hubs

#20748 azfile: mmb fix and exposing NewSharedKeyCredential() in different clients
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/mmf_unix.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Labels: Storage, AzFile

#20751 Sync .github/workflows directory with azure-sdk-tools for PR 6101
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#20746 Revert instance discovery option name change
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/username_password_credential_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#20758 [azadmin] fix flaky test
  sdk/security/keyvault/azadmin/settings/client_test.go
Labels: KeyVault, Client

#20756 Prepare azidentity v1.3.0 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#20801 Sync eng/common directory with azure-sdk-tools for PR 6118
  eng/common/testproxy/transition-scripts/README.md
Labels: EngSys, Central-EngSys

#20755 [azquery] update doc comments
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/build.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/version.go
Labels: Client, Monitor - Query

#20752 Edit pass for azqueue readme
  sdk/storage/azqueue/README.md
Labels: Storage, customer-reported, Community Contribution

#20708 Restore supporting features to enable distributed tracing
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_trace_namespace.go
  sdk/azcore/arm/runtime/policy_trace_namespace_test.go
  sdk/azcore/core.go
  sdk/azcore/core_test.go
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/exported/request_test.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/internal/shared/shared.go
  sdk/azcore/policy/policy.go
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
  sdk/azcore/runtime/poller.go
  sdk/azcore/runtime/poller_test.go
  sdk/azcore/tracing/tracing.go
  sdk/azcore/tracing/tracing_test.go
Labels: Azure.Core

#20657 Restore ARM CAE support
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
Labels: Mgmt, Azure.Identity

#20808 Upgrade to stable azcore
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#20807 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos, auto-merge

#20810 Updating changelog
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage

#20809 Updating CHANGELOG.md for v1.0.1 (azblob)
  sdk/storage/azblob/CHANGELOG.md
Labels: Storage

#20811 AzQueue GA Changelog
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Labels: Storage

#20815 Update changelog (azblob)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#20742 [azquery] migration guide
  sdk/monitor/azquery/MIGRATION.md
Labels: Docs, Client, Monitor - Query

#20820 Increment version for monitor/azquery releases
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Labels: Monitor, auto-merge

#20819 [keyvault] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#20834 [Release] sdk/resourcemanager/extendedlocation/armextendedlocation/1.2.0-beta.1
  sdk/resourcemanager/extendedlocation/armextendedlocation/CHANGELOG.md
  sdk/resourcemanager/extendedlocation/armextendedlocation/autorest.md
  sdk/resourcemanager/extendedlocation/armextendedlocation/client_factory.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/constants.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/customlocations_client.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/customlocations_client_example_test.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/go.mod
  sdk/resourcemanager/extendedlocation/armextendedlocation/go.sum
  sdk/resourcemanager/extendedlocation/armextendedlocation/models.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/models_serde.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/resourcesyncrules_client.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/resourcesyncrules_client_example_test.go
  sdk/resourcemanager/extendedlocation/armextendedlocation/response_types.go
Labels: Mgmt

#20825 azblob doc.go fix
  sdk/storage/azblob/doc.go
Labels: Storage, AzBlob

#20818 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, auto-merge

#20817 Sync eng/common directory with azure-sdk-tools for PR 6103
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#20816 Increment version for storage/azqueue releases
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Labels: Storage, auto-merge

#20753 Remove -Login and -PushImages parameters from stress helper
  sdk/messaging/azeventhubs/internal/eh/stress/deploy.ps1
  sdk/messaging/azservicebus/internal/stress/deploy.ps1
Labels: Service Bus, Event Hubs, Central-EngSys

#20749 Fixing upload from reader
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
Labels: Storage, AzBlob

#20843 Retry policy will always clone the *http.Request
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_retry.go
  sdk/azcore/runtime/policy_retry_test.go
Labels: Azure.Core

#20848 Handle more error codes when an RP isn't registered
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline_test.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
Labels: Azure.Core

#20849 Update logs query prereqs
  sdk/monitor/azquery/README.md
Labels: Monitor

#20760 sdk/resourcemanager/recoveryservices/armrecoveryservices add live test
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.mod
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.sum
  sdk/resourcemanager/recoveryservices/armrecoveryservices/recoveryservices_live_test.go
Labels: Mgmt

#20804 sdk/resourcemanager/iothub/armiothub live test
  sdk/resourcemanager/iothub/armiothub/assets.json
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Labels: Mgmt

#20824 sdk/resourcemanager/logic/armlogic live test
  sdk/resourcemanager/logic/armlogic/assets.json
  sdk/resourcemanager/logic/armlogic/go.mod
  sdk/resourcemanager/logic/armlogic/go.sum
  sdk/resourcemanager/logic/armlogic/integrationaccounts_live_test.go
  sdk/resourcemanager/logic/armlogic/operations_live_test.go
  sdk/resourcemanager/logic/armlogic/workflows_live_test.go
Labels: Mgmt

#20839 sdk/resourcemanager/datafactory/armdatafactory live test
  eng/config.json
  sdk/resourcemanager/datafactory/armdatafactory/assets.json
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/go.sum
Labels: Mgmt

#20826 sdk/resourcemanager/datalake-store/armdatalakestore live test
  sdk/resourcemanager/datalake-store/armdatalakestore/account_live_test.go
  sdk/resourcemanager/datalake-store/armdatalakestore/assets.json
  sdk/resourcemanager/datalake-store/armdatalakestore/go.mod
  sdk/resourcemanager/datalake-store/armdatalakestore/go.sum
Labels: Mgmt

#20840 Remove trailing slash from directory or subdirectory name
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/share/client.go
Labels: Storage, AzFile

#20846 Parse file attributes to NTFSFileAttributes type
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/smb_property.go
Labels: Storage

#20854 Sync azfile feature branch with main
  eng/config.json
  eng/tools/mgmtreport/mgmtreport.tpl
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/pipeline_test.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/runtime/policy_retry.go
  sdk/azcore/runtime/policy_retry_test.go
  sdk/containers/azcontainerregistry/assets.json
  sdk/containers/azcontainerregistry/authentication_client_test.go
  sdk/containers/azcontainerregistry/authentication_policy_test.go
  sdk/containers/azcontainerregistry/autorest.md
  sdk/containers/azcontainerregistry/blob_client_test.go
  sdk/containers/azcontainerregistry/blob_custom_client_test.go
  sdk/containers/azcontainerregistry/client_test.go
  sdk/containers/azcontainerregistry/constants_test.go
  sdk/containers/azcontainerregistry/models_serde.go
  sdk/containers/azcontainerregistry/time_rfc3339_test.go
  sdk/monitor/azquery/README.md
  sdk/resourcemanager/datafactory/armdatafactory/assets.json
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/go.sum
  sdk/resourcemanager/datalake-store/armdatalakestore/account_live_test.go
  sdk/resourcemanager/datalake-store/armdatalakestore/assets.json
  sdk/resourcemanager/datalake-store/armdatalakestore/go.mod
  sdk/resourcemanager/datalake-store/armdatalakestore/go.sum
  sdk/resourcemanager/iothub/armiothub/assets.json
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
  sdk/resourcemanager/logic/armlogic/assets.json
  sdk/resourcemanager/logic/armlogic/go.mod
  sdk/resourcemanager/logic/armlogic/go.sum
  sdk/resourcemanager/logic/armlogic/integrationaccounts_live_test.go
  sdk/resourcemanager/logic/armlogic/operations_live_test.go
  sdk/resourcemanager/logic/armlogic/workflows_live_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.mod
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.sum
  sdk/resourcemanager/recoveryservices/armrecoveryservices/recoveryservices_live_test.go
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/share/client.go
Labels: Storage, Monitor, Mgmt, Azure.Core

#20618 [Release] sdk/resourcemanager/selfhelp/armselfhelp/0.1.0
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/LICENSE.txt
  sdk/resourcemanager/selfhelp/armselfhelp/README.md
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/build.go
  sdk/resourcemanager/selfhelp/armselfhelp/ci.yml
  sdk/resourcemanager/selfhelp/armselfhelp/client_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/go.mod
  sdk/resourcemanager/selfhelp/armselfhelp/go.sum
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/models_serde.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/response_types.go
  sdk/resourcemanager/selfhelp/armselfhelp/time_rfc3339.go
Labels: Mgmt, Do Not Merge, FirstBeta

#20860 Add another non-standard error code for RP registration
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
Labels: Azure.Core

#20831 Some refactoring of the fakes package
  sdk/azcore/fake/example_test.go
  sdk/azcore/fake/fake.go
  sdk/azcore/fake/fake_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/response.go
Labels: Azure.Core

#20827 Prepare for azcore beta release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core, Do Not Merge

#20875 Sync eng/common directory with azure-sdk-tools for PR 6208
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#20861 [keyvault] azsecret renames
  eng/config.json
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/build.go
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/constants.go
  sdk/security/keyvault/azsecrets/example_test.go
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/models_serde.go
  sdk/security/keyvault/azsecrets/response_types.go
  sdk/security/keyvault/azsecrets/testdata/perf/list_secrets.go
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#20829 [azeventhubs/azservicebus] Add readmes for the stress projects
  sdk/messaging/azeventhubs/internal/eh/stress/readme.md
  sdk/messaging/azservicebus/internal/stress/readme.md
Labels: Service Bus, Event Hubs

#20881 Sync eng/common directory with azure-sdk-tools for PR 6197
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#20377 [Azblob][Readme] Edit pass
  sdk/storage/azblob/README.md
Labels: Storage, AzBlob

#20867 [azeventhubs] Changes to make errors and low level types carry connectionID and linkID
  sdk/messaging/azeventhubs/internal/amqpwrap/amqp_error.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqpwrap_test.go
  sdk/messaging/azeventhubs/internal/amqpwrap/mock_amqp_test.go
  sdk/messaging/azeventhubs/internal/amqpwrap/rpc.go
  sdk/messaging/azeventhubs/internal/cbs_test.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/internal/errors_test.go
  sdk/messaging/azeventhubs/internal/links_unit_test.go
  sdk/messaging/azeventhubs/internal/mock/mock_amqp.go
  sdk/messaging/azeventhubs/internal/mock/mock_helpers.go
  sdk/messaging/azeventhubs/internal/namespace.go
  sdk/messaging/azeventhubs/internal/namespace_test.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/rpc_test.go
  sdk/messaging/azeventhubs/internal/test/mock_helpers.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
Labels: Event Hubs

#20794 [Release] sdk/resourcemanager/newrelic/armnewrelicobservability/1.0.0
  sdk/resourcemanager/newrelic/armnewrelicobservability/CHANGELOG.md
  sdk/resourcemanager/newrelic/armnewrelicobservability/accounts_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/accounts_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/autorest.md
  sdk/resourcemanager/newrelic/armnewrelicobservability/constants.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/models.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/operations_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/operations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/organizations_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/organizations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/response_types.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client_example_test.go
Labels: Mgmt, FirstGA

#20786 [Release] sdk/resourcemanager/networkcloud/armnetworkcloud/0.1.0
  sdk/resourcemanager/networkcloud/armnetworkcloud/CHANGELOG.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/LICENSE.txt
  sdk/resourcemanager/networkcloud/armnetworkcloud/README.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/autorest.md
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachinekeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/baremetalmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/bmckeysets_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/build.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/ci.yml
  sdk/resourcemanager/networkcloud/armnetworkcloud/client_factory.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/cloudservicesnetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clustermanagers_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/clusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/consoles_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/constants.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/defaultcninetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/defaultcninetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.mod
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.sum
  sdk/resourcemanager/networkcloud/armnetworkcloud/hybridaksclusters_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/hybridaksclusters_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l2networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/l3networks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/metricsconfigurations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/models_serde.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/racks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/rackskus_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/response_types.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/storageappliances_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/time_rfc3339.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/trunkednetworks_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/virtualmachines_client_example_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/volumes_client_example_test.go
Labels: Mgmt, FirstBeta

#20781 [Release] sdk/resourcemanager/frontdoor/armfrontdoor/1.2.0
  sdk/resourcemanager/frontdoor/armfrontdoor/CHANGELOG.md
  sdk/resourcemanager/frontdoor/armfrontdoor/autorest.md
  sdk/resourcemanager/frontdoor/armfrontdoor/client_factory.go
  sdk/resourcemanager/frontdoor/armfrontdoor/constants.go
  sdk/resourcemanager/frontdoor/armfrontdoor/endpoints_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/endpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/experiments_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontdoors_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontdoors_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontendendpoints_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontendendpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/managedrulesets_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/managedrulesets_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/models.go
  sdk/resourcemanager/frontdoor/armfrontdoor/models_serde.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailability_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailability_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailabilitywithsubscription_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailabilitywithsubscription_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/networkexperimentprofiles_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/policies_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/policies_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/preconfiguredendpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/reports_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/response_types.go
  sdk/resourcemanager/frontdoor/armfrontdoor/rulesengines_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/rulesengines_client_example_test.go
Labels: Mgmt, Stable

#20788 [Release] sdk/resourcemanager/liftrqumulo/armqumulo/1.0.0
  sdk/resourcemanager/liftrqumulo/armqumulo/CHANGELOG.md
  sdk/resourcemanager/liftrqumulo/armqumulo/autorest.md
  sdk/resourcemanager/liftrqumulo/armqumulo/constants.go
  sdk/resourcemanager/liftrqumulo/armqumulo/filesystems_client.go
  sdk/resourcemanager/liftrqumulo/armqumulo/filesystems_client_example_test.go
  sdk/resourcemanager/liftrqumulo/armqumulo/models.go
  sdk/resourcemanager/liftrqumulo/armqumulo/operations_client.go
  sdk/resourcemanager/liftrqumulo/armqumulo/operations_client_example_test.go
Labels: Mgmt, FirstGA

#20787 [Release] sdk/resourcemanager/resourcehealth/armresourcehealth/1.2.0
  sdk/resourcemanager/resourcehealth/armresourcehealth/CHANGELOG.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/autorest.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/build.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/client_factory.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/constants.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/emergingissues_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/emergingissues_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.mod
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.sum
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/metadata_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/metadata_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/models.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/models_serde.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/operations_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/operations_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/response_types.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client_example_test.go
Labels: Mgmt, Stable

#20793 [Release] sdk/resourcemanager/devhub/armdevhub/0.4.0
  sdk/resourcemanager/devhub/armdevhub/CHANGELOG.md
  sdk/resourcemanager/devhub/armdevhub/autorest.md
  sdk/resourcemanager/devhub/armdevhub/constants.go
  sdk/resourcemanager/devhub/armdevhub/developerhubservice_client.go
  sdk/resourcemanager/devhub/armdevhub/developerhubservice_client_example_test.go
  sdk/resourcemanager/devhub/armdevhub/models.go
  sdk/resourcemanager/devhub/armdevhub/models_serde.go
  sdk/resourcemanager/devhub/armdevhub/operations_client.go
  sdk/resourcemanager/devhub/armdevhub/operations_client_example_test.go
  sdk/resourcemanager/devhub/armdevhub/response_types.go
  sdk/resourcemanager/devhub/armdevhub/workflow_client.go
  sdk/resourcemanager/devhub/armdevhub/workflow_client_example_test.go
Labels: Mgmt, Beta

#20803 [Release] sdk/resourcemanager/servicenetworking/armservicenetworking/0.3.0
  sdk/resourcemanager/servicenetworking/armservicenetworking/CHANGELOG.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/autorest.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/constants.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models_serde.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client_example_test.go
Labels: Mgmt, BreakingChange, Beta

#20790 [Release] sdk/resourcemanager/databox/armdatabox/2.0.0
  sdk/resourcemanager/databox/armdatabox/CHANGELOG.md
  sdk/resourcemanager/databox/armdatabox/autorest.md
  sdk/resourcemanager/databox/armdatabox/constants.go
  sdk/resourcemanager/databox/armdatabox/go.mod
  sdk/resourcemanager/databox/armdatabox/jobs_client.go
  sdk/resourcemanager/databox/armdatabox/jobs_client_example_test.go
  sdk/resourcemanager/databox/armdatabox/management_client.go
  sdk/resourcemanager/databox/armdatabox/management_client_example_test.go
  sdk/resourcemanager/databox/armdatabox/models.go
  sdk/resourcemanager/databox/armdatabox/models_serde.go
  sdk/resourcemanager/databox/armdatabox/operations_client.go
  sdk/resourcemanager/databox/armdatabox/operations_client_example_test.go
  sdk/resourcemanager/databox/armdatabox/service_client.go
  sdk/resourcemanager/databox/armdatabox/service_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#20791 [Release] sdk/resourcemanager/devcenter/armdevcenter/1.0.0
  sdk/resourcemanager/devcenter/armdevcenter/CHANGELOG.md
  sdk/resourcemanager/devcenter/armdevcenter/attachednetworks_client.go
  sdk/resourcemanager/devcenter/armdevcenter/attachednetworks_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/autorest.md
  sdk/resourcemanager/devcenter/armdevcenter/catalogs_client.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogs_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/checknameavailability_client.go
  sdk/resourcemanager/devcenter/armdevcenter/checknameavailability_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/constants.go
  sdk/resourcemanager/devcenter/armdevcenter/devboxdefinitions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/devboxdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/devcenters_client.go
  sdk/resourcemanager/devcenter/armdevcenter/devcenters_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/environmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/environmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/galleries_client.go
  sdk/resourcemanager/devcenter/armdevcenter/galleries_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/images_client.go
  sdk/resourcemanager/devcenter/armdevcenter/images_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/imageversions_client.go
  sdk/resourcemanager/devcenter/armdevcenter/imageversions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/models.go
  sdk/resourcemanager/devcenter/armdevcenter/models_serde.go
  sdk/resourcemanager/devcenter/armdevcenter/networkconnections_client.go
  sdk/resourcemanager/devcenter/armdevcenter/networkconnections_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operations_client.go
  sdk/resourcemanager/devcenter/armdevcenter/operations_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operationstatuses_client.go
  sdk/resourcemanager/devcenter/armdevcenter/operationstatuses_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/pools_client.go
  sdk/resourcemanager/devcenter/armdevcenter/pools_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectallowedenvironmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projectallowedenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectenvironmenttypes_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projectenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projects_client.go
  sdk/resourcemanager/devcenter/armdevcenter/projects_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/response_types.go
  sdk/resourcemanager/devcenter/armdevcenter/schedules_client.go
  sdk/resourcemanager/devcenter/armdevcenter/schedules_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/skus_client.go
  sdk/resourcemanager/devcenter/armdevcenter/skus_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/usages_client.go
  sdk/resourcemanager/devcenter/armdevcenter/usages_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA

#20795 [Release] sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/2.0.0
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/extensions_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/extensions_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigoperationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigoperationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigurations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/fluxconfigurations_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operations_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/operationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/sourcecontrolconfigurations_client.go
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/sourcecontrolconfigurations_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#20877 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.0.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/date_type.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#20890 [azeventhubs] Pass in a cloud when we use the ARM client.
  sdk/messaging/azeventhubs/consumer_client_test.go
Labels: Event Hubs

#20876 [keyvault] azadmin renames
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/example_test.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/utils_test.go
Labels: KeyVault, Client

#20883 [azeventhubs] Fixing issue where we'd waste a recovery cycle in some cases
  sdk/messaging/azeventhubs/consumer_client.go
  sdk/messaging/azeventhubs/consumer_client_internal_test.go
  sdk/messaging/azeventhubs/internal/amqp_fakes.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqp_error.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azeventhubs/internal/amqpwrap/amqpwrap_test.go
  sdk/messaging/azeventhubs/internal/amqpwrap/mock_amqp_test.go
  sdk/messaging/azeventhubs/internal/cbs_test.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/internal/links.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/links_unit_test.go
  sdk/messaging/azeventhubs/internal/mock/mock_amqp.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/rpc_test.go
  sdk/messaging/azeventhubs/partition_client.go
  sdk/messaging/azeventhubs/producer_client.go
Labels: Event Hubs, auto-merge

#20869 sdk/resourcemanager/servicefabric/armservicefabric live test
  sdk/resourcemanager/servicefabric/armservicefabric/assets.json
  sdk/resourcemanager/servicefabric/armservicefabric/go.mod
  sdk/resourcemanager/servicefabric/armservicefabric/go.sum
  sdk/resourcemanager/servicefabric/armservicefabric/servicefabric_live_test.go
Labels: Mgmt

#20864 sdk/resourcemanager/appplatform/armappplatform live test
  sdk/resourcemanager/appplatform/armappplatform/appplatform_live_test.go
  sdk/resourcemanager/appplatform/armappplatform/assets.json
  sdk/resourcemanager/appplatform/armappplatform/configservices_live_test.go
  sdk/resourcemanager/appplatform/armappplatform/go.mod
  sdk/resourcemanager/appplatform/armappplatform/go.sum
Labels: Mgmt

#20898 BearerTokenPolicy uses shared.NonRetriableError()
  sdk/azcore/runtime/policy_bearer_token.go
Labels: Azure.Core

#20896 Prep for azcore beta release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#20899 Sync eng/common directory with azure-sdk-tools for PR 6230
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#20901 Sync eng/common directory with azure-sdk-tools for PR 6235
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#20897 Sync eng/common directory with azure-sdk-tools for PR 6202
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#20893 [azeventhubs] Adding in management link retry
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/consumer_client.go
  sdk/messaging/azeventhubs/internal/amqpwrap/error.go
  sdk/messaging/azeventhubs/internal/cbs_test.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/internal/errors_test.go
  sdk/messaging/azeventhubs/internal/links.go
  sdk/messaging/azeventhubs/internal/links_recover.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/links_unit_test.go
  sdk/messaging/azeventhubs/internal/namespace_eh.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/rpc_test.go
  sdk/messaging/azeventhubs/mgmt.go
  sdk/messaging/azeventhubs/producer_client.go
Labels: Event Hubs

#20903 sdk/resourcemanager/devcenter/armdevcenter live test
  sdk/resourcemanager/devcenter/armdevcenter/assets.json
  sdk/resourcemanager/devcenter/armdevcenter/devcenter_live_test.go
  sdk/resourcemanager/devcenter/armdevcenter/go.mod
  sdk/resourcemanager/devcenter/armdevcenter/go.sum
Labels: Mgmt

#20909 Sync eng/common directory with azure-sdk-tools for PR 6248
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys, Central-EngSys

#20910 sdk/resourcemanager/mediaservices live test
  sdk/resourcemanager/mediaservices/armmediaservices/accounts_live_test.go
  sdk/resourcemanager/mediaservices/armmediaservices/assets.json
  sdk/resourcemanager/mediaservices/armmediaservices/encoding_live_test.go
  sdk/resourcemanager/mediaservices/armmediaservices/go.mod
  sdk/resourcemanager/mediaservices/armmediaservices/go.sum
  sdk/resourcemanager/mediaservices/armmediaservices/metadata_live_test.go
  sdk/resourcemanager/mediaservices/armmediaservices/streamingservice_live_test.go
Labels: Mgmt

#20915 Sync eng/common directory with azure-sdk-tools for PR 6244
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#20913 sdk/resourcemanager/streamanalytics/armstreamanalytics live test
  sdk/resourcemanager/streamanalytics/armstreamanalytics/assets.json
  sdk/resourcemanager/streamanalytics/armstreamanalytics/clusters_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/functions_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/go.mod
  sdk/resourcemanager/streamanalytics/armstreamanalytics/go.sum
  sdk/resourcemanager/streamanalytics/armstreamanalytics/inputs_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/outputs_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/streamingjobs_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/subscriptions_live_test.go
  sdk/resourcemanager/streamanalytics/armstreamanalytics/transformations_live_test.go
Labels: Mgmt

#20917 [Release] sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/0.9.0
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/CHANGELOG.md
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/autorest.md
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/availabilitygrouplisteners_client.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/availabilitygrouplisteners_client_example_test.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/client_factory.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/constants.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/go.mod
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/go.sum
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/groups_client.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/groups_client_example_test.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/models.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/models_serde.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/operations_client.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/operations_client_example_test.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/response_types.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/sqlvirtualmachines_client.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/sqlvirtualmachines_client_example_test.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/troubleshoot_client.go
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/troubleshoot_client_example_test.go
Labels: Mgmt, Beta

#20918 Sync eng/common directory with azure-sdk-tools for PR 6222
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#20921 Sync eng/common directory with azure-sdk-tools for PR 6250
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#20919 sdk/resourcemanager/alertsmanagement/armalertsmanagement live test
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertsmanagement_live_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/assets.json
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/go.mod
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/go.sum
Labels: Mgmt

#20902 [azservicebus] Prep for release
  eng/config.json
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/utils/sync.go
Labels: Service Bus
