Repository Azure/azure-sdk-for-go, pull requests merged in 2023-03, with the labels that each got.

#20302 Sync eng/common directory with azure-sdk-tools for PR 5581
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#20309 Sync eng/common directory with azure-sdk-tools for PR 5540
  eng/common/scripts/Cadl-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#20310 Prepare azcore v1.4.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#20311 Prepare azcore v1.5.0-beta.1 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#20325 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#20326 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: auto-merge

#20324 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: auto-merge

#20327 Sync eng/common directory with azure-sdk-tools for PR 5603
  eng/common/scripts/artifact-metadata-parsing.ps1
Labels: EngSys, Central-EngSys

#20332 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: auto-merge

#20322 Sync eng/common directory with azure-sdk-tools for PR 5595
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#20328 azidentity v1.2.2
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/managed_identity_credential.go
Labels: Azure.Identity

#20329 Upgrade dependencies for 1.3.0-beta.4
  sdk/azidentity/azidentity.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
Labels: Azure.Identity

#20352 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#20351 Sync eng/common directory with azure-sdk-tools for PR 5627
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#20333 Add instance discovery and multitenant options for workload identity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#20344 Support profile directory as top level directory for package properties
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#20353 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: auto-merge

#20354 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: auto-merge

#20367 Synchronize goroutines within GetToken
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/logging.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/syncer.go
  sdk/azidentity/syncer_test.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#20345 Increment version for containers/azcontainerregistry releases
  sdk/containers/azcontainerregistry/CHANGELOG.md
  sdk/containers/azcontainerregistry/custom_constants.go
Labels: auto-merge

#20369 Prepare azidentity v1.3.0-beta.4 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#20371 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: auto-merge

#20375 Prepare security/keyvault/internal v0.8.0 for release
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Labels: KeyVault, Client

#20376 Increment version for security/keyvault/internal releases
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
Labels: auto-merge

#19896 Blob Batch API Surface
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/container/batch_builder.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/container/responses.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/blob_batch.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/log.go
  sdk/storage/azblob/service/batch_builder.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azblob/service/examples_test.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azblob/service/responses.go
Labels: Storage, AzBlob

#20024 Update assignment mentions for Cosmos
  .github/fabricbot.json
Labels: auto-merge

#20296 [keyvault] azadmin module
  eng/config.json
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/LICENSE.txt
  sdk/security/keyvault/azadmin/README.md
  sdk/security/keyvault/azadmin/assets.json
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/example_test.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/utils_poller.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/response_types.go
  sdk/security/keyvault/azadmin/backup/time_unix.go
  sdk/security/keyvault/azadmin/backup/utils_test.go
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/ci.yml
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azadmin/platform-matrix.json
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/client_test.go
  sdk/security/keyvault/azadmin/rbac/constants.go
  sdk/security/keyvault/azadmin/rbac/custom_client.go
  sdk/security/keyvault/azadmin/rbac/example_test.go
  sdk/security/keyvault/azadmin/rbac/models.go
  sdk/security/keyvault/azadmin/rbac/models_serde.go
  sdk/security/keyvault/azadmin/rbac/response_types.go
  sdk/security/keyvault/azadmin/rbac/utils_test.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/constants.go
  sdk/security/keyvault/azadmin/settings/custom_client.go
  sdk/security/keyvault/azadmin/settings/example_test.go
  sdk/security/keyvault/azadmin/settings/models.go
  sdk/security/keyvault/azadmin/settings/models_serde.go
  sdk/security/keyvault/azadmin/settings/response_types.go
  sdk/security/keyvault/azadmin/settings/utils_test.go
  sdk/security/keyvault/azadmin/test-resources-post.ps1
  sdk/security/keyvault/azadmin/test-resources.json
Labels: KeyVault, Client

#20390 Sync eng/common directory with azure-sdk-tools for PR 5613
  eng/common/testproxy/override-proxy-version.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#20400 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: auto-merge

#20379 Adding checks during SAS creation
  sdk/storage/azblob/sas/account.go
  sdk/storage/azblob/sas/account_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azqueue/sas/account.go
  sdk/storage/azqueue/sas/account_test.go
  sdk/storage/azqueue/sas/service.go
Labels: Storage, AzBlob

#20415 Sync eng/common directory with azure-sdk-tools for PR 5702
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#20399 Append Blob Tests
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
Labels: Storage, AzBlob

#20417 Document using standalone test proxy
  documentation/developer_setup.md
Labels: Central-EngSys

#20411 Sync eng/common directory with azure-sdk-tools for PR 5691
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#20420 Sync eng/common directory with azure-sdk-tools for PR 5722
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#20341 azfile: Share Client
  sdk/storage/azfile/internal/exported/access_policy.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/lease/models.go
  sdk/storage/azfile/sas/account.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/query_params_test.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/sas/url_parts.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Labels: Storage, AzFile

#20424 [keyvault] move azsecrets to security folder
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/LICENSE.txt
  sdk/security/keyvault/azsecrets/README.md
  sdk/security/keyvault/azsecrets/TROUBLESHOOTING.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/build.go
  sdk/security/keyvault/azsecrets/ci.securityazsecrets.yml
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/constants.go
  sdk/security/keyvault/azsecrets/custom_client.go
  sdk/security/keyvault/azsecrets/example_test.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/models_serde.go
  sdk/security/keyvault/azsecrets/response_types.go
  sdk/security/keyvault/azsecrets/test-resources.json
  sdk/security/keyvault/azsecrets/testdata/perf/get_secret.go
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/list_secrets.go
  sdk/security/keyvault/azsecrets/testdata/perf/main.go
  sdk/security/keyvault/azsecrets/time_unix.go
  sdk/security/keyvault/azsecrets/utils_test.go
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#20434 [keyvault] move azcertificates to security folder
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/LICENSE.txt
  sdk/security/keyvault/azcertificates/README.md
  sdk/security/keyvault/azcertificates/TROUBLESHOOTING.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/build.go
  sdk/security/keyvault/azcertificates/ci.security.yml
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/example_test.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/response_types.go
  sdk/security/keyvault/azcertificates/test-resources.json
  sdk/security/keyvault/azcertificates/testdata/ca.crt
  sdk/security/keyvault/azcertificates/testdata/ca.key
  sdk/security/keyvault/azcertificates/testdata/perf/get_certificate.go
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/main.go
  sdk/security/keyvault/azcertificates/time_unix.go
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault, Client

#20429 Cleanup after SetImmutabilityPolicy() and SetLegalHold() tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/ci.yml
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client_test.go
Labels: Storage, AzBlob

#20430 [keyvault] move azkeys to security folder
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/LICENSE.txt
  sdk/security/keyvault/azkeys/README.md
  sdk/security/keyvault/azkeys/TROUBLESHOOTING.md
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/build.go
  sdk/security/keyvault/azkeys/ci.security.yml
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/custom_client.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/platform-matrix.json
  sdk/security/keyvault/azkeys/response_types.go
  sdk/security/keyvault/azkeys/test-resources-post.ps1
  sdk/security/keyvault/azkeys/test-resources.json
  sdk/security/keyvault/azkeys/testdata/perf/get_key.go
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/main.go
  sdk/security/keyvault/azkeys/time_unix.go
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault, Client

#20446 Merge azcore beta branch to main
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Azure.Core

#20458 [keyvault] move troubleshooting guide to security folder
  sdk/security/keyvault/TROUBLESHOOTING.md
Labels: KeyVault, Client

#20460 [keyvault] delete extra test
  sdk/security/keyvault/azadmin/settings/client_test.go
Labels: KeyVault, Client

#20365 [Release] sdk/resourcemanager/orbital/armorbital/2.0.0
  sdk/resourcemanager/orbital/armorbital/CHANGELOG.md
  sdk/resourcemanager/orbital/armorbital/README.md
  sdk/resourcemanager/orbital/armorbital/autorest.md
  sdk/resourcemanager/orbital/armorbital/availablegroundstations_client.go
  sdk/resourcemanager/orbital/armorbital/availablegroundstations_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/client_factory.go
  sdk/resourcemanager/orbital/armorbital/constants.go
  sdk/resourcemanager/orbital/armorbital/contactprofiles_client.go
  sdk/resourcemanager/orbital/armorbital/contactprofiles_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/contacts_client.go
  sdk/resourcemanager/orbital/armorbital/contacts_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/date_type.go
  sdk/resourcemanager/orbital/armorbital/go.mod
  sdk/resourcemanager/orbital/armorbital/go.sum
  sdk/resourcemanager/orbital/armorbital/models.go
  sdk/resourcemanager/orbital/armorbital/models_serde.go
  sdk/resourcemanager/orbital/armorbital/operations_client.go
  sdk/resourcemanager/orbital/armorbital/operations_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/operationsresults_client.go
  sdk/resourcemanager/orbital/armorbital/operationsresults_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/response_types.go
  sdk/resourcemanager/orbital/armorbital/spacecrafts_client.go
  sdk/resourcemanager/orbital/armorbital/spacecrafts_client_example_test.go
  sdk/resourcemanager/orbital/armorbital/time_rfc3339.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_availablegroundstations_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contactprofiles_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_contacts_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_operations_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_operationsresults_client_test.go
  sdk/resourcemanager/orbital/armorbital/ze_generated_example_spacecrafts_client_test.go
  sdk/resourcemanager/orbital/armorbital/zz_generated_models_serde.go
Labels: breaking-change, Approved Major Version

#20364 [Release] sdk/resourcemanager/graphservices/armgraphservices/0.1.0
  sdk/resourcemanager/graphservices/armgraphservices/CHANGELOG.md
  sdk/resourcemanager/graphservices/armgraphservices/LICENSE.txt
  sdk/resourcemanager/graphservices/armgraphservices/README.md
  sdk/resourcemanager/graphservices/armgraphservices/account_client.go
  sdk/resourcemanager/graphservices/armgraphservices/account_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/accounts_client.go
  sdk/resourcemanager/graphservices/armgraphservices/accounts_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/autorest.md
  sdk/resourcemanager/graphservices/armgraphservices/build.go
  sdk/resourcemanager/graphservices/armgraphservices/ci.yml
  sdk/resourcemanager/graphservices/armgraphservices/client_factory.go
  sdk/resourcemanager/graphservices/armgraphservices/constants.go
  sdk/resourcemanager/graphservices/armgraphservices/go.mod
  sdk/resourcemanager/graphservices/armgraphservices/go.sum
  sdk/resourcemanager/graphservices/armgraphservices/models.go
  sdk/resourcemanager/graphservices/armgraphservices/models_serde.go
  sdk/resourcemanager/graphservices/armgraphservices/operation_client.go
  sdk/resourcemanager/graphservices/armgraphservices/operation_client_example_test.go
  sdk/resourcemanager/graphservices/armgraphservices/response_types.go
  sdk/resourcemanager/graphservices/armgraphservices/time_rfc3339.go
Labels: first beta

#20363 [Release] sdk/resourcemanager/reservations/armreservations/3.0.0
  sdk/resourcemanager/reservations/armreservations/CHANGELOG.md
  sdk/resourcemanager/reservations/armreservations/README.md
  sdk/resourcemanager/reservations/armreservations/autorest.md
  sdk/resourcemanager/reservations/armreservations/azurereservationapi_client.go
  sdk/resourcemanager/reservations/armreservations/azurereservationapi_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/calculateexchange_client.go
  sdk/resourcemanager/reservations/armreservations/calculateexchange_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/calculaterefund_client.go
  sdk/resourcemanager/reservations/armreservations/calculaterefund_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/client_factory.go
  sdk/resourcemanager/reservations/armreservations/constants.go
  sdk/resourcemanager/reservations/armreservations/exchange_client.go
  sdk/resourcemanager/reservations/armreservations/exchange_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/go.mod
  sdk/resourcemanager/reservations/armreservations/go.sum
  sdk/resourcemanager/reservations/armreservations/models.go
  sdk/resourcemanager/reservations/armreservations/models_serde.go
  sdk/resourcemanager/reservations/armreservations/operation_client.go
  sdk/resourcemanager/reservations/armreservations/operation_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/quota_client.go
  sdk/resourcemanager/reservations/armreservations/quota_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/quotarequeststatus_client.go
  sdk/resourcemanager/reservations/armreservations/quotarequeststatus_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/reservation_client.go
  sdk/resourcemanager/reservations/armreservations/reservation_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/reservationorder_client.go
  sdk/resourcemanager/reservations/armreservations/reservationorder_client_example_test.go
  sdk/resourcemanager/reservations/armreservations/response_types.go
  sdk/resourcemanager/reservations/armreservations/return_client.go
  sdk/resourcemanager/reservations/armreservations/return_client_example_test.go
Labels: breaking-change, Approved Major Version

#20439 [Release] sdk/resourcemanager/containerregistry/armcontainerregistry/1.0.0
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/README.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/agentpools_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_build_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/exportpipelines_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/exportpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.sum
  sdk/resourcemanager/containerregistry/armcontainerregistry/importpipelines_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/importpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/models_serde.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/pipelineruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/pipelineruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/response_types.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/runs_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/taskruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tasks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client_example_test.go
Labels: first stable

#20306 [Release] sdk/resourcemanager/voiceservices/armvoiceservices/1.0.0
  sdk/resourcemanager/voiceservices/armvoiceservices/CHANGELOG.md
  sdk/resourcemanager/voiceservices/armvoiceservices/README.md
  sdk/resourcemanager/voiceservices/armvoiceservices/autorest.md
  sdk/resourcemanager/voiceservices/armvoiceservices/client_factory.go
  sdk/resourcemanager/voiceservices/armvoiceservices/communicationsgateways_client.go
  sdk/resourcemanager/voiceservices/armvoiceservices/communicationsgateways_client_example_test.go
  sdk/resourcemanager/voiceservices/armvoiceservices/constants.go
  sdk/resourcemanager/voiceservices/armvoiceservices/contacts_client.go
  sdk/resourcemanager/voiceservices/armvoiceservices/contacts_client_example_test.go
  sdk/resourcemanager/voiceservices/armvoiceservices/go.mod
  sdk/resourcemanager/voiceservices/armvoiceservices/go.sum
  sdk/resourcemanager/voiceservices/armvoiceservices/models.go
  sdk/resourcemanager/voiceservices/armvoiceservices/models_serde.go
  sdk/resourcemanager/voiceservices/armvoiceservices/nameavailability_client.go
  sdk/resourcemanager/voiceservices/armvoiceservices/nameavailability_client_example_test.go
  sdk/resourcemanager/voiceservices/armvoiceservices/operations_client.go
  sdk/resourcemanager/voiceservices/armvoiceservices/operations_client_example_test.go
  sdk/resourcemanager/voiceservices/armvoiceservices/response_types.go
  sdk/resourcemanager/voiceservices/armvoiceservices/testlines_client.go
  sdk/resourcemanager/voiceservices/armvoiceservices/testlines_client_example_test.go
Labels: first stable

#20361 [Release] sdk/resourcemanager/netapp/armnetapp/4.0.0
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/README.md
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client.go
  sdk/resourcemanager/netapp/armnetapp/accountbackups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/autorest.md
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backups_client.go
  sdk/resourcemanager/netapp/armnetapp/backups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/client_factory.go
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/go.mod
  sdk/resourcemanager/netapp/armnetapp/go.sum
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/operations_client.go
  sdk/resourcemanager/netapp/armnetapp/operations_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/pools_client.go
  sdk/resourcemanager/netapp/armnetapp/pools_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resource_client.go
  sdk/resourcemanager/netapp/armnetapp/resource_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/response_types.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/time_rfc3339.go
  sdk/resourcemanager/netapp/armnetapp/vaults_client.go
  sdk/resourcemanager/netapp/armnetapp/vaults_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Labels: breaking-change, Approved Major Version

#20461 Sync eng/common directory with azure-sdk-tools for PR 5794
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#20418 Added support for storage managed disk challenge
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/managed_disk_test.go
  sdk/storage/azblob/service/client.go
Labels: Storage, AzBlob

#20449 Merge azidentity beta branch to main
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/errors.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/logging.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/mock_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
  sdk/azidentity/syncer.go
  sdk/azidentity/syncer_test.go
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/default_options.json
  sdk/azidentity/testdata/recordings/TestWorkloadIdentityCredential_Live/instance_discovery_disabled.json
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/version.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#20414 azfile: Directory Client
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/directory/responses.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/file_permissions.go
  sdk/storage/azfile/internal/exported/smb_property.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#20479 azidentity: Remove CAE support
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/username_password_credential.go
Labels: Azure.Identity

#20498 Use unique container names for tests TestSetBlobTagsWithLeaseId
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
Labels: Storage

#20459 [keyvault] update azcertificates to api version 7.4
  sdk/security/keyvault/azcertificates/README.md
  sdk/security/keyvault/azcertificates/TROUBLESHOOTING.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/response_types.go
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/time_unix.go
Labels: KeyVault, Client

#20514 [keyvault] update azcertificates (old) to api version 7.4
  sdk/keyvault/azcertificates/CHANGELOG.md
  sdk/keyvault/azcertificates/autorest.md
  sdk/keyvault/azcertificates/build.go
  sdk/keyvault/azcertificates/client.go
  sdk/keyvault/azcertificates/client_test.go
  sdk/keyvault/azcertificates/constants.go
  sdk/keyvault/azcertificates/custom_client.go
  sdk/keyvault/azcertificates/models.go
  sdk/keyvault/azcertificates/models_serde.go
  sdk/keyvault/azcertificates/response_types.go
  sdk/keyvault/azcertificates/testdata/recordings/TestBackupRestore.json
  sdk/keyvault/azcertificates/testdata/recordings/TestCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestContactsCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestDeleteRecover.json
  sdk/keyvault/azcertificates/testdata/recordings/TestImportCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestIssuerCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestListCertificateVersions.json
  sdk/keyvault/azcertificates/testdata/recordings/TestListCertificates.json
  sdk/keyvault/azcertificates/testdata/recordings/TestMergeCertificate.json
  sdk/keyvault/azcertificates/testdata/recordings/TestOperationCRUD.json
  sdk/keyvault/azcertificates/testdata/recordings/TestUpdateCertificatePolicy.json
  sdk/keyvault/azcertificates/time_unix.go
Labels: KeyVault, Client

#20518 [keyvault] update azkeys (old) to api version 7.4
  sdk/keyvault/azkeys/CHANGELOG.md
  sdk/keyvault/azkeys/autorest.md
  sdk/keyvault/azkeys/build.go
  sdk/keyvault/azkeys/client.go
  sdk/keyvault/azkeys/client_test.go
  sdk/keyvault/azkeys/constants.go
  sdk/keyvault/azkeys/custom_client.go
  sdk/keyvault/azkeys/example_test.go
  sdk/keyvault/azkeys/models.go
  sdk/keyvault/azkeys/models_serde.go
  sdk/keyvault/azkeys/response_types.go
  sdk/keyvault/azkeys/testdata/recordings/TestBackupRestore/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestBackupRestore/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCRUD/EC.json
  sdk/keyvault/azkeys/testdata/recordings/TestCRUD/EC_MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestCRUD/RSA.json
  sdk/keyvault/azkeys/testdata/recordings/TestCRUD/RSA_MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestEncryptDecrypt/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestEncryptDecrypt/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestEncryptDecryptSymmetric.json
  sdk/keyvault/azkeys/testdata/recordings/TestGetRandomBytes.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestImportKey/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestListDeletedKeys/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeyVersions/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestListKeys/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestRecoverDeletedKey/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestReleaseKey/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestReleaseKey/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestRotateKey/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestRotateKey/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestSignVerify/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestSignVerify/MHSM.json
  sdk/keyvault/azkeys/testdata/recordings/TestWrapUnwrap/KV.json
  sdk/keyvault/azkeys/testdata/recordings/TestWrapUnwrap/MHSM.json
  sdk/keyvault/azkeys/time_unix.go
Labels: KeyVault, Client

#20478 Workload identity credential defaults to environment configuration
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#20497 azcore: Remove CAE support
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/exported/exported.go
Labels: Azure.Core

#20495 Format time to GMT for conditional headers
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
Labels: Storage, AzBlob

#20519 [keyvault] update azsecrets (old) to api version 7.4
  sdk/keyvault/azsecrets/CHANGELOG.md
  sdk/keyvault/azsecrets/autorest.md
  sdk/keyvault/azsecrets/build.go
  sdk/keyvault/azsecrets/client.go
  sdk/keyvault/azsecrets/custom_client.go
  sdk/keyvault/azsecrets/models.go
  sdk/keyvault/azsecrets/models_serde.go
  sdk/keyvault/azsecrets/response_types.go
  sdk/keyvault/azsecrets/testdata/recordings/TestBackupRestore.json
  sdk/keyvault/azsecrets/testdata/recordings/TestCRUD.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListDeletedSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecretVersions.json
  sdk/keyvault/azsecrets/testdata/recordings/TestListSecrets.json
  sdk/keyvault/azsecrets/testdata/recordings/TestRecover.json
  sdk/keyvault/azsecrets/time_unix.go
  sdk/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#20500 [keyvault] update azsecrets to api version 7.4
  sdk/security/keyvault/azsecrets/TROUBLESHOOTING.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/custom_client.go
  sdk/security/keyvault/azsecrets/models.go
  sdk/security/keyvault/azsecrets/models_serde.go
  sdk/security/keyvault/azsecrets/response_types.go
  sdk/security/keyvault/azsecrets/time_unix.go
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#20348 Sync eng/common directory with azure-sdk-tools for PR 5608
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys
