Repository Azure/azure-sdk-for-go, pull requests merged in 2024-06, with the labels that each got.

#22970 Fix AzurePipelinesCredential options name
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/azure_pipelines_credential_test.go
Labels: Azure.Identity

#22978 [aznamespaces] Taking on all the naming suggestions that came from the apiview.
  sdk/messaging/eventgrid/aznamespaces/CHANGELOG.md
  sdk/messaging/eventgrid/aznamespaces/client_custom.go
  sdk/messaging/eventgrid/aznamespaces/client_test.go
  sdk/messaging/eventgrid/aznamespaces/example_publish_and_receive_test.go
  sdk/messaging/eventgrid/aznamespaces/example_test.go
  sdk/messaging/eventgrid/aznamespaces/internal/generate/generate.go
  sdk/messaging/eventgrid/aznamespaces/main_test.go
  sdk/messaging/eventgrid/aznamespaces/models.go
  sdk/messaging/eventgrid/aznamespaces/models_serde.go
  sdk/messaging/eventgrid/aznamespaces/options.go
  sdk/messaging/eventgrid/aznamespaces/receiver_client.go
  sdk/messaging/eventgrid/aznamespaces/receiver_client_custom.go
  sdk/messaging/eventgrid/aznamespaces/responses.go
  sdk/messaging/eventgrid/aznamespaces/sender_client.go
  sdk/messaging/eventgrid/aznamespaces/sender_client_custom.go
  sdk/messaging/eventgrid/aznamespaces/shared_test.go
  sdk/messaging/eventgrid/aznamespaces/testdata/gen.ps1
  sdk/messaging/eventgrid/aznamespaces/testdata/tsp-location.yaml
Labels: Event Grid

#22982 [aznamespaces] Just updating to the official commit hash.
  sdk/messaging/eventgrid/aznamespaces/testdata/tsp-location.yaml
Labels: Event Grid

#22976 [Release] sdk/resourcemanager/hybridcompute/armhybridcompute/2.0.0-beta.3
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/client_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/gateways_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenses_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machineruncommands_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/server_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/settings_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/options.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/responses.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client_example_test.go
Labels: BreakingChange, Beta

#22985 Add v1.5.2 to azidentity changelog
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#22986 [azservicebus] Updating templates so we use the same stuff for stress and normal integration testing
  sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep
  sdk/messaging/azservicebus/test-resources.bicep
Labels: Service Bus

#22989 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#22980 Operation-Location poller checks result property
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/pollers/async/async.go
  sdk/azcore/internal/pollers/body/body.go
  sdk/azcore/internal/pollers/fake/fake.go
  sdk/azcore/internal/pollers/loc/loc.go
  sdk/azcore/internal/pollers/op/op.go
  sdk/azcore/internal/pollers/op/op_test.go
  sdk/azcore/internal/pollers/util.go
  sdk/azcore/internal/pollers/util_test.go
  sdk/azcore/runtime/poller_test.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22987 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22994 fix sdk/resourcemanager/internal module
  sdk/resourcemanager/internal/go.mod
  sdk/resourcemanager/internal/go.sum
Labels: Mgmt

#22991 Prepare sdk/internal v1.9.0 for release
  sdk/internal/CHANGELOG.md
Labels: Internal

#22971 [azmetrics] add docs
  sdk/monitor/query/azmetrics/README.md
Labels: Docs, Monitor

#22911 [keyvault] fix test recording sanitizers
  sdk/security/keyvault/azadmin/assets.json
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/rbac/client_test.go
  sdk/security/keyvault/azadmin/rbac/utils_test.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/utils_test.go
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#22997 ListHandles Return additional ClientName field
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
Labels: Storage

#23004 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#23005 Prep azcore v1.12.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#23007 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22933 Add ETag-per-page feature
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
Labels: App Configuration

#22990 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#22999 Remove v1.7.0-beta.1 features from v1.6.0 release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/authentication_record.go
  sdk/azidentity/authentication_record_test.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/azure_pipelines_credential_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/example_user_auth_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#22993 [Release] sdk/resourcemanager/datafactory/armdatafactory/8.0.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/README.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/changedatacapture_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/activityruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/changedatacapture_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/credentialoperations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflowdebugsession_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflows_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/datasets_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/exposurecontrol_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/factories_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/globalparameters_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimenodes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimeobjectmetadata_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/linkedservices_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedvirtualnetworks_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/operations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelineruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelines_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnection_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnections_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privatelinkresources_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggerruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggers_server.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#23006 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#23011 Prep azappconfig v1.1.1-beta.1 for release
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: App Configuration

#23017 [azsystemevents] Picking up the last changes for release.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/testdata/tsp-location.yaml
Labels: Event Grid

#23016 Clean up lint
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/internal/synctoken/cache_test.go
Labels: App Configuration

#23024 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#23025 Add AzurePipelinesCredential parameters to its constructor
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/azure_pipelines_credential_test.go
Labels: Azure.Identity

#23029 Prepare azidentity v1.7.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#23031 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23033 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23035 Cosmos DB - Prepare 1.0.2 release
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_headers_policy.go
  sdk/data/azcosmos/emulator_cosmos_item_test.go
Labels: Cosmos

#23021 [aznamespaces] Prep for GA
  sdk/messaging/eventgrid/aznamespaces/CHANGELOG.md
  sdk/messaging/eventgrid/aznamespaces/README.md
  sdk/messaging/eventgrid/aznamespaces/internal/generate/generate.go
  sdk/messaging/eventgrid/aznamespaces/internal/version.go
  sdk/messaging/eventgrid/aznamespaces/models.go
  sdk/messaging/eventgrid/aznamespaces/models_serde.go
  sdk/messaging/eventgrid/aznamespaces/receiver_client.go
  sdk/messaging/eventgrid/aznamespaces/responses.go
  sdk/messaging/eventgrid/aznamespaces/sender_client.go
  sdk/messaging/eventgrid/aznamespaces/shared_test.go
  sdk/messaging/eventgrid/aznamespaces/test-resources.bicep
  sdk/messaging/eventgrid/aznamespaces/testdata/tsp-location.yaml
Labels: Event Grid

#23036 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos

#23038 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: App Configuration

#23037 Increment version for messaging/eventgrid/azsystemevents releases
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Labels: Event Grid

#23032 Clean up lint
  sdk/data/aztables/sas_query_params.go
  sdk/data/aztables/sas_service.go
  sdk/data/aztables/service_client_test.go
  sdk/data/aztables/shared_policy_shared_key_credential.go
Labels: Tables

#23039 Increment version for messaging/eventgrid/aznamespaces releases
  sdk/messaging/eventgrid/aznamespaces/CHANGELOG.md
  sdk/messaging/eventgrid/aznamespaces/internal/version.go
Labels: Event Grid

#23034 Storage [azdatalake] ETAG casing issue
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/shared/batch_transfer.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/lease/client_test.go
  sdk/storage/azdatalake/sas/query_params.go
  sdk/storage/azdatalake/sas/service.go
Labels: Storage

#23045 [azmetrics] prep for release
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor, Client

#23053 Patch release - [azdatalake] - changelog update
  sdk/storage/azdatalake/CHANGELOG.md
Labels: Storage

#23056 Increment version for monitor/query/azmetrics releases
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor

#23055 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#23026 [keyvault] fix tests
  sdk/security/keyvault/azadmin/assets.json
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/utils_test.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/rbac/utils_test.go
  sdk/security/keyvault/azadmin/settings/utils_test.go
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/utils_test.go
Labels: KeyVault, Client

#22964 sdk/resourcemanager/communication/armcommunication live test
  sdk/resourcemanager/communication/armcommunication/assets.json
  sdk/resourcemanager/communication/armcommunication/ci.yml
  sdk/resourcemanager/communication/armcommunication/communicationservices_live_test.go
  sdk/resourcemanager/communication/armcommunication/emailservices_live_test.go
  sdk/resourcemanager/communication/armcommunication/go.mod
  sdk/resourcemanager/communication/armcommunication/go.sum
  sdk/resourcemanager/communication/armcommunication/utils_test.go
Labels: Mgmt

#23015 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#23059 [azdatalake] Added ACL response headers
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/internal/exported/exported.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/lease/client_test.go
  sdk/storage/azdatalake/sas/service.go
Labels: Storage

#23063 Allow opt-in for Go race detector per SDK
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-eng-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/run_tests.ps1
  sdk/internal/ci.yml
Labels: Azure.Core

#23064 Fixed race conditions in some tests and infrastructure
  sdk/azcore/arm/runtime/pipeline_test.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/streaming/progress_test.go
  sdk/internal/CHANGELOG.md
  sdk/internal/mock/mock.go
Labels: Azure.Core, Internal

#23030 Update AzurePipelinesCredential docs
  sdk/azidentity/README.md
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/errors.go
Labels: Azure.Identity

#22995 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: Mgmt

#23066 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#23067 Use sdk/internal credential factory in management plane tests
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/go.mod
  sdk/resourcemanager/internal/go.sum
  sdk/resourcemanager/internal/testutil/credential.go
  sdk/resourcemanager/internal/testutil/credential_test.go
  sdk/resourcemanager/internal/version.go
Labels: Mgmt, test-reliability

#23069 [Storage] Changelog updates for azblob and files
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage, AzFile, AzBlob

#23071 [Storage] Changelog updates for release of azdatalake preview stg93
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Labels: Storage

#23061 Thread-Safe clientRetryPolicy
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/emulator_cosmos_item_test.go
Labels: Cosmos

#23075 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#22972 [keyvault] add sovereign cloud testing
  sdk/security/keyvault/azcertificates/ci.yml
  sdk/security/keyvault/azkeys/ci.yml
  sdk/security/keyvault/azsecrets/ci.yml
Labels: KeyVault, Client

#23078 [keyvault] update test-resources.json
  sdk/security/keyvault/azcertificates/test-resources.json
  sdk/security/keyvault/azsecrets/test-resources.json
Labels: KeyVault, Client

#23070 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#23072 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23074 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23079 Cosmos DB - 1.0.3 release changelog
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos

#23081 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos

#23000 Change module search depth to 0
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#23083 Sync eng/common directory with azure-sdk-tools for PR 8457
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#23082 Fix validate package script to use new service connection
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#23087 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23040 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#23090 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#23018 Federated auth for live tests
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/build-test.yml
  sdk/data/azappconfig/test-resources.json
Labels: App Configuration

#23089 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
  sdk/template/aztemplate/CHANGELOG.md
Labels: EngSys, Central-EngSys

#23095 Update identity TROUBLESHOOTING.md for AzurePipelinesCredential
  sdk/azidentity/TROUBLESHOOTING.md
Labels: Azure.Identity

#23086 azidentity v1.7.0
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/azure_pipelines_credential_test.go
  sdk/azidentity/errors.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#22975 [Release] sdk/resourcemanager/resources/armdeploymentstacks/1.0.0
  sdk/resourcemanager/resources/armdeploymentstacks/CHANGELOG.md
  sdk/resourcemanager/resources/armdeploymentstacks/autorest.md
  sdk/resourcemanager/resources/armdeploymentstacks/client.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_example_test.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_factory.go
  sdk/resourcemanager/resources/armdeploymentstacks/constants.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/internal.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/server.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/time_rfc3339.go
  sdk/resourcemanager/resources/armdeploymentstacks/models.go
  sdk/resourcemanager/resources/armdeploymentstacks/models_serde.go
  sdk/resourcemanager/resources/armdeploymentstacks/options.go
  sdk/resourcemanager/resources/armdeploymentstacks/responses.go
  sdk/resourcemanager/resources/armdeploymentstacks/time_rfc3339.go
Labels: BreakingChange, FirstGA

#23001 [Release] sdk/resourcemanager/mobilenetwork/armmobilenetwork/4.1.0
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/CHANGELOG.md
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/assets.json
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/attacheddatanetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/attacheddatanetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/autorest.md
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/client_factory.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/constants.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/datanetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/datanetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/diagnosticspackages_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/diagnosticspackages_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/extendedueinformation_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/extendedueinformation_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/fake/mobilenetworks_server.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/fake/routinginfo_server.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/fake/server_factory.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/fake/sims_server.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/mobilenetworks_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/mobilenetworks_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/models.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/models_serde.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/operations_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/operations_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/options.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcaptures_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcaptures_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplanes_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplanes_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplaneversions_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcorecontrolplaneversions_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcoredataplanes_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/packetcoredataplanes_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/responses.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/routinginfo_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/routinginfo_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/services_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/services_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simgroups_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simgroups_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simpolicies_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/simpolicies_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sims_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sims_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sites_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/sites_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/slices_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/slices_client_example_test.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/ueinformation_client.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/ueinformation_client_example_test.go
Labels: Stable

#22992 [Release] sdk/resourcemanager/search/armsearch/1.4.0-beta.2
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/adminkeys_client.go
  sdk/resourcemanager/search/armsearch/adminkeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/constants.go
  sdk/resourcemanager/search/armsearch/management_client.go
  sdk/resourcemanager/search/armsearch/management_client_example_test.go
  sdk/resourcemanager/search/armsearch/models.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/search/armsearch/operations_client.go
  sdk/resourcemanager/search/armsearch/operations_client_example_test.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/querykeys_client.go
  sdk/resourcemanager/search/armsearch/querykeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/services_client.go
  sdk/resourcemanager/search/armsearch/services_client_example_test.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/usages_client.go
  sdk/resourcemanager/search/armsearch/usages_client_example_test.go
Labels: Beta

#23009 [Release] sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/2.3.0
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/CHANGELOG.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/README.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/autorest.md
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/client_factory.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/constants.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/fake/time_rfc3339.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/models_serde.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/operations_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/polymorphic_helpers.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/responses.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/time_rfc3339.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/triggers_client_example_test.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client.go
  sdk/resourcemanager/virtualmachineimagebuilder/armvirtualmachineimagebuilder/virtualmachineimagetemplates_client_example_test.go
Labels: Stable

#23048 [Release] sdk/resourcemanager/storagemover/armstoragemover/2.2.0
  sdk/resourcemanager/storagemover/armstoragemover/CHANGELOG.md
  sdk/resourcemanager/storagemover/armstoragemover/README.md
  sdk/resourcemanager/storagemover/armstoragemover/agents_client.go
  sdk/resourcemanager/storagemover/armstoragemover/agents_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/assets.json
  sdk/resourcemanager/storagemover/armstoragemover/autorest.md
  sdk/resourcemanager/storagemover/armstoragemover/client_factory.go
  sdk/resourcemanager/storagemover/armstoragemover/constants.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client.go
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/fake/time_rfc3339.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinitions_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/models.go
  sdk/resourcemanager/storagemover/armstoragemover/models_serde.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client.go
  sdk/resourcemanager/storagemover/armstoragemover/operations_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/polymorphic_helpers.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/responses.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/time_rfc3339.go
Labels: Stable

#23102 fix release issue
  sdk/resourcemanager/compute/armcompute/fake_example_test.go
  sdk/resourcemanager/search/armsearch/assets.json
Labels: Mgmt

#23096 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/common/testproxy/target_version.txt
  sdk/containers/azcontainerregistry/assets.json
  sdk/containers/azcontainerregistry/client_test.go
Labels: EngSys, Central-EngSys

#23101 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23097 Add pool variable and user env variables to test resources environment
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#23047 [Release] sdk/resourcemanager/scvmm/armscvmm/1.0.0
  sdk/resourcemanager/scvmm/armscvmm/CHANGELOG.md
  sdk/resourcemanager/scvmm/armscvmm/README.md
  sdk/resourcemanager/scvmm/armscvmm/autorest.md
  sdk/resourcemanager/scvmm/armscvmm/availabilitysets_client.go
  sdk/resourcemanager/scvmm/armscvmm/availabilitysets_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/build.go
  sdk/resourcemanager/scvmm/armscvmm/client_factory.go
  sdk/resourcemanager/scvmm/armscvmm/clouds_client.go
  sdk/resourcemanager/scvmm/armscvmm/clouds_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/constants.go
  sdk/resourcemanager/scvmm/armscvmm/fake/availabilitysets_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/clouds_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/guestagents_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/internal.go
  sdk/resourcemanager/scvmm/armscvmm/fake/inventoryitems_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/server_factory.go
  sdk/resourcemanager/scvmm/armscvmm/fake/time_rfc3339.go
  sdk/resourcemanager/scvmm/armscvmm/fake/virtualmachineinstances_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/virtualmachines_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/virtualmachinetemplates_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/virtualnetworks_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/vminstancehybrididentitymetadatas_server.go
  sdk/resourcemanager/scvmm/armscvmm/fake/vmmservers_server.go
  sdk/resourcemanager/scvmm/armscvmm/guestagents_client.go
  sdk/resourcemanager/scvmm/armscvmm/guestagents_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/inventoryitems_client.go
  sdk/resourcemanager/scvmm/armscvmm/models.go
  sdk/resourcemanager/scvmm/armscvmm/models_serde.go
  sdk/resourcemanager/scvmm/armscvmm/operations_client.go
  sdk/resourcemanager/scvmm/armscvmm/operations_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/options.go
  sdk/resourcemanager/scvmm/armscvmm/polymorphic_helpers.go
  sdk/resourcemanager/scvmm/armscvmm/response_types.go
  sdk/resourcemanager/scvmm/armscvmm/responses.go
  sdk/resourcemanager/scvmm/armscvmm/time_rfc3339.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachineinstances_client.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachineinstances_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachines_client.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachines_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachinetemplates_client.go
  sdk/resourcemanager/scvmm/armscvmm/virtualmachinetemplates_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/virtualnetworks_client.go
  sdk/resourcemanager/scvmm/armscvmm/virtualnetworks_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/vminstancehybrididentitymetadatas_client.go
  sdk/resourcemanager/scvmm/armscvmm/vminstancehybrididentitymetadatas_client_example_test.go
  sdk/resourcemanager/scvmm/armscvmm/vmmservers_client.go
  sdk/resourcemanager/scvmm/armscvmm/vmmservers_client_example_test.go
Labels: BreakingChange, FirstGA

#23057 Remove plaintext fallback for persistent token caches
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/darwin.go
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/linux.go
  sdk/azidentity/cache/linux_test.go
  sdk/azidentity/cache/version.go
  sdk/azidentity/go.work.sum
Labels: Azure.Identity

#23111 Add pool env variable to build-test-resource-config template
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#23002 [Release] sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/1.0.0
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/CHANGELOG.md
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/autorest.md
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/client_factory.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/constants.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/evidence_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/evidence_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/evidence_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/provideractions_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/report_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/reports_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/scopingconfiguration_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/server_factory.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/snapshot_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/snapshots_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/time_rfc3339.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/fake/webhook_server.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/models.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/models_serde.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/operations_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/operations_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/options.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/provideractions_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/provideractions_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/report_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/report_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/reports_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/reports_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/response_types.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/responses.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/scopingconfiguration_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/scopingconfiguration_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/snapshot_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/snapshot_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/snapshots_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/snapshots_client_example_test.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/time_rfc3339.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/webhook_client.go
  sdk/resourcemanager/appcomplianceautomation/armappcomplianceautomation/webhook_client_example_test.go
Labels: BreakingChange, FirstGA

#23115 Delete sdk/samples/azidentity
  sdk/samples/azidentity/SDKV1Adapter/example_SDKV1_test.go
  sdk/samples/azidentity/SDKV1Adapter/go.mod
  sdk/samples/azidentity/SDKV1Adapter/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/functions/.funcignore
  sdk/samples/azidentity/manual-tests/managed-identity/functions/HttpTrigger1/function.json
  sdk/samples/azidentity/manual-tests/managed-identity/functions/README.md
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/functions/handler.go
  sdk/samples/azidentity/manual-tests/managed-identity/functions/host.json
  sdk/samples/azidentity/manual-tests/managed-identity/functions/local.settings.json
  sdk/samples/azidentity/manual-tests/managed-identity/general/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/general/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/general/main.go
  sdk/samples/azidentity/manual-tests/managed-identity/service-fabric/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/service-fabric/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/service-fabric/main.go
Labels: Azure.Identity

#23117 Upgrade azidentity test app dependencies
  sdk/azidentity/go.work.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Labels: Azure.Identity

#23116 azidentity/cache v0.2.3
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/cache/version.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Labels: Azure.Identity

#23120 Increment version for azidentity/cache releases
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#23107 [Release] sdk/resourcemanager/oracledatabase/armoracledatabase/1.0.0
  sdk/resourcemanager/oracledatabase/armoracledatabase/CHANGELOG.md
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasebackups_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasebackups_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasecharactersets_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasecharactersets_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasenationalcharactersets_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasenationalcharactersets_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabases_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabases_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabaseversions_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabaseversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autorest.md
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudexadatainfrastructures_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudexadatainfrastructures_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudvmclusters_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudvmclusters_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/constants.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbnodes_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbnodes_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbservers_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbservers_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbsystemshapes_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbsystemshapes_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dnsprivateviews_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dnsprivateviews_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dnsprivatezones_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dnsprivatezones_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/giversions_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/giversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.mod
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.sum
  sdk/resourcemanager/oracledatabase/armoracledatabase/operations_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/operations_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/oraclesubscriptions_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/oraclesubscriptions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/systemversions_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/systemversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/virtualnetworkaddresses_client.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/virtualnetworkaddresses_client_example_test.go
Labels: Mgmt, BreakingChange, FirstGA
