Repository Azure/azure-sdk-for-go, pull requests merged in 2024-02, with the labels that each got.

#22187 [Release] sdk/resourcemanager/springappdiscovery/armspringappdiscovery/0.1.0
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/CHANGELOG.md
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/LICENSE.txt
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/README.md
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/autorest.md
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/build.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/ci.yml
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/client_factory.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/constants.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/errorsummaries_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/errorsummaries_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/errorsummaries_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/internal.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/operations_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/server_factory.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/springbootapps_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/springbootservers_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/springbootsites_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/summaries_server.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/fake/time_rfc3339.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/go.mod
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/go.sum
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/models.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/models_serde.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/operations_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/operations_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/options.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/response_types.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootapps_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootapps_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootservers_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootservers_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootsites_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/springbootsites_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/summaries_client.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/summaries_client_example_test.go
  sdk/resourcemanager/springappdiscovery/armspringappdiscovery/time_rfc3339.go
Labels: FirstBeta

#22317 Replace ErrAuthenticationRequired with AuthenticationRequiredError
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/azure_developer_cli_credential_test.go
  sdk/azidentity/chained_token_credential.go
  sdk/azidentity/chained_token_credential_test.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/example_cache_test.go
  sdk/azidentity/example_shared_test.go
  sdk/azidentity/example_test.go
  sdk/azidentity/example_user_auth_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/public_client.go
Labels: Azure.Identity

#22335 Sync eng/common directory with azure-sdk-tools for PR 7615
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#22336 Sync eng/common directory with azure-sdk-tools for PR 7623
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#22339 Prepare internal for release
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
Labels: Internal

#22337 Update package dependencies
  sdk/ai/azopenai/go.mod
  sdk/ai/azopenai/go.sum
  sdk/messaging/azwebpubsub/go.mod
  sdk/messaging/azwebpubsub/go.sum
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage, Monitor

#22308 [AzDatalake] Path escape names to file and directory client
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/internal/shared/shared.go
Labels: Storage, AzDatalake

#22346 [azdatalake] HNS encryption scope
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/service/client_test.go
Labels: Storage, Data Lake

#22341 Prepare azidentity v1.6.0-beta.2 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#22340 Sync eng/common directory with azure-sdk-tools for PR 7629
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#22348 Sync eng/common directory with azure-sdk-tools for PR 7634
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#22349 Sync eng/common directory with azure-sdk-tools for PR 7630
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#22334 Fix azblob/download data race
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
Labels: Storage, AzBlob

#22351 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22149 Update to latest internal module
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/exported/response_error_test.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22352 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22354 Update armresourcehealth with latest code generator
  sdk/resourcemanager/resourcehealth/armresourcehealth/CHANGELOG.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/autorest.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/client_factory.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/constants.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/time_rfc3339.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.mod
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.sum
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/models_serde.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/responses.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/time_rfc3339.go
Labels: Mgmt

#22358 [azblob] Fix panic when nil options bag is passed
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/pageblob/models.go
Labels: Storage, AzBlob

#22359 Cosmos DB: Fixing encoding test
  sdk/data/azcosmos/emulator_cosmos_item_test.go
Labels: Cosmos

#22362 Sync .github/workflows directory with azure-sdk-tools for PR 7656
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#22365 Sync eng/common directory with azure-sdk-tools for PR 7664
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22361 STG 91 GA [azfile, azblob], azcore version refresh
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage, AzFile, AzBlob

#22367 [azquery] fix flakey test
  sdk/monitor/azquery/metrics_client_test.go
Labels: Monitor

#22374 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#22375 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#22373 Revert test change - new file handle open on downloadfile
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Labels: Storage

#22376 [key vault] update modules to the 7.5 GA swagger
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/assets.json
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/assets.json
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/autorest.md
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#22381 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#22380 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#22383 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#22382 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#22384 [azdatalake] v1.1.0 GA STG78-82
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22368 [azservicebus] Fixing a memory leak when doing cross receiver settlement.
  sdk/messaging/azservicebus/amqp_message.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mock/emulation/events.go
  sdk/messaging/azservicebus/internal/stress/Chart.lock
  sdk/messaging/azservicebus/internal/stress/Dockerfile
  sdk/messaging/azservicebus/internal/stress/scenarios-matrix.yaml
  sdk/messaging/azservicebus/internal/stress/shared/streaming_batch.go
  sdk/messaging/azservicebus/internal/stress/shared/utils.go
  sdk/messaging/azservicebus/internal/stress/templates/stress-test-job.yaml
  sdk/messaging/azservicebus/internal/stress/tests/benchmarks/backup_settlement_leak_test.go
  sdk/messaging/azservicebus/internal/stress/tests/benchmarks/main_test.go
  sdk/messaging/azservicebus/internal/stress/tests/benchmarks/readme.md
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/messageSettler_test.go
  sdk/messaging/azservicebus/message_test.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender_test.go
Labels: Service Bus

#22366 [monitor query] move metrics dataplane to new azmetrics module
  eng/config.json
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/LICENSE.txt
  sdk/monitor/query/azmetrics/README.md
  sdk/monitor/query/azmetrics/assets.json
  sdk/monitor/query/azmetrics/autorest.md
  sdk/monitor/query/azmetrics/build.go
  sdk/monitor/query/azmetrics/ci.yml
  sdk/monitor/query/azmetrics/client.go
  sdk/monitor/query/azmetrics/client_test.go
  sdk/monitor/query/azmetrics/constants.go
  sdk/monitor/query/azmetrics/custom_client.go
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
  sdk/monitor/query/azmetrics/models.go
  sdk/monitor/query/azmetrics/models_serde.go
  sdk/monitor/query/azmetrics/options.go
  sdk/monitor/query/azmetrics/response_types.go
  sdk/monitor/query/azmetrics/test-resources.bicep
  sdk/monitor/query/azmetrics/time_rfc3339.go
  sdk/monitor/query/azmetrics/utils_test.go
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor, Client

#22389 Increment version for monitor/query/azmetrics releases
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor

#22392 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22403 Sync .github/workflows directory with azure-sdk-tools for PR 7703
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22404 Sync eng/common directory with azure-sdk-tools for PR 7704
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#22410 Fix potential race between NullValue and IsNullValue
  sdk/azcore/CHANGELOG.md
  sdk/azcore/core.go
Labels: Azure.Core

#22405 SetBodilessMatcher & SetDefaultMatcher take RecordingOptions
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/matchers.go
  sdk/internal/recording/matchers_test.go
  sdk/internal/version.go
Labels: Internal

#22401 Storage: Re-enable HTTP endpoints for shared key credential
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/internal/exported/shared_key_credential.go
  sdk/storage/azfile/service/client_test.go
Labels: Storage, AzFile, AzBlob, AzDatalake

#22430 Updates to packages
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/messaging/azeventgrid/go.mod
  sdk/messaging/azeventgrid/go.sum
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/template/aztemplate/go.mod
  sdk/template/aztemplate/go.sum
Labels: Storage, Event Grid, Tables, EngSys, App Configuration

#22431 Package updates
  sdk/containers/azcontainerregistry/go.mod
  sdk/containers/azcontainerregistry/go.sum
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Labels: Service Bus, Event Hubs

#22411 Add logging event EventResponseError
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/response_error.go
  sdk/azcore/internal/exported/response_error_test.go
  sdk/azcore/internal/log/log.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/log/log.go
  sdk/azcore/runtime/errors.go
  sdk/azcore/runtime/errors_test.go
Labels: Azure.Core

#22432 Update packages
  sdk/cognitiveservices/azopenai/go.mod
  sdk/cognitiveservices/azopenai/go.sum
  sdk/monitor/azingest/go.mod
  sdk/monitor/azingest/go.sum
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
Labels: Monitor

#22434 Update azcosmos
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#22440 Update arm internal package versions
  sdk/resourcemanager/internal/go.mod
  sdk/resourcemanager/internal/go.sum
Labels: Mgmt

#22443 Some cleanup in aztables
  sdk/data/aztables/client.go
  sdk/data/aztables/models.go
  sdk/data/aztables/options.go
  sdk/data/aztables/responses.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#22425 Exposing x-ms-resource-type response header
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/internal/path/responses.go
Labels: Storage, customer-reported, Community Contribution, AzDatalake

#22400 [azsystemevents] First generation of package for Azure Event Grid system events
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/LICENSE.txt
  sdk/messaging/eventgrid/azsystemevents/README.md
  sdk/messaging/eventgrid/azsystemevents/autorest.md
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/ci.yml
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/custom_events.go
  sdk/messaging/eventgrid/azsystemevents/example_test.go
  sdk/messaging/eventgrid/azsystemevents/go.mod
  sdk/messaging/eventgrid/azsystemevents/go.sum
  sdk/messaging/eventgrid/azsystemevents/interfaces.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_enum.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/polymorphic_helpers.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events3_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events_test.go
  sdk/messaging/eventgrid/azsystemevents/test-resources.bicep
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
Labels: Event Grid, Client

#22453 More cleanup in aztables
  sdk/data/aztables/constants.go
  sdk/data/aztables/models.go
  sdk/data/aztables/sas_query_params.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#22422 [Release] sdk/resourcemanager/apicenter/armapicenter/1.0.0
  sdk/resourcemanager/apicenter/armapicenter/CHANGELOG.md
  sdk/resourcemanager/apicenter/armapicenter/README.md
  sdk/resourcemanager/apicenter/armapicenter/apidefinitions_client.go
  sdk/resourcemanager/apicenter/armapicenter/apidefinitions_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/apis_client.go
  sdk/resourcemanager/apicenter/armapicenter/apis_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/apiversions_client.go
  sdk/resourcemanager/apicenter/armapicenter/apiversions_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/autorest.md
  sdk/resourcemanager/apicenter/armapicenter/client_factory.go
  sdk/resourcemanager/apicenter/armapicenter/constants.go
  sdk/resourcemanager/apicenter/armapicenter/deployments_client.go
  sdk/resourcemanager/apicenter/armapicenter/deployments_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/environments_client.go
  sdk/resourcemanager/apicenter/armapicenter/environments_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/fake/apidefinitions_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/apis_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/apiversions_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/deployments_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/environments_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/internal.go
  sdk/resourcemanager/apicenter/armapicenter/fake/metadataschemas_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/server_factory.go
  sdk/resourcemanager/apicenter/armapicenter/fake/services_server.go
  sdk/resourcemanager/apicenter/armapicenter/fake/time_rfc3339.go
  sdk/resourcemanager/apicenter/armapicenter/fake/workspaces_server.go
  sdk/resourcemanager/apicenter/armapicenter/go.mod
  sdk/resourcemanager/apicenter/armapicenter/go.sum
  sdk/resourcemanager/apicenter/armapicenter/metadataschemas_client.go
  sdk/resourcemanager/apicenter/armapicenter/metadataschemas_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/models.go
  sdk/resourcemanager/apicenter/armapicenter/models_serde.go
  sdk/resourcemanager/apicenter/armapicenter/operations_client.go
  sdk/resourcemanager/apicenter/armapicenter/operations_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/options.go
  sdk/resourcemanager/apicenter/armapicenter/response_types.go
  sdk/resourcemanager/apicenter/armapicenter/responses.go
  sdk/resourcemanager/apicenter/armapicenter/services_client.go
  sdk/resourcemanager/apicenter/armapicenter/services_client_example_test.go
  sdk/resourcemanager/apicenter/armapicenter/time_rfc3339.go
  sdk/resourcemanager/apicenter/armapicenter/workspaces_client.go
  sdk/resourcemanager/apicenter/armapicenter/workspaces_client_example_test.go
Labels: BreakingChange, FirstGA

#22419 [Release] sdk/resourcemanager/storagecache/armstoragecache/3.4.0-beta.1
  sdk/resourcemanager/storagecache/armstoragecache/CHANGELOG.md
  sdk/resourcemanager/storagecache/armstoragecache/README.md
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client.go
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/assets.json
  sdk/resourcemanager/storagecache/armstoragecache/autorest.md
  sdk/resourcemanager/storagecache/armstoragecache/caches_client.go
  sdk/resourcemanager/storagecache/armstoragecache/caches_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/client_factory.go
  sdk/resourcemanager/storagecache/armstoragecache/constants.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/time_rfc3339.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/models.go
  sdk/resourcemanager/storagecache/armstoragecache/models_serde.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/responses.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/time_rfc3339.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client_example_test.go
Labels: Beta

#22451 [Release] sdk/resourcemanager/alertsmanagement/armalertsmanagement/0.10.0
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/CHANGELOG.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/README.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertprocessingrules_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertrulerecommendations_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertrulerecommendations_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alerts_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alerts_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/autorest.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/build.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/client_factory.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/constants.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/alertrulerecommendations_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/alerts_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/prometheusrulegroups_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/server_factory.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/tenantactivitylogalerts_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/time_rfc3339.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models_serde.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/operations_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/options.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/polymorphic_helpers.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/prometheusrulegroups_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/prometheusrulegroups_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/responses.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/smartgroups_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/smartgroups_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/tenantactivitylogalerts_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/tenantactivitylogalerts_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/time_rfc3339.go
Labels: BreakingChange, Beta

#22414 [Release] sdk/resourcemanager/astro/armastro/0.1.0
  sdk/resourcemanager/astro/armastro/CHANGELOG.md
  sdk/resourcemanager/astro/armastro/LICENSE.txt
  sdk/resourcemanager/astro/armastro/README.md
  sdk/resourcemanager/astro/armastro/autorest.md
  sdk/resourcemanager/astro/armastro/build.go
  sdk/resourcemanager/astro/armastro/ci.yml
  sdk/resourcemanager/astro/armastro/client_factory.go
  sdk/resourcemanager/astro/armastro/constants.go
  sdk/resourcemanager/astro/armastro/fake/internal.go
  sdk/resourcemanager/astro/armastro/fake/operations_server.go
  sdk/resourcemanager/astro/armastro/fake/organizations_server.go
  sdk/resourcemanager/astro/armastro/fake/server_factory.go
  sdk/resourcemanager/astro/armastro/fake/time_rfc3339.go
  sdk/resourcemanager/astro/armastro/go.mod
  sdk/resourcemanager/astro/armastro/go.sum
  sdk/resourcemanager/astro/armastro/models.go
  sdk/resourcemanager/astro/armastro/models_serde.go
  sdk/resourcemanager/astro/armastro/operations_client.go
  sdk/resourcemanager/astro/armastro/operations_client_example_test.go
  sdk/resourcemanager/astro/armastro/options.go
  sdk/resourcemanager/astro/armastro/organizations_client.go
  sdk/resourcemanager/astro/armastro/organizations_client_example_test.go
  sdk/resourcemanager/astro/armastro/responses.go
  sdk/resourcemanager/astro/armastro/time_rfc3339.go
Labels: Mgmt, FirstBeta

#22427 [Release] sdk/resourcemanager/largeinstance/armlargeinstance/0.1.0
  sdk/resourcemanager/largeinstance/armlargeinstance/CHANGELOG.md
  sdk/resourcemanager/largeinstance/armlargeinstance/LICENSE.txt
  sdk/resourcemanager/largeinstance/armlargeinstance/README.md
  sdk/resourcemanager/largeinstance/armlargeinstance/autorest.md
  sdk/resourcemanager/largeinstance/armlargeinstance/azurelargeinstance_client.go
  sdk/resourcemanager/largeinstance/armlargeinstance/azurelargeinstance_client_example_test.go
  sdk/resourcemanager/largeinstance/armlargeinstance/azurelargestorageinstance_client.go
  sdk/resourcemanager/largeinstance/armlargeinstance/azurelargestorageinstance_client_example_test.go
  sdk/resourcemanager/largeinstance/armlargeinstance/build.go
  sdk/resourcemanager/largeinstance/armlargeinstance/ci.yml
  sdk/resourcemanager/largeinstance/armlargeinstance/client_factory.go
  sdk/resourcemanager/largeinstance/armlargeinstance/constants.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/azurelargeinstance_server.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/azurelargestorageinstance_server.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/internal.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/operations_server.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/server_factory.go
  sdk/resourcemanager/largeinstance/armlargeinstance/fake/time_rfc3339.go
  sdk/resourcemanager/largeinstance/armlargeinstance/go.mod
  sdk/resourcemanager/largeinstance/armlargeinstance/go.sum
  sdk/resourcemanager/largeinstance/armlargeinstance/models.go
  sdk/resourcemanager/largeinstance/armlargeinstance/models_serde.go
  sdk/resourcemanager/largeinstance/armlargeinstance/operations_client.go
  sdk/resourcemanager/largeinstance/armlargeinstance/operations_client_example_test.go
  sdk/resourcemanager/largeinstance/armlargeinstance/options.go
  sdk/resourcemanager/largeinstance/armlargeinstance/responses.go
  sdk/resourcemanager/largeinstance/armlargeinstance/time_rfc3339.go
Labels: FirstBeta

#22407 Update release date
  sdk/messaging/azwebpubsub/CHANGELOG.md
Labels: auto-merge

#22460 Escape semicolons in query params before parsing
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
Labels: Azure.Core

#22461 Sync .github/workflows directory with azure-sdk-tools for PR 7765
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22454 Sync eng/common directory with azure-sdk-tools for PR 7729
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#22462 Move to latest azcore
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Labels: Azure.Core

#22423 [Release] sdk/resourcemanager/redisenterprise/armredisenterprise/2.0.0
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/README.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_factory.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/databases_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operations_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operationsstatus_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privateendpointconnections_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privatelinkresources_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.mod
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.sum
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/options.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/responses.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#22459 azblob: Random write in DownloadFile
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/shared/batch_transfer.go
Labels: Storage

#22470 Clean up lint in aztables
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/recording_helpers_test.go
  sdk/data/aztables/transactional_batch.go
Labels: Tables

#22471 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#22469 NewListEntitiesPager fix
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/client.go
  sdk/data/aztables/service_client.go
Labels: Tables

#22473 Update azappconfig with latest code generator
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_responses.go
  sdk/data/azappconfig/internal/generated/zz_time_rfc3339.go
Labels: App Configuration

#22468 azfile, azdatalake: Updating the type of number of chunks to uint64
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/shared/batch_transfer.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/shared/batch_transfer.go
Labels: Storage, AzFile, AzDatalake

#22476 Add MatchConditions to azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/etag.go
Labels: Azure.Core

#22478 azfile: Updating changelog for azfile 1.2.1 release
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage, AzFile

#22472 Updates for aztables metadata
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/assets.json
  sdk/data/aztables/client.go
  sdk/data/aztables/client_test.go
  sdk/data/aztables/constants.go
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/models.go
  sdk/data/aztables/options.go
  sdk/data/aztables/responses.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/service_client_test.go
Labels: Tables

#22479 azdatalake: Updating changelog for azdatalake 1.1.1 release
  sdk/storage/azdatalake/CHANGELOG.md
Labels: Storage, AzDatalake

#22481 Prep azcore for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/runtime/request.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22455 Sync eng/common directory with azure-sdk-tools for PR 7682
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#22488 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22489 Sync .github/workflows directory with azure-sdk-tools for PR 7796
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22485 Don't error on empty time value
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/autorest.md
  sdk/data/aztables/internal/zz_time_rfc1123.go
  sdk/data/aztables/internal/zz_time_rfc3339.go
Labels: Tables

#22458 [azeventgrid] Standalone package for Event Grid Basic
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/LICENSE.txt
  sdk/messaging/eventgrid/azeventgrid/README.md
  sdk/messaging/eventgrid/azeventgrid/assets.json
  sdk/messaging/eventgrid/azeventgrid/autorest.md
  sdk/messaging/eventgrid/azeventgrid/build.go
  sdk/messaging/eventgrid/azeventgrid/ci.basic.yml
  sdk/messaging/eventgrid/azeventgrid/client.go
  sdk/messaging/eventgrid/azeventgrid/client_custom.go
  sdk/messaging/eventgrid/azeventgrid/client_test.go
  sdk/messaging/eventgrid/azeventgrid/example_newclient_test.go
  sdk/messaging/eventgrid/azeventgrid/example_publish_topic_test.go
  sdk/messaging/eventgrid/azeventgrid/go.mod
  sdk/messaging/eventgrid/azeventgrid/go.sum
  sdk/messaging/eventgrid/azeventgrid/internal/version.go
  sdk/messaging/eventgrid/azeventgrid/main_test.go
  sdk/messaging/eventgrid/azeventgrid/models.go
  sdk/messaging/eventgrid/azeventgrid/models_serde.go
  sdk/messaging/eventgrid/azeventgrid/options.go
  sdk/messaging/eventgrid/azeventgrid/responses.go
  sdk/messaging/eventgrid/azeventgrid/sanitizers_test.go
  sdk/messaging/eventgrid/azeventgrid/shared_test.go
  sdk/messaging/eventgrid/azeventgrid/test-resources.bicep
  sdk/messaging/eventgrid/azeventgrid/time_rfc3339.go
Labels: Event Grid
