Repository Azure/azure-sdk-for-go, pull requests merged in 2024-10, with the labels that each got.

#23535 Pass race detector value in only when it is set
  eng/scripts/run_tests.ps1
Labels: Central-EngSys

#23532 Omit RawResponse from JSON payload
  sdk/azcore/CHANGELOG.md
  sdk/azcore/errors.go
  sdk/azcore/internal/exported/response_error.go
  sdk/azcore/internal/exported/response_error_test.go
Labels: Azure.Core

#23441 fix: integer overflow on calcDelay
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_retry.go
  sdk/azcore/runtime/policy_retry_test.go
Labels: Azure.Core

#23540 Update dependencies for azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#23541 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#23547 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#23548 Name anonymous struct types in azidentity tests
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/on_behalf_of_credential_test.go
Labels: Azure.Identity

#23538 Update persistent token caching docs
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/azidentity.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/example_persistent_cache_sp_test.go
  sdk/azidentity/example_persistent_cache_user_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/internal/cache.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#23537 Prepare azidentity v1.8.0 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/version.go
Labels: Azure.Identity

#23553 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#23556 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23555 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#23558 Premium Files – Paid Burst IOPS/Bandwidth
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23414 BearerTokenPolicy handles CAE claims challenges by default
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/policy/policy.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Azure.Core

#23549 Use common OIDC token env vars in post scripts
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/azidentity/ci.yml
  sdk/azidentity/test-resources-post.ps1
  sdk/containers/azcontainerregistry/ci.yml
  sdk/containers/azcontainerregistry/test-resources-post.ps1
  sdk/containers/azcontainerregistry/utils_test.go
Labels: Central-EngSys

#23562 [azeventhubs,azservicebus] Applying retry fix to both eventhubs and servicebus
  eng/config.json
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/mock/mock_helpers.go
  sdk/messaging/azeventhubs/internal/rpc_test.go
  sdk/messaging/azeventhubs/internal/sas/sas_test.go
  sdk/messaging/azeventhubs/internal/utils/retrier.go
  sdk/messaging/azeventhubs/internal/utils/retrier_test.go
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/rpc_test.go
  sdk/messaging/azservicebus/internal/sas/sas_test.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus, Event Hubs

#23569 Update azcore v1.15.0 release date
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#23564 Sync eng/common directory with azure-sdk-tools for PR 9102
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23581 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#23580 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#23582 [azsystemevents] Updating with latest system event
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/testdata/tsp-location.yaml
Labels: Event Grid

#23571 Document macOS persistent caching errors
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/cache/README.md
Labels: Docs, Azure.Identity

#23587 Increment version for messaging/eventgrid/azsystemevents releases
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Labels: Event Grid

#23570 Switch to TME test subscription
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/ai/azopenai/ci.yml
  sdk/ai/azopenaiassistants/ci.yml
  sdk/ai/azopenaiextensions/ci.yml
  sdk/azidentity/ci.yml
  sdk/containers/azcontainerregistry/ci.yml
  sdk/messaging/azeventhubs/ci.yml
  sdk/messaging/azservicebus/ci.yml
  sdk/messaging/azwebpubsub/ci.yml
  sdk/messaging/eventgrid/azsystemevents/ci.yml
  sdk/security/keyvault/azadmin/ci.yml
  sdk/security/keyvault/azcertificates/ci.yml
  sdk/security/keyvault/azkeys/ci.yml
  sdk/security/keyvault/azsecrets/ci.yml
Labels: KeyVault, Event Grid, Service Bus, Event Hubs, Azure.Identity

#23566 [Release] sdk/resourcemanager/hybridcompute/armhybridcompute/2.0.0
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/client_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/gateways_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenseprofiles_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenses_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machineruncommands_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machines_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/server_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/settings_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/options.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/responses.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client_example_test.go
Labels: Mgmt, Approved Major Version

#23589 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#23545 fixing the compareHeaders sorting algorithm
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/examples_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/exported/shared_key_credential.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, customer-reported, Community Contribution, AzFile, AzBlob, AzDatalake

#23590 Allow the span kind to be set via StartSpanOptions
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Labels: customer-reported, Azure.Core, Community Contribution

#23595 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#23594 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23593 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#23592 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23591 Sync eng/common directory with azure-sdk-tools for PR 9177
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#23597 BearerTokenPolicy rewinds bodies before retrying
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Azure.Core

#23599 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#23600 Sync eng/common directory with azure-sdk-tools for PR 9181
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#23440 [Release] sdk/resourcemanager/redisenterprise/armredisenterprise/2.1.0-beta.2
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/README.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/assets.json
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_factory.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/accesspolicyassignment_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server_factory.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/time_rfc3339.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/options.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/responses.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/time_rfc3339.go
Labels: Beta

#23602 Sync eng/common directory with azure-sdk-tools for PR 9212
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23596 [aztables] adding CosmosDB support for using TokenCredentials
  .github/CODEOWNERS
  eng/config.json
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/README.md
  sdk/data/aztables/access_policy_test.go
  sdk/data/aztables/assets.json
  sdk/data/aztables/client_test.go
  sdk/data/aztables/entity_test.go
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/recording_helpers_test.go
  sdk/data/aztables/service_client.go
  sdk/data/aztables/service_client_test.go
  sdk/data/aztables/test-resources.bicep
  sdk/data/aztables/test-resources.json
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/data/aztables/transaction_batch_test.go
Labels: Tables

#23543 [keyvault] add cae support
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/challenge_policy_test.go
  sdk/security/keyvault/internal/constants.go
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Labels: KeyVault, Client

#23607 Revert "added new tests with recordings"
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23608 Revert "Revert "added new tests with recordings""
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23159 Allow the Key Vault client to access resources across tenants
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/challenge_policy.go
  sdk/security/keyvault/internal/challenge_policy_test.go
Labels: KeyVault, customer-reported, Community Contribution

#23616 Increment version for security/keyvault/internal releases
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
Labels: KeyVault

#23615 Sync eng/common directory with azure-sdk-tools for PR 9216
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzurePublicMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#23604 [keyvault] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault, Client

#23621 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#23623 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#23624 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#23622 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#23625 Sync eng/common directory with azure-sdk-tools for PR 9229
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#23614 [STG95 - Storage] Change default behavior of parameter as per official docs
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23527 [Release] sdk/resourcemanager/servicelinker/armservicelinker/2.0.0-beta.2
  sdk/resourcemanager/servicelinker/armservicelinker/CHANGELOG.md
  sdk/resourcemanager/servicelinker/armservicelinker/autorest.md
  sdk/resourcemanager/servicelinker/armservicelinker/configurationnames_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/configurationnames_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/connector_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/connector_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/constants.go
  sdk/resourcemanager/servicelinker/armservicelinker/interfaces.go
  sdk/resourcemanager/servicelinker/armservicelinker/linker_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/linker_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/linkers_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/linkers_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/models.go
  sdk/resourcemanager/servicelinker/armservicelinker/models_serde.go
  sdk/resourcemanager/servicelinker/armservicelinker/operations_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/operations_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/polymorphic_helpers.go
Labels: Beta

#23609 [Storage] STG 95 Features
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23575 [Release] sdk/resourcemanager/mongocluster/armmongocluster/1.0.1
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/constants.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
Labels: Mgmt

#23629 [Release] sdk/resourcemanager/computefleet/armcomputefleet/1.0.0
  sdk/resourcemanager/computefleet/armcomputefleet/CHANGELOG.md
  sdk/resourcemanager/computefleet/armcomputefleet/constants.go
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client_example_test.go
  sdk/resourcemanager/computefleet/armcomputefleet/go.mod
  sdk/resourcemanager/computefleet/armcomputefleet/go.sum
  sdk/resourcemanager/computefleet/armcomputefleet/models.go
  sdk/resourcemanager/computefleet/armcomputefleet/models_serde.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client_example_test.go
  sdk/resourcemanager/computefleet/armcomputefleet/tsp-location.yaml
Labels: Mgmt

#23610 [Release] sdk/resourcemanager/databoundaries/armdataboundaries/0.1.0
  sdk/resourcemanager/databoundaries/armdataboundaries/CHANGELOG.md
  sdk/resourcemanager/databoundaries/armdataboundaries/LICENSE.txt
  sdk/resourcemanager/databoundaries/armdataboundaries/README.md
  sdk/resourcemanager/databoundaries/armdataboundaries/autorest.md
  sdk/resourcemanager/databoundaries/armdataboundaries/build.go
  sdk/resourcemanager/databoundaries/armdataboundaries/ci.yml
  sdk/resourcemanager/databoundaries/armdataboundaries/client.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_example_test.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/constants.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/internal.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/time_rfc3339.go
  sdk/resourcemanager/databoundaries/armdataboundaries/go.mod
  sdk/resourcemanager/databoundaries/armdataboundaries/go.sum
  sdk/resourcemanager/databoundaries/armdataboundaries/models.go
  sdk/resourcemanager/databoundaries/armdataboundaries/models_serde.go
  sdk/resourcemanager/databoundaries/armdataboundaries/options.go
  sdk/resourcemanager/databoundaries/armdataboundaries/responses.go
  sdk/resourcemanager/databoundaries/armdataboundaries/time_rfc3339.go
Labels: Mgmt

#23630 [Release] sdk/resourcemanager/fabric/armfabric/1.0.0
  sdk/resourcemanager/fabric/armfabric/CHANGELOG.md
  sdk/resourcemanager/fabric/armfabric/autorest.md
  sdk/resourcemanager/fabric/armfabric/build.go
  sdk/resourcemanager/fabric/armfabric/capacities_client.go
  sdk/resourcemanager/fabric/armfabric/capacities_client_example_test.go
  sdk/resourcemanager/fabric/armfabric/client_factory.go
  sdk/resourcemanager/fabric/armfabric/constants.go
  sdk/resourcemanager/fabric/armfabric/fake/capacities_server.go
  sdk/resourcemanager/fabric/armfabric/fake/internal.go
  sdk/resourcemanager/fabric/armfabric/fake/operations_server.go
  sdk/resourcemanager/fabric/armfabric/fake/server_factory.go
  sdk/resourcemanager/fabric/armfabric/fake/time_rfc3339.go
  sdk/resourcemanager/fabric/armfabric/go.mod
  sdk/resourcemanager/fabric/armfabric/go.sum
  sdk/resourcemanager/fabric/armfabric/models.go
  sdk/resourcemanager/fabric/armfabric/models_serde.go
  sdk/resourcemanager/fabric/armfabric/operations_client.go
  sdk/resourcemanager/fabric/armfabric/operations_client_example_test.go
  sdk/resourcemanager/fabric/armfabric/options.go
  sdk/resourcemanager/fabric/armfabric/responses.go
  sdk/resourcemanager/fabric/armfabric/time_rfc3339.go
  sdk/resourcemanager/fabric/armfabric/tsp-location.yaml
Labels: Mgmt

#23633 Release prep [storage] stg95blob files preview
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23636 Sync eng/common directory with azure-sdk-tools for PR 9234
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#23637 Update apiview step in pipeline to quote branch name param
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#23638 Sync eng/common directory with azure-sdk-tools for PR 9235
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#23617 [aztables] Updating with release date
  sdk/data/aztables/CHANGELOG.md
Labels: Tables

#23529 [Release] sdk/resourcemanager/containerservice/armcontainerservice/6.2.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/loadbalancers_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Stable

#23539 [Release] sdk/resourcemanager/dns/armdns/1.3.0-beta.1
  sdk/resourcemanager/dns/armdns/CHANGELOG.md
  sdk/resourcemanager/dns/armdns/README.md
  sdk/resourcemanager/dns/armdns/assets.json
  sdk/resourcemanager/dns/armdns/autorest.md
  sdk/resourcemanager/dns/armdns/client_factory.go
  sdk/resourcemanager/dns/armdns/constants.go
  sdk/resourcemanager/dns/armdns/dnssecconfigs_client.go
  sdk/resourcemanager/dns/armdns/dnssecconfigs_client_example_test.go
  sdk/resourcemanager/dns/armdns/fake/dnssecconfigs_server.go
  sdk/resourcemanager/dns/armdns/fake/server_factory.go
  sdk/resourcemanager/dns/armdns/fake/time_rfc3339.go
  sdk/resourcemanager/dns/armdns/models.go
  sdk/resourcemanager/dns/armdns/models_serde.go
  sdk/resourcemanager/dns/armdns/options.go
  sdk/resourcemanager/dns/armdns/recordsets_client.go
  sdk/resourcemanager/dns/armdns/recordsets_client_example_test.go
  sdk/resourcemanager/dns/armdns/resourcereference_client.go
  sdk/resourcemanager/dns/armdns/resourcereference_client_example_test.go
  sdk/resourcemanager/dns/armdns/responses.go
  sdk/resourcemanager/dns/armdns/time_rfc3339.go
  sdk/resourcemanager/dns/armdns/zones_client.go
  sdk/resourcemanager/dns/armdns/zones_client_example_test.go
Labels: Beta

#23634 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23635 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#23644 [Release] sdk/resourcemanager/elasticsan/armelasticsan/1.2.0-beta.1
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/models.go
  sdk/resourcemanager/elasticsan/armelasticsan/models_serde.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client_example_test.go
Labels: Mgmt

#23618 Set all azcosmos telemetry spans to have the Kind of SpanKindClient
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_item_request_options.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/otel_constants.go
  sdk/data/azcosmos/otel_constants_test.go
Labels: Cosmos, customer-reported, Community Contribution

#23652 Add some response values as attributes to the azcosmos traces
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
  sdk/data/azcosmos/emulator_cosmos_batch_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_database_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_item_test.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
  sdk/data/azcosmos/tracing_test.go
Labels: Cosmos, customer-reported, Community Contribution

#23639 [key vault] add api version support
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/rbac/client_test.go
  sdk/security/keyvault/azadmin/rbac/custom_client.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/custom_client.go
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/custom_client.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/custom_client.go
Labels: KeyVault, Client

#23648 [Release] refine doc and tests
  sdk/resourcemanager/computefleet/armcomputefleet/README.md
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client_example_test.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client_example_test.go
  sdk/resourcemanager/fabric/armfabric/capacities_client_example_test.go
  sdk/resourcemanager/fabric/armfabric/operations_client_example_test.go
Labels: Mgmt

#23627 sdk/resourcemanager/edgezones/armedgezones live test
  sdk/resourcemanager/edgezones/armedgezones/assets.json
  sdk/resourcemanager/edgezones/armedgezones/ci.yml
  sdk/resourcemanager/edgezones/armedgezones/edgezones_live_test.go
  sdk/resourcemanager/edgezones/armedgezones/go.mod
  sdk/resourcemanager/edgezones/armedgezones/go.sum
  sdk/resourcemanager/edgezones/armedgezones/utils_test.go
Labels: Mgmt

#23641 [Release] sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/0.2.0
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/CHANGELOG.md
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/autorest.md
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/constants.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.mod
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.sum
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models_serde.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client_example_test.go
Labels: Mgmt

#23656 Sync eng/common directory with azure-sdk-tools for PR 9236
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23647 Prep for release of adls stg95 preview
  eng/config.json
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23655 Exposed Permissions item in ListBlobsInclude
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_constants.go
Labels: Storage, customer-reported, Community Contribution

#23659 Sync eng/common directory with azure-sdk-tools for PR 9249
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23654 [Release] sdk/resourcemanager/iotoperations/armiotoperations/0.1.0
  sdk/resourcemanager/iotoperations/armiotoperations/CHANGELOG.md
  sdk/resourcemanager/iotoperations/armiotoperations/LICENSE.txt
  sdk/resourcemanager/iotoperations/armiotoperations/README.md
  sdk/resourcemanager/iotoperations/armiotoperations/broker_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/broker_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthentication_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthentication_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthorization_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthorization_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerlistener_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerlistener_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/ci.yml
  sdk/resourcemanager/iotoperations/armiotoperations/client_factory.go
  sdk/resourcemanager/iotoperations/armiotoperations/constants.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflow_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflow_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflowendpoint_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflowendpoint_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflowprofile_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/dataflowprofile_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/broker_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/brokerauthentication_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/brokerauthorization_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/brokerlistener_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/dataflow_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/dataflowendpoint_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/dataflowprofile_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/instance_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/internal.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/operations_server.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/server_factory.go
  sdk/resourcemanager/iotoperations/armiotoperations/fake/time_rfc3339.go
  sdk/resourcemanager/iotoperations/armiotoperations/go.mod
  sdk/resourcemanager/iotoperations/armiotoperations/go.sum
  sdk/resourcemanager/iotoperations/armiotoperations/instance_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/instance_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/models.go
  sdk/resourcemanager/iotoperations/armiotoperations/models_serde.go
  sdk/resourcemanager/iotoperations/armiotoperations/operations_client.go
  sdk/resourcemanager/iotoperations/armiotoperations/operations_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/options.go
  sdk/resourcemanager/iotoperations/armiotoperations/responses.go
  sdk/resourcemanager/iotoperations/armiotoperations/time_rfc3339.go
  sdk/resourcemanager/iotoperations/armiotoperations/tsp-location.yaml
Labels: Mgmt

#23660 [Storage] Fix live tests azdatalake
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/service/constants.go
Labels: Storage

#23662 [Release] sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/0.1.0
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/CHANGELOG.md
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/LICENSE.txt
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/README.md
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/bgppeers_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/bgppeers_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/ci.yml
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/client_factory.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/constants.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/bgppeers_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/internal.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/loadbalancers_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/operations_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/server_factory.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/services_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/storageclass_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/time_rfc3339.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/go.mod
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/go.sum
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/interfaces.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/loadbalancers_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/loadbalancers_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/models.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/models_serde.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/operations_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/operations_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/options.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/polymorphic_helpers.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/responses.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/services_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/services_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/storageclass_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/storageclass_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/time_rfc3339.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/tsp-location.yaml
Labels: Mgmt

#23572 Update azidentity's BREAKING_CHANGES.md
  sdk/azidentity/BREAKING_CHANGES.md
Labels: Azure.Identity

#23670 Sync eng/common directory with azure-sdk-tools for PR 9259
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#23667 Improve Service Fabric managed identity error message
  sdk/azidentity/managed_identity_client.go
Labels: Azure.Identity

#23675 Sync eng/common directory with azure-sdk-tools for PR 9281
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#23676 Sync eng/common directory with azure-sdk-tools for PR 9290
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#23619 Enable concurrent process to construct persistent caches
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/cache.go
Labels: Azure.Identity

#23679 Add some doc comments
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/poller.go
Labels: Azure.Core

#23681 Sync eng/common directory with azure-sdk-tools for PR 9292
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23682 Run live managed identity tests in westus2
  sdk/azidentity/ci.yml
Labels: Azure.Identity

#23680 Sync eng/common directory with azure-sdk-tools for PR 9288
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#23658 Azcosmos no tracer to pager
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_database_test.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
Labels: Cosmos, customer-reported, Community Contribution

#23683 Sync eng/common directory with azure-sdk-tools for PR 9294
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys
