Repository Azure/azure-sdk-for-go, pull requests merged in 2024-01, with the labels that each got.

#22192 Azdatalake stg 78-82
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/README.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_response_types.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_response_types.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/sas/account.go
  sdk/storage/azdatalake/sas/query_params.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azdatalake/test-resources.json
Labels: Storage

#22098 fix(azidentity): do not strip away request headers in doForClient
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/live_test.go
Labels: customer-reported, Azure.Identity, Community Contribution

#22199 azblob: Updating type of audience field
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#22200 azfile: Updating type of audience field
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#22197 Various cleanup in azappconfig
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/keyvaluefilter.go
  sdk/data/azappconfig/snapshot.go
Labels: App Configuration

#22204 [azdatalake] Swagger update to STG 90
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_response_types.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
Labels: Storage, AzDatalake

#22201 Update package versions
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
  sdk/azidentity/mock_test.go
Labels: Azure.Identity

#22060 Increment version for messaging/azeventgrid releases
  sdk/messaging/azeventgrid/CHANGELOG.md
  sdk/messaging/azeventgrid/internal/version.go
Labels: Event Grid

#22194 azblob: STG91 upgrade
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/README.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
Labels: Storage, AzBlob

#22193 azfile: STG91 upgrade
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/README.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
  sdk/storage/azfile/internal/generated/zz_xml_helper.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
Labels: Storage, AzFile

#22208 update source link to new azopenai location
  sdk/ai/azopenai/README.md
Labels: customer-reported, Community Contribution

#22209 More azappconfig cleanup
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/snapshot.go
Labels: App Configuration

#22202 Sync eng/common directory with azure-sdk-tools for PR 7468
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#22183 Storage: Reject HTTP endpoints
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/internal/exported/shared_key_credential.go
  sdk/storage/azfile/service/client_test.go
Labels: Storage, AzFile, AzBlob, AzDatalake

#22153 [azeventhubs] Fixing an issue where a processor wouldn't grab partitions
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/inmemory_checkpoint_store_test.go
  sdk/messaging/azeventhubs/internal/eh/stress/scenarios-matrix.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/stress-test-resources.json
  sdk/messaging/azeventhubs/internal/eh/stress/stress.go
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/balance_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/multi_balance_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/processor_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/processor_load_balancer.go
  sdk/messaging/azeventhubs/processor_load_balancers_test.go
  sdk/messaging/azeventhubs/processor_unit_test.go
Labels: Event Hubs

#22212 Clean up ETags in azappconfig
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/options.go
Labels: App Configuration

#22216 azblob: STG 91 Preview
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage, AzBlob

#22219 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#22218 Replace string with azcore.ETag
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/options.go
Labels: App Configuration

#22214 Add script to go mod tidy modules
  eng/scripts/modtidy.ps1
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/resourcemanager/dataprotection/armdataprotection/go.mod
  sdk/resourcemanager/dataprotection/armdataprotection/go.sum
  sdk/resourcemanager/dnsresolver/armdnsresolver/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/functions/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/general/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/general/go.sum
  sdk/samples/azidentity/manual-tests/managed-identity/service-fabric/go.mod
  sdk/samples/azidentity/manual-tests/managed-identity/service-fabric/go.sum
  sdk/samples/fakes/go.mod
  sdk/samples/fakes/go.sum
Labels: Mgmt, Tables

#22220 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#22154 [azservicebus] Updating batching to allow for a configurable wait time
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/receiver_unit_test.go
Labels: Service Bus

#22222 Sync eng/common directory with azure-sdk-tools for PR 7459
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#22224 Sync eng/common directory with azure-sdk-tools for PR 7498
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22227 [azdatalake] Preview STG 82
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage, AzDatalake

#22231 Rename azidentity/cache pipeline
  sdk/azidentity/cache/ci.azidentity.yml
Labels: Azure.Identity

#22234 Handle errors in mod tidy script
  eng/scripts/modtidy.ps1
Labels: Central-EngSys

#22233 Sync eng/common directory with azure-sdk-tools for PR 7445
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#22232 Use package filter to prevent recursive package publish
  eng/pipelines/templates/jobs/archetype-go-release.yml
Labels: Central-EngSys

#22206 [Cosmos] Add preferred regions to CosmosClientOptions
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/example_test.go
Labels: Cosmos

#22230 Remove v1.6.0-beta API
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/authentication_record.go
  sdk/azidentity/authentication_record_test.go
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/example_cache_test.go
  sdk/azidentity/example_user_auth_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#22246 Sync eng/common directory with azure-sdk-tools for PR 7451
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#22247 Sync eng/common directory with azure-sdk-tools for PR 7528
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#22229 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22244 sdk/resourcemanager/storagecache/armstoragecache live test
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystem_live_test.go
  sdk/resourcemanager/storagecache/armstoragecache/assets.json
  sdk/resourcemanager/storagecache/armstoragecache/go.mod
  sdk/resourcemanager/storagecache/armstoragecache/go.sum
  sdk/resourcemanager/storagecache/armstoragecache/storagecache_live_test.go
Labels: Mgmt

#22249 [CODEOWNERS] Remove automation section
  .github/CODEOWNERS
Labels: Client, EngSys

#22251 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#22150 Add selective component governance step
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Central-EngSys

#22252 Sync eng/common directory with azure-sdk-tools for PR 7536
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#22253 [azservicebus] Fixing memory leak with go-amqp update.
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus

#22241 Sync eng/common directory with azure-sdk-tools for PR 7512
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#22256 [azservicebus] Adjust version and changelog, small test change
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus

#22257 Fix allowed tenants for InteractiveBrowserCredential
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/interactive_browser_credential.go
Labels: Azure.Identity

#22133 Implement UnmarshalJSON method for custom types
  sdk/ai/azopenai/custom_client.go
  sdk/ai/azopenai/custom_models.go
Labels: customer-reported, Community Contribution

#22260 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#22248 Prepare azidentity v1.6.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22262 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22263 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22259 Update release date for azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/options.go
Labels: App Configuration

#22264 Sync eng/common directory with azure-sdk-tools for PR 7537
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#22268 Increment version for data/azappconfig releases
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Labels: App Configuration

#22269 Update dependencies in deprecated modules
  sdk/resourcemanager/machinelearningservices/armmachinelearningservices/go.mod
  sdk/resourcemanager/machinelearningservices/armmachinelearningservices/go.sum
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/go.mod
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/go.sum
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/go.mod
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/go.sum
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/CHANGELOG.md
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.mod
  sdk/resourcemanager/videoanalyzer/armvideoanalyzer/go.sum
  sdk/resourcemanager/workloadmonitor/armworkloadmonitor/go.mod
  sdk/resourcemanager/workloadmonitor/armworkloadmonitor/go.sum
Labels: Mgmt

#22270 Update to latest version of websockets
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Labels: Service Bus, Event Hubs

#22266 Sync eng/common directory with azure-sdk-tools for PR 7543
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22275 Sync eng/common directory with azure-sdk-tools for PR 7548
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#22277 Sync eng/common directory with azure-sdk-tools for PR 7270
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#22280 Sync eng/common directory with azure-sdk-tools for PR 7556
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#22278 Broaden special case for 403 responses from IMDS
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
Labels: Azure.Identity

#22273 Storage/fix Module Name in azfile, azdatalake, azblob
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/internal/shared/shared.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
Labels: Storage

#22186 [Release] sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/1.0.0
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/CHANGELOG.md
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/README.md
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/agentpool_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/agentpool_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/autorest.md
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/constants.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/fake/agentpool_server.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/fake/provisionedclusterinstances_server.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/hybrididentitymetadata_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/hybrididentitymetadata_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/kubernetesversions_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/kubernetesversions_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/models.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/models_serde.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/operations_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/options.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/provisionedclusterinstances_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/provisionedclusterinstances_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/response_types.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/virtualnetworks_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/virtualnetworks_client_example_test.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/vmskus_client.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/vmskus_client_example_test.go
Labels: BreakingChange, FirstGA

#22271 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.7.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/response_types.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt, Stable

#22225 [Release] sdk/resourcemanager/elasticsan/armelasticsan/1.0.0
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client_example_test.go
Labels: FirstGA

#22292 Sync eng/common directory with azure-sdk-tools for PR 7580
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: EngSys, Central-EngSys

#22291 [Release] sdk/resourcemanager/networkanalytics/armnetworkanalytics/1.0.0
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/CHANGELOG.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/README.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/autorest.md
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/constants.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproducts_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/dataproductscatalogs_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/datatypes_client_example_test.go
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/go.mod
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/go.sum
  sdk/resourcemanager/networkanalytics/armnetworkanalytics/operations_client_example_test.go
Labels: Mgmt, FirstGA

#22284 Sync eng/common directory with azure-sdk-tools for PR 7569
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#22298 Sync eng/common directory with azure-sdk-tools for PR 7584
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22299 AzureCLICredential prefers expires_on value
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_cli_credential_test.go
Labels: Azure.Identity

#22185 [Release] sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/2.0.0-beta.1
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/CHANGELOG.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/README.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/autorest.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/client_factory.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivateendpointconnections_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivatelinkresources_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivatelinkresources_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/constants.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/dedicatedhsm_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/dedicatedhsm_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterprivateendpointconnections_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterprivatelinkresources_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusters_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/dedicatedhsm_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/internal.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/operations_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/privateendpointconnections_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/server_factory.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/go.mod
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/go.sum
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/models.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/models_serde.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/operations_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/options.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/privateendpointconnections_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/response_types.go
Labels: BreakingChange, Beta

#22203 [Release] sdk/resourcemanager/datafactory/armdatafactory/5.0.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/README.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/changedatacapture_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/activityruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/changedatacapture_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/credentialoperations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflowdebugsession_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflows_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/datasets_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/exposurecontrol_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/factories_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/globalparameters_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimenodes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimeobjectmetadata_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/linkedservices_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedvirtualnetworks_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/operations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelineruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelines_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnection_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnections_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privatelinkresources_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggerruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggers_server.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/interfaces.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/polymorphic_helpers.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22309 JSON marshaling helpers will preserve Content-Type
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/exported/request_test.go
  sdk/azcore/runtime/request.go
Labels: Azure.Core

#22312 Sync eng/common directory with azure-sdk-tools for PR 7585
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys
