Repository Azure/azure-sdk-for-go, pull requests merged in 2024-08, with the labels that each got.

#23265 Sync eng/common directory with azure-sdk-tools for PR 8746
  eng/common/testproxy/target_version.txt
  sdk/internal/recording/sanitizer_test.go
Labels: EngSys, Central-EngSys

#23273 DefaultAzureCredential continues after an unexpected IMDS response
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/managed_identity_client.go
Labels: Azure.Identity

#23266 Add go-redis authentication sample
  sdk/azidentity/example_redis_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#23284 Add Attributes field to StartSpanOptions
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Labels: Azure.Core

#23270 azcontainerregistry: move method to function
  sdk/containers/azcontainerregistry/authentication_policy.go
  sdk/containers/azcontainerregistry/authentication_policy_test.go
Labels: customer-reported, Community Contribution

#23267 NewManagedIdentityCredential returns an error for unsupported ID options
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_client_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#23289 Prepare azidentity v1.8.0-beta.2 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#23288 Sync eng/common directory with azure-sdk-tools for PR 8792
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23271 Sync eng/common directory with azure-sdk-tools for PR 8760
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#23290 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23293 Prep azcore 1.14.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#23295 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#23291 Sync eng/common directory with azure-sdk-tools for PR 8754
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#23285 azcontainerregistry: expose authentication client, options
  sdk/containers/azcontainerregistry/authentication_client.go
  sdk/containers/azcontainerregistry/authentication_client_test.go
  sdk/containers/azcontainerregistry/authentication_custom_client.go
  sdk/containers/azcontainerregistry/authentication_custom_client_test.go
  sdk/containers/azcontainerregistry/authentication_policy.go
  sdk/containers/azcontainerregistry/authentication_policy_test.go
  sdk/containers/azcontainerregistry/autorest.md
  sdk/containers/azcontainerregistry/blob_custom_client.go
  sdk/containers/azcontainerregistry/constants.go
  sdk/containers/azcontainerregistry/constants_test.go
  sdk/containers/azcontainerregistry/custom_client.go
  sdk/containers/azcontainerregistry/models.go
  sdk/containers/azcontainerregistry/models_serde.go
  sdk/containers/azcontainerregistry/options.go
  sdk/containers/azcontainerregistry/response_types.go
Labels: customer-reported, Community Contribution

#23268 Cosmos DB: Add support for Span
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_database_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
  sdk/data/azcosmos/emulator_cosmos_batch_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_database_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_item_test.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/operation_type.go
  sdk/data/azcosmos/otel_constants.go
  sdk/data/azcosmos/otel_constants_test.go
  sdk/data/azcosmos/tracing_test.go
  sdk/data/azcosmos/version.go
Labels: Cosmos

#23310 Added AuthenticationErrorDetail
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/share/client_test.go
Labels: Storage

#23317 Added challenge_policy_test.go
  sdk/storage/azqueue/internal/shared/challenge_policy_test.go
Labels: Storage

#23314 Make Service Fabric example secret more obviously fake
  sdk/resourcemanager/servicefabricmesh/armservicefabricmesh/secretvalue_client_example_test.go
Labels: Mgmt

#23322 Authorize azidentity test app deployment with WIF
  sdk/azidentity/ci.yml
  sdk/azidentity/test-resources-post.ps1
Labels: Azure.Identity

#23333 Sync eng/common directory with azure-sdk-tools for PR 8831
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#23318 [Release] sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/0.1.0 TypeSpec
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/CHANGELOG.md
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/LICENSE.txt
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/README.md
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/ci.yml
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/client_factory.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/constants.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/deidservices_client.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/deidservices_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/deidservices_server.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/internal.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/operations_server.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/privateendpointconnections_server.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/privatelinks_server.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/server_factory.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/time_rfc3339.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.mod
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.sum
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models_serde.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/operations_client.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/operations_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/options.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/privateendpointconnections_client.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/privatelinks_client.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/privatelinks_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/responses.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/time_rfc3339.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/tsp-location.yaml
Labels: FirstBeta

#23336 Sync eng/common directory with azure-sdk-tools for PR 8830
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#23332 Sync eng/common directory with azure-sdk-tools for PR 8842
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#23337 [azeventhubs] Fixing a bug where a cancelled recovery could result in a perpetually broken client
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/internal/links.go
  sdk/messaging/azeventhubs/internal/links_recover.go
  sdk/messaging/azeventhubs/internal/links_test.go
Labels: Event Hubs

#23339 Cosmos DB: Fixes metadata routing on multi-master
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
Labels: Cosmos

#23311 [Storage] Support latest service version in Queue, propagate StorageBearer Challenge to queues
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/shared/challenge_policy.go
  sdk/storage/azqueue/internal/shared/challenge_policy_test.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client.go
Labels: Storage

#23346 Sync eng/common directory with azure-sdk-tools for PR 8849
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#23269 [azsystemevents] Regenerate based on latest update (adding in storage tiers to some system events)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/package-lock.json
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events3_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/package-lock.json
  sdk/messaging/eventgrid/azsystemevents/testdata/package.json
  sdk/messaging/eventgrid/azsystemevents/testdata/tsp-location.yaml
  sdk/messaging/eventgrid/azsystemevents/testdata/tspconfig.yaml
Labels: Event Grid

#23341 azidentity accepts object IDs for user-assigned managed identities
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/assets.json
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/test-resources-post.ps1
  sdk/azidentity/test-resources.bicep
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/testdata/managed-id-test/main.go
Labels: Azure.Identity

#23356 Increment version for messaging/eventgrid/azsystemevents releases
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Labels: Event Grid

#23278 [Release] sdk/resourcemanager/netapp/armnetapp/7.2.0
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/accounts_client.go
  sdk/resourcemanager/netapp/armnetapp/accounts_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/autorest.md
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backups_client.go
  sdk/resourcemanager/netapp/armnetapp/backups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderaccount_client.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderaccount_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderbackupvault_client.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderbackupvault_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsundervolume_client.go
  sdk/resourcemanager/netapp/armnetapp/backupsundervolume_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupvaults_client.go
  sdk/resourcemanager/netapp/armnetapp/backupvaults_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/operations_client.go
  sdk/resourcemanager/netapp/armnetapp/operations_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/pools_client.go
  sdk/resourcemanager/netapp/armnetapp/pools_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resource_client.go
  sdk/resourcemanager/netapp/armnetapp/resource_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourceregioninfos_client.go
  sdk/resourcemanager/netapp/armnetapp/resourceregioninfos_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Labels: Stable

#23302 [Release] sdk/resourcemanager/hdinsight/armhdinsight/1.3.0-beta.2
  sdk/resourcemanager/hdinsight/armhdinsight/CHANGELOG.md
  sdk/resourcemanager/hdinsight/armhdinsight/README.md
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/autorest.md
  sdk/resourcemanager/hdinsight/armhdinsight/client_factory.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/constants.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/fake/extensions_server.go
  sdk/resourcemanager/hdinsight/armhdinsight/fake/time_rfc3339.go
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/models.go
  sdk/resourcemanager/hdinsight/armhdinsight/models_serde.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/options.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/responses.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/time_rfc3339.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client_example_test.go
Labels: Beta

#23352 [Release] sdk/resourcemanager/datafactory/armdatafactory/9.0.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/README.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/changedatacapture_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/activityruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/changedatacapture_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/credentialoperations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflowdebugsession_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflows_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/datasets_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/exposurecontrol_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/factories_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/globalparameters_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimenodes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimeobjectmetadata_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/linkedservices_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedvirtualnetworks_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/operations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelineruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelines_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnection_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnections_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privatelinkresources_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggerruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggers_server.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#23340 [keyvault] troubleshooting and migration guide
  sdk/security/keyvault/TROUBLESHOOTING.md
  sdk/security/keyvault/azadmin/TROUBLESHOOTING.md
  sdk/security/keyvault/azcertificates/MIGRATION.md
  sdk/security/keyvault/azkeys/MIGRATION.md
  sdk/security/keyvault/azsecrets/MIGRATION.md
Labels: Docs, KeyVault, Client

#23358 [azservicebus] Fixing error checking to take error wrapping into account
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/stress/Chart.lock
  sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/test-resources.bicep
Labels: Service Bus

#23359 NFS share snapshot
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/internal/exported/shared_key_credential.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23369 Sync eng/common directory with azure-sdk-tools for PR 8879
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23361 Sync eng/common directory with azure-sdk-tools for PR 8865
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23367 Storage STG94 features
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/shared_key_credential.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/shared_key_credential.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/shared/challenge_policy.go
  sdk/storage/azqueue/internal/shared/challenge_policy_test.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client.go
Labels: Storage

#23373 Prep for stg94 storage preview release - blobs and files
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23377 Sync eng/common directory with azure-sdk-tools for PR 8875
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#23382 Sync eng/common directory with azure-sdk-tools for PR 8878
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#23375 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#23376 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23386 Sync eng/common directory with azure-sdk-tools for PR 8900
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23383 Add crc header in put blob response
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
Labels: Storage

#23384 storage stg94 preview adls
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23387 Sync eng/common directory with azure-sdk-tools for PR 8909
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys
