Repository Azure/azure-sdk-for-go, pull requests merged in 2024-05, with the labels that each got.

#22801 Upgrade azidentity dependencies
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
Labels: Azure.Identity

#22815 Upgrade azcosmos dependencies
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#22814 Update dependencies for AppConfig and tables
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Labels: Tables, App Configuration

#22802 Fix persistent cache errors caused by Linux keyring permissions
  eng/config.json
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/internal/jwe/jwe_test.go
  sdk/azidentity/cache/linux.go
  sdk/azidentity/cache/linux_test.go
Labels: Azure.Identity

#22787 Update the `internal` changelog to reflect new proxy version override feature
  sdk/internal/CHANGELOG.md
Labels: Internal

#22820 [Monitor] upgrade dependencies
  sdk/monitor/ingestion/azlogs/go.mod
  sdk/monitor/ingestion/azlogs/go.sum
Labels: Monitor, Client

#22817 [keyvault] upgrade dependencies
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
Labels: KeyVault, Client

#22821 [azquery] update tests
  sdk/monitor/azquery/assets.json
  sdk/monitor/azquery/metricsbatch_client_test.go
Labels: Monitor, Client

#22828 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22829 azcosmos - downgrade to go 1.21
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#22830 Sync .github/workflows directory with azure-sdk-tools for PR 8193
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22831 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos

#22836 Revert breaking dependency upgrades
  sdk/messaging/eventgrid/aznamespaces/go.mod
  sdk/messaging/eventgrid/aznamespaces/go.sum
  sdk/resourcemanager/resources/armdeploymentscripts/go.mod
  sdk/resourcemanager/resources/armdeploymentscripts/go.sum
Labels: Event Grid, Mgmt

#22842 Update indirect dependencies - storage - CI Fix
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Labels: Storage

#22843 Update packages
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22832 Do not create or block on api review for nested packages
  eng/scripts/Create-ApiReview.ps1
Labels: Central-EngSys

#22851 Upgrade azidentity dependencies
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
Labels: Azure.Identity

#22853 Update azidentity/cache changelog and version
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#22858 Increment version for azidentity/cache releases
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#22855 [azkeys] enable managed HSM's on weekly pipelines
  sdk/security/keyvault/azkeys/ci.yml
Labels: KeyVault, Client

#22848 [azadmin] live tests
  sdk/security/keyvault/azadmin/ci.yml
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
Labels: KeyVault, Client

#22861 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#22872 Remove default sanitizers added in sdk/internal v1.6.0
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/default_sanitizers.go
  sdk/internal/recording/default_sanitizers_test.go
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
  sdk/internal/recording/sanitizer_test.go
  sdk/internal/version.go
Labels: Internal

#22873 Prepare sdk/internal v1.8.0 for release
  sdk/internal/CHANGELOG.md
Labels: Internal

#22874 Unexport unused sdk/internal constants
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22875 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22880 Skip live service principal tests
  sdk/azidentity/client_assertion_credential_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#22876 [azkeys] re-enable mhsm test
  sdk/security/keyvault/azkeys/client_test.go
Labels: KeyVault

#22891 Add AzurePipelinesCredential for service connection authentication
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/azure_pipelines_credential_test.go
  sdk/azidentity/ci.yml
Labels: Azure.Identity

#22893 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22863 [azmetrics] add sovereign cloud support
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/README.md
  sdk/monitor/query/azmetrics/ci.yml
  sdk/monitor/query/azmetrics/cloud_config.go
  sdk/monitor/query/azmetrics/custom_client.go
  sdk/monitor/query/azmetrics/utils_test.go
Labels: Monitor, Client

#22895 [Cosmos] Update README
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/doc.go
Labels: Cosmos, customer-reported, Community Contribution

#22896 Sync eng/common directory with azure-sdk-tools for PR 8268
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Labels: EngSys, Central-EngSys

#22898 [azservicebus, azeventhubs] emulators should allow for non-localhost as well
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/exported/connection_string_properties.go
  sdk/messaging/azeventhubs/internal/exported/connection_string_properties_test.go
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/conn/conn.go
  sdk/messaging/azservicebus/internal/conn/conn_test.go
Labels: Service Bus, Event Hubs

#22890 Prep for azdatalake stg 91 GA release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Labels: Storage

#22908 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22900 Sync eng/common directory with azure-sdk-tools for PR 8216
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#22907 Sync eng/common directory with azure-sdk-tools for PR 8267
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#22886 [azeventhubs] Transition to using DefaultAzureCredential in all tests and examples that can use it.
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/example_consuming_with_checkpoints_test.go
  sdk/messaging/azeventhubs/example_websockets_and_proxies_test.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/balance_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/processor_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
  sdk/messaging/azeventhubs/main_test.go
  sdk/messaging/azeventhubs/processor_test.go
  sdk/messaging/azeventhubs/producer_client.go
  sdk/messaging/azeventhubs/producer_client_test.go
  sdk/messaging/azeventhubs/test-resources.bicep
Labels: Event Hubs

#22883 [azsystemevents] Changes to generate using typespec-go as the emitter, instead of autorest-go
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/autorest.md
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/custom_events.go
  sdk/messaging/eventgrid/azsystemevents/custom_events_test.go
  sdk/messaging/eventgrid/azsystemevents/eventgrid_event.go
  sdk/messaging/eventgrid/azsystemevents/example_test.go
  sdk/messaging/eventgrid/azsystemevents/go.mod
  sdk/messaging/eventgrid/azsystemevents/go.sum
  sdk/messaging/eventgrid/azsystemevents/interfaces.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/regex_helpers.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/polymorphic_helpers.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events3_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/.gitignore
  sdk/messaging/eventgrid/azsystemevents/testdata/gen.ps1
  sdk/messaging/eventgrid/azsystemevents/testdata/package-lock.json
  sdk/messaging/eventgrid/azsystemevents/testdata/package.json
  sdk/messaging/eventgrid/azsystemevents/testdata/tsp-location.yaml
  sdk/messaging/eventgrid/azsystemevents/testdata/tspconfig.yaml
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
Labels: Event Grid, Client

#22912 Sync eng/common directory with azure-sdk-tools for PR 8277
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#22909 Sync eng/common directory with azure-sdk-tools for PR 8270
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#22913 Update azappconfig for new test proxy
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
  sdk/data/azappconfig/utils_test.go
Labels: App Configuration

#22917 Sync eng/common directory with azure-sdk-tools for PR 8288
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#22901 Support federated credentials in on-behalf-of flow
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/example_test.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/on_behalf_of_credential_test.go
Labels: Azure.Identity

#22916 Sync eng/common directory with azure-sdk-tools for PR 8283
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#22779 Sync eng/common directory with azure-sdk-tools for PR 8157
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22921 Sync eng/common directory with azure-sdk-tools for PR 8295
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22922 Update aztables for new test proxy
  sdk/data/aztables/assets.json
  sdk/data/aztables/proxy_test.go
  sdk/data/aztables/transaction_batch_test.go
Labels: Tables

#22924 [azservicebus,azeventhubs] Releasing emulator string parsing.
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azservicebus/CHANGELOG.md
Labels: Service Bus, Event Hubs

#22926 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#22927 Clarify ParseCertificates documentation
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/environment_credential.go
  sdk/azidentity/example_test.go
Labels: Azure.Identity

#22923 Cosmos DB - Fixes ReplaceThroughput operations
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_offers.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_database_test.go
  sdk/data/azcosmos/throughput_properties.go
  sdk/data/azcosmos/throughput_properties_test.go
  sdk/data/azcosmos/throughput_response_test.go
Labels: Cosmos

#22925 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#22932 Support additional success codes when fetching pages
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Labels: Azure.Core

#22803 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/1.2.0
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/assets.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: Stable

#22804 [Release] sdk/resourcemanager/maintenance/armmaintenance/1.4.0-beta.1
  sdk/resourcemanager/maintenance/armmaintenance/CHANGELOG.md
  sdk/resourcemanager/maintenance/armmaintenance/README.md
  sdk/resourcemanager/maintenance/armmaintenance/applyupdateforresourcegroup_client.go
  sdk/resourcemanager/maintenance/armmaintenance/applyupdateforresourcegroup_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/applyupdates_client.go
  sdk/resourcemanager/maintenance/armmaintenance/applyupdates_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/autorest.md
  sdk/resourcemanager/maintenance/armmaintenance/client_factory.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignments_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignments_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentsforresourcegroup_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentsforresourcegroup_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentsforsubscriptions_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentsforsubscriptions_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentswithinsubscription_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationassignmentswithinsubscription_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/configurations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurations_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationsforresourcegroup_client.go
  sdk/resourcemanager/maintenance/armmaintenance/configurationsforresourcegroup_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/constants.go
  sdk/resourcemanager/maintenance/armmaintenance/fake/applyupdates_server.go
  sdk/resourcemanager/maintenance/armmaintenance/fake/scheduledevent_server.go
  sdk/resourcemanager/maintenance/armmaintenance/fake/server_factory.go
  sdk/resourcemanager/maintenance/armmaintenance/fake/time_rfc3339.go
  sdk/resourcemanager/maintenance/armmaintenance/models.go
  sdk/resourcemanager/maintenance/armmaintenance/models_serde.go
  sdk/resourcemanager/maintenance/armmaintenance/operations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/operations_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/options.go
  sdk/resourcemanager/maintenance/armmaintenance/publicmaintenanceconfigurations_client.go
  sdk/resourcemanager/maintenance/armmaintenance/publicmaintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/responses.go
  sdk/resourcemanager/maintenance/armmaintenance/scheduledevent_client.go
  sdk/resourcemanager/maintenance/armmaintenance/scheduledevent_client_example_test.go
  sdk/resourcemanager/maintenance/armmaintenance/time_rfc3339.go
  sdk/resourcemanager/maintenance/armmaintenance/updates_client.go
  sdk/resourcemanager/maintenance/armmaintenance/updates_client_example_test.go
Labels: Beta

#22856 [Release] sdk/resourcemanager/redisenterprise/armredisenterprise/2.1.0-beta.1
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/databases_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/options.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/responses.go
Labels: Mgmt, Beta

#22805 [Release] sdk/resourcemanager/recoveryservices/armrecoveryservices/2.0.0
  sdk/resourcemanager/recoveryservices/armrecoveryservices/CHANGELOG.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/README.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
  sdk/resourcemanager/recoveryservices/armrecoveryservices/autorest.md
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/client_factory.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/constants.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/internal.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/operations_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/privatelinkresources_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/registeredidentities_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/replicationusages_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/time_rfc3339.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/usages_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/vaultcertificates_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/vaultextendedinfo_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/fake/vaults_server.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/go.mod
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/models_serde.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/operations_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/options.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/polymorphic_helpers.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/privatelinkresources_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/recoveryservices_live_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/registeredidentities_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/replicationusages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/responses.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/time_rfc3339.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/usages_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultcertificates_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaultextendedinfo_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client.go
  sdk/resourcemanager/recoveryservices/armrecoveryservices/vaults_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22807 [Release] sdk/resourcemanager/storagecache/armstoragecache/4.0.0
  sdk/resourcemanager/storagecache/armstoragecache/CHANGELOG.md
  sdk/resourcemanager/storagecache/armstoragecache/README.md
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystem_live_test.go
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client.go
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystems_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascoperations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client.go
  sdk/resourcemanager/storagecache/armstoragecache/ascusages_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/assets.json
  sdk/resourcemanager/storagecache/armstoragecache/autorest.md
  sdk/resourcemanager/storagecache/armstoragecache/build.go
  sdk/resourcemanager/storagecache/armstoragecache/caches_client.go
  sdk/resourcemanager/storagecache/armstoragecache/caches_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/client_factory.go
  sdk/resourcemanager/storagecache/armstoragecache/constants.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/amlfilesystems_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/ascoperations_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/ascusages_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/caches_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/importjobs_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/management_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/operations_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/server_factory.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/skus_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/storagetarget_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/storagetargets_server.go
  sdk/resourcemanager/storagecache/armstoragecache/fake/usagemodels_server.go
  sdk/resourcemanager/storagecache/armstoragecache/go.mod
  sdk/resourcemanager/storagecache/armstoragecache/importjobs_client.go
  sdk/resourcemanager/storagecache/armstoragecache/importjobs_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client.go
  sdk/resourcemanager/storagecache/armstoragecache/management_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/models.go
  sdk/resourcemanager/storagecache/armstoragecache/models_serde.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client.go
  sdk/resourcemanager/storagecache/armstoragecache/operations_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/options.go
  sdk/resourcemanager/storagecache/armstoragecache/responses.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client.go
  sdk/resourcemanager/storagecache/armstoragecache/skus_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagecache_live_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetarget_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client.go
  sdk/resourcemanager/storagecache/armstoragecache/storagetargets_client_example_test.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client.go
  sdk/resourcemanager/storagecache/armstoragecache/usagemodels_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22937 [azservicebus] Fixing most of the tests and examples to use TokenCredential.
  sdk/messaging/azservicebus/admin/admin_client_subscription.go
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin_client_test.go
  sdk/messaging/azservicebus/amqp_message.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/example_websockets_and_proxies_test.go
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/shared/utils.go
  sdk/messaging/azservicebus/internal/stress/tests/benchmarks/backup_settlement_leak_test.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment.go
  sdk/messaging/azservicebus/internal/stress/tests/constant_detachment_sender.go
  sdk/messaging/azservicebus/internal/stress/tests/empty_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_peeks.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/finite_sessions.go
  sdk/messaging/azservicebus/internal/stress/tests/idle_fast_reconnect.go
  sdk/messaging/azservicebus/internal/stress/tests/infinite_send_and_receive.go
  sdk/messaging/azservicebus/internal/stress/tests/long_running_renew_lock.go
  sdk/messaging/azservicebus/internal/stress/tests/mostly_idle_receiver.go
  sdk/messaging/azservicebus/internal/stress/tests/open_close_measurements.go
  sdk/messaging/azservicebus/internal/stress/tests/rapid_open_close.go
  sdk/messaging/azservicebus/internal/stress/tests/receive_cancellation.go
  sdk/messaging/azservicebus/internal/stress/tests/send_and_receive_drain.go
  sdk/messaging/azservicebus/internal/test/test_helpers.go
  sdk/messaging/azservicebus/liveTestHelpers_test.go
  sdk/messaging/azservicebus/main_test.go
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/messageSettler_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender_test.go
  sdk/messaging/azservicebus/session_receiver_test.go
  sdk/messaging/azservicebus/test-resources.bicep
Labels: Service Bus

#22948 Sync eng/common directory with azure-sdk-tools for PR 8278
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#22950 Add debug logging for recursive go.mod searches
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#22877 [Release] sdk/resourcemanager/selfhelp/armselfhelp/2.0.0-beta.5
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/client_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlp_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlp_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlpsubscriptionscope_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlpsubscriptionscope_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlptenantscope_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlptenantscope_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/checknameavailability_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolutionnlp_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolutionnlpsubscriptionscope_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolutionnlptenantscope_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/server_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/options.go
  sdk/resourcemanager/selfhelp/armselfhelp/responses.go
  sdk/resourcemanager/selfhelp/armselfhelp/simplifiedsolutions_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/solutionselfhelp_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client_example_test.go
Labels: BreakingChange, Beta

#22949 TokenCredential factory for tests
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
  sdk/internal/test/credential/credential.go
  sdk/internal/test/credential/credential_test.go
  sdk/internal/version.go
Labels: Internal

#22951 Do not recursively search for go modules when service directory is known
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/scripts/Create-ApiReview.ps1
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#22941 Sync eng/common directory with azure-sdk-tools for PR 8319
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#22953 Add NewUUID to runtime package
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
Labels: Azure.Core

#22954 Sync eng/common directory with azure-sdk-tools for PR 8340
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#22945 [Release] sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/0.1.0
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/CHANGELOG.md
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/LICENSE.txt
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/README.md
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/autorest.md
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/build.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/ci.yml
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/client_factory.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/constants.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/internal.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/operations_server.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/organizations_server.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/server_factory.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/serverlessruntimes_server.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/fake/time_rfc3339.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/go.mod
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/go.sum
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/models.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/models_serde.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/operations_client.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/operations_client_example_test.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/options.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/organizations_client.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/organizations_client_example_test.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/responses.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/serverlessruntimes_client.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/serverlessruntimes_client_example_test.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/time_rfc3339.go
Labels: Mgmt, FirstBeta

#22808 [Release] sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/0.1.0
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/CHANGELOG.md
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/LICENSE.txt
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/README.md
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/autorest.md
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/build.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/ci.yml
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/client_factory.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/constants.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/imageversions_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/internal.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/operations_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/pools_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/resourcedetails_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/server_factory.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/sku_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/subscriptionusages_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.mod
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.sum
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/interfaces.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models_serde.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/options.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/polymorphic_helpers.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/responses.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/time_rfc3339.go
Labels: FirstBeta

#22958 Improve AzurePipelinesCredential errors
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/errors.go
  sdk/azidentity/managed_identity_client.go
Labels: Azure.Identity

#22956 Sync eng/common directory with azure-sdk-tools for PR 8324
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#22963 [azservicebus,azeventhubs] some more stress test fixes
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azeventhubs/internal/eh/stress/stress-test-resources.json
  sdk/messaging/azservicebus/internal/stress/Chart.lock
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep
Labels: Service Bus, Event Hubs

#22962 [aznamespaces] Event Grid, now using full TypeSpec generation!
  eng/config.json
  sdk/messaging/eventgrid/aznamespaces/CHANGELOG.md
  sdk/messaging/eventgrid/aznamespaces/autorest.md
  sdk/messaging/eventgrid/aznamespaces/build.go
  sdk/messaging/eventgrid/aznamespaces/client.go
  sdk/messaging/eventgrid/aznamespaces/client_custom.go
  sdk/messaging/eventgrid/aznamespaces/client_test.go
  sdk/messaging/eventgrid/aznamespaces/client_unit_test.go
  sdk/messaging/eventgrid/aznamespaces/constants.go
  sdk/messaging/eventgrid/aznamespaces/custom_models.go
  sdk/messaging/eventgrid/aznamespaces/example_publish_and_receive_test.go
  sdk/messaging/eventgrid/aznamespaces/example_test.go
  sdk/messaging/eventgrid/aznamespaces/go.mod
  sdk/messaging/eventgrid/aznamespaces/go.sum
  sdk/messaging/eventgrid/aznamespaces/internal/generate/generate.go
  sdk/messaging/eventgrid/aznamespaces/internal/generate/gopls/gopls.go
  sdk/messaging/eventgrid/aznamespaces/main_test.go
  sdk/messaging/eventgrid/aznamespaces/models.go
  sdk/messaging/eventgrid/aznamespaces/models_serde.go
  sdk/messaging/eventgrid/aznamespaces/options.go
  sdk/messaging/eventgrid/aznamespaces/receiver_client.go
  sdk/messaging/eventgrid/aznamespaces/receiver_client_custom.go
  sdk/messaging/eventgrid/aznamespaces/responses.go
  sdk/messaging/eventgrid/aznamespaces/sender_client.go
  sdk/messaging/eventgrid/aznamespaces/sender_client_custom.go
  sdk/messaging/eventgrid/aznamespaces/shared_test.go
  sdk/messaging/eventgrid/aznamespaces/test-resources.bicep
  sdk/messaging/eventgrid/aznamespaces/testdata/.gitignore
  sdk/messaging/eventgrid/aznamespaces/testdata/gen.ps1
  sdk/messaging/eventgrid/aznamespaces/testdata/package-lock.json
  sdk/messaging/eventgrid/aznamespaces/testdata/package.json
  sdk/messaging/eventgrid/aznamespaces/testdata/tsp-location.yaml
  sdk/messaging/eventgrid/aznamespaces/testdata/tspconfig.yaml
  sdk/messaging/eventgrid/aznamespaces/time_rfc3339.go
Labels: Event Grid

#22914 Blob, Files - Tests refactor after testproxy update
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Labels: Storage
