Repository Azure/azure-sdk-for-go, pull requests merged in 2024-03, with the labels that each got.

#22486 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22484 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#22390 Sync eng/common directory with azure-sdk-tools for PR 7686
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#22288 [Cosmos] Add logging changes and sample
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_error.go
  sdk/data/azcosmos/cosmos_error_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_headers.go
  sdk/data/azcosmos/cosmos_offers.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos, Do Not Merge

#22513 Sync .github/workflows directory with azure-sdk-tools for PR 7808
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22509 [azservicebus, azeventhubs] Updating to take in the new AMQP version.
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/stress/scenarios-matrix.yaml
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/templates/stress-test-job.yaml
  sdk/messaging/azservicebus/internal/stress/tests/open_close_measurements.go
  sdk/messaging/azservicebus/internal/stress/tests/tests.go
Labels: Service Bus, Event Hubs

#22516 Sync eng/common directory with azure-sdk-tools for PR 7758
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#22520 [azblob] Pageblob documentation fix
  sdk/storage/azblob/pageblob/examples_test.go
Labels: Storage, AzBlob

#22526 Sync eng/common directory with azure-sdk-tools for PR 7810
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: EngSys, Central-EngSys

#22521 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#22522 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#22540 Sync eng/common directory with azure-sdk-tools for PR 7823
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#22541 [azeventhubs] Fix race condition between Processor.Run being cancelled and NextPartitionClient
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
  sdk/messaging/azeventhubs/processor.go
  sdk/messaging/azeventhubs/processor_unit_test.go
Labels: Event Hubs

#22480 [AzDatalake] Append and Flush Lease Operations
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/path/constants.go
Labels: Storage, AzDatalake

#22517 Run live IMDS managed identity tests in weekly pipeline
  sdk/azidentity/ci.yml
  sdk/azidentity/live_test.go
  sdk/azidentity/managed-identity-matrix.json
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#22529 [monitor query] move logs to new azlogs module
  eng/config.json
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/LICENSE.txt
  sdk/monitor/query/azlogs/README.md
  sdk/monitor/query/azlogs/assets.json
  sdk/monitor/query/azlogs/autorest.md
  sdk/monitor/query/azlogs/build.go
  sdk/monitor/query/azlogs/ci.yml
  sdk/monitor/query/azlogs/client.go
  sdk/monitor/query/azlogs/client_test.go
  sdk/monitor/query/azlogs/cloud_config.go
  sdk/monitor/query/azlogs/constants.go
  sdk/monitor/query/azlogs/custom_client.go
  sdk/monitor/query/azlogs/examples_test.go
  sdk/monitor/query/azlogs/go.mod
  sdk/monitor/query/azlogs/go.sum
  sdk/monitor/query/azlogs/models.go
  sdk/monitor/query/azlogs/models_serde.go
  sdk/monitor/query/azlogs/options.go
  sdk/monitor/query/azlogs/response_types.go
  sdk/monitor/query/azlogs/test-resources.bicep
  sdk/monitor/query/azlogs/utils_test.go
  sdk/monitor/query/azlogs/version.go
Labels: Monitor, Client

#22548 [azlogs] remove pointers in generated slices
  sdk/monitor/query/azlogs/autorest.md
  sdk/monitor/query/azlogs/client_test.go
  sdk/monitor/query/azlogs/examples_test.go
  sdk/monitor/query/azlogs/models.go
Labels: Monitor, Client

#22549 Increment version for monitor/query/azlogs releases
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/version.go
Labels: Monitor

#22342 [monitor ingestion] move to new location
  eng/config.json
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/LICENSE.txt
  sdk/monitor/ingestion/azlogs/README.md
  sdk/monitor/ingestion/azlogs/TROUBLESHOOTING.md
  sdk/monitor/ingestion/azlogs/assets.json
  sdk/monitor/ingestion/azlogs/autorest.md
  sdk/monitor/ingestion/azlogs/build.go
  sdk/monitor/ingestion/azlogs/ci.ingestion.yml
  sdk/monitor/ingestion/azlogs/client.go
  sdk/monitor/ingestion/azlogs/client_test.go
  sdk/monitor/ingestion/azlogs/cloud_config.go
  sdk/monitor/ingestion/azlogs/custom_client.go
  sdk/monitor/ingestion/azlogs/example_test.go
  sdk/monitor/ingestion/azlogs/go.mod
  sdk/monitor/ingestion/azlogs/go.sum
  sdk/monitor/ingestion/azlogs/options.go
  sdk/monitor/ingestion/azlogs/response_types.go
  sdk/monitor/ingestion/azlogs/test-resources.bicep
  sdk/monitor/ingestion/azlogs/utils_test.go
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor, Client

#22551 Update example link in TOKEN_CACHING.MD
  sdk/azidentity/TOKEN_CACHING.MD
Labels: Azure.Identity

#22558 Sync eng/common directory with azure-sdk-tools for PR 7842
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#22560 Sync eng/common directory with azure-sdk-tools for PR 7835
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#22561 Sync .github/workflows directory with azure-sdk-tools for PR 7845
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#22567 Sync .github/workflows directory with azure-sdk-tools for PR 7848
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22568 Increment version for data/aztables releases
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Labels: Tables

#22570 Sync .github/workflows directory with azure-sdk-tools for PR 7853
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#22574 Increment version for monitor/ingestion/azlogs releases
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor

#22559 [Cosmos] Use []json.RawMessage for cosmos list unmarshal to avoid MaxInt64 mishandling
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_query_response_test.go
Labels: Cosmos, customer-reported, Community Contribution

#22562 Live Azure Functions managed identity test
  sdk/azidentity/ci.yml
  sdk/azidentity/managed-identity-matrix.json
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/test-resources-post.ps1
  sdk/azidentity/test-resources-pre.ps1
  sdk/azidentity/test-resources.bicep
  sdk/azidentity/testdata/managed-id-test/HttpTrigger/function.json
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/testdata/managed-id-test/host.json
  sdk/azidentity/testdata/managed-id-test/local.settings.json
  sdk/azidentity/testdata/managed-id-test/main.go
Labels: Azure.Identity

#22576 Add copyright header to bicep files
  sdk/ai/azopenai/test-resources.bicep
  sdk/ai/azopenaiassistants/test-resources.bicep
  sdk/containers/azcontainerregistry/test-resources.bicep
  sdk/messaging/azeventgrid/test-resources.bicep
  sdk/messaging/azeventhubs/test-resources.bicep
  sdk/messaging/azservicebus/internal/stress/stress-test-resources.bicep
  sdk/messaging/azservicebus/test-resources.bicep
  sdk/messaging/eventgrid/azeventgrid/test-resources.bicep
  sdk/messaging/eventgrid/aznamespaces/test-resources.bicep
  sdk/messaging/eventgrid/azsystemevents/test-resources.bicep
  sdk/monitor/azingest/test-resources.bicep
  sdk/monitor/azquery/test-resources.bicep
  sdk/monitor/ingestion/azlogs/test-resources.bicep
  sdk/monitor/query/azlogs/test-resources.bicep
  sdk/monitor/query/azmetrics/test-resources.bicep
Labels: Event Grid, Monitor, Service Bus, Event Hubs

#22580 Replace interface{} with any
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/core_test.go
  sdk/azcore/example_test.go
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/exported/response_error.go
  sdk/azcore/internal/log/log.go
  sdk/azcore/internal/pollers/async/async.go
  sdk/azcore/internal/pollers/async/async_test.go
  sdk/azcore/internal/pollers/body/body.go
  sdk/azcore/internal/pollers/body/body_test.go
  sdk/azcore/internal/pollers/fake/fake.go
  sdk/azcore/internal/pollers/fake/fake_test.go
  sdk/azcore/internal/pollers/loc/loc.go
  sdk/azcore/internal/pollers/loc/loc_test.go
  sdk/azcore/internal/pollers/op/op.go
  sdk/azcore/internal/pollers/op/op_test.go
  sdk/azcore/internal/pollers/util.go
  sdk/azcore/internal/pollers/util_test.go
  sdk/azcore/runtime/poller.go
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
  sdk/azcore/runtime/response.go
Labels: Azure.Core

#22578 [monitor ingestion] deprecate azingest
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/README.md
  sdk/monitor/azingest/go.mod
Labels: Monitor, Client

#22545 azidentity: treat empty tenant id as invalid
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
Labels: Azure.Identity

#22584 Sync eng/common directory with azure-sdk-tools for PR 7821
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#22585 Increment version for monitor/azingest releases
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/version.go
Labels: Monitor

#22575 [Cosmos] Fix data race issue with cosmos_global_endpoint_manager
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
Labels: Cosmos, customer-reported, Community Contribution

#22587 [azingest] remove deprecated code
  eng/config.json
  sdk/monitor/azingest/CHANGELOG.md
  sdk/monitor/azingest/LICENSE.txt
  sdk/monitor/azingest/README.md
  sdk/monitor/azingest/TROUBLESHOOTING.md
  sdk/monitor/azingest/assets.json
  sdk/monitor/azingest/autorest.md
  sdk/monitor/azingest/build.go
  sdk/monitor/azingest/ci.yml
  sdk/monitor/azingest/client.go
  sdk/monitor/azingest/client_test.go
  sdk/monitor/azingest/cloud_config.go
  sdk/monitor/azingest/custom_client.go
  sdk/monitor/azingest/example_test.go
  sdk/monitor/azingest/go.mod
  sdk/monitor/azingest/go.sum
  sdk/monitor/azingest/options.go
  sdk/monitor/azingest/response_types.go
  sdk/monitor/azingest/test-resources.bicep
  sdk/monitor/azingest/utils_test.go
  sdk/monitor/azingest/version.go
Labels: Monitor, Client

#22594 Sync eng/common directory with azure-sdk-tools for PR 7877
  eng/common/testproxy/test-proxy-tool-shutdown.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#22595 [azsystemevents] Formatting of my changelog was off.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Labels: Event Grid

#22394 [Cosmos] Implements Client Retry policy
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_offers.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Labels: Cosmos

#22590 `1ES-template` conversion
  eng/CredScanSuppression.json
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client-samples.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/mgmt-mock-test.yml
  eng/pipelines/templates/stages/ci-platform-matrix-complete.json
  eng/pipelines/templates/stages/ci-platform-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/variables/image.yml
  sdk/azcore/ci.yml
  sdk/security/keyvault/azadmin/platform-matrix.json
  sdk/security/keyvault/azkeys/platform-matrix.json
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/ci.yml
  sdk/template/aztemplate/version.go
Labels: KeyVault, Azure.Core, EngSys

#22593 [Cosmos] add logging for user database account
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
Labels: Cosmos

#22602 Sync eng/common directory with azure-sdk-tools for PR 7892
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#22601 [Monitor Query] update to latest swaggers
  sdk/monitor/query/azlogs/autorest.md
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/assets.json
  sdk/monitor/query/azmetrics/autorest.md
  sdk/monitor/query/azmetrics/client.go
Labels: Monitor, Client

#22605 Sync eng/common directory with azure-sdk-tools for PR 7841
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#22577 Add StatusCodes option to ARM RP registration policy
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/arm/runtime/policy_register_rp.go
  sdk/azcore/arm/runtime/policy_register_rp_test.go
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22610 Fix go identity matrix/pool selection
  sdk/azidentity/ci.yml
  sdk/azidentity/managed-identity-matrix.json
Labels: Central-EngSys

#22573 Add AllowInsecureAuth to ClientOptions
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/policy/policy.go
  sdk/azcore/arm/policy/policy_test.go
  sdk/azcore/arm/runtime/pipeline.go
  sdk/azcore/arm/runtime/policy_bearer_token.go
  sdk/azcore/arm/runtime/policy_bearer_token_test.go
  sdk/azcore/policy/policy.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
  sdk/azcore/runtime/policy_key_credential.go
  sdk/azcore/runtime/policy_key_credential_test.go
  sdk/azcore/runtime/policy_sas_credential.go
  sdk/azcore/runtime/policy_sas_credential_test.go
Labels: Azure.Core

#22614 Sync eng/common directory with azure-sdk-tools for PR 7896
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#22553 [Release] sdk/resourcemanager/servicelinker/armservicelinker/2.0.0-beta.1
  sdk/resourcemanager/servicelinker/armservicelinker/CHANGELOG.md
  sdk/resourcemanager/servicelinker/armservicelinker/README.md
  sdk/resourcemanager/servicelinker/armservicelinker/autorest.md
  sdk/resourcemanager/servicelinker/armservicelinker/client_factory.go
  sdk/resourcemanager/servicelinker/armservicelinker/configurationnames_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/configurationnames_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/connector_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/connector_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/constants.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/configurationnames_server.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/connector_server.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/internal.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/linker_server.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/linkers_server.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/operations_server.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/server_factory.go
  sdk/resourcemanager/servicelinker/armservicelinker/fake/time_rfc3339.go
  sdk/resourcemanager/servicelinker/armservicelinker/go.mod
  sdk/resourcemanager/servicelinker/armservicelinker/go.sum
  sdk/resourcemanager/servicelinker/armservicelinker/interfaces.go
  sdk/resourcemanager/servicelinker/armservicelinker/linker_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/linker_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/linkers_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/linkers_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/models.go
  sdk/resourcemanager/servicelinker/armservicelinker/models_serde.go
  sdk/resourcemanager/servicelinker/armservicelinker/operations_client.go
  sdk/resourcemanager/servicelinker/armservicelinker/operations_client_example_test.go
  sdk/resourcemanager/servicelinker/armservicelinker/options.go
  sdk/resourcemanager/servicelinker/armservicelinker/polymorphic_helpers.go
  sdk/resourcemanager/servicelinker/armservicelinker/response_types.go
  sdk/resourcemanager/servicelinker/armservicelinker/responses.go
  sdk/resourcemanager/servicelinker/armservicelinker/time_rfc3339.go
Labels: BreakingChange, Beta

#22598 [Cosmos] add preferred regions logging
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_database_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Labels: Cosmos

#22604 Sync eng/common directory with azure-sdk-tools for PR 7895
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22501 [Release] sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/1.0.0
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/CHANGELOG.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/README.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/autorest.md
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/binaryhardening_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/binaryhardening_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/client_factory.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/constants.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cryptocertificates_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cryptocertificates_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cryptokeys_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cryptokeys_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cves_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/cves_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/binaryhardening_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/cryptocertificates_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/cryptokeys_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/cves_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/firmware_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/firmwares_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/internal.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/passwordhashes_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/sbomcomponents_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/server_factory.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/summaries_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/time_rfc3339.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/fake/workspaces_server.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmware_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmware_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmwares_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/firmwares_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/go.mod
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/go.sum
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/interfaces.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/models.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/models_serde.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/operations_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/operations_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/options.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/passwordhashes_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/passwordhashes_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/polymorphic_helpers.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/response_types.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/responses.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/sbomcomponents_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/sbomcomponents_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/summaries_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/summaries_client_example_test.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/time_rfc3339.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/workspaces_client.go
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/workspaces_client_example_test.go
Labels: BreakingChange, FirstGA

#22552 [Release] sdk/resourcemanager/containerservice/armcontainerservice/4.8.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Stable

#22508 [Release] sdk/resourcemanager/chaos/armchaos/1.1.0
  sdk/resourcemanager/chaos/armchaos/CHANGELOG.md
  sdk/resourcemanager/chaos/armchaos/README.md
  sdk/resourcemanager/chaos/armchaos/assets.json
  sdk/resourcemanager/chaos/armchaos/autorest.md
  sdk/resourcemanager/chaos/armchaos/capabilities_client.go
  sdk/resourcemanager/chaos/armchaos/capabilities_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_client.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/client_factory.go
  sdk/resourcemanager/chaos/armchaos/constants.go
  sdk/resourcemanager/chaos/armchaos/experiments_client.go
  sdk/resourcemanager/chaos/armchaos/experiments_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/fake/operationstatuses_server.go
  sdk/resourcemanager/chaos/armchaos/fake/time_rfc3339.go
  sdk/resourcemanager/chaos/armchaos/models.go
  sdk/resourcemanager/chaos/armchaos/models_serde.go
  sdk/resourcemanager/chaos/armchaos/operations_client.go
  sdk/resourcemanager/chaos/armchaos/operationstatuses_client.go
  sdk/resourcemanager/chaos/armchaos/operationstatuses_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/polymorphic_helpers.go
  sdk/resourcemanager/chaos/armchaos/responses.go
  sdk/resourcemanager/chaos/armchaos/targets_client.go
  sdk/resourcemanager/chaos/armchaos/targets_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/targettypes_client.go
  sdk/resourcemanager/chaos/armchaos/targettypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/time_rfc3339.go
Labels: Stable

#22494 [Release] sdk/resourcemanager/communication/armcommunication/2.2.0
  sdk/resourcemanager/communication/armcommunication/CHANGELOG.md
  sdk/resourcemanager/communication/armcommunication/README.md
  sdk/resourcemanager/communication/armcommunication/autorest.md
  sdk/resourcemanager/communication/armcommunication/client_factory.go
  sdk/resourcemanager/communication/armcommunication/constants.go
  sdk/resourcemanager/communication/armcommunication/domains_client.go
  sdk/resourcemanager/communication/armcommunication/domains_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/fake/server_factory.go
  sdk/resourcemanager/communication/armcommunication/fake/suppressionlistaddresses_server.go
  sdk/resourcemanager/communication/armcommunication/fake/suppressionlists_server.go
  sdk/resourcemanager/communication/armcommunication/fake/time_rfc3339.go
  sdk/resourcemanager/communication/armcommunication/go.mod
  sdk/resourcemanager/communication/armcommunication/go.sum
  sdk/resourcemanager/communication/armcommunication/models.go
  sdk/resourcemanager/communication/armcommunication/models_serde.go
  sdk/resourcemanager/communication/armcommunication/operations_client.go
  sdk/resourcemanager/communication/armcommunication/operations_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/options.go
  sdk/resourcemanager/communication/armcommunication/responses.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/services_client.go
  sdk/resourcemanager/communication/armcommunication/services_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/suppressionlistaddresses_client.go
  sdk/resourcemanager/communication/armcommunication/suppressionlistaddresses_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/suppressionlists_client.go
  sdk/resourcemanager/communication/armcommunication/suppressionlists_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/time_rfc3339.go
Labels: Stable

#22511 [Release] sdk/resourcemanager/datafactory/armdatafactory/6.1.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/changedatacapture_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/interfaces.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/polymorphic_helpers.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: Mgmt, Stable

#22493 [Release] sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/1.2.0-beta.1
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/CHANGELOG.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/README.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/assets.json
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/autorest.md
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/client_factory.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/clusters_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/configurations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/constants.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/fake/clusters_server.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/fake/time_rfc3339.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/firewallrules_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/models_serde.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/operations_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/options.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/privatelinkresources_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/responses.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/roles_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/servers_client_example_test.go
  sdk/resourcemanager/cosmosforpostgresql/armcosmosforpostgresql/time_rfc3339.go
Labels: Beta

#22498 [Release] sdk/resourcemanager/quantum/armquantum/0.8.0
  sdk/resourcemanager/quantum/armquantum/CHANGELOG.md
  sdk/resourcemanager/quantum/armquantum/README.md
  sdk/resourcemanager/quantum/armquantum/autorest.md
  sdk/resourcemanager/quantum/armquantum/build.go
  sdk/resourcemanager/quantum/armquantum/client_factory.go
  sdk/resourcemanager/quantum/armquantum/constants.go
  sdk/resourcemanager/quantum/armquantum/fake/time_rfc3339.go
  sdk/resourcemanager/quantum/armquantum/fake/workspace_server.go
  sdk/resourcemanager/quantum/armquantum/go.mod
  sdk/resourcemanager/quantum/armquantum/go.sum
  sdk/resourcemanager/quantum/armquantum/models.go
  sdk/resourcemanager/quantum/armquantum/models_serde.go
  sdk/resourcemanager/quantum/armquantum/offerings_client.go
  sdk/resourcemanager/quantum/armquantum/offerings_client_example_test.go
  sdk/resourcemanager/quantum/armquantum/operations_client.go
  sdk/resourcemanager/quantum/armquantum/operations_client_example_test.go
  sdk/resourcemanager/quantum/armquantum/options.go
  sdk/resourcemanager/quantum/armquantum/responses.go
  sdk/resourcemanager/quantum/armquantum/time_rfc3339.go
  sdk/resourcemanager/quantum/armquantum/workspace_client.go
  sdk/resourcemanager/quantum/armquantum/workspace_client_example_test.go
  sdk/resourcemanager/quantum/armquantum/workspaces_client.go
  sdk/resourcemanager/quantum/armquantum/workspaces_client_example_test.go
Labels: Beta

#22492 [Release] sdk/resourcemanager/notificationhubs/armnotificationhubs/2.0.0-beta.1
  sdk/resourcemanager/notificationhubs/armnotificationhubs/CHANGELOG.md
  sdk/resourcemanager/notificationhubs/armnotificationhubs/README.md
  sdk/resourcemanager/notificationhubs/armnotificationhubs/assets.json
  sdk/resourcemanager/notificationhubs/armnotificationhubs/autorest.md
  sdk/resourcemanager/notificationhubs/armnotificationhubs/client.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/client_example_test.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/client_factory.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/constants.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/internal.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/namespaces_server.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/operations_server.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/privateendpointconnections_server.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/server.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/server_factory.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/fake/time_rfc3339.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/go.mod
  sdk/resourcemanager/notificationhubs/armnotificationhubs/models.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/models_serde.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/namespaces_client.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/namespaces_client_example_test.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/notificationhubs_live_test.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/operations_client.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/operations_client_example_test.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/options.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/privateendpointconnections_client.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/responses.go
  sdk/resourcemanager/notificationhubs/armnotificationhubs/time_rfc3339.go
Labels: BreakingChange, Beta

#22491 [Release] sdk/resourcemanager/search/armsearch/1.4.0-beta.1
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/README.md
  sdk/resourcemanager/search/armsearch/adminkeys_client.go
  sdk/resourcemanager/search/armsearch/adminkeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/assets.json
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/client_factory.go
  sdk/resourcemanager/search/armsearch/constants.go
  sdk/resourcemanager/search/armsearch/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/search/armsearch/fake/server_factory.go
  sdk/resourcemanager/search/armsearch/management_client.go
  sdk/resourcemanager/search/armsearch/management_client_example_test.go
  sdk/resourcemanager/search/armsearch/models.go
  sdk/resourcemanager/search/armsearch/models_serde.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/search/armsearch/operations_client.go
  sdk/resourcemanager/search/armsearch/operations_client_example_test.go
  sdk/resourcemanager/search/armsearch/options.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/querykeys_client.go
  sdk/resourcemanager/search/armsearch/querykeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/responses.go
  sdk/resourcemanager/search/armsearch/services_client.go
  sdk/resourcemanager/search/armsearch/services_client_example_test.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/usages_client.go
  sdk/resourcemanager/search/armsearch/usages_client_example_test.go
Labels: Beta

#22507 [Release] sdk/resourcemanager/nginx/armnginx/3.1.0-beta.1
  sdk/resourcemanager/nginx/armnginx/CHANGELOG.md
  sdk/resourcemanager/nginx/armnginx/README.md
  sdk/resourcemanager/nginx/armnginx/autorest.md
  sdk/resourcemanager/nginx/armnginx/build.go
  sdk/resourcemanager/nginx/armnginx/certificates_client.go
  sdk/resourcemanager/nginx/armnginx/certificates_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/client_factory.go
  sdk/resourcemanager/nginx/armnginx/configurations_client.go
  sdk/resourcemanager/nginx/armnginx/configurations_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/constants.go
  sdk/resourcemanager/nginx/armnginx/deployments_client.go
  sdk/resourcemanager/nginx/armnginx/deployments_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/fake/configurations_server.go
  sdk/resourcemanager/nginx/armnginx/fake/time_rfc3339.go
  sdk/resourcemanager/nginx/armnginx/go.mod
  sdk/resourcemanager/nginx/armnginx/go.sum
  sdk/resourcemanager/nginx/armnginx/models.go
  sdk/resourcemanager/nginx/armnginx/models_serde.go
  sdk/resourcemanager/nginx/armnginx/operations_client.go
  sdk/resourcemanager/nginx/armnginx/operations_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/options.go
  sdk/resourcemanager/nginx/armnginx/responses.go
  sdk/resourcemanager/nginx/armnginx/time_rfc3339.go
Labels: Beta

#22500 [Release] sdk/resourcemanager/batch/armbatch/2.3.0
  sdk/resourcemanager/batch/armbatch/CHANGELOG.md
  sdk/resourcemanager/batch/armbatch/account_client.go
  sdk/resourcemanager/batch/armbatch/account_client_example_test.go
  sdk/resourcemanager/batch/armbatch/application_client.go
  sdk/resourcemanager/batch/armbatch/application_client_example_test.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client.go
  sdk/resourcemanager/batch/armbatch/applicationpackage_client_example_test.go
  sdk/resourcemanager/batch/armbatch/autorest.md
  sdk/resourcemanager/batch/armbatch/certificate_client.go
  sdk/resourcemanager/batch/armbatch/certificate_client_example_test.go
  sdk/resourcemanager/batch/armbatch/client_factory.go
  sdk/resourcemanager/batch/armbatch/constants.go
  sdk/resourcemanager/batch/armbatch/fake/time_rfc3339.go
  sdk/resourcemanager/batch/armbatch/location_client.go
  sdk/resourcemanager/batch/armbatch/location_client_example_test.go
  sdk/resourcemanager/batch/armbatch/models.go
  sdk/resourcemanager/batch/armbatch/models_serde.go
  sdk/resourcemanager/batch/armbatch/operations_client.go
  sdk/resourcemanager/batch/armbatch/operations_client_example_test.go
  sdk/resourcemanager/batch/armbatch/pool_client.go
  sdk/resourcemanager/batch/armbatch/pool_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client.go
  sdk/resourcemanager/batch/armbatch/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client.go
  sdk/resourcemanager/batch/armbatch/privatelinkresource_client_example_test.go
  sdk/resourcemanager/batch/armbatch/responses.go
  sdk/resourcemanager/batch/armbatch/time_rfc3339.go
Labels: Stable

#22495 [Release] sdk/resourcemanager/confluent/armconfluent/1.3.0
  sdk/resourcemanager/confluent/armconfluent/CHANGELOG.md
  sdk/resourcemanager/confluent/armconfluent/README.md
  sdk/resourcemanager/confluent/armconfluent/access_client.go
  sdk/resourcemanager/confluent/armconfluent/access_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/autorest.md
  sdk/resourcemanager/confluent/armconfluent/client_factory.go
  sdk/resourcemanager/confluent/armconfluent/constants.go
  sdk/resourcemanager/confluent/armconfluent/fake/access_server.go
  sdk/resourcemanager/confluent/armconfluent/fake/internal.go
  sdk/resourcemanager/confluent/armconfluent/fake/organization_server.go
  sdk/resourcemanager/confluent/armconfluent/fake/time_rfc3339.go
  sdk/resourcemanager/confluent/armconfluent/go.mod
  sdk/resourcemanager/confluent/armconfluent/go.sum
  sdk/resourcemanager/confluent/armconfluent/marketplaceagreements_client.go
  sdk/resourcemanager/confluent/armconfluent/marketplaceagreements_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/models.go
  sdk/resourcemanager/confluent/armconfluent/models_serde.go
  sdk/resourcemanager/confluent/armconfluent/options.go
  sdk/resourcemanager/confluent/armconfluent/organization_client.go
  sdk/resourcemanager/confluent/armconfluent/organization_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/organizationoperations_client.go
  sdk/resourcemanager/confluent/armconfluent/organizationoperations_client_example_test.go
  sdk/resourcemanager/confluent/armconfluent/responses.go
  sdk/resourcemanager/confluent/armconfluent/time_rfc3339.go
  sdk/resourcemanager/confluent/armconfluent/validations_client.go
  sdk/resourcemanager/confluent/armconfluent/validations_client_example_test.go
Labels: Stable

#22617 HNS Encryption Context support
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
Labels: Storage, AzDatalake

#22497 [Release] sdk/resourcemanager/newrelic/armnewrelicobservability/1.2.0
  sdk/resourcemanager/newrelic/armnewrelicobservability/CHANGELOG.md
  sdk/resourcemanager/newrelic/armnewrelicobservability/README.md
  sdk/resourcemanager/newrelic/armnewrelicobservability/accounts_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/accounts_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/autorest.md
  sdk/resourcemanager/newrelic/armnewrelicobservability/billinginfo_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/billinginfo_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/client_factory.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/connectedpartnerresources_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/connectedpartnerresources_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/constants.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/billinginfo_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/connectedpartnerresources_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/internal.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitoredsubscriptions_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitors_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/server_factory.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/time_rfc3339.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.mod
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.sum
  sdk/resourcemanager/newrelic/armnewrelicobservability/models.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/models_serde.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/operations_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/operations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/options.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/organizations_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/organizations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/responses.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/time_rfc3339.go
Labels: Stable

#22510 sdk/resourcemanager/redisenterprise/armredisenterprise live test
  sdk/resourcemanager/redisenterprise/armredisenterprise/assets.json
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.mod
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.sum
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
Labels: Mgmt

#22519 sdk/resourcemanager/apicenter/armapicenter live test
  sdk/resourcemanager/apicenter/armapicenter/apicenter_live_test.go
  sdk/resourcemanager/apicenter/armapicenter/assets.json
  sdk/resourcemanager/apicenter/armapicenter/go.mod
  sdk/resourcemanager/apicenter/armapicenter/go.sum
Labels: Mgmt

#22581 Improved support for multipart/form payloads
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
  sdk/azcore/streaming/progress.go
  sdk/azcore/streaming/progress_test.go
Labels: Azure.Core

#22619 More fixes for managed identity weekly config
  sdk/azidentity/ci.yml
Labels: Central-EngSys

#22627 Run live Workload Identity (AKS) test in weekly pipeline
  sdk/azidentity/.gitignore
  sdk/azidentity/assets.json
  sdk/azidentity/test-resources-post.ps1
  sdk/azidentity/test-resources-pre.ps1
  sdk/azidentity/test-resources.bicep
  sdk/azidentity/testdata/managed-id-test/main.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#22442 [Release] sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/0.1.0
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/CHANGELOG.md
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/LICENSE.txt
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/README.md
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/autorest.md
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/build.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/ci.yml
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/client_factory.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/constants.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/internal.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/operations_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/sapapplicationserverinstances_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/sapcentralinstances_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/sapdatabaseinstances_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/sapvirtualinstances_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/server_factory.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/time_rfc3339.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/fake/workloads_server.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/go.mod
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/go.sum
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/interfaces.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/models.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/models_serde.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/operations_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/operations_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/options.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/polymorphic_helpers.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/responses.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapapplicationserverinstances_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapapplicationserverinstances_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapcentralinstances_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapcentralinstances_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapdatabaseinstances_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapdatabaseinstances_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapvirtualinstances_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapvirtualinstances_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/time_rfc3339.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/workloads_client.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/workloads_client_example_test.go
Labels: Mgmt, Do Not Merge, FirstBeta

#22632 Update sdk/internal dependencies
  sdk/internal/go.mod
  sdk/internal/go.sum
Labels: Internal

#22634 Upgrade azidentity dependencies
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
Labels: Azure.Identity

#22631 [aznamespaces] Fixing a brittle test that depended on the server-side error message
  sdk/messaging/eventgrid/aznamespaces/client_test.go
Labels: Event Grid

#22635 [Release] sdk/resourcemanager/sphere/armsphere/1.0.0
  sdk/resourcemanager/sphere/armsphere/CHANGELOG.md
  sdk/resourcemanager/sphere/armsphere/autorest.md
  sdk/resourcemanager/sphere/armsphere/catalogs_client.go
  sdk/resourcemanager/sphere/armsphere/catalogs_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/certificates_client.go
  sdk/resourcemanager/sphere/armsphere/certificates_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/client_factory.go
  sdk/resourcemanager/sphere/armsphere/constants.go
  sdk/resourcemanager/sphere/armsphere/deployments_client.go
  sdk/resourcemanager/sphere/armsphere/deployments_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/devicegroups_client.go
  sdk/resourcemanager/sphere/armsphere/devicegroups_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/devices_client.go
  sdk/resourcemanager/sphere/armsphere/devices_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/fake/catalogs_server.go
  sdk/resourcemanager/sphere/armsphere/fake/certificates_server.go
  sdk/resourcemanager/sphere/armsphere/fake/deployments_server.go
  sdk/resourcemanager/sphere/armsphere/fake/devicegroups_server.go
  sdk/resourcemanager/sphere/armsphere/fake/images_server.go
  sdk/resourcemanager/sphere/armsphere/fake/products_server.go
  sdk/resourcemanager/sphere/armsphere/fake/time_rfc3339.go
  sdk/resourcemanager/sphere/armsphere/go.mod
  sdk/resourcemanager/sphere/armsphere/go.sum
  sdk/resourcemanager/sphere/armsphere/images_client.go
  sdk/resourcemanager/sphere/armsphere/images_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/models.go
  sdk/resourcemanager/sphere/armsphere/models_serde.go
  sdk/resourcemanager/sphere/armsphere/operations_client.go
  sdk/resourcemanager/sphere/armsphere/operations_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/options.go
  sdk/resourcemanager/sphere/armsphere/products_client.go
  sdk/resourcemanager/sphere/armsphere/products_client_example_test.go
  sdk/resourcemanager/sphere/armsphere/responses.go
  sdk/resourcemanager/sphere/armsphere/time_rfc3339.go
Labels: Mgmt, BreakingChange, FirstGA

#22625 Paginated directory deletes
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
Labels: Storage

#22637 Prepare release changes for azcosmos 1.0
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos

#22639 Remove live SNI auth tests
  sdk/azidentity/assets.json
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/live_test.go
  sdk/azidentity/test-resources-pre.ps1
Labels: Azure.Identity

#22641 Update Azure AD Learn links in Identity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/MIGRATION.md
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/on_behalf_of_credential.go
  sdk/azidentity/test-resources.bicep
Labels: Azure.Identity

#22638 [azsystemevents] Regenerating based on c25006263b7c15ad5da755a5ef864e4301e56b54
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/autorest.md
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/custom_events.go
  sdk/messaging/eventgrid/azsystemevents/custom_events_test.go
  sdk/messaging/eventgrid/azsystemevents/error.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_enum.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_test.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/regex_helpers.go
  sdk/messaging/eventgrid/azsystemevents/internal/gopls/gopls.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
Labels: Event Grid

#22621 Sync eng/common directory with azure-sdk-tools for PR 7855
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#22650 Correct IMDS resource ID query parameter
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/assets.json
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/test-resources-post.ps1
Labels: Azure.Identity

#22654 generator tool fix
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  sdk/resourcemanager/apicenter/armapicenter/README.md
  sdk/resourcemanager/servicelinker/armservicelinker/README.md
Labels: Mgmt

#22651 Don't consider 429 as terminal failure for Location poller
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/pollers/loc/loc.go
  sdk/azcore/internal/pollers/loc/loc_test.go
Labels: Azure.Core

#22655 Sync eng/common directory with azure-sdk-tools for PR 7977
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#22657 Update loc.go
  sdk/azcore/internal/pollers/loc/loc.go
Labels: Azure.Core

#22649 Support template validation canary runs
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  sdk/template/aztemplate/ci.yml
Labels: Central-EngSys

#22652 Live Azure Container Instances managed identity test
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/test-resources-post.ps1
  sdk/azidentity/test-resources.bicep
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity
