Repository Azure/azure-sdk-for-go, pull requests merged in 2024-07, with the labels that each got.

#23119 [Storage][azqueue] solve linter issues
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/shared/shared_test.go
  sdk/storage/azqueue/internal/testcommon/common.go
  sdk/storage/azqueue/sas/query_params.go
  sdk/storage/azqueue/sas/service.go
  sdk/storage/azqueue/sas/service_test.go
  sdk/storage/azqueue/service_client_test.go
Labels: Storage

#22981 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#23127 Update AzurePipelinesCredential live test
  sdk/azidentity/azure_pipelines_credential_test.go
  sdk/azidentity/ci.yml
Labels: Azure.Identity

#23123 [keyvault] add more samples
  sdk/security/keyvault/azcertificates/example_test.go
Labels: Docs, KeyVault, Client

#23136 Upgrade armoracledatabase dependencies
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.mod
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.sum
Labels: Mgmt

#23139 Prepare sdk/internal v1.9.1 for release
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
Labels: Internal

#23143 Upgrade TSP dependencies affected by CVE
  sdk/ai/azopenaiassistants/testdata/package-lock.json
  sdk/ai/azopenaiassistants/testdata/package.json
  sdk/messaging/eventgrid/aznamespaces/testdata/package-lock.json
  sdk/messaging/eventgrid/aznamespaces/testdata/package.json
  sdk/messaging/eventgrid/azsystemevents/testdata/package-lock.json
  sdk/messaging/eventgrid/azsystemevents/testdata/package.json
Labels: Event Grid

#23125 [azservicebus,azeventhubs] Fix lint issues that are breaking pipelines.
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/consumer_client_internal_test.go
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/example_consuming_with_checkpoints_test.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
  sdk/messaging/azeventhubs/main_test.go
  sdk/messaging/azeventhubs/processor_load_balancer.go
  sdk/messaging/azeventhubs/producer_client.go
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/rpc.go
  sdk/messaging/azservicebus/internal/stress/tools/create_test_queue.go
  sdk/messaging/azservicebus/internal/stress/tools/delete_using_regexp.go
  sdk/messaging/azservicebus/internal/test/test_helpers.go
  sdk/messaging/azservicebus/message.go
Labels: Service Bus, Event Hubs

#23100 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23145 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#23141 [Release] sdk/resourcemanager/mongocluster/armmongocluster/0.1.0 by TypeSpec
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/LICENSE.txt
  sdk/resourcemanager/mongocluster/armmongocluster/README.md
  sdk/resourcemanager/mongocluster/armmongocluster/assets.json
  sdk/resourcemanager/mongocluster/armmongocluster/ci.yml
  sdk/resourcemanager/mongocluster/armmongocluster/client_factory.go
  sdk/resourcemanager/mongocluster/armmongocluster/constants.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/firewallrules_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/internal.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/mongoclusters_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/operations_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/privateendpointconnections_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/privatelinks_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/server_factory.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/time_rfc3339.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/go.sum
  sdk/resourcemanager/mongocluster/armmongocluster/models.go
  sdk/resourcemanager/mongocluster/armmongocluster/models_serde.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongocluster_live_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/options.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/responses.go
  sdk/resourcemanager/mongocluster/armmongocluster/time_rfc3339.go
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/utils_test.go
Labels: Mgmt

#23138 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#23126 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#23147 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#23152 Upgrade armmongocluster dependencies
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/go.sum
Labels: Mgmt

#23153 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#23164 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#23161 Use fake credental in aztables client constructor test
  sdk/data/aztables/client_test.go
Labels: Tables

#23154 Sync eng/common directory with azure-sdk-tools for PR 8558
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23150 [aznamespaces] Test cleanup
  sdk/messaging/eventgrid/aznamespaces/assets.json
  sdk/messaging/eventgrid/aznamespaces/client_test.go
  sdk/messaging/eventgrid/aznamespaces/example_publish_and_receive_test.go
  sdk/messaging/eventgrid/aznamespaces/main_test.go
  sdk/messaging/eventgrid/aznamespaces/shared_test.go
Labels: Event Grid

#23162 [Release] sdk/resourcemanager/edgezones/armedgezones/0.1.0
  sdk/resourcemanager/edgezones/armedgezones/CHANGELOG.md
  sdk/resourcemanager/edgezones/armedgezones/LICENSE.txt
  sdk/resourcemanager/edgezones/armedgezones/README.md
  sdk/resourcemanager/edgezones/armedgezones/ci.yml
  sdk/resourcemanager/edgezones/armedgezones/client_factory.go
  sdk/resourcemanager/edgezones/armedgezones/constants.go
  sdk/resourcemanager/edgezones/armedgezones/extendedzones_client.go
  sdk/resourcemanager/edgezones/armedgezones/fake/extendedzones_server.go
  sdk/resourcemanager/edgezones/armedgezones/fake/internal.go
  sdk/resourcemanager/edgezones/armedgezones/fake/operations_server.go
  sdk/resourcemanager/edgezones/armedgezones/fake/server_factory.go
  sdk/resourcemanager/edgezones/armedgezones/fake/time_rfc3339.go
  sdk/resourcemanager/edgezones/armedgezones/go.mod
  sdk/resourcemanager/edgezones/armedgezones/go.sum
  sdk/resourcemanager/edgezones/armedgezones/models.go
  sdk/resourcemanager/edgezones/armedgezones/models_serde.go
  sdk/resourcemanager/edgezones/armedgezones/operations_client.go
  sdk/resourcemanager/edgezones/armedgezones/options.go
  sdk/resourcemanager/edgezones/armedgezones/responses.go
  sdk/resourcemanager/edgezones/armedgezones/time_rfc3339.go
  sdk/resourcemanager/edgezones/armedgezones/tsp-location.yaml
Labels: Mgmt

#23166 Update azidentity changelog
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23168 [azservicebus] Adding in an example of how you could write your own lock renewer
  sdk/messaging/azservicebus/env.ps1
  sdk/messaging/azservicebus/example_client_autoRenewLocks_test.go
  sdk/messaging/azservicebus/receiver2_test.go
Labels: Service Bus

#23160 Use sdk/internal credential factory in storage tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azfile/internal/testcommon/clients_auth.go
Labels: Storage

#23177 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#23176 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#23175 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#23178 [Release] sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/1.0.0
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/CHANGELOG.md
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/autorest.md
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/constants.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/models.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/operations_client_example_test.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/organizations_client_example_test.go
  sdk/resourcemanager/informaticadatamgmt/arminformaticadatamgmt/serverlessruntimes_client_example_test.go
Labels: FirstGA

#23184 Test credential factory supports Pipelines federated auth
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
  sdk/internal/test/credential/credential.go
  sdk/internal/test/credential/credential_test.go
  sdk/internal/version.go
Labels: Internal

#23190 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#23186 [azcore] Adding in a function create a policy.Request using an existing *http.Request
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/exported_test.go
  sdk/azcore/internal/exported/request.go
  sdk/azcore/runtime/request.go
Labels: Azure.Core

#23188 chore: Update custom_client.go to enable insecure credential with HTTP
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/custom_client.go
Labels: customer-reported, Community Contribution

#23114 Redesign persistent token cache API
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_pipelines_credential.go
  sdk/azidentity/cache/cache.go
  sdk/azidentity/cache/cache_test.go
  sdk/azidentity/cache/ci.azidentity.yml
  sdk/azidentity/cache/darwin.go
  sdk/azidentity/cache/linux.go
  sdk/azidentity/cache/linux_test.go
  sdk/azidentity/cache/mock_test.go
  sdk/azidentity/cache/new_test.go
  sdk/azidentity/cache/windows.go
  sdk/azidentity/ci.yml
  sdk/azidentity/client_assertion_credential.go
  sdk/azidentity/client_certificate_credential.go
  sdk/azidentity/client_secret_credential.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/example_user_auth_test.go
  sdk/azidentity/interactive_browser_credential.go
  sdk/azidentity/internal/cache.go
  sdk/azidentity/internal/cache_test.go
  sdk/azidentity/internal/exported.go
  sdk/azidentity/internal/internal.go
  sdk/azidentity/mock_test.go
  sdk/azidentity/persistent_cache_live_test.go
  sdk/azidentity/public_client.go
  sdk/azidentity/username_password_credential.go
  sdk/azidentity/workload_identity.go
Labels: Azure.Identity

#23192 [azcore] prepping for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#23197 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22860 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#23202 Prepare azidentity v1.8.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#23194 Update user credential ClientID docs
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
Labels: Azure.Identity

#23205 Update token caching docs
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/example_user_auth_test.go
  sdk/azidentity/interactive_browser_credential.go
Labels: Azure.Identity

#23200 DownloadFile without Range.Count incurs 2 calls to GetProperties
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
Labels: Storage, AzFile, AzBlob

#23213 [Storage] [Blob, Files] Prep for STG 93 GA release
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23214 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23215 Prepare azidentity/cache v0.3.0 for release
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
Labels: Azure.Identity

#23219 Upgrade azidentity's cache dependency
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#23222 Reformat DefaultAzureCredential flow chart
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/azidentity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#23218 Update app registration guide link
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
Labels: Azure.Identity

#23223 fix armdeploymentscripts and armnetwork record test
  sdk/resourcemanager/network/armnetwork/assets.json
  sdk/resourcemanager/network/armnetwork/fake_example_test.go
  sdk/resourcemanager/resources/armdeploymentscripts/assets.json
  sdk/resourcemanager/resources/armdeploymentscripts/deploymentscripts_client_live_test.go
  sdk/resourcemanager/resources/armdeploymentscripts/go.mod
  sdk/resourcemanager/resources/armdeploymentscripts/go.sum
Labels: Mgmt

#23220 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#23221 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23224 Version refreshes for stg93 GA azdatalake release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23225 [Release] sdk/resourcemanager/internal/v3.1.0
  sdk/resourcemanager/internal/CHANGELOG.md
Labels: Mgmt

#23228 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#23204 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#23226 Increment version for resourcemanager/internal releases
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Labels: Mgmt

#23227 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23231 Upgrade azservicebus indirect yaml.v2 requirement
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Labels: Service Bus

#23210 [Release] sdk/resourcemanager/hybridcompute/armhybridcompute/2.0.0-beta.4
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machineruncommands_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machines_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/gateways_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/options.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/responses.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/settings_client_example_test.go
Labels: BreakingChange, Beta

#23206 Enable federated auth in Key Vault pipelines
  sdk/security/keyvault/azadmin/ci.yml
  sdk/security/keyvault/azcertificates/ci.yml
  sdk/security/keyvault/azsecrets/ci.yml
Labels: KeyVault

#23245 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#23236 [Storage] Swagger update for STG 94
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Labels: Storage

#23244 [Release] sdk/resourcemanager/computefleet/armcomputefleet/0.1.0 TypeSpec
  sdk/resourcemanager/computefleet/armcomputefleet/CHANGELOG.md
  sdk/resourcemanager/computefleet/armcomputefleet/LICENSE.txt
  sdk/resourcemanager/computefleet/armcomputefleet/README.md
  sdk/resourcemanager/computefleet/armcomputefleet/ci.yml
  sdk/resourcemanager/computefleet/armcomputefleet/client_factory.go
  sdk/resourcemanager/computefleet/armcomputefleet/constants.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/fleets_server.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/internal.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/operations_server.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/server_factory.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/time_rfc3339.go
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/go.mod
  sdk/resourcemanager/computefleet/armcomputefleet/go.sum
  sdk/resourcemanager/computefleet/armcomputefleet/models.go
  sdk/resourcemanager/computefleet/armcomputefleet/models_serde.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/options.go
  sdk/resourcemanager/computefleet/armcomputefleet/responses.go
  sdk/resourcemanager/computefleet/armcomputefleet/time_rfc3339.go
  sdk/resourcemanager/computefleet/armcomputefleet/tsp-location.yaml
Labels: Mgmt, FirstBeta

#23133 [Release] sdk/resourcemanager/redis/armredis/3.2.0
  sdk/resourcemanager/redis/armredis/CHANGELOG.md
  sdk/resourcemanager/redis/armredis/README.md
  sdk/resourcemanager/redis/armredis/accesspolicy_client.go
  sdk/resourcemanager/redis/armredis/accesspolicy_client_example_test.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redis/armredis/assets.json
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client.go
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client_example_test.go
  sdk/resourcemanager/redis/armredis/autorest.md
  sdk/resourcemanager/redis/armredis/client.go
  sdk/resourcemanager/redis/armredis/client_example_test.go
  sdk/resourcemanager/redis/armredis/client_factory.go
  sdk/resourcemanager/redis/armredis/constants.go
  sdk/resourcemanager/redis/armredis/fake/time_rfc3339.go
  sdk/resourcemanager/redis/armredis/firewallrules_client.go
  sdk/resourcemanager/redis/armredis/firewallrules_client_example_test.go
  sdk/resourcemanager/redis/armredis/linkedserver_client.go
  sdk/resourcemanager/redis/armredis/linkedserver_client_example_test.go
  sdk/resourcemanager/redis/armredis/models.go
  sdk/resourcemanager/redis/armredis/models_serde.go
  sdk/resourcemanager/redis/armredis/operations_client.go
  sdk/resourcemanager/redis/armredis/operations_client_example_test.go
  sdk/resourcemanager/redis/armredis/patchschedules_client.go
  sdk/resourcemanager/redis/armredis/patchschedules_client_example_test.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redis/armredis/responses.go
  sdk/resourcemanager/redis/armredis/time_rfc3339.go
  sdk/resourcemanager/redis/armredis/utils_test.go
Labels: Stable

#23140 [Release] sdk/resourcemanager/netapp/armnetapp/7.1.0
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/accounts_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/autorest.md
  sdk/resourcemanager/netapp/armnetapp/backuppolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderaccount_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsunderbackupvault_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupsundervolume_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/backupvaults_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/operations_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/pools_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resource_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourcequotalimits_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/resourceregioninfos_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshotpolicies_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/snapshots_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/subvolumes_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumegroups_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumequotarules_client_example_test.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Labels: Stable

#23247 fix sdk/resourcemanager/computefleet/armcomputefleet CHANGELOG
  sdk/resourcemanager/computefleet/armcomputefleet/CHANGELOG.md
Labels: Mgmt

#23238 [Release] sdk/resourcemanager/redhatopenshift/armredhatopenshift/1.6.0
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/CHANGELOG.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/autorest.md
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/client_factory.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/constants.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/fake/time_rfc3339.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/machinepools_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/models_serde.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftclusters_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/openshiftversions_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/operations_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/responses.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/secrets_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncidentityproviders_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/syncsets_client_example_test.go
  sdk/resourcemanager/redhatopenshift/armredhatopenshift/time_rfc3339.go
Labels: Mgmt, Stable

#23248 [Release] sdk/resourcemanager/containerservice/armcontainerservice/6.0.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/loadbalancers_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/go.sum
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#23252 [azeventgrid] Test cleanup so playback and live tests properly work.
  sdk/messaging/eventgrid/azeventgrid/assets.json
  sdk/messaging/eventgrid/azeventgrid/client_test.go
  sdk/messaging/eventgrid/azeventgrid/sanitizers_test.go
  sdk/messaging/eventgrid/azeventgrid/shared_test.go
Labels: Event Grid

#23254 Sync eng/common directory with azure-sdk-tools for PR 8677
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
Labels: EngSys, Central-EngSys

#23255 Sync eng/common directory with azure-sdk-tools for PR 8711
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#23246 Use sdk/internal credential factory in messaging tests
  sdk/messaging/azwebpubsub/client_shared_test.go
  sdk/messaging/eventgrid/azeventgrid/client_test.go
Labels: Event Grid

#23258 Upgrade armcomputefleet dependencies
  sdk/resourcemanager/computefleet/armcomputefleet/go.mod
  sdk/resourcemanager/computefleet/armcomputefleet/go.sum
Labels: Mgmt

#23261 Sync eng/common directory with azure-sdk-tools for PR 8721
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#23171 [Release] sdk/resourcemanager/liftrqumulo/armqumulo/2.0.0
  sdk/resourcemanager/liftrqumulo/armqumulo/CHANGELOG.md
  sdk/resourcemanager/liftrqumulo/armqumulo/README.md
  sdk/resourcemanager/liftrqumulo/armqumulo/autorest.md
  sdk/resourcemanager/liftrqumulo/armqumulo/client_factory.go
  sdk/resourcemanager/liftrqumulo/armqumulo/constants.go
  sdk/resourcemanager/liftrqumulo/armqumulo/fake/filesystems_server.go
  sdk/resourcemanager/liftrqumulo/armqumulo/fake/operations_server.go
  sdk/resourcemanager/liftrqumulo/armqumulo/fake/time_rfc3339.go
  sdk/resourcemanager/liftrqumulo/armqumulo/filesystems_client.go
  sdk/resourcemanager/liftrqumulo/armqumulo/filesystems_client_example_test.go
  sdk/resourcemanager/liftrqumulo/armqumulo/go.mod
  sdk/resourcemanager/liftrqumulo/armqumulo/models.go
  sdk/resourcemanager/liftrqumulo/armqumulo/models_serde.go
  sdk/resourcemanager/liftrqumulo/armqumulo/operations_client.go
  sdk/resourcemanager/liftrqumulo/armqumulo/operations_client_example_test.go
  sdk/resourcemanager/liftrqumulo/armqumulo/responses.go
  sdk/resourcemanager/liftrqumulo/armqumulo/time_rfc3339.go
Labels: BreakingChange, Approved Major Version, Stable

#23243 Use sdk/internal credential factory in monitor tests
  sdk/monitor/azquery/utils_test.go
  sdk/monitor/ingestion/azlogs/utils_test.go
  sdk/monitor/query/azmetrics/utils_test.go
Labels: Monitor
