Repository Azure/azure-sdk-for-go, pull requests merged in 2024-04, with the labels that each got.

#22659 Prep azcore@v1.11.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#22660 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22656 Sync eng/common directory with azure-sdk-tools for PR 7975
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#22658 Add new step to validate and create package name
  eng/pipelines/templates/steps/analyze.yml
Labels: Central-EngSys

#22665 Sync eng/common directory with azure-sdk-tools for PR 7986
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#22669 [Release] sdk/resourcemanager/network/armnetwork/5.1.1
  sdk/resourcemanager/network/armnetwork/CHANGELOG.md
  sdk/resourcemanager/network/armnetwork/autorest.md
  sdk/resourcemanager/network/armnetwork/constants.go
  sdk/resourcemanager/network/armnetwork/go.mod
  sdk/resourcemanager/network/armnetwork/go.sum
Labels: Mgmt

#22663 [azservicebus,azeventhubs] Adding in support for connecting to an emulator
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/exported/connection_string_properties.go
  sdk/messaging/azeventhubs/internal/exported/connection_string_properties_test.go
  sdk/messaging/azeventhubs/internal/namespace.go
  sdk/messaging/azeventhubs/internal/namespace_test.go
  sdk/messaging/azeventhubs/internal/sbauth/token_provider.go
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin_client_test.go
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/conn/conn.go
  sdk/messaging/azservicebus/internal/conn/conn_test.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/namespace.go
  sdk/messaging/azservicebus/internal/namespace_test.go
  sdk/messaging/azservicebus/internal/sas/sas.go
  sdk/messaging/azservicebus/internal/sbauth/token_provider.go
Labels: Service Bus, Event Hubs

#22667 [azeventgrid] Prepping for first GA of the Event Grid Basic package.
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/internal/version.go
Labels: Event Grid

#22672 Sync eng/common directory with azure-sdk-tools for PR 7988
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#22673 Sync eng/common directory with azure-sdk-tools for PR 7989
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#22674 Don't consider 408 as terminal failure for Location poller
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/pollers/loc/loc.go
  sdk/azcore/internal/pollers/loc/loc_test.go
Labels: Azure.Core

#22679 Increment version for messaging/eventgrid/azeventgrid releases
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/internal/version.go
Labels: Event Grid

#22678 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#22675 runtime.Poller.Result won't be done on non-terminal error
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/pollers/loc/loc.go
  sdk/azcore/internal/pollers/util.go
  sdk/azcore/internal/pollers/util_test.go
  sdk/azcore/runtime/poller.go
  sdk/azcore/runtime/poller_test.go
Labels: Azure.Core

#22677 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#22680 Prep azcore@v1.11.1 for release
  sdk/azcore/CHANGELOG.md
Labels: Azure.Core

#22682 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#22690 [Release] sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/0.3.0
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/CHANGELOG.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/README.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/autorest.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterpoolversions_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterpoolversions_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterversions_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/availableclusterversions_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/client_factory.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusteravailableupgrades_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusteravailableupgrades_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterjobs_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterjobs_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpoolavailableupgrades_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpoolavailableupgrades_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpools_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusterpools_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusters_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/clusters_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/constants.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/clusteravailableupgrades_server.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/clusterjobs_server.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/clusterpoolavailableupgrades_server.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/clusterpools_server.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/clusters_server.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/internal.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/server_factory.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/fake/time_rfc3339.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/go.mod
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/go.sum
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/interfaces.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/locations_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/locations_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/models.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/models_serde.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/operations_client.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/operations_client_example_test.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/options.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/polymorphic_helpers.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/responses.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/time_rfc3339.go
Labels: Mgmt, BreakingChange, Beta

#22636 Data Lake Create Bundle
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/examples_test.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
Labels: Storage, AzDatalake

#22683 [azsystemevents] Updating to release commit for April ca560e400087f54b306f3a21df582c8a5bbd0abc
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/autorest.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
Labels: Event Grid

#22701 Sync eng/common directory with azure-sdk-tools for PR 8015
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#22676 DefaultAzureCredential probes IMDS before sending it a token request
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/assets.json
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
Labels: Azure.Identity

#22505 [Release] sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/0.1.0
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/CHANGELOG.md
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/LICENSE.txt
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/README.md
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/autorest.md
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/build.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/ci.yml
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/client_factory.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/constants.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/internal.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/operations_server.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/sapdiscoverysites_server.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/sapinstances_server.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/server_factory.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/serverinstances_server.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/fake/time_rfc3339.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/go.mod
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/go.sum
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/interfaces.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/models.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/models_serde.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/operations_client.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/operations_client_example_test.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/options.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/polymorphic_helpers.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/responses.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/sapdiscoverysites_client.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/sapdiscoverysites_client_example_test.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/sapinstances_client.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/sapinstances_client_example_test.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/serverinstances_client.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/serverinstances_client_example_test.go
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/time_rfc3339.go
Labels: Do Not Merge, FirstBeta

#22710 fix armmigrationdiscoverysap ci.yml
  sdk/resourcemanager/migrationdiscovery/armmigrationdiscoverysap/ci.yml
Labels: Mgmt

#22685 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/1.2.0-beta.1
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/README.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/assets.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/updateruns_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/responses.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: Beta

#22661 azidentity v1.5.2
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/assets.json
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/go.work.sum
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential_test.go
Labels: Azure.Identity

#22700 azidentity test cleanup
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/client_certificate_credential_test.go
  sdk/azidentity/client_secret_credential_test.go
  sdk/azidentity/confidential_client.go
  sdk/azidentity/device_code_credential_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/interactive_browser_credential_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/username_password_credential_test.go
Labels: Azure.Identity

#22713 Upgrade keyvault/internal dependencies
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/challenge_policy.go
  sdk/security/keyvault/internal/challenge_policy_test.go
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Labels: KeyVault

#22712 Integrate InsecureAllowCredentialWithHTTP in storage
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/service_client.go
Labels: Storage

#22715 Changelog update for STG 91 Patch release - azblob, azfile
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
Labels: Storage

#22718 Disable retries for DefaultAzureCredential's IMDS probe
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/managed_identity_client.go
Labels: Azure.Identity

#22717 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#22716 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#22714 Prepare azidentity 1.6.0-beta.3 for release
  sdk/azidentity/CHANGELOG.md
Labels: Azure.Identity

#22720 azcosmos - Fix continuations types
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container_request_options.go
  sdk/data/azcosmos/cosmos_container_request_options_test.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_database_request_options.go
  sdk/data/azcosmos/cosmos_database_request_options_test.go
  sdk/data/azcosmos/cosmos_database_test.go
  sdk/data/azcosmos/cosmos_query_response.go
Labels: Cosmos

#22702 [azdatalake] Support for AAD Audience and Integrate InsecureAllowCredentialWithHTTP with Client Options
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/shared/challenge_policy.go
  sdk/storage/azdatalake/internal/shared/challenge_policy_test.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/client_test.go
Labels: Storage, AzDatalake

#22722 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22723 Increment version for security/keyvault/internal releases
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
Labels: KeyVault

#22725 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#22721 [Azdatalake] Storage adls STG 91 Preview
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/examples_test.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_response_types.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/constants.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/shared/challenge_policy.go
  sdk/storage/azdatalake/internal/shared/challenge_policy_test.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/client_test.go
Labels: Storage, AzDatalake

#22724 Increment version for data/azcosmos releases
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Labels: Cosmos

#22726 [AzDatalake] Changelog change for stg91 Preview
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22729 [azmetrics] update docs and prep for GA
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/README.md
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor, Client

#22730 Sync eng/common directory with azure-sdk-tools for PR 8053
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#22706 Add custom build tag for canary validation runs
  eng/pipelines/templates/stages/1es-redirect.yml
Labels: Central-EngSys

#22734 Sync eng/common directory with azure-sdk-tools for PR 8019
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#22735 Sync eng/common directory with azure-sdk-tools for PR 8062
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#22727 [query/azlogs] update docs and prep for GA
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/README.md
  sdk/monitor/query/azlogs/go.mod
  sdk/monitor/query/azlogs/go.sum
  sdk/monitor/query/azlogs/version.go
Labels: Docs, Monitor, Client

#22737 [azlogs] remove logs prefix
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/README.md
  sdk/monitor/query/azlogs/autorest.md
  sdk/monitor/query/azlogs/build.go
  sdk/monitor/query/azlogs/client_test.go
  sdk/monitor/query/azlogs/cloud_config.go
  sdk/monitor/query/azlogs/constants.go
  sdk/monitor/query/azlogs/custom_client.go
  sdk/monitor/query/azlogs/examples_test.go
  sdk/monitor/query/azlogs/models.go
  sdk/monitor/query/azlogs/options.go
  sdk/monitor/query/azlogs/utils_test.go
Labels: Monitor, Client

#22738 [azmetrics] rename MetricValues to MetricData
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/autorest.md
  sdk/monitor/query/azmetrics/models.go
  sdk/monitor/query/azmetrics/models_serde.go
Labels: Monitor, Client

#22686 [Release] sdk/resourcemanager/frontdoor/armfrontdoor/1.4.0
  sdk/resourcemanager/frontdoor/armfrontdoor/CHANGELOG.md
  sdk/resourcemanager/frontdoor/armfrontdoor/README.md
  sdk/resourcemanager/frontdoor/armfrontdoor/autorest.md
  sdk/resourcemanager/frontdoor/armfrontdoor/client_factory.go
  sdk/resourcemanager/frontdoor/armfrontdoor/constants.go
  sdk/resourcemanager/frontdoor/armfrontdoor/endpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/experiments_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/fake/time_rfc3339.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontdoors_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/frontendendpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/go.mod
  sdk/resourcemanager/frontdoor/armfrontdoor/go.sum
  sdk/resourcemanager/frontdoor/armfrontdoor/managedrulesets_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/managedrulesets_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/models.go
  sdk/resourcemanager/frontdoor/armfrontdoor/models_serde.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailability_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/nameavailabilitywithsubscription_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/networkexperimentprofiles_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/policies_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/policies_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/polymorphic_helpers.go
  sdk/resourcemanager/frontdoor/armfrontdoor/preconfiguredendpoints_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/reports_client.go
  sdk/resourcemanager/frontdoor/armfrontdoor/reports_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/responses.go
  sdk/resourcemanager/frontdoor/armfrontdoor/rulesengines_client_example_test.go
  sdk/resourcemanager/frontdoor/armfrontdoor/time_rfc3339.go
Labels: Stable

#22693 [Release] sdk/resourcemanager/cdn/armcdn/2.2.0
  sdk/resourcemanager/cdn/armcdn/CHANGELOG.md
  sdk/resourcemanager/cdn/armcdn/README.md
  sdk/resourcemanager/cdn/armcdn/afdcustomdomains_client.go
  sdk/resourcemanager/cdn/armcdn/afdcustomdomains_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/afdendpoints_client.go
  sdk/resourcemanager/cdn/armcdn/afdendpoints_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/afdorigingroups_client.go
  sdk/resourcemanager/cdn/armcdn/afdorigingroups_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/afdorigins_client.go
  sdk/resourcemanager/cdn/armcdn/afdorigins_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/afdprofiles_client.go
  sdk/resourcemanager/cdn/armcdn/afdprofiles_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/assets.json
  sdk/resourcemanager/cdn/armcdn/autorest.md
  sdk/resourcemanager/cdn/armcdn/client_factory.go
  sdk/resourcemanager/cdn/armcdn/constants.go
  sdk/resourcemanager/cdn/armcdn/customdomains_client.go
  sdk/resourcemanager/cdn/armcdn/customdomains_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/edgenodes_client.go
  sdk/resourcemanager/cdn/armcdn/edgenodes_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/endpoints_client.go
  sdk/resourcemanager/cdn/armcdn/endpoints_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/fake/polymorphic_helpers.go
  sdk/resourcemanager/cdn/armcdn/fake/time_rfc3339.go
  sdk/resourcemanager/cdn/armcdn/loganalytics_client.go
  sdk/resourcemanager/cdn/armcdn/loganalytics_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/managedrulesets_client.go
  sdk/resourcemanager/cdn/armcdn/managedrulesets_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/management_client.go
  sdk/resourcemanager/cdn/armcdn/management_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/models.go
  sdk/resourcemanager/cdn/armcdn/models_serde.go
  sdk/resourcemanager/cdn/armcdn/operations_client.go
  sdk/resourcemanager/cdn/armcdn/operations_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/origingroups_client.go
  sdk/resourcemanager/cdn/armcdn/origingroups_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/origins_client.go
  sdk/resourcemanager/cdn/armcdn/origins_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/policies_client.go
  sdk/resourcemanager/cdn/armcdn/policies_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/polymorphic_helpers.go
  sdk/resourcemanager/cdn/armcdn/profiles_client.go
  sdk/resourcemanager/cdn/armcdn/profiles_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/resourceusage_client.go
  sdk/resourcemanager/cdn/armcdn/resourceusage_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/responses.go
  sdk/resourcemanager/cdn/armcdn/routes_client.go
  sdk/resourcemanager/cdn/armcdn/routes_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/rules_client.go
  sdk/resourcemanager/cdn/armcdn/rules_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/rulesets_client.go
  sdk/resourcemanager/cdn/armcdn/rulesets_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/secrets_client.go
  sdk/resourcemanager/cdn/armcdn/secrets_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/securitypolicies_client.go
  sdk/resourcemanager/cdn/armcdn/securitypolicies_client_example_test.go
  sdk/resourcemanager/cdn/armcdn/time_rfc3339.go
Labels: Stable

#22747 Increment version for monitor/query/azmetrics releases
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor

#22748 Increment version for monitor/query/azlogs releases
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/version.go
Labels: Monitor

#22743 Sync eng/common directory with azure-sdk-tools for PR 8076
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#22728 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#22745 Default test recording sanitizers
  eng/pipelines/templates/steps/build-test.yml
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/default_sanitizers.go
  sdk/internal/recording/default_sanitizers_test.go
  sdk/internal/recording/recording.go
  sdk/internal/recording/sanitizer.go
  sdk/internal/recording/server.go
Labels: Internal

#22750 Prepare internal v1.6.0 for release
  sdk/internal/CHANGELOG.md
Labels: Internal

#22751 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#22755 [azeventgrid] Fixing broken URL in readme
  sdk/messaging/eventgrid/azeventgrid/README.md
Labels: Event Grid

#22754 Sync eng/common directory with azure-sdk-tools for PR 8110
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#22763 Sync eng/common directory with azure-sdk-tools for PR 8117
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#22761 [Monitor Ingestion] prep for GA release
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor, Client

#22759 Deprecate go-vcr based recording API
  sdk/internal/CHANGELOG.md
  sdk/internal/go.mod
  sdk/internal/go.sum
  sdk/internal/recording/recording.go
  sdk/internal/recording/recording_test.go
  sdk/internal/recording/request_matcher.go
  sdk/internal/recording/request_matcher_test.go
  sdk/internal/recording/sanitizer.go
  sdk/internal/recording/sanitizer_test.go
  sdk/internal/recording/testcontext.go
  sdk/internal/version.go
Labels: Internal

#22765 Sync eng/common directory with azure-sdk-tools for PR 8126
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#22764 Increment version for monitor/ingestion/azlogs releases
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor

#22766 Sync .github/workflows directory with azure-sdk-tools for PR 8131
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#22768 [Monitor Ingestion] update README
  eng/config.json
  sdk/monitor/ingestion/azlogs/README.md
Labels: Docs, Monitor, Client

#22740 [Release] sdk/resourcemanager/quota/armquota/1.1.0-beta.1
  sdk/resourcemanager/quota/armquota/CHANGELOG.md
  sdk/resourcemanager/quota/armquota/README.md
  sdk/resourcemanager/quota/armquota/assets.json
  sdk/resourcemanager/quota/armquota/autorest.md
  sdk/resourcemanager/quota/armquota/client.go
  sdk/resourcemanager/quota/armquota/client_example_test.go
  sdk/resourcemanager/quota/armquota/client_factory.go
  sdk/resourcemanager/quota/armquota/constants.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimits_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimitsrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalocationsettings_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotas_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocation_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocationrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionrequests_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptions_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotausages_server.go
  sdk/resourcemanager/quota/armquota/fake/server_factory.go
  sdk/resourcemanager/quota/armquota/fake/time_rfc3339.go
  sdk/resourcemanager/quota/armquota/groupquotalimits_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimits_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotas_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client_example_test.go
  sdk/resourcemanager/quota/armquota/models.go
  sdk/resourcemanager/quota/armquota/models_serde.go
  sdk/resourcemanager/quota/armquota/operation_client.go
  sdk/resourcemanager/quota/armquota/operation_client_example_test.go
  sdk/resourcemanager/quota/armquota/options.go
  sdk/resourcemanager/quota/armquota/polymorphic_helpers.go
  sdk/resourcemanager/quota/armquota/requeststatus_client.go
  sdk/resourcemanager/quota/armquota/requeststatus_client_example_test.go
  sdk/resourcemanager/quota/armquota/response_types.go
  sdk/resourcemanager/quota/armquota/responses.go
  sdk/resourcemanager/quota/armquota/time_rfc3339.go
  sdk/resourcemanager/quota/armquota/usages_client.go
  sdk/resourcemanager/quota/armquota/usages_client_example_test.go
Labels: Mgmt, Beta

#22732 [Release] sdk/resourcemanager/confidentialledger/armconfidentialledger/1.3.0-beta.2
  sdk/resourcemanager/confidentialledger/armconfidentialledger/CHANGELOG.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/autorest.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_factory.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/constants.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/ledger_server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/managedccf_server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/time_rfc3339.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.mod
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.sum
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models_serde.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/options.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/responses.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/time_rfc3339.go
Labels: Beta

#22731 [Release] sdk/resourcemanager/selfhelp/armselfhelp/2.0.0-beta.4
  sdk/resourcemanager/selfhelp/armselfhelp/CHANGELOG.md
  sdk/resourcemanager/selfhelp/armselfhelp/README.md
  sdk/resourcemanager/selfhelp/armselfhelp/assets.json
  sdk/resourcemanager/selfhelp/armselfhelp/autorest.md
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/checknameavailability_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/client_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/constants.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/diagnostics_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlpsubscriptionscope_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlpsubscriptionscope_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlptenantscope_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/discoverysolutionnlptenantscope_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolution_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolutionnlpsubscriptionscope_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/discoverysolutionnlptenantscope_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/server_factory.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/simplifiedsolutions_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/solution_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/solutionselfhelp_server.go
  sdk/resourcemanager/selfhelp/armselfhelp/fake/time_rfc3339.go
  sdk/resourcemanager/selfhelp/armselfhelp/help_live_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/models.go
  sdk/resourcemanager/selfhelp/armselfhelp/models_serde.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/operations_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/options.go
  sdk/resourcemanager/selfhelp/armselfhelp/responses.go
  sdk/resourcemanager/selfhelp/armselfhelp/simplifiedsolutions_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/simplifiedsolutions_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/solution_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/solutionselfhelp_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/solutionselfhelp_client_example_test.go
  sdk/resourcemanager/selfhelp/armselfhelp/time_rfc3339.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client.go
  sdk/resourcemanager/selfhelp/armselfhelp/troubleshooters_client_example_test.go
Labels: BreakingChange, Beta

#22692 [Release] sdk/resourcemanager/hybridcompute/armhybridcompute/2.0.0-beta.2
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/README.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/agentversion_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/agentversion_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/autorest.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/client_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/constants.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/extensionmetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/agentversion_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/hybrididentitymetadata_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenseprofiles_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/licenses_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machineruncommands_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/machines_server.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/server_factory.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/fake/time_rfc3339.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.mod
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.sum
  sdk/resourcemanager/hybridcompute/armhybridcompute/hybrididentitymetadata_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/hybrididentitymetadata_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenseprofiles_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/licenses_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineextensions_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machineruncommands_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/machines_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/networkprofile_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/operations_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/options.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/responses.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/time_rfc3339.go
Labels: Beta

#22691 [Release] sdk/resourcemanager/healthcareapis/armhealthcareapis/2.1.0
  sdk/resourcemanager/healthcareapis/armhealthcareapis/CHANGELOG.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/README.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/autorest.md
  sdk/resourcemanager/healthcareapis/armhealthcareapis/client_factory.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/constants.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/dicomservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/dicomservices_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fake/time_rfc3339.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirdestinations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirdestinations_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirservices_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/fhirservices_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/go.mod
  sdk/resourcemanager/healthcareapis/armhealthcareapis/go.sum
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectorfhirdestination_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectorfhirdestination_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectors_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/iotconnectors_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/models_serde.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operationresults_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operationresults_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operations_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/operations_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/privatelinkresources_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/responses.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/services_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/services_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/time_rfc3339.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivateendpointconnections_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivatelinkresources_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaceprivatelinkresources_client_example_test.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaces_client.go
  sdk/resourcemanager/healthcareapis/armhealthcareapis/workspaces_client_example_test.go
Labels: Stable

#22733 [Release] sdk/resourcemanager/deviceregistry/armdeviceregistry/0.1.0
  sdk/resourcemanager/deviceregistry/armdeviceregistry/CHANGELOG.md
  sdk/resourcemanager/deviceregistry/armdeviceregistry/LICENSE.txt
  sdk/resourcemanager/deviceregistry/armdeviceregistry/README.md
  sdk/resourcemanager/deviceregistry/armdeviceregistry/assetendpointprofiles_client.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/assetendpointprofiles_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/assets_client.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/assets_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/autorest.md
  sdk/resourcemanager/deviceregistry/armdeviceregistry/build.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/ci.yml
  sdk/resourcemanager/deviceregistry/armdeviceregistry/client_factory.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/constants.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/assetendpointprofiles_server.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/assets_server.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/internal.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/operations_server.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/operationstatus_server.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/server_factory.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/fake/time_rfc3339.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.mod
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.sum
  sdk/resourcemanager/deviceregistry/armdeviceregistry/models.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/models_serde.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/operations_client.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/operations_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/operationstatus_client.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/operationstatus_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/options.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/responses.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/time_rfc3339.go
Labels: FirstBeta

#22688 [Release] sdk/resourcemanager/standbypool/armstandbypool/0.1.0
  sdk/resourcemanager/standbypool/armstandbypool/CHANGELOG.md
  sdk/resourcemanager/standbypool/armstandbypool/LICENSE.txt
  sdk/resourcemanager/standbypool/armstandbypool/README.md
  sdk/resourcemanager/standbypool/armstandbypool/autorest.md
  sdk/resourcemanager/standbypool/armstandbypool/build.go
  sdk/resourcemanager/standbypool/armstandbypool/ci.yml
  sdk/resourcemanager/standbypool/armstandbypool/client_factory.go
  sdk/resourcemanager/standbypool/armstandbypool/constants.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/internal.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/operations_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/server_factory.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbycontainergrouppools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachinepools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachines_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/time_rfc3339.go
  sdk/resourcemanager/standbypool/armstandbypool/go.mod
  sdk/resourcemanager/standbypool/armstandbypool/go.sum
  sdk/resourcemanager/standbypool/armstandbypool/models.go
  sdk/resourcemanager/standbypool/armstandbypool/models_serde.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/options.go
  sdk/resourcemanager/standbypool/armstandbypool/responses.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/time_rfc3339.go
Labels: FirstBeta

#22207 sdk/resourcemanager/storagemover/armstoragemover live test
  sdk/resourcemanager/storagemover/armstoragemover/agent_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/assets.json
  sdk/resourcemanager/storagemover/armstoragemover/go.mod
  sdk/resourcemanager/storagemover/armstoragemover/go.sum
  sdk/resourcemanager/storagemover/armstoragemover/storagemover_live_test.go
Labels: Mgmt

#22772 Service version upgrade for stg 93 storage
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
Labels: Storage

#22774 fix armkubernetesconfiguration example
  sdk/resourcemanager/kubernetesconfiguration/armkubernetesconfiguration/extensions_client_example_test.go
Labels: Mgmt

#22696 [Release] sdk/resourcemanager/containerservice/armcontainerservice/5.0.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/internal.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22769 [azmetrics] update readme
  sdk/monitor/query/azmetrics/README.md
Labels: Docs, Monitor, Client

#22778 Sync eng/common directory with azure-sdk-tools for PR 8152
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#22697 [Release] sdk/resourcemanager/datafactory/armdatafactory/7.0.0
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/README.md
  sdk/resourcemanager/datafactory/armdatafactory/activityruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/autorest.md
  sdk/resourcemanager/datafactory/armdatafactory/changedatacapture_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/constants.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client.go
  sdk/resourcemanager/datafactory/armdatafactory/credentialoperations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflowdebugsession_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/dataflows_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/datasets_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/exposurecontrol_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/factories_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/activityruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/changedatacapture_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/credentialoperations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflowdebugsession_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/dataflows_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/datasets_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/exposurecontrol_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/factories_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/globalparameters_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimenodes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimeobjectmetadata_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/integrationruntimes_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/linkedservices_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/managedvirtualnetworks_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/operations_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelineruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/pipelines_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnection_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privateendpointconnections_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/privatelinkresources_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggerruns_server.go
  sdk/resourcemanager/datafactory/armdatafactory/fake/triggers_server.go
  sdk/resourcemanager/datafactory/armdatafactory/globalparameters_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/go.mod
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimenodes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimeobjectmetadata_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/integrationruntimes_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/linkedservices_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/managedvirtualnetworks_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/models.go
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
  sdk/resourcemanager/datafactory/armdatafactory/operations_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelineruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/pipelines_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/polymorphic_helpers.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/privatelinkresources_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/responses.go
  sdk/resourcemanager/datafactory/armdatafactory/triggerruns_client_example_test.go
  sdk/resourcemanager/datafactory/armdatafactory/triggers_client_example_test.go
Labels: BreakingChange, Approved Major Version, Stable

#22781 Update dependencies for ARM internal module
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/go.mod
  sdk/resourcemanager/internal/go.sum
Labels: Mgmt

#22780 Sync eng/common directory with azure-sdk-tools for PR 8158
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
  eng/target_proxy_version.txt
  sdk/internal/recording/server.go
Labels: EngSys, Central-EngSys

#22790 recording.SanitizedValue matches test proxy
  sdk/internal/CHANGELOG.md
  sdk/internal/recording/sanitizer.go
Labels: Internal

#22794 Dependency updates
  sdk/internal/go.mod
  sdk/internal/go.sum
Labels: Internal

#22797 Update dependencies.
  profile/p20200901/go.mod
  profile/p20200901/go.sum
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
  sdk/template/aztemplate/go.mod
  sdk/template/aztemplate/go.sum
Labels: Azure.Core, EngSys

#22784 [azservicebus] Adding in the DeleteMessages feature. This is a new feature in preview.
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/amqpwrap/rpc.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/utils/types.go
  sdk/messaging/azservicebus/internal/utils/types_test.go
  sdk/messaging/azservicebus/liveTestHelpers_test.go
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/messageSettler_test.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender_test.go
  sdk/messaging/azservicebus/session_receiver.go
  sdk/messaging/azservicebus/session_receiver_test.go
Labels: Service Bus

#22753 [Monitor Query] new migration guide
  sdk/monitor/azquery/MIGRATION.md
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/query/MIGRATION.md
Labels: Docs, Monitor, Client
