Repository Azure/azure-sdk-for-go, pull requests merged in 2025-01, with the labels that each got.

#23903 Sync eng/common directory with azure-sdk-tools for PR 9580
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#23907 Prepare azcore v1.17.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#23909 [azsystemevents] Jan 2025 updates for system events
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Labels: Event Grid

#23908 Sync eng/common directory with azure-sdk-tools for PR 9584
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#23902 [AzFiles] Provisioned v2 billing model
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23918 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#23911 [azservicebus,azeventhubs] Updating stress tests to update dependencies
  sdk/messaging/azeventhubs/consumer_client_test.go
  sdk/messaging/azeventhubs/example_websockets_and_proxies_test.go
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/internal/eh/stress/shared/telemetry_client_wrapper.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/balance_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/metric_names.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/processor_stress_tester.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/telemetry_client.go
  sdk/messaging/azeventhubs/internal/namespace_test.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/example_websockets_and_proxies_test.go
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/stress/shared/metric_names.go
  sdk/messaging/azservicebus/internal/stress/shared/stress_context.go
  sdk/messaging/azservicebus/internal/stress/shared/telemetry_client_wrapper.go
  sdk/messaging/azservicebus/internal/stress/shared/tracking_receiver.go
  sdk/messaging/azservicebus/internal/stress/shared/tracking_sender.go
Labels: Service Bus, Event Hubs

#23921 [azsystemevents] Updating with latest .tsp to correct casing for some types in Go.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Labels: Event Grid

#23924 disable sovereign cloud
  sdk/monitor/azquery/ci.yml
  sdk/monitor/ingestion/azlogs/ci.ingestion.yml
  sdk/monitor/query/azlogs/ci.yml
  sdk/monitor/query/azmetrics/ci.yml
  sdk/security/keyvault/azcertificates/ci.yml
  sdk/security/keyvault/azkeys/ci.yml
  sdk/security/keyvault/azsecrets/ci.yml
Labels: KeyVault, Monitor

#23922 [storage] Stg96 preview
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_options.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azdatalake/internal/testcommon/clients_auth.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/constants.go
  sdk/storage/azfile/share/models.go
Labels: Storage

#23929 [azservicebus] Fixing bug from #23893, where a message could be received in the mess…
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/stress/tests/send_and_receive_drain.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/receiver_unit_test.go
Labels: Service Bus

#23931 Changelog and version upgrades for stg 96 preview
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23939 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23933 [azservicebus] Unexpose feature that's not yet public.
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/example_client_test.go
Labels: Service Bus

#23942 [azservicebus] Prep for release
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#23934 Updating README references of docs.microsoft.com to learn.microsoft.com
  sdk/containers/azcontainerregistry/README.md
  sdk/data/azcosmos/README.md
  sdk/messaging/azeventhubs/README.md
  sdk/messaging/azservicebus/README.md
  sdk/messaging/azwebpubsub/README.md
  sdk/messaging/eventgrid/azeventgrid/README.md
  sdk/messaging/eventgrid/azsystemevents/README.md
  sdk/security/keyvault/azadmin/README.md
  sdk/security/keyvault/azcertificates/README.md
  sdk/security/keyvault/azkeys/README.md
  sdk/security/keyvault/azsecrets/README.md
  sdk/storage/azdatalake/README.md
  sdk/storage/azfile/README.md
  sdk/storage/azqueue/README.md
  sdk/template/aztemplate/README.md
Labels: Storage, KeyVault, Cosmos, Event Grid, Service Bus, Event Hubs, EngSys

#23949 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#23950 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#23952 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#23948 Sync eng/common directory with azure-sdk-tools for PR 9614
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23951 Relax tenant verification for credentials having optional tenant IDs
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/azure_cli_credential.go
  sdk/azidentity/azure_developer_cli_credential.go
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/device_code_credential.go
  sdk/azidentity/interactive_browser_credential.go
Labels: Azure.Identity

#23957 Release storage stg96 azdatalake preview
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23958 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23954 Prepare azidentity v1.8.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#23960 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#23961 [azmetrics] prep for release
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
Labels: Monitor, Client

#23963 Increment version for monitor/query/azmetrics releases
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor

#23962 Prepare azidentity/cache v0.3.2 for release
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Labels: Azure.Identity

#23964 Sync eng/common directory with azure-sdk-tools for PR 9635
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23965 Increment version for azidentity/cache releases
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/version.go
Labels: Azure.Identity

#23868 Sync eng/common directory with azure-sdk-tools for PR 9529
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#23969 Sync eng/common directory with azure-sdk-tools for PR 9649
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23906 [azadmin] convert to typespec
  sdk/security/keyvault/azadmin/backup/autorest.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/client_test.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/example_test.go
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/backup/models.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/options.go
  sdk/security/keyvault/azadmin/backup/responses.go
  sdk/security/keyvault/azadmin/backup/time_unix.go
  sdk/security/keyvault/azadmin/backup/tsp-location.yaml
  sdk/security/keyvault/azadmin/backup/utils_test.go
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/internal/generate/transforms.go
  sdk/security/keyvault/azadmin/internal/version.go
  sdk/security/keyvault/azadmin/rbac/autorest.md
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/client_test.go
  sdk/security/keyvault/azadmin/rbac/constants.go
  sdk/security/keyvault/azadmin/rbac/custom_client.go
  sdk/security/keyvault/azadmin/rbac/example_test.go
  sdk/security/keyvault/azadmin/rbac/models.go
  sdk/security/keyvault/azadmin/rbac/models_serde.go
  sdk/security/keyvault/azadmin/rbac/options.go
  sdk/security/keyvault/azadmin/rbac/responses.go
  sdk/security/keyvault/azadmin/rbac/tsp-location.yaml
  sdk/security/keyvault/azadmin/rbac/utils_test.go
  sdk/security/keyvault/azadmin/settings/autorest.md
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/constants.go
  sdk/security/keyvault/azadmin/settings/custom_client.go
  sdk/security/keyvault/azadmin/settings/models.go
  sdk/security/keyvault/azadmin/settings/models_serde.go
  sdk/security/keyvault/azadmin/settings/options.go
  sdk/security/keyvault/azadmin/settings/responses.go
  sdk/security/keyvault/azadmin/settings/tsp-location.yaml
  sdk/security/keyvault/azadmin/settings/utils_test.go
Labels: KeyVault, Client

#23970 Remove sovereign cloud testing references
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/containers/azcontainerregistry/ci.yml
  sdk/messaging/azeventhubs/ci.yml
  sdk/messaging/azservicebus/ci.yml
  sdk/security/keyvault/azkeys/ci.yml
Labels: Central-EngSys

#23971 Sync eng/common directory with azure-sdk-tools for PR 9577
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#23973 Sync eng/common directory with azure-sdk-tools for PR 9650
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#23966 Sync eng/common directory with azure-sdk-tools for PR 9601
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#23975 [azsystemevents] Updating to commit has for release, prepping release
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Labels: Event Grid

#23953 Sync eng/common directory with azure-sdk-tools for PR 9620
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#23901 [Release] sdk/resourcemanager/redis/armredis/3.3.0
  sdk/resourcemanager/redis/armredis/CHANGELOG.md
  sdk/resourcemanager/redis/armredis/accesspolicy_client.go
  sdk/resourcemanager/redis/armredis/accesspolicy_client_example_test.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client.go
  sdk/resourcemanager/redis/armredis/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redis/armredis/assets.json
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client.go
  sdk/resourcemanager/redis/armredis/asyncoperationstatus_client_example_test.go
  sdk/resourcemanager/redis/armredis/autorest.md
  sdk/resourcemanager/redis/armredis/client.go
  sdk/resourcemanager/redis/armredis/client_example_test.go
  sdk/resourcemanager/redis/armredis/constants.go
  sdk/resourcemanager/redis/armredis/firewallrules_client.go
  sdk/resourcemanager/redis/armredis/firewallrules_client_example_test.go
  sdk/resourcemanager/redis/armredis/linkedserver_client.go
  sdk/resourcemanager/redis/armredis/linkedserver_client_example_test.go
  sdk/resourcemanager/redis/armredis/models.go
  sdk/resourcemanager/redis/armredis/models_serde.go
  sdk/resourcemanager/redis/armredis/operations_client.go
  sdk/resourcemanager/redis/armredis/operations_client_example_test.go
  sdk/resourcemanager/redis/armredis/patchschedules_client.go
  sdk/resourcemanager/redis/armredis/patchschedules_client_example_test.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client.go
  sdk/resourcemanager/redis/armredis/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client.go
  sdk/resourcemanager/redis/armredis/privatelinkresources_client_example_test.go
Labels: Stable

#23967 [Storage] Stg97 swagger generates
  eng/config.json
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Labels: Storage

#23930 [Release] sdk/resourcemanager/computeschedule/armcomputeschedule/1.0.0
  sdk/resourcemanager/computeschedule/armcomputeschedule/CHANGELOG.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/assets.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/autorest.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/ci.yml
  sdk/resourcemanager/computeschedule/armcomputeschedule/constants.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/go.mod
  sdk/resourcemanager/computeschedule/armcomputeschedule/go.sum
  sdk/resourcemanager/computeschedule/armcomputeschedule/models.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operation_live_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/utils_test.go
Labels: BreakingChange, FirstGA

#23982 Update duplicate test name
  sdk/storage/azblob/blob/client_test.go
Labels: Storage

#23981 Sync eng/common directory with azure-sdk-tools for PR 9652
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.js
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#23978 [azeventhubs] Fixing bicep to remove shared key/connection string auth
  sdk/messaging/azeventhubs/test-resources.bicep
Labels: Event Hubs

#23977 Sync eng/common directory with azure-sdk-tools for PR 9658
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#23984 Increment version for messaging/eventgrid/azsystemevents releases
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Labels: Event Grid

#23968 [Release] sdk/resourcemanager/quota/armquota/1.1.0-beta.2
  sdk/resourcemanager/quota/armquota/CHANGELOG.md
  sdk/resourcemanager/quota/armquota/assets.json
  sdk/resourcemanager/quota/armquota/autorest.md
  sdk/resourcemanager/quota/armquota/client.go
  sdk/resourcemanager/quota/armquota/client_example_test.go
  sdk/resourcemanager/quota/armquota/client_factory.go
  sdk/resourcemanager/quota/armquota/constants.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimits_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimitsrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalocationsettings_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocation_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocationrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotausages_server.go
  sdk/resourcemanager/quota/armquota/fake/server_factory.go
  sdk/resourcemanager/quota/armquota/groupquotalimits_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimits_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotas_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client_example_test.go
  sdk/resourcemanager/quota/armquota/models.go
  sdk/resourcemanager/quota/armquota/models_serde.go
  sdk/resourcemanager/quota/armquota/operation_client.go
  sdk/resourcemanager/quota/armquota/operation_client_example_test.go
  sdk/resourcemanager/quota/armquota/options.go
  sdk/resourcemanager/quota/armquota/quota_live_test.go
  sdk/resourcemanager/quota/armquota/requeststatus_client.go
  sdk/resourcemanager/quota/armquota/requeststatus_client_example_test.go
  sdk/resourcemanager/quota/armquota/responses.go
  sdk/resourcemanager/quota/armquota/usages_client.go
  sdk/resourcemanager/quota/armquota/usages_client_example_test.go
Labels: Mgmt

#23990 Sync eng/common directory with azure-sdk-tools for PR 9668
  eng/common/scripts/SemVer.ps1
  eng/scripts/Update-ModuleVersion.ps1
Labels: EngSys, Central-EngSys

#23779 [azcertificates] convert to typespec
  sdk/security/keyvault/azcertificates/autorest.md
  sdk/security/keyvault/azcertificates/build.go
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/constants.go
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/example_test.go
  sdk/security/keyvault/azcertificates/internal/transforms.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/options.go
  sdk/security/keyvault/azcertificates/responses.go
  sdk/security/keyvault/azcertificates/time_unix.go
  sdk/security/keyvault/azcertificates/tsp-location.yaml
  sdk/security/keyvault/azcertificates/utils_test.go
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault, Client

#23991 [Storage] Prep for blob and files STG96 GA release
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23995 Sync eng/common directory with azure-sdk-tools for PR 9656
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Remove-IssueLabel.ps1
Labels: EngSys, Central-EngSys

#23993 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#23988 [Release] sdk/resourcemanager/eventhub/armeventhub/1.4.0-beta.1
  sdk/resourcemanager/eventhub/armeventhub/CHANGELOG.md
  sdk/resourcemanager/eventhub/armeventhub/applicationgroup_client.go
  sdk/resourcemanager/eventhub/armeventhub/applicationgroup_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/assets.json
  sdk/resourcemanager/eventhub/armeventhub/autorest.md
  sdk/resourcemanager/eventhub/armeventhub/clusters_client.go
  sdk/resourcemanager/eventhub/armeventhub/clusters_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/configuration_client.go
  sdk/resourcemanager/eventhub/armeventhub/configuration_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/constants.go
  sdk/resourcemanager/eventhub/armeventhub/consumergroups_client.go
  sdk/resourcemanager/eventhub/armeventhub/consumergroups_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_client.go
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/eventhub_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/eventhubs_client.go
  sdk/resourcemanager/eventhub/armeventhub/eventhubs_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/fake/namespaces_server.go
  sdk/resourcemanager/eventhub/armeventhub/models.go
  sdk/resourcemanager/eventhub/armeventhub/models_serde.go
  sdk/resourcemanager/eventhub/armeventhub/namespaces_client.go
  sdk/resourcemanager/eventhub/armeventhub/namespaces_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfiguration_client.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfiguration_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/eventhub/armeventhub/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/operations_client.go
  sdk/resourcemanager/eventhub/armeventhub/operations_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/options.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_client.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/privatelinkresources_client.go
  sdk/resourcemanager/eventhub/armeventhub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/eventhub/armeventhub/responses.go
  sdk/resourcemanager/eventhub/armeventhub/schemaregistry_client.go
  sdk/resourcemanager/eventhub/armeventhub/schemaregistry_client_example_test.go
Labels: Mgmt

#23926 [azcosmos] Add LIMITED cross-partition query support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_headers_policy.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/emulator_cosmos_query_test.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/shared_key_credential.go
Labels: Cosmos

#23776 [azkeys] convert to typespec
  sdk/security/keyvault/azkeys/autorest.md
  sdk/security/keyvault/azkeys/build.go
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/custom_client.go
  sdk/security/keyvault/azkeys/example_test.go
  sdk/security/keyvault/azkeys/internal/transforms.go
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/options.go
  sdk/security/keyvault/azkeys/responses.go
  sdk/security/keyvault/azkeys/time_unix.go
  sdk/security/keyvault/azkeys/tsp-location.yaml
  sdk/security/keyvault/azkeys/utils_test.go
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault, Client

#24001 Sync eng/common directory with azure-sdk-tools for PR 9670
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#23994 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#24004 Sync eng/common directory with azure-sdk-tools for PR 9681
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#23999 Sync eng/common directory with azure-sdk-tools for PR 9687
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#24002 [Release] sdk/resourcemanager/kusto/armkusto/2.3.0
  sdk/resourcemanager/kusto/armkusto/CHANGELOG.md
  sdk/resourcemanager/kusto/armkusto/README.md
  sdk/resourcemanager/kusto/armkusto/assets.json
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client.go
  sdk/resourcemanager/kusto/armkusto/attacheddatabaseconfigurations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/autorest.md
  sdk/resourcemanager/kusto/armkusto/client_factory.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/clusterprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/clusters_client.go
  sdk/resourcemanager/kusto/armkusto/clusters_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/constants.go
  sdk/resourcemanager/kusto/armkusto/database_client.go
  sdk/resourcemanager/kusto/armkusto/database_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client.go
  sdk/resourcemanager/kusto/armkusto/databaseprincipalassignments_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/databases_client.go
  sdk/resourcemanager/kusto/armkusto/databases_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client.go
  sdk/resourcemanager/kusto/armkusto/dataconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/fake/clusters_server.go
  sdk/resourcemanager/kusto/armkusto/fake/polymorphic_helpers.go
  sdk/resourcemanager/kusto/armkusto/fake/time_rfc3339.go
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client.go
  sdk/resourcemanager/kusto/armkusto/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/models.go
  sdk/resourcemanager/kusto/armkusto/models_serde.go
  sdk/resourcemanager/kusto/armkusto/operations_client.go
  sdk/resourcemanager/kusto/armkusto/operations_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresults_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client.go
  sdk/resourcemanager/kusto/armkusto/operationsresultslocation_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/options.go
  sdk/resourcemanager/kusto/armkusto/polymorphic_helpers.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client.go
  sdk/resourcemanager/kusto/armkusto/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client.go
  sdk/resourcemanager/kusto/armkusto/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/responses.go
  sdk/resourcemanager/kusto/armkusto/sandboxcustomimages_client.go
  sdk/resourcemanager/kusto/armkusto/sandboxcustomimages_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/scripts_client.go
  sdk/resourcemanager/kusto/armkusto/scripts_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/skus_client.go
  sdk/resourcemanager/kusto/armkusto/skus_client_example_test.go
  sdk/resourcemanager/kusto/armkusto/time_rfc3339.go
Labels: Mgmt

#23905 feat: Add NewListDirectoryPathsPager for azuredatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/filesystem/examples_test.go
  sdk/storage/azdatalake/filesystem/models.go
  sdk/storage/azdatalake/filesystem/responses.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
Labels: Storage, customer-reported, Community Contribution

#23992 Fix panic when invalid sas is passed to get-properties call
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
Labels: Storage

#24013 Return an error for nonlocal paths in test proxy archives
  sdk/internal/recording/server.go
  sdk/internal/recording/server_test.go
Labels: Internal

#24016 Sync eng/common directory with azure-sdk-tools for PR 9699
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#24012 Prep for GA release - azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#24017 Increment version for storage/azdatalake releases
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#23976 Clarify AzureCLICredential invalid Subscription error
  sdk/azidentity/azure_cli_credential.go
Labels: Azure.Identity

#24018 Sync eng/common directory with azure-sdk-tools for PR 9700
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#24011 Perf: Use WalkDir for optimized directory traversal
  eng/tools/doccheck/main.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/indexer/util/util.go
  eng/tools/internal/coverage/coverage.go
  eng/tools/internal/report/packages.go
  eng/tools/profileBuilder/model/latest.go
  eng/tools/profileBuilder/model/transforms.go
  eng/tools/smoketests/cmd/root.go
Labels: customer-reported, Community Contribution

#24024 Sync eng/common directory with azure-sdk-tools for PR 9724
  eng/common/pipelines/templates/jobs/archetype-spec-gen-sdk.yml
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Labels: EngSys, Central-EngSys

#24023 Sync eng/common directory with azure-sdk-tools for PR 9732
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys
