Repository Azure/azure-sdk-for-go, pull requests merged in 2025-07, with the labels that each got.

#24873 Sync eng/common directory with azure-sdk-tools for PR 11056
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#24866 [Release] sdk/resourcemanager/storage/armstorage/1.8.1
  sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  sdk/resourcemanager/storage/armstorage/accounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/autorest.md
  sdk/resourcemanager/storage/armstorage/blobcontainers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobinventorypolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/constants.go
  sdk/resourcemanager/storage/armstorage/deletedaccounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/encryptionscopes_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fake/time_rfc1123.go
  sdk/resourcemanager/storage/armstorage/fake/time_rfc3339.go
  sdk/resourcemanager/storage/armstorage/fileservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fileshares_client_example_test.go
  sdk/resourcemanager/storage/armstorage/go.mod
  sdk/resourcemanager/storage/armstorage/go.sum
  sdk/resourcemanager/storage/armstorage/localusers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/managementpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/models.go
  sdk/resourcemanager/storage/armstorage/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/objectreplicationpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/operations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/storage/armstorage/privatelinkresources_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queue_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queueservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/skus_client_example_test.go
  sdk/resourcemanager/storage/armstorage/table_client_example_test.go
  sdk/resourcemanager/storage/armstorage/tableservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignments_client.go
  sdk/resourcemanager/storage/armstorage/taskassignments_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentsinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/usages_client_example_test.go
Labels: Mgmt

#24868 Correct RetryOptions.RetryDelay documentation
  sdk/azcore/policy/policy.go
Labels: Azure.Core

#24861 [Release] sdk/resourcemanager/containerservice/armdeploymentsafeguards/0.1.0
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/CHANGELOG.md
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/LICENSE.txt
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/README.md
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/ci.yml
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/client_factory.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/constants.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client_example_test.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/deploymentsafeguards_server.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/internal.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/operations_server.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/server_factory.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/go.mod
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/go.sum
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/models.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/models_serde.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/operations_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/options.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/responses.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/testdata/_metadata.json
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/time_rfc3339.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/tsp-location.yaml
Labels: Mgmt

#24827 [Release] sdk/resourcemanager/resources/armbicep/0.1.0
  sdk/resourcemanager/resources/armbicep/CHANGELOG.md
  sdk/resourcemanager/resources/armbicep/LICENSE.txt
  sdk/resourcemanager/resources/armbicep/README.md
  sdk/resourcemanager/resources/armbicep/ci.yml
  sdk/resourcemanager/resources/armbicep/client_factory.go
  sdk/resourcemanager/resources/armbicep/constants.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client_example_test.go
  sdk/resourcemanager/resources/armbicep/fake/decompileoperationgroup_server.go
  sdk/resourcemanager/resources/armbicep/fake/internal.go
  sdk/resourcemanager/resources/armbicep/fake/server_factory.go
  sdk/resourcemanager/resources/armbicep/go.mod
  sdk/resourcemanager/resources/armbicep/go.sum
  sdk/resourcemanager/resources/armbicep/models.go
  sdk/resourcemanager/resources/armbicep/models_serde.go
  sdk/resourcemanager/resources/armbicep/options.go
  sdk/resourcemanager/resources/armbicep/responses.go
  sdk/resourcemanager/resources/armbicep/testdata/_metadata.json
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Labels: Mgmt

#24886 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#24860 Allow an additional retry for IMDS managed identity requests
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
Labels: Azure.Identity

#24867 [Release] sdk/resourcemanager/storageactions/armstorageactions/1.0.0
  sdk/resourcemanager/storageactions/armstorageactions/CHANGELOG.md
  sdk/resourcemanager/storageactions/armstorageactions/autorest.md
  sdk/resourcemanager/storageactions/armstorageactions/build.go
  sdk/resourcemanager/storageactions/armstorageactions/client_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/constants.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/internal.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/operations_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/server_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetaskassignment_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasks_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasksreport_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/go.mod
  sdk/resourcemanager/storageactions/armstorageactions/go.sum
  sdk/resourcemanager/storageactions/armstorageactions/models.go
  sdk/resourcemanager/storageactions/armstorageactions/models_serde.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/options.go
  sdk/resourcemanager/storageactions/armstorageactions/responses.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/testdata/_metadata.json
  sdk/resourcemanager/storageactions/armstorageactions/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/tsp-location.yaml
Labels: Mgmt

#24841 [Storage] stg99 preview release prep
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/exported/version.go
Labels: Storage

#24889 cosmos: enable support for obtaining feed ranges from a pkrange in a container
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Labels: Cosmos, customer-reported, Community Contribution

#24915 Fix path to major version mod script
  eng/pipelines/templates/jobs/archetype-go-release.yml
Labels: Central-EngSys

#24917 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#24906 Prepare azidentity v1.11.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/version.go
Labels: Azure.Identity

#24930 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#24931 [ingestion/azlogs] convert to typespec
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/autorest.md
  sdk/monitor/ingestion/azlogs/build.go
  sdk/monitor/ingestion/azlogs/client.go
  sdk/monitor/ingestion/azlogs/client_test.go
  sdk/monitor/ingestion/azlogs/cloud_config.go
  sdk/monitor/ingestion/azlogs/custom_client.go
  sdk/monitor/ingestion/azlogs/example_test.go
  sdk/monitor/ingestion/azlogs/fake/internal.go
  sdk/monitor/ingestion/azlogs/fake/server.go
  sdk/monitor/ingestion/azlogs/fake/server_test.go
  sdk/monitor/ingestion/azlogs/go.mod
  sdk/monitor/ingestion/azlogs/go.sum
  sdk/monitor/ingestion/azlogs/options.go
  sdk/monitor/ingestion/azlogs/responses.go
  sdk/monitor/ingestion/azlogs/testdata/_metadata.json
  sdk/monitor/ingestion/azlogs/tsp-location.yaml
  sdk/monitor/ingestion/azlogs/utils_test.go
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor, Client

#24937 Increment version for monitor/ingestion/azlogs releases
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Labels: Monitor

#24939 [azquery] prep for release
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/version.go
Labels: Monitor, Client

#24941 [Release] sdk/resourcemanager/containerservice/armcontainerservice/7.2.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt

#24938 [query/azmetrics] convert to typespec
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/build.go
  sdk/monitor/query/azmetrics/client.go
  sdk/monitor/query/azmetrics/constants.go
  sdk/monitor/query/azmetrics/fake/internal.go
  sdk/monitor/query/azmetrics/fake/server.go
  sdk/monitor/query/azmetrics/fake/time_rfc3339.go
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
  sdk/monitor/query/azmetrics/models.go
  sdk/monitor/query/azmetrics/models_serde.go
  sdk/monitor/query/azmetrics/options.go
  sdk/monitor/query/azmetrics/responses.go
  sdk/monitor/query/azmetrics/testdata/_metadata.json
  sdk/monitor/query/azmetrics/time_rfc3339.go
  sdk/monitor/query/azmetrics/tsp-location.yaml
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor, Client

#24946 Increment version for monitor/query/azmetrics releases
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Labels: Monitor

#24894 [Release] sdk/resourcemanager/policyinsights/armpolicyinsights/0.9.0
  sdk/resourcemanager/policyinsights/armpolicyinsights/CHANGELOG.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/README.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/attestations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/attestations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/autorest.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/client_factory.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/componentpolicystates_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/componentpolicystates_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/constants.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/attestations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/componentpolicystates_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/internal.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/operations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policyevents_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policymetadata_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policyrestrictions_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policystates_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policytrackedresources_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/remediations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/server_factory.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/time_rfc3339.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models_serde.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/operations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/operations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/options.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyevents_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyevents_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policymetadata_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policymetadata_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyrestrictions_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyrestrictions_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policystates_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policystates_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policytrackedresources_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policytrackedresources_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/remediations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/remediations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/responses.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/time_rfc3339.go
Labels: BreakingChange, Beta

#24948 Skip live UsernamePasswordCredential tests
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/username_password_credential_test.go
Labels: Azure.Identity

#24550 [Release] sdk/resourcemanager/search/armsearch/1.4.0
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/adminkeys_client.go
  sdk/resourcemanager/search/armsearch/adminkeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/client_factory.go
  sdk/resourcemanager/search/armsearch/constants.go
  sdk/resourcemanager/search/armsearch/fake/offerings_server.go
  sdk/resourcemanager/search/armsearch/fake/server_factory.go
  sdk/resourcemanager/search/armsearch/fake/time_rfc3339.go
  sdk/resourcemanager/search/armsearch/management_client.go
  sdk/resourcemanager/search/armsearch/management_client_example_test.go
  sdk/resourcemanager/search/armsearch/models.go
  sdk/resourcemanager/search/armsearch/models_serde.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/search/armsearch/offerings_client.go
  sdk/resourcemanager/search/armsearch/offerings_client_example_test.go
  sdk/resourcemanager/search/armsearch/operations_client.go
  sdk/resourcemanager/search/armsearch/operations_client_example_test.go
  sdk/resourcemanager/search/armsearch/options.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/querykeys_client.go
  sdk/resourcemanager/search/armsearch/querykeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/responses.go
  sdk/resourcemanager/search/armsearch/search_live_test.go
  sdk/resourcemanager/search/armsearch/services_client.go
  sdk/resourcemanager/search/armsearch/services_client_example_test.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/usages_client.go
  sdk/resourcemanager/search/armsearch/usages_client_example_test.go
Labels: Stable

#24922 [Storage] Aqueue v2 beta release
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/constants.go
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/exported/shared_key_credential.go
  sdk/storage/azqueue/internal/testcommon/clients_auth.go
  sdk/storage/azqueue/internal/testcommon/common.go
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/responses.go
  sdk/storage/azqueue/samples_test.go
  sdk/storage/azqueue/sas/account.go
  sdk/storage/azqueue/sas/service.go
  sdk/storage/azqueue/sas/service_test.go
  sdk/storage/azqueue/sas/url_parts.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Labels: Storage

#24965 [monitor] update tsp-location and emitter
  sdk/monitor/ingestion/azlogs/build.go
  sdk/monitor/ingestion/azlogs/testdata/_metadata.json
  sdk/monitor/ingestion/azlogs/tsp-location.yaml
  sdk/monitor/query/azmetrics/build.go
  sdk/monitor/query/azmetrics/client.go
  sdk/monitor/query/azmetrics/fake/server.go
  sdk/monitor/query/azmetrics/models_serde.go
  sdk/monitor/query/azmetrics/testdata/_metadata.json
  sdk/monitor/query/azmetrics/time_rfc3339.go
  sdk/monitor/query/azmetrics/tsp-location.yaml
Labels: Monitor, Client

#24968 Increment version for monitor/query/azlogs releases
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/version.go
Labels: Monitor

#24950 [Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/build.go
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
  sdk/resourcemanager/dashboard/armdashboard/version.go
Labels: Mgmt

#24963 Remove import to v1 module
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/queueerror/error_codes.go
Labels: Storage

#24969 fix dashboard version
  sdk/resourcemanager/dashboard/armdashboard/version.go
Labels: Mgmt

#24940 [Release] sdk/resourcemanager/storagediscovery/armstoragediscovery/0.1.0
  sdk/resourcemanager/storagediscovery/armstoragediscovery/CHANGELOG.md
  sdk/resourcemanager/storagediscovery/armstoragediscovery/LICENSE.txt
  sdk/resourcemanager/storagediscovery/armstoragediscovery/README.md
  sdk/resourcemanager/storagediscovery/armstoragediscovery/ci.yml
  sdk/resourcemanager/storagediscovery/armstoragediscovery/client_factory.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/constants.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/internal.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/operations_server.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/server_factory.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/workspaces_server.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.mod
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.sum
  sdk/resourcemanager/storagediscovery/armstoragediscovery/models.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/models_serde.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/operations_client.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/operations_client_example_test.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/options.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/responses.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/testdata/_metadata.json
  sdk/resourcemanager/storagediscovery/armstoragediscovery/time_rfc3339.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/tsp-location.yaml
  sdk/resourcemanager/storagediscovery/armstoragediscovery/workspaces_client.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/workspaces_client_example_test.go
Labels: FirstBeta

#24902 [Release] sdk/resourcemanager/providerhub/armproviderhub/2.0.0
  sdk/resourcemanager/providerhub/armproviderhub/CHANGELOG.md
  sdk/resourcemanager/providerhub/armproviderhub/README.md
  sdk/resourcemanager/providerhub/armproviderhub/authorizedapplications_client.go
  sdk/resourcemanager/providerhub/armproviderhub/authorizedapplications_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/autorest.md
  sdk/resourcemanager/providerhub/armproviderhub/client.go
  sdk/resourcemanager/providerhub/armproviderhub/client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/client_factory.go
  sdk/resourcemanager/providerhub/armproviderhub/constants.go
  sdk/resourcemanager/providerhub/armproviderhub/customrollouts_client.go
  sdk/resourcemanager/providerhub/armproviderhub/customrollouts_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/defaultrollouts_client.go
  sdk/resourcemanager/providerhub/armproviderhub/defaultrollouts_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/authorizedapplications_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/customrollouts_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/defaultrollouts_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/internal.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/newregionfrontloadrelease_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/notificationregistrations_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/operations_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/providermonitorsettings_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/providerregistrations_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/resourceactions_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/resourcetyperegistrations_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/server_factory.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/skus_server.go
  sdk/resourcemanager/providerhub/armproviderhub/fake/time_rfc3339.go
  sdk/resourcemanager/providerhub/armproviderhub/go.mod
  sdk/resourcemanager/providerhub/armproviderhub/models.go
  sdk/resourcemanager/providerhub/armproviderhub/models_serde.go
  sdk/resourcemanager/providerhub/armproviderhub/newregionfrontloadrelease_client.go
  sdk/resourcemanager/providerhub/armproviderhub/newregionfrontloadrelease_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/notificationregistrations_client.go
  sdk/resourcemanager/providerhub/armproviderhub/notificationregistrations_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/operations_client.go
  sdk/resourcemanager/providerhub/armproviderhub/operations_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/options.go
  sdk/resourcemanager/providerhub/armproviderhub/providermonitorsettings_client.go
  sdk/resourcemanager/providerhub/armproviderhub/providermonitorsettings_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/providerregistrations_client.go
  sdk/resourcemanager/providerhub/armproviderhub/providerregistrations_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/resourceactions_client.go
  sdk/resourcemanager/providerhub/armproviderhub/resourceactions_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/resourcetyperegistrations_client.go
  sdk/resourcemanager/providerhub/armproviderhub/resourcetyperegistrations_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/responses.go
  sdk/resourcemanager/providerhub/armproviderhub/skus_client.go
  sdk/resourcemanager/providerhub/armproviderhub/skus_client_example_test.go
  sdk/resourcemanager/providerhub/armproviderhub/time_rfc3339.go
Labels: BreakingChange, Stable

#24986 fix identity dep version
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.mod
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.sum
Labels: Mgmt

#24977 Sync eng/common directory with azure-sdk-tools for PR 11291
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#25000 Retire Azure Cache for Redis code samples
  sdk/azidentity/example_redis_test.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
Labels: Azure.Identity

#24999 Sync eng/common directory with azure-sdk-tools for PR 11319
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#24993 [Release] sdk/resourcemanager/resources/armdeployments/0.1.0
  sdk/resourcemanager/resources/armdeployments/CHANGELOG.md
  sdk/resourcemanager/resources/armdeployments/LICENSE.txt
  sdk/resourcemanager/resources/armdeployments/README.md
  sdk/resourcemanager/resources/armdeployments/autorest.md
  sdk/resourcemanager/resources/armdeployments/build.go
  sdk/resourcemanager/resources/armdeployments/ci.yml
  sdk/resourcemanager/resources/armdeployments/client.go
  sdk/resourcemanager/resources/armdeployments/client_example_test.go
  sdk/resourcemanager/resources/armdeployments/client_factory.go
  sdk/resourcemanager/resources/armdeployments/constants.go
  sdk/resourcemanager/resources/armdeployments/deploymentoperations_client.go
  sdk/resourcemanager/resources/armdeployments/fake/deploymentoperations_server.go
  sdk/resourcemanager/resources/armdeployments/fake/internal.go
  sdk/resourcemanager/resources/armdeployments/fake/server.go
  sdk/resourcemanager/resources/armdeployments/fake/server_factory.go
  sdk/resourcemanager/resources/armdeployments/go.mod
  sdk/resourcemanager/resources/armdeployments/go.sum
  sdk/resourcemanager/resources/armdeployments/models.go
  sdk/resourcemanager/resources/armdeployments/models_serde.go
  sdk/resourcemanager/resources/armdeployments/options.go
  sdk/resourcemanager/resources/armdeployments/responses.go
  sdk/resourcemanager/resources/armdeployments/time_rfc3339.go
  sdk/resourcemanager/resources/armdeployments/version.go
Labels: Mgmt

#25001 update readme
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/README.md
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/README.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/README.md
  sdk/resourcemanager/cloudhealth/armcloudhealth/README.md
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/README.md
  sdk/resourcemanager/dell/armdellstorage/README.md
  sdk/resourcemanager/dependencymap/armdependencymap/README.md
  sdk/resourcemanager/durabletask/armdurabletask/README.md
  sdk/resourcemanager/kubernetesconfiguration/armextensions/README.md
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/README.md
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/README.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/README.md
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/README.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/README.md
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/README.md
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/README.md
  sdk/resourcemanager/playwright/armplaywright/README.md
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/README.md
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/README.md
  sdk/resourcemanager/purestorageblock/armpurestorageblock/README.md
  sdk/resourcemanager/resources/armbicep/README.md
  sdk/resourcemanager/resources/armdeployments/CHANGELOG.md
  sdk/resourcemanager/resources/armdeployments/README.md
  sdk/resourcemanager/resources/armdeploymentstacks/README.md
  sdk/resourcemanager/sitemanager/armsitemanager/README.md
  sdk/resourcemanager/storagediscovery/armstoragediscovery/README.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/README.md
Labels: Mgmt

#25005 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#25004 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#25006 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#25011 Sync eng/common directory with azure-sdk-tools for PR 11353
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#25010 Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: Central-EngSys

#24966 [azservicebus] Make it possible to settle and renew a message using a lock token
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/receiver2_test.go
  sdk/messaging/azservicebus/receiver_test.go
Labels: Service Bus

#25025 [Release] sdk/resourcemanager/avs/armavs/2.1.0
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/constants.go
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/avs/armavs/testdata/_metadata.json
  sdk/resourcemanager/avs/armavs/tsp-location.yaml
  sdk/resourcemanager/avs/armavs/version.go
Labels: Mgmt

#25022 BearerTokenPolicy ensures authN errors are NonRetriable
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Labels: Azure.Core

#25032 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#24997 [AutoPR sdk-resourcemanager/mongocluster/armmongocluster]-generated-from-SDK Generation - Go-5128474
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/constants.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/models.go
  sdk/resourcemanager/mongocluster/armmongocluster/models_serde.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/users_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/users_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/version.go
Labels: Mgmt

#25040 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core
