Repository Azure/azure-sdk-for-go, pull requests merged in 2025-10, with the labels that each got.

#25353 Remove Azure AD reference from Identity README
  sdk/azidentity/README.md
Labels: Azure.Identity

#25358 Sync eng/common directory with azure-sdk-tools for PR 12337
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Labels: EngSys, Central-EngSys

#25361 Simplify WIC identity binding mode implementation
  sdk/azidentity/internal/customtokenproxy/transport.go
  sdk/azidentity/internal/customtokenproxy/transport_test.go
  sdk/azidentity/workload_identity_test.go
Labels: Azure.Identity

#25344 [AutoPR sdk-resourcemanager/mongocluster/armmongocluster]-generated-from-SDK Generation - Go-5395880
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/go.sum
  sdk/resourcemanager/mongocluster/armmongocluster/models.go
  sdk/resourcemanager/mongocluster/armmongocluster/models_serde.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/users_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/users_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/version.go
Labels: Mgmt

#25369 Prepare azidentity v1.14.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#25372 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity
