Repository Azure/azure-sdk-for-go, pull requests merged in 2025-04, with the labels that each got.

#24348 Prepare sdk/internal v1.11.0 for release
  sdk/internal/CHANGELOG.md
Labels: Internal

#24349 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#24323 BearerTokenPolicy observes issuer's suggested token refresh time
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Labels: Azure.Core

#24296 Use commonly defined go N0, N-1 versions in test matrix configs
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/variables/globals.yml
  sdk/azidentity/managed-identity-matrix.json
  sdk/security/keyvault/azadmin/platform-matrix.json
  sdk/security/keyvault/azkeys/platform-matrix.json
Labels: Central-EngSys

#24350 Sync eng/common directory with azure-sdk-tools for PR 10181
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#24354 Sync eng/common directory with azure-sdk-tools for PR 10176
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#24338 Sync eng/common directory with azure-sdk-tools for PR 10038
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#24352 Ignore cspell warnings for eng
  .vscode/cspell.json
Labels: Central-EngSys

#24357 Remove duplicate `golang-jwt/jwt` dependency in azwebpubsub
  sdk/messaging/azwebpubsub/CHANGELOG.md
  sdk/messaging/azwebpubsub/client_custom.go
  sdk/messaging/azwebpubsub/client_test.go
  sdk/messaging/azwebpubsub/go.mod
  sdk/messaging/azwebpubsub/go.sum
Labels: customer-reported, Community Contribution

#24361 Sync eng/common directory with azure-sdk-tools for PR 10191
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#24363 Document persistent cache limitations
  sdk/azidentity/TOKEN_CACHING.MD
Labels: Azure.Identity

#24366 Prepare azcore v1.18.0 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#24368 Increment version for azcore releases
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Labels: Azure.Core

#24345 [azservicebus] Removing the unneeded RenewSessionLock() call when accepting a session
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azservicebus/internal/amqpwrap/mock_amqp_test.go
  sdk/messaging/azservicebus/internal/mock/emulation/mock_data_receiver.go
  sdk/messaging/azservicebus/internal/mock/mock_amqp.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/session_receiver.go
  sdk/messaging/azservicebus/session_receiver_test.go
Labels: Service Bus

#24358 Sync eng/common directory with azure-sdk-tools for PR 10184
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#24311 `go - pullrequest`
  eng/pipelines/pullrequest.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/pipelines/templates/steps/set-artifact-packages.yml
  eng/scripts/Build_Perf.ps1
  eng/scripts/Invoke-DependencyCheck.ps1
  eng/scripts/Invoke-SmokeTests.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/Replace-azcore.ps1
  eng/scripts/Smoke_Tests_Nightly.ps1
  eng/scripts/build.ps1
  eng/scripts/copyright-header-check.ps1
  eng/scripts/go-fmt-check.ps1
  eng/scripts/license-check.ps1
  eng/scripts/perf.ps1
  eng/scripts/run_tests.ps1
  eng/scripts/set-artifact-packages.ps1
  eng/scripts/test.ps1
  eng/scripts/verify-enabled-changelogs.ps1
  sdk/azcore/ci.yml
  sdk/template/aztemplate/ci.yml
Labels: Azure.Core, EngSys

#24372 [azservicebus] Updating release date
  sdk/messaging/azservicebus/CHANGELOG.md
Labels: Service Bus

#24362 Sync eng/common directory with azure-sdk-tools for PR 10190
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#24371 azidentity sets AccessToken.RefreshOn
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azidentity.go
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/confidential_client.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/public_client.go
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Labels: Azure.Identity

#24331 [Storage][azFile] NFS Over Rest STG 98
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
Labels: Storage

#24339 [Storage] Swagger updates stg 98
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Labels: Storage

#24392 Sync eng/common directory with azure-sdk-tools for PR 10182
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#24394 If in CI, always allow `proxy` to start
  sdk/internal/recording/server.go
Labels: Internal

#24383 [azeventhubs] Optimize checkpoint listing to avoid wasted storage calls
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/eh/stress/.gitignore
  sdk/messaging/azeventhubs/internal/eh/stress/Chart.lock
  sdk/messaging/azeventhubs/internal/eh/stress/Dockerfile
  sdk/messaging/azeventhubs/internal/eh/stress/scenarios-matrix.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/stress-test-resources.bicep
  sdk/messaging/azeventhubs/internal/eh/stress/stress-test-resources.json
  sdk/messaging/azeventhubs/internal/eh/stress/templates/stress-test-job.yaml
  sdk/messaging/azeventhubs/internal/eh/stress/tests/batch_stress_tester.go
  sdk/messaging/azeventhubs/processor.go
  sdk/messaging/azeventhubs/processor_test.go
  sdk/messaging/azeventhubs/test-resources.bicep
Labels: Event Hubs

#24395 Prepare changelog and version file for release of the internal package
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#24398 Increment version for internal releases
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Labels: Internal

#24400 [azcore] Cherry-pick tracing changes into v1.19.0-beta branch
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
  sdk/azcore/tracing/tracing.go
  sdk/azcore/tracing/tracing_test.go
Labels: Azure.Core

#24297 [azservicebus] Add internal tracing pkg for tracing support
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
  sdk/messaging/azservicebus/internal/tracing/attributes.go
  sdk/messaging/azservicebus/internal/tracing/attributes_test.go
  sdk/messaging/azservicebus/internal/tracing/constants.go
  sdk/messaging/azservicebus/internal/tracing/propagation.go
  sdk/messaging/azservicebus/internal/tracing/propagation_test.go
  sdk/messaging/azservicebus/internal/tracing/tracing.go
  sdk/messaging/azservicebus/internal/tracing/tracing_test.go
Labels: Service Bus

#24405 Sync eng/common directory with azure-sdk-tools for PR 10238
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#24408 Increment version for messaging/azeventhubs releases
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Labels: Event Hubs

#24373 Prepare azidentity v1.9.0 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/version.go
Labels: Azure.Identity

#24409 Sync eng/common directory with azure-sdk-tools for PR 10241
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24411 Increment version for azidentity releases
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Labels: Azure.Identity

#24412 Sync eng/common directory with azure-sdk-tools for PR 10246
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24418 Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Labels: Service Bus

#24422 [azsecrets] prepare for release
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#24427 [azadmin] prep for release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
Labels: KeyVault

#24424 [azcertificates] prep for release
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#24423 [azkeys] prep for release
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#24428 Increment version for security/keyvault/azsecrets releases
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Labels: KeyVault

#24434 Increment version for security/keyvault/azadmin releases
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/internal/version.go
Labels: KeyVault

#24433 Increment version for security/keyvault/azkeys releases
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/version.go
Labels: KeyVault

#24435 Increment version for security/keyvault/azcertificates releases
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Labels: KeyVault

#24440 Sync eng/common directory with azure-sdk-tools for PR 10293
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24402 [Release] sdk/resourcemanager/storage/armstorage/1.8.0
  sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  sdk/resourcemanager/storage/armstorage/accounts_client.go
  sdk/resourcemanager/storage/armstorage/accounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/autorest.md
  sdk/resourcemanager/storage/armstorage/blobcontainers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobinventorypolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/constants.go
  sdk/resourcemanager/storage/armstorage/deletedaccounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/encryptionscopes_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fileservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fileshares_client_example_test.go
  sdk/resourcemanager/storage/armstorage/localusers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/managementpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/models.go
  sdk/resourcemanager/storage/armstorage/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/objectreplicationpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/operations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/options.go
  sdk/resourcemanager/storage/armstorage/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/storage/armstorage/privatelinkresources_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queue_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queueservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/skus_client_example_test.go
  sdk/resourcemanager/storage/armstorage/table_client_example_test.go
  sdk/resourcemanager/storage/armstorage/tableservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignments_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentsinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/usages_client_example_test.go
Labels: Mgmt

#24452 Revert "new apis for nfs over rest (#24331)"
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
Labels: Storage

#24450 Sync eng/common directory with azure-sdk-tools for PR 10314
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24455 Sync eng/common directory with azure-sdk-tools for PR 10345
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#24448 [Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/2.0.0
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/README.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autorest.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofileoperations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofileoperations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofiles_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofiles_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/build.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/autoupgradeprofileoperations_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/autoupgradeprofiles_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetmembers_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleets_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetupdatestrategies_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/internal.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/operations_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/server_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/updateruns_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_live_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.mod
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/responses.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/tsp-location.yaml
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#24447 [Release] sdk/resourcemanager/dependencymap/armdependencymap/0.1.0
  sdk/resourcemanager/dependencymap/armdependencymap/CHANGELOG.md
  sdk/resourcemanager/dependencymap/armdependencymap/LICENSE.txt
  sdk/resourcemanager/dependencymap/armdependencymap/README.md
  sdk/resourcemanager/dependencymap/armdependencymap/ci.yml
  sdk/resourcemanager/dependencymap/armdependencymap/client_factory.go
  sdk/resourcemanager/dependencymap/armdependencymap/constants.go
  sdk/resourcemanager/dependencymap/armdependencymap/discoverysources_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/discoverysources_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/discoverysources_server.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/internal.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/maps_server.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/operations_server.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/server_factory.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/time_rfc3339.go
  sdk/resourcemanager/dependencymap/armdependencymap/go.mod
  sdk/resourcemanager/dependencymap/armdependencymap/go.sum
  sdk/resourcemanager/dependencymap/armdependencymap/interfaces.go
  sdk/resourcemanager/dependencymap/armdependencymap/maps_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/maps_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/models.go
  sdk/resourcemanager/dependencymap/armdependencymap/models_serde.go
  sdk/resourcemanager/dependencymap/armdependencymap/operations_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/operations_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/options.go
  sdk/resourcemanager/dependencymap/armdependencymap/polymorphic_helpers.go
  sdk/resourcemanager/dependencymap/armdependencymap/responses.go
  sdk/resourcemanager/dependencymap/armdependencymap/time_rfc3339.go
  sdk/resourcemanager/dependencymap/armdependencymap/tsp-location.yaml
Labels: Mgmt

#24467 [Storage] NFS STG98 New APIs
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
Labels: Storage

#24470 Sync eng/common directory with azure-sdk-tools for PR 10287
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#24387 [Release] sdk/resourcemanager/standbypool/armstandbypool/2.0.0
  sdk/resourcemanager/standbypool/armstandbypool/CHANGELOG.md
  sdk/resourcemanager/standbypool/armstandbypool/README.md
  sdk/resourcemanager/standbypool/armstandbypool/constants.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/internal.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/operations_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbycontainergrouppoolruntimeviews_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbycontainergrouppools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachinepoolruntimeviews_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachinepools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachines_server.go
  sdk/resourcemanager/standbypool/armstandbypool/go.mod
  sdk/resourcemanager/standbypool/armstandbypool/models.go
  sdk/resourcemanager/standbypool/armstandbypool/models_serde.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppoolruntimeviews_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppoolruntimeviews_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepoolruntimeviews_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepoolruntimeviews_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/tsp-location.yaml
Labels: Mgmt, BreakingChange, Approved Major Version, Stable

#24375 [Release] sdk/resourcemanager/elasticsan/armelasticsan/1.2.0-beta.2
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/client_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/elasticsans_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/internal.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/management_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/operations_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/privateendpointconnections_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/privatelinkresources_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/server_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/skus_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/time_rfc3339.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumegroups_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumes_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumesnapshots_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/management_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/management_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/models.go
  sdk/resourcemanager/elasticsan/armelasticsan/models_serde.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/options.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/responses.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/time_rfc3339.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client_example_test.go
Labels: Beta

#24474 Upgrade azidentity dependencies
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Labels: Azure.Identity

#24473 Go mod tidy perf tests
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Labels: Storage, Tables

#24290 refine client factory ctor logic
  eng/scripts/Invoke-MgmtTestgen.ps1
  eng/scripts/MgmtTestLib.ps1
  eng/scripts/build.ps1
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  sdk/resourcemanager/advisor/armadvisor/build.go
  sdk/resourcemanager/agrifood/armagrifood/build.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/build.go
  sdk/resourcemanager/applicationinsights/armapplicationinsights/build.go
  sdk/resourcemanager/appplatform/armappplatform/build.go
  sdk/resourcemanager/appservice/armappservice/build.go
  sdk/resourcemanager/authorization/armauthorization/build.go
  sdk/resourcemanager/automanage/armautomanage/build.go
  sdk/resourcemanager/azurestackhci/armazurestackhci/build.go
  sdk/resourcemanager/billing/armbilling/build.go
  sdk/resourcemanager/cdn/armcdn/build.go
  sdk/resourcemanager/changeanalysis/armchangeanalysis/build.go
  sdk/resourcemanager/confluent/armconfluent/build.go
  sdk/resourcemanager/connectedvmware/armconnectedvmware/build.go
  sdk/resourcemanager/consumption/armconsumption/build.go
  sdk/resourcemanager/customproviders/armcustomproviders/build.go
  sdk/resourcemanager/datacatalog/armdatacatalog/build.go
  sdk/resourcemanager/dataprotection/armdataprotection/build.go
  sdk/resourcemanager/datashare/armdatashare/build.go
  sdk/resourcemanager/devops/armdevops/build.go
  sdk/resourcemanager/devtestlabs/armdevtestlabs/build.go
  sdk/resourcemanager/domainservices/armdomainservices/build.go
  sdk/resourcemanager/eventgrid/armeventgrid/build.go
  sdk/resourcemanager/frontdoor/armfrontdoor/build.go
  sdk/resourcemanager/hybridcontainerservice/armhybridcontainerservice/build.go
  sdk/resourcemanager/managednetwork/armmanagednetwork/build.go
  sdk/resourcemanager/mobilenetwork/armmobilenetwork/build.go
  sdk/resourcemanager/msi/armmsi/build.go
  sdk/resourcemanager/mysql/armmysqlflexibleservers/build.go
  sdk/resourcemanager/network/armnetwork/build.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/build.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/build.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/build.go
  sdk/resourcemanager/portal/armportal/build.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/build.go
  sdk/resourcemanager/powerbiembedded/armpowerbiembedded/build.go
  sdk/resourcemanager/purview/armpurview/build.go
  sdk/resourcemanager/quota/armquota/build.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/build.go
  sdk/resourcemanager/resourcemover/armresourcemover/build.go
  sdk/resourcemanager/resources/armfeatures/build.go
  sdk/resourcemanager/resources/armlocks/build.go
  sdk/resourcemanager/resources/armmanagedapplications/build.go
  sdk/resourcemanager/resources/armpolicy/build.go
  sdk/resourcemanager/saas/armsaas/build.go
  sdk/resourcemanager/scvmm/armscvmm/build.go
  sdk/resourcemanager/security/armsecurity/build.go
  sdk/resourcemanager/solutions/armmanagedapplications/build.go
  sdk/resourcemanager/storageimportexport/armstorageimportexport/build.go
  sdk/resourcemanager/storsimple1200series/armstorsimple1200series/build.go
  sdk/resourcemanager/support/armsupport/build.go
  sdk/resourcemanager/synapse/armsynapse/build.go
Labels: Mgmt

#24471 [Release] sdk/resourcemanager/storageactions/armstorageactions/0.2.0
  sdk/resourcemanager/storageactions/armstorageactions/CHANGELOG.md
  sdk/resourcemanager/storageactions/armstorageactions/autorest.md
  sdk/resourcemanager/storageactions/armstorageactions/client_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/constants.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/internal.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/operations_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/server_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetaskassignment_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasks_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasksreport_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/models.go
  sdk/resourcemanager/storageactions/armstorageactions/models_serde.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/options.go
  sdk/resourcemanager/storageactions/armstorageactions/responses.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/time_rfc3339.go
Labels: Mgmt

#24468 [Release] sdk/resourcemanager/containerservice/armcontainerservice/6.6.0
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/README.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/client.go
  sdk/resourcemanager/containerservice/armcontainerservice/client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/client_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/agentpools_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/loadbalancers_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/machines_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/maintenanceconfigurations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclusters_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/managedclustersnapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operations_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/operationstatusresult_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/privatelinkresources_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/resolveprivatelinkserviceid_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/server_factory.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/snapshots_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessrolebindings_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/fake/trustedaccessroles_server.go
  sdk/resourcemanager/containerservice/armcontainerservice/go.mod
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/loadbalancers_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclustersnapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_live_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operationstatusresult_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/options.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Labels: Mgmt

#24465 [Cosmos] Pass request context through on GEM requests
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/version.go
Labels: Cosmos

#24479 Sync eng/common directory with azure-sdk-tools for PR 10400
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#24454 [Storage] Changelog changes and version upgrades for azblob and azidentity
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#24484 Sync eng/common directory with azure-sdk-tools for PR 10377
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24478 [azsystemevents] 2025-05 system events update
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_ended.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_added.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_removed.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_started.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_azure_bot_command_received_in_thread.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_typing_indicator_received_in_thread.json
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Labels: Event Grid

#24475 Fix link verification in analyze step
  eng/pipelines/templates/steps/sparse-checkout-for-servicedirectory.yml
Labels: Central-EngSys

#24391 [Release] sdk/resourcemanager/neonpostgres/armneonpostgres/1.0.0
  sdk/resourcemanager/neonpostgres/armneonpostgres/CHANGELOG.md
  sdk/resourcemanager/neonpostgres/armneonpostgres/README.md
  sdk/resourcemanager/neonpostgres/armneonpostgres/assets.json
  sdk/resourcemanager/neonpostgres/armneonpostgres/branches_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/branches_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/client_factory.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/computes_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/computes_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/constants.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/endpoints_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/endpoints_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/branches_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/computes_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/endpoints_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/neondatabases_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/neonroles_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/organizations_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/projects_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/server_factory.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/models.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/models_serde.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neondatabases_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neondatabases_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonroles_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonroles_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/operations_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/operations_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/options.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/organizations_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/organizations_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/projects_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/projects_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/responses.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/tsp-location.yaml
Labels: Mgmt

#24446 [Release] sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/0.1.0
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/CHANGELOG.md
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/LICENSE.txt
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/README.md
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/ci.yml
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/client_factory.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/constants.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/copilotsettings_client.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/copilotsettings_client_example_test.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/fake/copilotsettings_server.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/fake/internal.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/fake/operations_server.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/fake/server_factory.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/fake/time_rfc3339.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/go.mod
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/go.sum
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/models.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/models_serde.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/operations_client.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/operations_client_example_test.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/options.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/responses.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/time_rfc3339.go
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/tsp-location.yaml
Labels: Mgmt

#24494 [Release] sdk/resourcemanager/redisenterprise/armredisenterprise/2.1.0-beta.3
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/assets.json
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_factory.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/accesspolicyassignment_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/databases_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/internal.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operations_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operationsstatus_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privateendpointconnections_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privatelinkresources_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server_factory.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/time_rfc3339.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/options.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/responses.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/time_rfc3339.go
Labels: Mgmt

#24485 [Cosmos] some tidy up to Cosmos query engine API
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Labels: Cosmos

#24487 [azquery] allow API version override
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/metrics_client_test.go
Labels: Monitor, Client

#24503 Sync eng/common directory with azure-sdk-tools for PR 10432
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#24501 Adding a new error code so users can handle the "entity not found" error
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/error.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/exported/error.go
Labels: Service Bus

#24504 Sync eng/common directory with azure-sdk-tools for PR 10411
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#24513 Sync eng/common directory with azure-sdk-tools for PR 10461
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#24497 [Release] sdk/resourcemanager/servicenetworking/armservicenetworking/1.2.0-beta.1
  sdk/resourcemanager/servicenetworking/armservicenetworking/CHANGELOG.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/constants.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models_serde.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/securitypoliciesinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/securitypoliciesinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/tsp-location.yaml
Labels: Mgmt

#24490 Increment version for storage/azblob releases
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Labels: Storage

#24491 Increment version for storage/azfile releases
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Labels: Storage

#24519 [Storage][Azblob] Add support for request intent for File->Blob Copy
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azdatalake/sas/service.go
Labels: Storage

#24524 [Cosmos] Remove query engine components
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/README.md
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Labels: Cosmos

#24522 [Storage][azqueue] Address jwt security vulnerability
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Labels: Storage

#24521 [Storage] Prep for azdatalake stg97 GA release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Labels: Storage

#24526 [azeventhubs] updated CHANGELOG, prepped release
  sdk/messaging/azeventhubs/CHANGELOG.md
Labels: Event Hubs

#24525 Sync eng/common directory with azure-sdk-tools for PR 10481
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#24528 Sync eng/common directory with azure-sdk-tools for PR 10491
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#24530 Sync eng/common directory with azure-sdk-tools for PR 10500
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#24534 Sync eng/common directory with azure-sdk-tools for PR 10482
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#24535 Sync eng/common directory with azure-sdk-tools for PR 10470
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#24532 Cosmos changelog update for 1.4.0 release
  sdk/data/azcosmos/CHANGELOG.md
Labels: Cosmos

#24533 Sync .github/workflows directory with azure-sdk-tools for PR 10483
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#24540 Sync eng/common directory with azure-sdk-tools for PR 10508
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#24542 [Storage] [azqueue] Prep for release - azqueue - v1.0.1
  sdk/storage/azqueue/CHANGELOG.md
Labels: Storage

#24175 First preview of azbatch module
  eng/config.json
  sdk/batch/azbatch/CHANGELOG.md
  sdk/batch/azbatch/LICENSE.txt
  sdk/batch/azbatch/README.md
  sdk/batch/azbatch/assets.json
  sdk/batch/azbatch/build.go
  sdk/batch/azbatch/ci.yml
  sdk/batch/azbatch/client.go
  sdk/batch/azbatch/client_test.go
  sdk/batch/azbatch/constants.go
  sdk/batch/azbatch/custom_client.go
  sdk/batch/azbatch/example_test.go
  sdk/batch/azbatch/go.mod
  sdk/batch/azbatch/go.sum
  sdk/batch/azbatch/models.go
  sdk/batch/azbatch/models_serde.go
  sdk/batch/azbatch/options.go
  sdk/batch/azbatch/responses.go
  sdk/batch/azbatch/test-resources.bicep
  sdk/batch/azbatch/testdata/transform.go
  sdk/batch/azbatch/time_rfc3339.go
  sdk/batch/azbatch/tsp-location.yaml
  sdk/batch/azbatch/utils_test.go
  sdk/batch/azbatch/version.go
Labels: Batch, Client

#24543 Update DefaultAzureCredentialOptions docs
  sdk/azidentity/default_azure_credential.go
Labels: Azure.Identity
